Repository doka-guide/content, changes with the labels that .github/labeler.yml gives for each.
All labels: css, html, js, tools, демо, доработка, кухня

Обновляет обложки в гайде по flexbox
  css/flexbox-guide/images/covers/desktop.svg
  css/flexbox-guide/images/covers/mobile.svg
Labels: none

Добавляет обложку для статьи HTML/class
  html/class/images/covers/desktop.svg
  html/class/images/covers/mobile.svg
  html/class/index.md
Labels: html

Обновляет демо в Координатах
  js/coordinates/demos/axis/images/doggo-down.svg
  js/coordinates/demos/axis/images/doggo-up.svg
  js/coordinates/demos/axis/images/nav.svg
  js/coordinates/demos/axis/index.html
  js/coordinates/index.md
Labels: js, демо

Добавляет Свету и Сашу, переформулирует
  pages/about/index.md
Labels: none

Упрощает описание
  pages/about/index.md
Labels: none

Исправляет ошибку
  js/function-as-datatype/index.md
Labels: js

Форматирует на 2 пробела
  start.sh
Labels: none

Правит кавычки
  .github/scripts/frontmatter.js
  .github/scripts/search-index.js
Labels: кухня

Убирает двойной пробел
  .github/workflows/link-checker-all.yml
Labels: кухня

Добавляет калаут о функциях высшего порядка
  js/function-as-datatype/index.md
Labels: js

Обновляет демо в Координатах
  js/coordinates/demos/axis/images/doggo-down.svg
  js/coordinates/demos/axis/images/doggo-up.svg
  js/coordinates/demos/axis/images/nav.svg
  js/coordinates/demos/axis/index.html
  js/coordinates/index.md
Labels: js, демо

Убирает белый цвет из демо Element.mouseOut
  js/element-mouseout/demos/index/index.html
Labels: демо

Исправляет пути в Element.scroll/scrollIntoView
  js/element-scroll-scrollintoview/demos/index/images/background-dash.svg
  js/element-scroll-scrollintoview/demos/index/images/star.svg
  js/element-scroll-scrollintoview/demos/index/index.html
  js/element-scroll-scrollintoview/practice/doka-dog.md
Labels: js, демо

Исправляет пути в Событие load и DOMContentLoaded
  js/event-load-and-domcontentloaded/demos/basic/index.html
  js/event-load-and-domcontentloaded/demos/overloaded/index.html
Labels: демо

Удаляет sandbox из документации
  docs/contributing.md
  docs/demos.md
Labels: доработка

Добавляет ссылку на статью о котексте выполнения функции
  js/function-as-datatype/index.md
Labels: js

добавляет пример с дополнительными свойствами у функции
  js/function-as-datatype/practice/nlopin.md
Labels: js

добавляет ссылку на раздел о замканиях
  js/function-as-datatype/index.md
Labels: js

Исправляет статью «Обёртка Number»
  js/number-wrapper/demos/Lopinopulos-orxXgx/index.html
  js/number-wrapper/demos/number-format/index.html
  js/number-wrapper/index.md
  js/number-wrapper/practice/nlopin.md
Labels: js, демо

Добавляет стили для мобилок
  js/coordinates/demos/axis/index.html
Labels: демо

Удаляет атрибут sandbox
  js/element-scroll-scrollintoview/practice/doka-dog.md
Labels: js

Редактирует доку про background
  css/background/index.md
Labels: css

Редактирует доку про background
  css/background-position/index.md
  css/background-position/practice/solarrust.md
Labels: css

Добавляет информацию о лицензии на шрифт
  pages/licenses/index.md
Labels: none

Меняет способ сборки карточек
  .github/workflows/social-cards.yml
Labels: кухня

Правит стиль кода (#1790)
  .github/scripts/frontmatter.js
  .github/scripts/search-index.js
  .github/workflows/link-checker-all.yml
  start.sh
Labels: кухня

Добавляет информацию про лицензию Spot Mono
  pages/licenses/index.md
Labels: none

Добавляет удаление карточек перед публикацией
  .github/workflows/netlify-deploy.yml
Labels: кухня

Менет принцип формирования списка файлов
  .github/workflows/surge-preview.yml
Labels: кухня

Пробует проверить на PR
  .github/workflows/surge-preview.yml
Labels: кухня

Тестирует на статье
  tools/file/index.md
Labels: tools

Меняет форматирование списка файлов в превью
  .github/workflows/surge-preview.yml
Labels: кухня

Удаляет лишнее
  .github/workflows/surge-preview.yml
Labels: кухня

Снова пробует
  tools/file/index.md
Labels: tools

И опять эксперимент
  tools/file/index.md
Labels: tools

Исправляет регулярку
  .github/workflows/surge-preview.yml
Labels: кухня

И снова пробует
  tools/file/index.md
Labels: tools

Исправляет форматирование сообщения
  .github/workflows/surge-preview.yml
Labels: кухня

Добавляет файл для проверки работы со списком
  tools/gateway-bff/index.md
Labels: tools

Окончательно верстает сообщение
  .github/workflows/surge-preview.yml
Labels: кухня

.github/labeler.yml:

css:
  - css/**/*.md

html:
  - html/**/*.md

js:
  - js/**/*.md

tools:
  - tools/**/*.md

демо:
  - css/**/demos/**/*.html
  - html/**/demos/**/*.html
  - js/**/demos/**/*.html
  - tools/**/demos/**/*.html

доработка:
  - "*.md"
  - docs/*.md
  - docs/**/*.md
  - docs/images/*.png
  - docs/license/**/*.svg

кухня:
  - .github/*.yml
  - .github/scripts/*.js
  - .github/workflows/*.yml
