Repository doka-guide/content, changes with the labels that .github/labeler.yml gives for each.
All labels: css, html, js, tools, демо, доработка, кухня

.github/labeler.yml:

css:
  - css/**/*.md

html:
  - html/**/*.md

js:
  - js/**/*.md

tools:
  - tools/**/*.md

демо:
  - css/**/demos/**/*.html
  - html/**/demos/**/*.html
  - js/**/demos/**/*.html
  - tools/**/demos/**/*.html

доработка:
  - "*.md"
  - docs/*.md
  - docs/**/*.md
  - docs/images/*.png
  - docs/license/**/*.svg

кухня:
  - .github/*.yml
  - .github/scripts/*.js
  - .github/workflows/*.yml

Добавляет условия для фильтрации при проверке меты
  .github/workflows/pr-checks.yml
Labels: кухня

Проверка для файла не из списка директорий
  pages/about/index.md
Labels: none

Проверка для файла из списка директорий
  tools/cli/index.md
Labels: tools

Модифицирует фильтр
  .github/workflows/pr-checks.yml
Labels: кухня

Пробует другое регулярное выражение
  .github/workflows/pr-checks.yml
Labels: кухня

Исправляет форматирование ещё раз
  .github/workflows/surge-preview.yml
Labels: кухня

Пробует другую регулярку
  .github/workflows/pr-checks.yml
Labels: кухня

Пробует точечно
  .github/workflows/pr-checks.yml
Labels: кухня

Меняет подход к фильтрации
  .github/workflows/pr-checks.yml
Labels: кухня

Переносит фильтрацию внутрь следующей стадии
  .github/workflows/pr-checks.yml
Labels: кухня

Возвращает всё к первоначальному состоянию
  pages/about/index.md
  tools/cli/index.md
Labels: tools

Добавляет форматирование
  .github/workflows/surge-preview.yml
Labels: кухня

Ещё итерация
  pages/about/index.md
Labels: none

Добавляет информацию о лицензии на шрифт (#1798)
  pages/licenses/index.md
Labels: none

Правит опечатку
  tools/apache-web-server/index.md
Labels: tools

Update pages/about/index.md
  pages/about/index.md
Labels: none

Сдвигает поддержку к редакции
  pages/about/index.md
Labels: none

Правит опечатку (#1805)
  tools/apache-web-server/index.md
Labels: tools

Правит поля updatedAt и createdAt
  tools/apache-web-server/index.11tydata.json
Labels: none

Добавляет автора обложек
  css/flexbox-guide/index.md
  css/grid-guide/index.md
  docs/contributing.md
  docs/examples/article.md
  docs/examples/doka.md
  html/article/index.md
  html/flow/index.md
  html/input/index.md
  html/link/index.md
  html/meta/index.md
  html/select/index.md
  html/tables/index.md
  html/ul/index.md
  html/video/index.md
  js/alert/index.md
  js/api/index.md
  js/async-in-js/index.md
  js/deal-with-forms/index.md
  js/how-to-test-and-why/index.md
  js/try-catch/index.md
  js/web-app-types/index.md
  js/web-security/index.md
Labels: css, html, js, доработка

Убирает шапку
  tools/xml/practice/KognitivnayaBuena.md
Labels: tools

Строчные, шаг 1
  tools/xml/practice/kognitivnayabuena_.md
  tools/yaml/practice/kognitivnayabuena_.md
Labels: tools

Строчные, шаг 2
  tools/xml/practice/kognitivnayabuena.md
  tools/yaml/practice/kognitivnayabuena.md
Labels: tools

Заводит Киру через people
  css/flexbox-guide/index.md
  css/grid-guide/index.md
  html/article/index.md
  html/flow/index.md
  html/input/index.md
  html/link/index.md
  html/meta/index.md
  html/select/index.md
  html/tables/index.md
  html/ul/index.md
  html/video/index.md
  js/alert/index.md
  js/api/index.md
  js/async-in-js/index.md
  js/deal-with-forms/index.md
  js/how-to-test-and-why/index.md
  js/try-catch/index.md
  js/web-app-types/index.md
  js/web-security/index.md
  people/kirakusto/index.md
Labels: css, html, js

Заменяет на ник
  docs/contributing.md
  docs/examples/article.md
  docs/examples/doka.md
Labels: доработка

Добавляет автора обложек (#1806)
  css/flexbox-guide/index.md
  css/grid-guide/index.md
  docs/contributing.md
  docs/examples/article.md
  docs/examples/doka.md
  html/article/index.md
  html/flow/index.md
  html/input/index.md
  html/link/index.md
  html/meta/index.md
  html/select/index.md
  html/tables/index.md
  html/ul/index.md
  html/video/index.md
  js/alert/index.md
  js/api/index.md
  js/async-in-js/index.md
  js/deal-with-forms/index.md
  js/how-to-test-and-why/index.md
  js/try-catch/index.md
  js/web-app-types/index.md
  js/web-security/index.md
  people/kirakusto/index.md
Labels: css, html, js, доработка

Правит поля updatedAt и createdAt
  css/flexbox-guide/index.11tydata.json
  css/grid-guide/index.11tydata.json
  html/article/index.11tydata.json
  html/flow/index.11tydata.json
  html/input/index.11tydata.json
  html/link/index.11tydata.json
  html/meta/index.11tydata.json
  html/select/index.11tydata.json
  html/tables/index.11tydata.json
  html/ul/index.11tydata.json
  html/video/index.11tydata.json
  js/alert/index.11tydata.json
  js/api/index.11tydata.json
  js/async-in-js/index.11tydata.json
  js/deal-with-forms/index.11tydata.json
  js/how-to-test-and-why/index.11tydata.json
  js/try-catch/index.11tydata.json
  js/web-app-types/index.11tydata.json
  js/web-security/index.11tydata.json
Labels: none

Прячет исключение
  pages/licenses/index.md
Labels: none

Переносит в исключения
  .yaspeller.json
  pages/licenses/index.md
Labels: none

Переносит демку в статью о свойстве length
  js/string-length/demos/counter/index.html
  js/string-length/practice/nlopin.md
  js/string/demos/vindi-r-QPBEjO/index.html
Labels: js, демо

Редактирует статью об обёртке String
  js/string-wrapper/demos/string-tolowercase/index.html
  js/string-wrapper/index.md
  js/string-wrapper/practice/doka-dog.md
  js/string/demos/vindi-r-JVBLQG/index.html
  js/string/demos/vindi-r-ZZjrzB/index.html
  js/string/demos/vindi-r-zXLZLN/index.html
  js/string/demos/vindi-r-zXLoJL/index.html
  js/string/practice/doka-dog.md
Labels: js, демо

Разделяет две единицы
  css/numeric-types/index.md
Labels: css

правит оглавление
  js/index.md
Labels: js
