Repository doka-guide/content, pull requests merged in 2021-12, with the labels that each got.

#2517 Исправляет битые ссылки на некоторые инструменты
  js/clean-architecture/index.md
  js/language-versions/index.md
  tools/bundlers/index.md
  tools/cli/index.md
  tools/code-review/index.md
  tools/github-actions/index.md
Labels: улучшение, js, tools

#2471 Добавляет доку про Promise.race
  js/index.md
  js/promise-race/index.md
  people/agarkov/index.md
Labels: js, дока

#2522 Изменяет заголовки некоторых статей
  tools/agile/index.md
  tools/code-review/index.md
  tools/markdown/index.md
  tools/site-readers/index.md
  tools/static-analysis/index.md
  tools/static-types/index.md
Labels: улучшение, tools, редактура

#2524 Обновляет демо в статье Option
  html/option/demos/default/images/arrow-down.svg
  html/option/demos/default/index.html
  html/option/demos/option-attrs/images/arrow-down.svg
  html/option/demos/option-attrs/index.html
  html/option/demos/option-styles/index.html
  html/option/index.md
  html/option/practice/ezhkov.md
  html/select/demos/attributes/index.html
  html/select/demos/basic/index.html
  html/select/demos/custom/index.html
Labels: улучшение, html, демо

#2483 Переименовывает папку, исправляет заголовок статьи `vw`/`vh`
  css/index.md
  css/numeric-types/index.md
  css/vw-vh/demos/header-block/index.html
  css/vw-vh/demos/vh/index.html
  css/vw-vh/demos/vmin/index.html
  css/vw-vh/index.11tydata.json
  css/vw-vh/index.md
  css/vw-vh/practice/ezhkov.md
Labels: css, ошибка

#2528 Исправляет HTML-тег в примере кода
  html/a/practice/pepelsbey.md
Labels: улучшение, html

#2536 Исправляет ссылки на протоколы TLS, HTTP, HTTPS
  tools/encoding/index.md
Labels: улучшение, tools

#2529 Обновляет список falsy values в статье о циклах
  js/loop/index.md
Labels: улучшение, js

#2499 Использует LinkeDOM для извлечения текста для поискового индекса
  .github/scripts/search-index.js
  .github/workflows/update-index.yml
Labels: кухня

#2507 Обновляет список изменений
  CHANGELOG.md
Labels: кухня

#2541 Исправляет опечатку
  js/oop/practice/bespoyasov.md
Labels: улучшение, js

#2537 Исправляет опечатки
  css/css-rule/index.md
  css/inheritance/index.md
  html/hidden/index.md
Labels: улучшение, css, html

#2458 Добавляет статью про clip
  css/clip/demos/basic/index.html
  css/clip/demos/interactive/index.html
  css/clip/images/house.jpg
  css/clip/index.md
  css/clip/practice/lordoys.md
  css/index.md
Labels: css, дока

#2308 Добавляет статью про подключение стилей
  .yaspeller.json
  css/installation/index.md
  css/installation/practice/kanishev.md
  people/kanishev/index.md
Labels: css, статья

#2543 Исправляет ошибку: добавиться → добиться
  js/function-context/practice/bespoyasov.md
Labels: улучшение, js

#2542 Добавляет новые статьи в индекс CSS
  css/index.md
Labels: улучшение, css

#2512 Добавил уточнение про тег `<br>` на практике
  html/br/demos/dependence-of-size/index.html
  html/br/index.md
  people/kazakovas/index.md
Labels: улучшение, html

#2538 Добавляет демо и видео в Focus
  css/focus/demos/index/index.html
  css/focus/index.md
  css/focus/video/mouse-focus.mp4
  css/focus/video/tab-focus.mp4
Labels: улучшение, css, демо

#2544 Исправляет отображение заголовка [].reverse
  js/array-reverse/index.md
Labels: улучшение, js

#2551 Обновляет демо в text-rendering
  css/text-rendering/demos/ligatures-kerning/index.html
  css/text-rendering/demos/ligatures/index.html
  css/text-rendering/index.md
Labels: улучшение, css, демо

#2532 Поправил демку в html/nav
  html/nav/demos/breadcrumbs/bikes/bmx/index.html
  html/nav/demos/breadcrumbs/bikes/bmx/jump-bike-3000/index.html
  html/nav/demos/breadcrumbs/bikes/index.html
  html/nav/index.md
Labels: улучшение, html

#2548 Добавляет видео в Hover
  css/hover/demos/link-hover-media/index.html
  css/hover/demos/link-hover/index.html
  css/hover/images/hover.gif
  css/hover/index.md
  css/hover/practice/desen94.md
  css/hover/practice/solarrust.md
  css/hover/video/mouse-hover.mp4
Labels: улучшение, css, демо

#2554 Меняет путь к статье «Подключение стилей»
  css/adding-styles/index.11tydata.json
  css/adding-styles/index.md
  css/adding-styles/practice/kanishev.md
Labels: улучшение, css

#2555 Обновляет «Подключение стилей» в индексе
  css/index.md
Labels: улучшение, css

#2527 Исправляет большое количество битых ссылок и якорей
  css/column-span/index.md
  css/opacity/index.md
  css/pseudoclasses/index.md
  css/universal-selector/index.md
  html/b/index.md
  html/bdo/index.md
  html/pre/index.md
  html/strong/index.md
  js/api/index.md
  js/array-from/index.md
  js/browsers-storages/index.md
  js/code-style/index.md
  js/cookie/index.md
  js/element-blur/index.md
  js/element-focus/index.md
  js/element-mouseout/practice/nlopin.md
  js/element-style/index.md
  js/element-textcontent/index.md
  js/element/index.md
  js/infinite-scroll/index.md
  js/language-versions/index.md
  js/modules/index.md
  js/query-selector-all/practice/nlopin.md
  js/recursion/index.md
  js/session-storage/index.md
  js/undefined/index.md
  js/web-app-works/index.md
  tools/apache-web-server/practice/igsekor.md
  tools/docker-compose/index.md
  tools/file/index.md
  tools/xml/index.md
Labels: улучшение, css, html, js, tools

#2534 Исправляет опечатку в имени файла tsconfig.json
  tools/static-types/index.md
Labels: улучшение, tools

#2545 Добавляет абзац про версионирование Node.js
  .yaspeller.json
  people/vitalybaev/index.md
  tools/nodejs/index.md
Labels: улучшение, tools

#2546 Редактирует статью про CI/CD
  tools/ci-cd/index.md
Labels: улучшение, tools, редактура

#2521 Редактирует статью про webpack
  tools/webpack/images/bundle.png
  tools/webpack/index.md
  tools/webpack/practice/igorkamyshev.md
Labels: улучшение, tools, редактура

#2553 Исправляет контент внутри iframe
  html/var/demos/basic/index.html
Labels: html, демо, ошибка

#2540 Правит максимальную ширину в iframe в демке css/list-style-type
  css/list-style-type/demos/list-style-type/index.html
Labels: css, демо

#2552 Обновляет демо в Empty
  .yaspeller.json
  css/empty/demos/index/index.html
  css/empty/demos/search/index.html
  css/empty/index.md
Labels: улучшение, css, демо

#2518 Улучшает проверку битых ссылок
  .github/workflows/link-checker-all.yml
Labels: кухня

#2516 Добавляет практику conventional comments в статью "Code review"
  people/yesnoruly/index.md
  tools/code-review/index.md
Labels: улучшение, tools

#2558 Создаёт подраздел MD / Stack Exchange Additions
  .yaspeller.json
  people/skirienko/index.md
  tools/markdown/index.md
Labels: улучшение, tools

#2569 Обновляет демо в Element.scrollTo
  js/element-scroll-scrollto/demos/index/index.html
  js/element-scroll-scrollto/demos/index/script.js
  js/element-scroll-scrollto/demos/vindi-r-dLggGV/index.html
  js/element-scroll-scrollto/demos/vindi-r-dLggGV/script.js
  js/element-scroll-scrollto/index.md
  js/element-scroll-scrollto/practice/doka-dog.md
Labels: улучшение, js, демо

#2557 Правописание и стиль в разделе диалектов Markdown
  tools/markdown/index.md
Labels: улучшение, tools

#2561 Вносит правки в практику к статье про `Promise`
  js/promise/practice/nlopin.md
Labels: улучшение, js

#2562 Вносит правки в статью про `Promise`
  js/promise/index.md
Labels: улучшение, js

#2572 Редактирует статью про порядок выполнения
  js/execution-order/index.md
Labels: улучшение, js, редактура

#2567 Фикс для демок в Empty
  css/empty/demos/index/index.html
Labels: улучшение, css, демо

#2504 Добавляет статью про псевдоэлемент `::selection`
  css/selection/demos/selection-with-text-shadow/index.html
  css/selection/demos/variants/index.html
  css/selection/index.md
  css/selection/practice/rusakov.md
  people/rusakov/index.md
Labels: css, дока

#2502 Добавляет обложку в css/box-shadow
  css/box-shadow/images/covers/desktop.svg
  css/box-shadow/images/covers/mobile.svg
  css/box-shadow/index.md
Labels: улучшение, кухня, css

#2428 Добавляет статью про Pixel Perfect
  .yaspeller.json
  html/pixel-perfect/demos/correct/index.html
  html/pixel-perfect/demos/incorrect/index.html
  html/pixel-perfect/images/adaptive.png
  html/pixel-perfect/images/design.png
  html/pixel-perfect/images/diff-1.png
  html/pixel-perfect/images/diff-2.png
  html/pixel-perfect/images/interface.png
  html/pixel-perfect/index.md
Labels: html, статья

#2571 Перекрашивает демку и немного правит высоту
  html/strong/demos/view/index.html
  html/strong/index.md
Labels: улучшение, html, демо

#2531 Исправление 404 ссылок
  css/font-variant-alternates/index.md
  css/word-wrap/index.md
  js/array-from/index.md
  js/debounce/index.md
  js/integration-and-system-testing/index.md
Labels: улучшение, css, html, js, tools

#2570 Исправляет контент внутри iframe
  html/bdi/demos/basic/index.html
  html/bdi/demos/userlist-b/index.html
  html/bdi/demos/userlist-bdi/index.html
  html/cite/demos/basic/index.html
  html/del/demos/attributes/index.html
  html/del/demos/basic/index.html
  html/dfn/demos/basic/index.html
  html/dfn/demos/link/index.html
  html/ins/demos/attributes/index.html
  html/ins/demos/basic/index.html
  html/mark/demos/basic/index.html
  html/small/demos/basic/index.html
  html/sub/demos/basic/index.html
  html/sub/demos/nested/index.html
  html/sub/demos/variables/index.html
  html/sup/demos/basic/index.html
  html/sup/demos/nested/index.html
  html/sup/demos/variables/index.html
  html/u/demos/basic/index.html
  html/u/demos/custom/index.html
  html/var/demos/formula/index.html
Labels: html, демо

#2371 Дока для элемента `<time>`
  html/index.md
  html/time/demos/basic/images/profile-photo.jpg
  html/time/demos/basic/index.html
  html/time/index.md
  people/slavarazum/index.md
Labels: html, дока

#2579 Добавляет забытые бэктики в статью про `::selection`
  css/selection/index.md
Labels: улучшение, css

#2580 Добавляет новую статью в индекс CSS
  css/index.md
Labels: улучшение, css

#2581 Переносит статью про PP в CSS и добавляет в индекс
  css/index.md
  css/pixel-perfect/demos/correct/index.html
  css/pixel-perfect/demos/incorrect/index.html
  css/pixel-perfect/images/adaptive.png
  css/pixel-perfect/images/design.png
  css/pixel-perfect/images/diff-1.png
  css/pixel-perfect/images/diff-2.png
  css/pixel-perfect/images/interface.png
  css/pixel-perfect/index.11tydata.json
  css/pixel-perfect/index.md
Labels: улучшение, css

#2584 Исправляет опечатку на схеме
  js/architecture-data-flow/images/data-flow-data-binding.png
Labels: js

#2574 Обновляет картинки в документации
  docs/images/callouts.png
  docs/images/contributing.png
Labels: улучшение

#2575 Добавляет обложки в статью js/var-let
  js/var-let/images/covers/desktop.svg
  js/var-let/images/covers/mobile.svg
  js/var-let/index.md
Labels: улучшение, кухня, js

#2578 Добавляет обложку в статью про трёхслойную архитектуру
  js/clean-architecture/images/covers/desktop.svg
  js/clean-architecture/images/covers/mobile.svg
  js/clean-architecture/index.md
Labels: улучшение, кухня, js

#2583 исправляет схему в статье switch
  js/switch/images/swich.png
  js/switch/images/switch.png
  js/switch/index.md
Labels: улучшение, js, ошибка

#2577 Добавляет обложку к статье про Докер
  tools/docker/images/covers/desktop.svg
  tools/docker/images/covers/mobile.svg
  tools/docker/index.md
Labels: улучшение, кухня, tools

#2556 Обновляет список изменений
  CHANGELOG.md
Labels: кухня

#2587 Исправляет мелкую оплошность в styleguide
  docs/styleguide.md
Labels: улучшение

#2550 SEO правки
  css/comments/index.md
  html/comments/index.md
  html/doctype/index.md
  js/set-keys/index.md
  js/set-values/index.md
Labels: улучшение, css, html, js

#2444 Дописывает пояснение к дэмо в статье «Комбинированные селекторы»
  css/combined-selectors/demos/stars-rating-bug/index.html
  css/combined-selectors/practice/realetive.md
  css/combined-selectors/practice/romanbarannickov.md
  people/romanbarannickov/index.md
Labels: улучшение, css

#2592 Исправил опечатку
  js/debounce/index.md
Labels: улучшение, js

#2573 Обновляет фичеринг на главной
  settings/featured.md
Labels: улучшение, css, html, js, tools

#2595 Поправил 404 ссылку
  js/debounce/index.md
Labels: улучшение, js

#2598 Правит битые ссылки
  js/element-style/index.md
Labels: улучшение, кухня, js, ошибка

#2596 Обновляет демо в SessionStorage и LocalStorage
  js/local-storage/demos/akellbl4-VwPQqwJ/index.html
  js/local-storage/demos/user-settings/index.html
  js/local-storage/index.md
  js/local-storage/practice/akellbl4.md
  js/session-storage/demos/akellbl4-mdRXYgj/index.html
  js/session-storage/demos/form-data/index.html
  js/session-storage/index.md
  js/session-storage/practice/akellbl4.md
Labels: улучшение, js, демо

#2582 Удаляет лишний экшен для проверки ссылок
  .github/workflows/link-checker-all.yml
Labels: кухня

#2600 Правит пути к демо из советов
  css/selection/practice/rusakov.md
  css/text-decoration-thickness/practice/nailheart.md
  html/tables/practice/solarrust.md
Labels: улучшение, css, html, демо

#2590 Fix #2568 Дополняет практику для if-else - ??
  js/if-else/practice/nlopin.md
  js/if-else/practice/saharok.md
Labels: улучшение, js

#2591 Редактирует статью про bdi
  html/bdi/index.md
Labels: улучшение, html, редактура

#2549 Добавляет доку про `<code>`
  html/code/demos/basic/index.html
  html/code/index.md
Labels: html, дока

#2593 Редактирует статью про array lenght
  js/array-length/index.md
Labels: улучшение, js

#2604 Дополнил статью о history.pushState
  js/bom/index.md
  js/bom/practice/bespoyasov.md
Labels: улучшение, js

#2585 Редактирует статью про bg-image
  css/background-image/demos/several-imgs/index.html
  css/background-image/images/confetti.png
  css/background-image/images/landscape.jpg
  css/background-image/index.md
  css/background-image/practice/doka-dog.md
  css/background-image/practice/furtivite.md
  css/background-image/practice/solarrust.md
Labels: улучшение, css

#2603 Добавляет описания для зафичереных статей
  js/closures/index.md
  js/execution-order/index.md
  tools/docker/index.md
  tools/webpack/index.md
Labels: улучшение, кухня, js, tools

#2610 Убирает старый фичеринг в готовые
  css/box-shadow/index.md
  css/custom-properties/index.md
  css/flexbox-guide/index.md
  html/flow/index.md
  html/input/index.md
  html/video/index.md
  js/async-in-js/index.md
  js/deal-with-forms/index.md
  js/how-the-browser-creates-pages/index.md
  js/how-to-test-and-why/index.md
  settings/featured.md
  tools/cli/index.md
  tools/static-types/index.md
Labels: улучшение, кухня, css, html, js, tools

#2612 Обновляет альт для обложки про div
  html/div/index.md
Labels: улучшение, html, редактура

#2614 Правит грамматическую ошибку
  css/object-fit/index.md
Labels: улучшение, css

#2618 Исправляет опечатку
  js/deal-with-forms/index.md
Labels: улучшение, js

#2285 Добавляет доку про тернарный оператор
  .yaspeller.json
  js/index.md
  js/ternary-operator/index.md
  js/ternary-operator/practice/gingerracoon.md
Labels: js, дока

#2237 Обновляет var/let статью
  js/var-let/images/scopes-finish.png
  js/var-let/images/scopes-local-variables-initialized.png
  js/var-let/images/scopes-local-variables.png
  js/var-let/images/scopes-start.png
  js/var-let/images/variables-hoisting-finish.png
  js/var-let/images/variables-hoisting-start.png
  js/var-let/index.md
  js/var-let/practice/doka-dog.md
  js/var-let/practice/ruslauz.md
Labels: улучшение, js, дока

#2609 Добавляет фичеринг статей на основе случайной выборки
  .github/scripts/featured-articles.js
  .github/workflows/featured-articles.yml
  settings/featured.md
Labels: кухня

#2611 Делает демки адаптивными в list-style-type
  css/list-style-type/demos/basic/index.html
  css/list-style-type/demos/custom/index.html
  css/list-style-type/demos/empty-content/index.html
  css/list-style-type/demos/list-style-type/index.html
  css/list-style-type/demos/ol-no-marker/index.html
  css/list-style-type/demos/ul-no-marker/index.html
  css/list-style-type/images/custom-list.png
Labels: улучшение, css, демо

#2620 Добавляет про подпись
  docs/styleguide.md
Labels: улучшение

#2622 Исправит опечатку и поправит пунктуацию
  js/design-patterns-creational/index.md
  js/design-patterns-structural/index.md
Labels: улучшение, js

#2605 Добавлен комментарий "на практике" для статьи про markdown
  people/ilfa/index.md
  tools/markdown/practice/ilfa.md
Labels: улучшение, tools

#2602 Добавляет статью про GitLab CI/CD
  .yaspeller.json
  tools/github-actions/index.md
  tools/gitlab-ci-cd/images/pipeline-example.png
  tools/gitlab-ci-cd/index.md
  tools/index.md
Labels: tools, статья

#2624 Добавляет новые статьи в ченджлог
  CHANGELOG.md
Labels: улучшение

#2616 Добавляет пример использования `<figcaption>`
  html/figure-figcaption/index.md
Labels: улучшение, html

#2623 Обновляет демо в invalid-valid
  css/invalid-valid/demos/form-inputs/index.html
  css/invalid-valid/demos/form-invalid/index.html
  css/invalid-valid/demos/form-validation/index.html
  css/invalid-valid/index.md
  css/invalid-valid/practice/ezhkov.md
Labels: улучшение, css, демо

#2628 Исправляет имя функции isEven на isOdd
  js/array-find/index.md
Labels: улучшение, js

#2635 Дополняет про ::selection
  css/selection/index.md
Labels: улучшение, css

#2632 Исправляет опечатку в доке про `<time>`
  html/time/index.md
Labels: улучшение, html

#2586 Добавляет статью про `currentColor`
  .yaspeller.json
  css/currentcolor/demos/basic/index.html
  css/currentcolor/demos/interactive/index.html
  css/currentcolor/demos/supplemental/index.html
  css/currentcolor/index.md
  css/currentcolor/practice/lordoys.md
  css/web-colors/index.md
Labels: css, дока

#2634 Обновляет изображения в гайде по flexbox
  css/flexbox-guide/images/2.png
  css/flexbox-guide/images/3.png
Labels: улучшение, html

#2639 Добавляет обложку в доку про `::before`
  css/before/images/covers/desktop.svg
  css/before/images/covers/mobile.svg
  css/before/index.md
Labels: улучшение, css

#2638 Обновляет изображение в js/`string`
  js/string/images/anatomy.png
Labels: улучшение, кухня, js

#2643 Исправление 404 ссылки
  js/var-let/index.md
Labels: улучшение, js

#2621 Добавляет статью о `scroll-padding`
  .yaspeller.json
  css/scroll-padding/demos/anchor-offset/index.html
  css/scroll-padding/index.md
Labels: css, дока

#2613 Редактирует статью про array.map
  js/array-map/index.md
  js/array-map/practice/windrushfarer.md
Labels: улучшение, js, редактура

#2629 Редактирует статью "React и альтернативы"
  js/react-and-alternatives/index.md
Labels: улучшение, js

#2631 Правит опечатку
  tools/webpack/practice/igorkamyshev.md
Labels: улучшение, tools

#2640 Редактирует совет про видео
  tools/markdown/practice/ilfa.md
Labels: улучшение, tools

#2645 Исправляет опечатку в статье про работу с формами
  js/deal-with-forms/index.md
Labels: улучшение, js
