Repository doka-guide/content, pull requests merged in 2021-06, with the labels that each got.

#732 Удаляет ненужные игноры
  .gitignore
Labels: кухня

#722 Правит лейаут по новым правилам
  about/index.md
Labels: кухня

#750 Правит ошибки и добавляет исключения
  .yaspeller.json
  js/articles/architecture-mvc/index.md
  js/doka/array-every/index.md
  js/doka/array-every/practice/windrushfarer.md
  js/doka/array-find/index.md
  js/doka/array-some/index.md
  js/doka/array-some/practice/windrushfarer.md
  js/doka/template-strings/index.md
  js/doka/template-strings/practice/windrusfarer.md
  tools/articles/dockerfile/practice/igsekor.md
  tools/doka/file/index.md
Labels: ошибка

#754 Разбивает проверку правописания на два экшна
  .github/workflows/editorconfig.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
  .github/workflows/yaspeller.yml
Labels: кухня, ошибка

#740 Дока use-strict
  js/doka/use-strict/index.md
Labels: js, дока

#804 Рефакторит демку для includes
  js/doka/includes/demos/includes.html
  js/doka/includes/practice/nlopin.md
Labels: демо, доработка

#810 Добавляет доку по URLSearchParams
  js/doka/urlsearchparams/index.md
  js/doka/urlsearchparams/practice/akellbl4.md
Labels: js, дока

#726 добавляет доку по cookie
  .yaspeller.json
  js/doka/cookie/images/cookie-scheme.png
  js/doka/cookie/index.md
  js/doka/cookie/practice/akellbl4.md
  js/doka/cookie/practice/kamyshev.md
Labels: js, дока

#731 Удаляет скрипт для миграции
  migrate.js
Labels: кухня

#822 Исправляет ошибки в тестах
  .github/workflows/editorconfig.yml
  .github/workflows/yaspeller-pr.yml
Labels: кухня, ошибка

#802 Рефакторит демку с формами
  html/doka/form/demos/email.html
  html/doka/form/demos/forms.html
  html/doka/form/index.md
Labels: демо, доработка

#811 Добавляет статью про тег <picture>
  .yaspeller.json
  html/doka/picture/index.md
  html/doka/picture/practice/ezhkov.md
Labels: html, дока

#803 Рефакторит демки по видео
  html/doka/video/demos/background.html
  html/doka/video/demos/formats.html
  html/doka/video/demos/poster.html
  html/doka/video/index.md
Labels: демо, доработка

#859 HTML, доки на букву T: выносит из папки doka, рефакторит ссылки
  css/doka/disabled-enabled/index.md
  css/doka/placeholder-shown/index.md
  css/doka/placeholder/index.md
  css/doka/required/index.md
  html/doka/autocomplete/index.md
  html/doka/head/index.md
  html/tables/images/1.jpg
  html/tables/index.md
  html/tables/practice/solarrust.md
  html/textarea/demos/basic.html
  html/textarea/demos/cols.html
  html/textarea/demos/disabled.html
  html/textarea/demos/max.html
  html/textarea/demos/placeholder.html
  html/textarea/demos/rows.html
  html/textarea/index.md
  html/title/images/1.png
  html/title/index.md
  html/title/practice/vladimir.md
Labels: доработка, кухня

#845 HTML, доки на букву C: выносит из папки doka, рефакторит ссылки
  html/class/demos/class.html
  html/class/demos/no-class.html
  html/class/index.md
  html/class/practice/solarrust.md
  html/comments/images/cover.png
  html/comments/index.md
  html/comments/practice/solarrust.md
  html/doka/global-attrs/index.md
  js/doka/element-classlist/index.md
Labels: доработка, кухня

#846 HTML, доки на букву D: выносит из папки doka, рефакторит ссылки
  html/div/demos/div.html
  html/div/images/cover.png
  html/div/index.md
  html/div/practice/pepelsbey.md
  html/div/practice/solarrust.md
  html/div/practice/vladimir.md
  html/dl-dd-dt/demos/dl-dd-dt.html
  html/dl-dd-dt/index.md
  html/doctype/index.md
  html/doctype/practice/solarrust.md
  html/doctype/practice/vladimir.md
  html/doka/picture/index.md
Labels: доработка, кухня

#847 HTML, доки на букву E: выносит из папки doka, рефакторит ссылки
  html/embed/demos/embed-pdf.html
  html/embed/files/sample.pdf
  html/embed/images/no-plugin.png
  html/embed/index.md
Labels: доработка, кухня

#854 HTML, доки на букву N: выносит из папки doka, рефакторит ссылки
  html/doka/address/index.md
  html/nav/demos/breadcrumbs.html
  html/nav/index.md
  html/nav/practice/solarrust.md
  html/nav/practice/vladimir.md
Labels: доработка, кухня

#857 HTML, доки на букву Q: выносит из папки doka, рефакторит ссылки
  css/doka/quotes/index.md
  html/doka/blockquote/index.md
  html/q/demos/quote.html
  html/q/index.md
  html/q/practice/solarrust.md
Labels: доработка, кухня

#844 HTML, доки на букву B: выносит из папки doka, рефакторит ссылки
  css/doka/disabled-enabled/index.md
  html/blockquote/demos/blockquote.html
  html/blockquote/index.md
  html/blockquote/practice/solarrust.md
  html/body/index.md
  html/body/practice/pepelsbey.md
  html/body/practice/solarrust.md
  html/body/practice/vladimir.md
  html/button/index.md
  html/button/practice/solarrust.md
  html/button/practice/vladimir.md
  html/doka/label/index.md
  html/q/index.md
Labels: доработка, кухня

#848 HTML, доки на букву F: выносит из папки doka, рефакторит ссылки
  css/doka/invalid-valid/index.md
  css/doka/position/index.md
  html/address/index.md
  html/autocomplete/index.md
  html/div/index.md
  html/doka/legend/index.md
  html/doka/select/index.md
  html/fieldset/images/google-nexus.png
  html/fieldset/images/mac-chrome-71.png
  html/fieldset/images/mac-safari-14.jpg
  html/fieldset/images/samsung-galaxy.png
  html/fieldset/images/win-10-chrome-71.png
  html/fieldset/images/win-10-edge-18.png
  html/fieldset/images/win-7-ie9.png
  html/fieldset/images/win-8-ie10.png
  html/fieldset/index.md
  html/fieldset/practice/realetive.md
  html/figure-figcaption/index.md
  html/flow/index.md
  html/footer/demos/footer.html
  html/footer/images/cover.png
  html/footer/index.md
  html/footer/practice/vladimir.md
  html/form/demos/email.html
  html/form/demos/forms.html
  html/form/index.md
  html/form/practice/solarrust.md
  html/form/practice/vladimir.md
  html/textarea/index.md
Labels: доработка, кухня

#849 HTML, доки на букву G: выносит из папки doka, рефакторит ссылки
  css/doka/id-selector/index.md
  html/aside/index.md
  html/blockquote/index.md
  html/doka/header/index.md
  html/doka/legend/index.md
  html/doka/main/index.md
  html/doka/section/index.md
  html/embed/index.md
  html/fieldset/index.md
  html/footer/index.md
  html/global-attrs/index.md
  html/tables/index.md
Labels: доработка, кухня

#850 HTML, доки на букву H: выносит из папки doka, рефакторит ссылки
  css/doka/combined-selectors/index.md
  css/doka/disabled-enabled/index.md
  css/doka/id-selector/index.md
  css/doka/invalid-valid/index.md
  css/doka/link/index.md
  css/doka/placeholder-shown/index.md
  css/doka/placeholder/index.md
  css/doka/position/index.md
  css/doka/pseudoelements/index.md
  css/doka/quotes/index.md
  css/doka/rem-em/index.md
  css/doka/required/index.md
  css/doka/text-decoration/index.md
  html/doka/address/index.md
  html/doka/autocomplete/index.md
  html/doka/div/index.md
  html/doka/embed/index.md
  html/doka/global-attrs/index.md
  html/doka/label/index.md
  html/doka/legend/index.md
  html/doka/link/index.md
  html/doka/main/index.md
  html/doka/picture/index.md
  html/doka/section/index.md
  html/doka/section/practice/solarrust.md
  html/doka/section/practice/vladimir.md
  html/doka/select/index.md
  html/doka/source/index.md
  html/doka/textarea/index.md
  html/h1-h6/demos/cakes.html
  html/h1-h6/demos/headers.html
  html/h1-h6/images/cover.png
  html/h1-h6/images/headers.png
  html/h1-h6/index.md
  html/h1-h6/practice/solarrust.md
  html/h1-h6/practice/vladimir.md
  html/head/index.md
  html/head/practice/solarrust.md
  html/head/practice/vladimir.md
  html/header/demos/header.html
  html/header/images/logo.svg
  html/header/index.md
  html/header/practice/solarrust.md
  html/hidden/index.md
  html/html/index.md
  html/html/practice/solarrust.md
  js/articles/web-app-types/index.md
  js/doka/element-classlist/index.md
Labels: доработка, кухня

#852 HTML, доки на букву L: выносит из папки doka, рефакторит ссылки
  css/doka/combined-selectors/index.md
  css/doka/link/index.md
  css/doka/placeholder/practice/ezhkov.md
  html/doka/fieldset/index.md
  html/doka/head/index.md
  html/doka/textarea/index.md
  html/label/demos/label-input.html
  html/label/index.md
  html/label/practice/ezhkov.md
  html/label/practice/solarrust.md
  html/legend/images/google-nexus.png
  html/legend/images/mac-chrome-71.png
  html/legend/images/mac-safari-14.jpg
  html/legend/images/samsung-galaxy.png
  html/legend/images/win-10-chrome-71.png
  html/legend/images/win-10-edge-18.png
  html/legend/images/win-7-ie9.png
  html/legend/images/win-8-ie10.png
  html/legend/index.md
  html/legend/practice/realetive.md
  html/link/index.md
  html/link/practice/solarrust.md
  html/link/practice/vladimir.md
Labels: доработка, кухня

#853 HTML, доки на букву M: выносит из папки doka, рефакторит ссылки
  html/doka/aside/index.md
  html/doka/div/index.md
  html/doka/head/index.md
  html/main/index.md
  html/main/practice/solarrust.md
  html/main/practice/vladimir.md
  html/meta/images/1.png
  html/meta/images/2.png
  html/meta/index.md
  html/meta/practice/solarrust.md
  html/meta/practice/vladimir.md
Labels: доработка, кухня

#855 HTML, доки на букву O: выносит из папки doka, рефакторит ссылки
  css/doka/disabled-enabled/index.md
  css/doka/list-style-type/index.md
  html/doka/dl-dd-dt/index.md
  html/doka/select/index.md
  html/doka/ul/index.md
  html/ol/demos/ordered-list.html
  html/ol/index.md
  html/ol/practice/ezhkov.md
  html/option/index.md
  html/option/practice/ezhkov.md
Labels: доработка, кухня

#856 HTML, доки на букву P: выносит из папки doka, рефакторит ссылки
  html/doka/blockquote/index.md
  html/doka/img/index.md
  html/doka/source/index.md
  html/p/index.md
  html/p/practice/solarrust.md
  html/p/practice/vladimir.md
  html/picture/index.md
  html/picture/practice/ezhkov.md
Labels: доработка, кухня

#858 HTML, доки на букву S: выносит из папки doka, рефакторит ссылки
  css/doka/combined-selectors/index.md
  css/doka/disabled-enabled/index.md
  css/doka/rem-em/index.md
  css/doka/required/index.md
  html/doka/address/index.md
  html/doka/autocomplete/index.md
  html/doka/head/index.md
  html/label/index.md
  html/option/index.md
  html/option/practice/ezhkov.md
  html/p/practice/solarrust.md
  html/picture/index.md
  html/script/demos/font-size-changer.html
  html/script/index.md
  html/script/practice/solarrust.md
  html/section/index.md
  html/section/practice/solarrust.md
  html/section/practice/vladimir.md
  html/select/index.md
  html/select/practice/ezhkov.md
  html/source/demos/adaptive.html
  html/source/images/1024x768.png
  html/source/images/640x480.png
  html/source/index.md
  html/source/practice/ezhkov.md
  html/span/demos/company.html
  html/span/demos/show.html
  html/span/images/background.png
  html/span/index.md
  html/span/practice/furtivite.md
  html/span/practice/solarrust.md
  html/span/practice/vladimir.md
  html/style/demos/header.html
  html/style/demos/p.html
  html/style/index.md
  html/style/practice/solarrust.md
  html/style/practice/vladimir.md
  html/svg/demos/svg-animation.html
  html/svg/images/dots.png
  html/svg/images/dots.svg
  html/svg/index.md
  html/svg/practice/solarrust.md
Labels: доработка, кухня

#860 HTML, доки на букву U: выносит из папки doka, рефакторит ссылки
  css/doka/list-style-type/index.md
  html/doka/dl-dd-dt/index.md
  html/ol/index.md
  html/ul/images/cover.png
  html/ul/index.md
  html/ul/practice/ezhkov.md
Labels: доработка, кухня

#733 Добавляет демо в статью Element.scroll/scrollIntoView
  js/doka/element-scroll-scrollintoview/demos/index.html
  js/doka/element-scroll-scrollintoview/images/background-dash.svg
  js/doka/element-scroll-scrollintoview/images/star.svg
  js/doka/element-scroll-scrollintoview/index.md
  js/doka/element-scroll-scrollintoview/practice/vindi-r.md
Labels: js, демо

#807 Добавляет демо в статью Element.Keydown/Keyup
  js/doka/element-keydown-keyup/demos/keydown.html
  js/doka/element-keydown-keyup/demos/keyup.html
  js/doka/element-keydown-keyup/index.md
Labels: js, демо

#869 CSS, доки на букву G: выносит из папки doka, рефакторит ссылки
  css/gap/index.md
  css/global-keywords/images/inherited-border.png
  css/global-keywords/index.md
  css/grid-area/index.md
  css/grid-auto-columns-rows/images/1.png
  css/grid-auto-columns-rows/index.md
  css/grid-auto-flow/images/1.png
  css/grid-auto-flow/images/2.png
  css/grid-auto-flow/index.md
  css/grid-column-row/images/1.png
  css/grid-column-row/index.md
  css/grid-guide/index.md
  css/grid-start-end/images/1.png
  css/grid-start-end/index.md
  css/grid-template-areas/images/1.png
  css/grid-template-areas/index.md
  css/grid-template-columns/index.md
  css/grid-template-rows/index.md
  css/grid-template/index.md
  css/grid-template/practice/solarrust.md
  css/grid/index.md
  css/grid/practice/solarrust.md
Labels: доработка, кухня

#870 CSS, доки на букву H: выносит из папки doka, рефакторит ссылки
  css/doka/pseudoclasses/index.md
  css/doka/width/practice/solarrust.md
  css/has/index.md
  css/has/practice/realetive.md
  css/height/demos/basic-w-text.html
  css/height/demos/basic.html
  css/height/demos/min-height-padding-w-text.html
  css/height/demos/min-height-w-text.html
  css/height/demos/no-height.html
  css/height/demos/padding-w-text.html
  css/height/demos/padding.html
  css/height/index.md
  css/height/practice/solarrust.md
  css/hover/demos/link-hover.html
  css/hover/images/hover.gif
  css/hover/index.md
  css/hover/practice/solarrust.md
  js/articles/element-positioning-js/index.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#871 CSS, доки на букву I: выносит из папки doka, рефакторит ссылки
  css/cascade/index.md
  css/comments/index.md
  css/doka/placeholder-shown/practice/ezhkov.md
  css/doka/pseudoclasses/index.md
  css/id-selector/index.md
  css/import/index.md
  css/import/practice/solarrust.md
  css/important/index.md
  css/in-range-out-of-range/index.md
  css/in-range-out-of-range/practice/ezhkov.md
  css/inheritance/demos/border-inheritance.html
  css/inheritance/demos/color-inheritance.html
  css/inheritance/demos/current-color.html
  css/inheritance/index.md
  css/inheritance/practice/realetive.md
  css/invalid-valid/index.md
  css/invalid-valid/practice/ezhkov.md
Labels: доработка, кухня

#872 CSS, доки на букву J: выносит из папки doka, рефакторит ссылки
  css/align-content/index.md
  css/doka/place-items/index.md
  css/justify-content/index.md
  css/justify-content/practice/solarrust.md
  css/justify-items/images/1.png
  css/justify-items/index.md
  css/justify-self/images/1.png
  css/justify-self/index.md
Labels: доработка, кухня

#873 CSS, доки на букву K: выносит из папки doka, рефакторит ссылки
  css/animation-name/index.md
  css/keyframes/index.md
Labels: доработка, кухня

#874 CSS, доки на букву L: выносит из папки doka, рефакторит ссылки
  css/doka/placeholder/index.md
  css/doka/pseudoclasses/index.md
  css/doka/vertical-align/index.md
  css/letter-spacing/demos/examples.html
  css/letter-spacing/demos/photoshop.html
  css/letter-spacing/images/letter-spacing.png
  css/letter-spacing/index.md
  css/letter-spacing/practice/solarrust.md
  css/letter-spacing/practice/vladimir.md
  css/line-height/demos/line-height.html
  css/line-height/index.md
  css/line-height/practice/solarrust.md
  css/line-height/practice/vladimir.md
  css/link/index.md
  css/link/practice/realetive.md
  css/list-style-image/demos/every.html
  css/list-style-image/demos/transition.html
  css/list-style-image/images/halfmoon-big.png
  css/list-style-image/images/halfmoon.png
  css/list-style-image/images/moon.png
  css/list-style-image/index.md
  css/list-style-position/demos/list-style-position.html
  css/list-style-position/images/moon.png
  css/list-style-position/index.md
  css/list-style-position/practice/ezhkov.md
  css/list-style-type/demos/basic.html
  css/list-style-type/demos/custom.html
  css/list-style-type/demos/empty-content.html
  css/list-style-type/demos/list-style-type.html
  css/list-style-type/demos/ol-no-marker.html
  css/list-style-type/demos/ul-no-marker.html
  css/list-style-type/images/custom-list.png
  css/list-style-type/index.md
  html/ol/practice/ezhkov.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#875 CSS, доки на букву M: выносит из папки doka, рефакторит ссылки
  css/doka/transition/index.md
  css/margin/index.md
  css/margin/practice/furtivite.md
  css/margin/practice/grachev.md
  css/margin/practice/solarrust.md
  html/flow/index.md
  html/legend/practice/realetive.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#876 CSS, доки на букву N: выносит из папки doka, рефакторит ссылки
  css/doka/pseudoclasses/index.md
  css/not/index.md
  css/not/practice/solarrust.md
  css/nth-of-type/demos/every.html
  css/nth-of-type/demos/only.html
  css/nth-of-type/index.md
  css/nth-of-type/practice/realetive.md
Labels: доработка, кухня

#877 CSS, доки на букву O: выносит из папки doka, рефакторит ссылки
  css/doka/visibility/index.md
  css/doka/visited/index.md
  css/object-fit/demos/every.html
  css/object-fit/demos/fit.html
  css/object-fit/demos/no-fit.html
  css/object-fit/images/landscape.jpg
  css/object-fit/index.md
  css/object-fit/practice/solarrust.md
  css/opacity/index.md
  css/opacity/practice/solarrust.md
  css/order/images/flexbox.png
  css/order/index.md
  css/outline/images/1.png
  css/outline/index.md
  css/outline/practice/solarrust.md
  css/overflow/index.md
  css/overflow/practice/realetive.md
  html/flow/index.md
  js/articles/element-positioning-js/practice/bespoyasov.md
Labels: доработка, кухня

#878 CSS, доки на букву P: выносит из папки doka, рефакторит ссылки
  css/after/index.md
  css/before/index.md
  css/invalid-valid/practice/ezhkov.md
  css/padding/demos/adaptive.html
  css/padding/demos/no-padding.html
  css/padding/demos/w-padding.html
  css/padding/images/eyes.png
  css/padding/images/padding.png
  css/padding/index.md
  css/padding/practice/furtivite.md
  css/padding/practice/solarrust.md
  css/place-items/index.md
  css/place-self/index.md
  css/placeholder-shown/index.md
  css/placeholder-shown/practice/ezhkov.md
  css/placeholder/demos/index.html
  css/placeholder/index.md
  css/placeholder/practice/ezhkov.md
  css/position/index.md
  css/pseudoclasses/index.md
  css/pseudoclasses/practice/realetive.md
  css/pseudoelements/demos/custom-markers.html
  css/pseudoelements/demos/first-letter.html
  css/pseudoelements/demos/first-line.html
  css/pseudoelements/demos/greetings-gordon.html
  css/pseudoelements/demos/header-veil.html
  css/pseudoelements/demos/header.html
  css/pseudoelements/demos/looking-great-gordon.html
  css/pseudoelements/demos/placeholder.html
  css/pseudoelements/demos/selection.html
  css/pseudoelements/images/background.svg
  css/pseudoelements/images/placeholder.png
  css/pseudoelements/images/selection.png
  css/pseudoelements/index.md
  css/pseudoelements/practice/solarrust.md
  html/flow/index.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#879 CSS, доки на букву Q: выносит из папки doka, рефакторит ссылки
  css/content/index.md
  css/quotes/demos/quotes.html
  css/quotes/index.md
  css/quotes/practice/solarrust.md
  html/q/index.md
Labels: доработка, кухня

#880 CSS, доки на букву R: выносит из папки doka, рефакторит ссылки
  css/font-size/index.md
  css/inheritance/index.md
  css/pseudoclasses/index.md
  css/radial-gradient/demos/gradient.html
  css/radial-gradient/demos/holes.html
  css/radial-gradient/demos/multiple.html
  css/radial-gradient/demos/pattern.html
  css/radial-gradient/demos/position-length.html
  css/radial-gradient/demos/position-sides.html
  css/radial-gradient/demos/repeat.html
  css/radial-gradient/demos/shape.html
  css/radial-gradient/demos/simple-gradient.html
  css/radial-gradient/images/color-bg.jpeg
  css/radial-gradient/images/ellipse.png
  css/radial-gradient/index.md
  css/radial-gradient/practice/ezhkov.md
  css/rem-em/index.md
  css/rem-em/practice/realetive.md
  css/rem-em/practice/solarrust.md
  css/required/index.md
  css/required/practice/ezhkov.md
Labels: доработка, кухня

#881 CSS, доки на букву S: выносит из папки doka, рефакторит ссылки
  css/stroke/index.md
  css/stroke/practice/realetive.md
  html/svg/index.md
Labels: доработка, кухня

#883 CSS, доки на букву U: выносит из папки doka, рефакторит ссылки
  css/universal-selector/index.md
Labels: доработка, кухня

#884 CSS, доки на букву V: выносит из папки doka, рефакторит ссылки
  css/align-items/index.md
  css/link/index.md
  css/pseudoclasses/index.md
  css/vertical-align/demos/baseline.html
  css/vertical-align/demos/blocks-baseline.html
  css/vertical-align/demos/blocks-top.html
  css/vertical-align/demos/bottom.html
  css/vertical-align/demos/middle.html
  css/vertical-align/demos/sub.html
  css/vertical-align/demos/super.html
  css/vertical-align/demos/text-bottom.html
  css/vertical-align/demos/text-top.html
  css/vertical-align/demos/top.html
  css/vertical-align/images/background.png
  css/vertical-align/images/text-bottom.png
  css/vertical-align/images/text-top.png
  css/vertical-align/index.md
  css/vertical-align/practice/solarrust.md
  css/visibility/demos/text.html
  css/visibility/demos/trick.html
  css/visibility/index.md
  css/visibility/practice/solarrust.md
  css/visited/images/visited.png
  css/visited/index.md
  css/visited/practice/solarrust.md
  css/vm-vh/index.md
  css/vm-vh/practice/ezhkov.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#885 CSS, доки на букву W: выносит из папки doka, рефакторит ссылки
  css/white-space/images/white-space.png
  css/white-space/index.md
  css/white-space/practice/ezhkov.md
  css/width/demos/auto-margin.html
  css/width/demos/default.html
  css/width/demos/full.html
  css/width/demos/icon.html
  css/width/demos/text.html
  css/width/images/doka-eyes.png
  css/width/images/width.png
  css/width/index.md
  css/width/practice/solarrust.md
  js/doka/element-style/index.md
Labels: доработка, кухня

#886 CSS, доки на букву Z: выносит из папки doka, рефакторит ссылки
  css/position/index.md
  css/z-index/demos/overlay.html
  css/z-index/images/landscape.jpg
  css/z-index/index.md
  css/z-index/practice/solarrust.md
Labels: доработка, кухня

#891 Возвращает картинку в статью про тесты
  js/articles/how-to-simplify-tests/images/impureim-sandwich.png
  js/articles/how-to-simplify-tests/index.md
Labels: js, ошибка

#893 Добавляет статью про sticky (new)
  css/sticky/demos/sticky.html
  css/sticky/index.md
  css/sticky/practice/lenaryan.md
Labels: css, дока

#808 Добавляет статью о веб-сервере Nginx
  tools/articles/nginx-web-server/index.md
  tools/articles/nginx-web-server/practice/igsekor.md
Labels: tools, статья

#805 Рефакторит демки для textarea
  html/textarea/demos/basic.html
  html/textarea/demos/cols.html
  html/textarea/demos/disabled.html
  html/textarea/demos/max.html
  html/textarea/demos/placeholder.html
  html/textarea/demos/rows.html
  html/textarea/index.md
Labels: демо, доработка

#806 Рефакторит обёртки в демках
  html/a/demos/basic.html
  html/a/demos/image.html
  html/a/demos/mail.html
  html/a/index.md
  html/audio/demos/audio.html
  html/blockquote/demos/blockquote.html
  html/blockquote/index.md
  html/class/demos/class.html
  html/class/demos/no-class.html
  html/div/demos/div.html
Labels: демо, доработка

#910 Добавляет демо для fieldset
  html/fieldset/demos/border-stylization.html
  html/fieldset/demos/disabling.html
  html/fieldset/images/border.png
  html/fieldset/index.md
  html/fieldset/practice/realetive.md
Labels: html, демо

#817 Добавляет статью о трёхслойной архитектуре
  js/architecture-and-design-patterns/index.md
  js/architecture-mvc/index.md
  js/clean-architecture/images/adapters.png
  js/clean-architecture/images/application.png
  js/clean-architecture/images/architecture.png
  js/clean-architecture/images/domain.png
  js/clean-architecture/images/treees-example.png
  js/clean-architecture/index.md
Labels: js, статья

#919 Правит экшен для тестирования
  .github/workflows/yaspeller-pr.yml
Labels: кухня, ошибка

#918 Фиксит спеллер и переносит правки демо для fieldset
  .yaspeller.json
  html/fieldset/demos/border-styling.html
  html/fieldset/demos/disabling.html
  html/fieldset/practice/realetive.md
Labels: доработка, ошибка

#889 Добавляет статью Управление процессами
  tools/articles/process-management/index.md
Labels: tools, статья

#747 Добавляет статью «Веб-сервер»
  tools/articles/web-server/images/1.png
  tools/articles/web-server/index.md
  tools/articles/web-server/practice/igsekor.md
Labels: tools, статья

#819 Переносит статью «Array.reduce»
  .yaspeller.json
  js/doka/array-reduce/index.md
  js/doka/array-reduce/practice/windrushfarer.md
Labels: js, статья

#818 Element.innerText + Element.textContent
  js/doka/element-innertext/demos/index.html
  js/doka/element-innertext/index.md
  js/doka/element-textcontent/demos/index.html
  js/doka/element-textcontent/index.md
Labels: js, дока

#943 Исправляет тесты
  .github/workflows/yaspeller-pr.yml
Labels: кухня, ошибка

#823 Добавляет статью об организации потоков данных
  .yaspeller.json
  js/architecture-data-flow/images/data-flow-data-binding.png
  js/architecture-data-flow/images/data-flow-flux.png
  js/architecture-data-flow/images/data-flow-one-way-diagram.png
  js/architecture-data-flow/images/data-flow-one-way.png
  js/architecture-data-flow/images/data-flow-two-way.png
  js/architecture-data-flow/images/sum-1.png
  js/architecture-data-flow/images/sum-2.png
  js/architecture-data-flow/images/sum-3.png
  js/architecture-data-flow/index.md
  js/architecture-mvc/index.md
Labels: js, статья

#905 Element.innerHTML
  .yaspeller.json
  js/element-innerhtml/demos/index.html
  js/element-innerhtml/index.md
Labels: js, дока

#748 Добавляет статью «Многозадачность и процессы»
  .yaspeller.json
  tools/multitasking-and-processes/images/1.png
  tools/multitasking-and-processes/images/2.png
  tools/multitasking-and-processes/images/3.png
  tools/multitasking-and-processes/images/4.png
  tools/multitasking-and-processes/images/5.png
  tools/multitasking-and-processes/images/6.png
  tools/multitasking-and-processes/index.md
  tools/multitasking-and-processes/practice/igsekor.md
Labels: tools, статья

#729 Добавляет статью про object-position
  .yaspeller.json
  css/doka/object-position/demos/example.html
  css/doka/object-position/demos/understand.html
  css/doka/object-position/images/cat.jpeg
  css/doka/object-position/images/dog.png
  css/doka/object-position/index.md
Labels: css, дока

#723 Редактирует Псевдоклассы; добавляет в гайд правила про математику и е…
  .yaspeller.json
  css/pseudoclasses/demos/default.html
  css/pseudoclasses/demos/disabled-enabled.html
  css/pseudoclasses/demos/empty.html
  css/pseudoclasses/demos/indeterminate.html
  css/pseudoclasses/demos/range.html
  css/pseudoclasses/demos/row-hover.html
  css/pseudoclasses/demos/target.html
  css/pseudoclasses/index.md
  docs/typography.md
Labels: css, доработка

#1047 Редактирует статью про child
  .yaspeller.json
  css/child/demos/child.html
  css/child/index.md
Labels: css, доработка

#1040 Добавляет демо для Array.reduce
  .yaspeller.json
  js/array-reduce/demos/index.html
  js/array-reduce/index.md
Labels: js, демо

#1041 Добавляет демо в статью Element
  js/element/demos/DOM-HTML.html
  js/element/demos/DOM.html
  js/element/index.md
Labels: js, демо

#749 Добавляет статью «Работа с сетью»
  .yaspeller.json
  tools/network/images/1.png
  tools/network/images/2.png
  tools/network/images/3.png
  tools/network/index.md
  tools/network/practice/igsekor.md
Labels: tools, статья

#1037 Нормализует одиночные теги
  css/background-color/practice/solarrust.md
  css/checked/practice/solarrust.md
  css/font-weight/demos/font-weight.html
  css/font-weight/index.md
  css/placeholder/demos/index.html
  css/pseudoelements/index.md
  css/text-transform/practice/solarrust.md
  css/width/practice/solarrust.md
  html/audio/index.md
  html/button/index.md
  html/head/index.md
  html/meta/index.md
  html/script/index.md
  html/svg/index.md
  js/array-find/demos/index.html
  js/element-innertext/index.md
  js/events/demos/bubbling.html
  js/fetch/practice/windrushfarer.md
  tools/web-server/index.md
Labels: доработка

#945 Добавляет статью о GitHub Actions
  tools/github-actions/index.md
  tools/github-actions/practice/igsekor.md
Labels: tools, статья

#1051 Правит статью про has
  css/has/index.md
  css/has/practice/realetive.md
Labels: css, доработка

#1050 Правит статью про not
  css/not/index.md
  css/not/practice/solarrust.md
Labels: css, доработка

#1060 Правит статью про empty
  css/empty/index.md
  css/empty/practice/ezhkov.md
Labels: css, доработка

#1058 Правит статью про checked
  .yaspeller.json
  css/checked/index.md
  css/checked/practice/solarrust.md
Labels: css, доработка

#1059 Правит статью про disabled-enabled
  css/disabled-enabled/index.md
  css/disabled-enabled/practice/solarrust.md
Labels: css, доработка

#1057 Правит статью про focus
  css/focus/index.md
  css/focus/practice/solarrust.md
Labels: css, доработка

#815 Добавляет статью про тег <br>
  html/articles/br-pros-cons/images/article.png
  html/articles/br-pros-cons/index.md
Labels: html, статья

#1061 Правит статью про псевдоклассы типа type
  css/nth-of-type/demos/every.html
  css/nth-of-type/index.md
  css/nth-of-type/practice/realetive.md
Labels: css, доработка

#1067 Правит статьи placeholder и placeholder-shown
  css/placeholder-shown/index.md
  css/placeholder-shown/practice/ezhkov.md
  css/placeholder/index.md
  css/placeholder/practice/ezhkov.md
Labels: css, доработка

#1068 Правит статью про required
  css/required/index.md
Labels: css, доработка

#508 Добавляет статью про media
  .yaspeller.json
  css/media/index.md
  css/media/practice/lenaryan.md
Labels: css, дока

#698 Добавляет статью про linear-gradient
  css/linear-gradient/demos/gradient-direction.html
  css/linear-gradient/demos/gradient-multiple.html
  css/linear-gradient/demos/gradient-pattern.html
  css/linear-gradient/demos/gradient-repeat.html
  css/linear-gradient/demos/gradient-rotate.html
  css/linear-gradient/demos/gradient-stops.html
  css/linear-gradient/demos/gradient.html
  css/linear-gradient/images/gradient-chrome.png
  css/linear-gradient/images/gradient-safari.png
  css/linear-gradient/images/gradient-stops.png
  css/linear-gradient/index.md
  css/linear-gradient/practice/ezhkov.md
  css/linear-gradient/practice/solarrust.md
Labels: css, дока

#717 Добавляет статью про единицы измерения CSS
  .yaspeller.json
  css/articles/numeric-types/demos/ex.html
  css/articles/numeric-types/images/angles.png
  css/articles/numeric-types/index.md
Labels: css, статья

#1065 Правит статью про -range
  css/in-range-out-of-range/index.md
  css/in-range-out-of-range/practice/ezhkov.md
Labels: css, доработка

#813 Добавляет статью про CSS-переменные
  .yaspeller.json
  css/custom-properties/index.md
  css/custom-properties/practice/ezhkov.md
Labels: css, статья

#1055 Добавляет доку про li
  html/li/index.md
  html/li/practice/nionka.md
Labels: html, дока

#1066 Правит статью про invalid и valid
  css/invalid-valid/index.md
  css/invalid-valid/practice/ezhkov.md
Labels: css, доработка

#1079 Правит статью про import
  .yaspeller.json
  css/import/index.md
  css/import/practice/solarrust.md
Labels: css, доработка

#1080 Правит статью про комбинированные селекторы
  .yaspeller.json
  css/combined-selectors/index.md
  css/combined-selectors/practice/realetive.md
Labels: css, доработка

#1081 Правит статью про селектор по классу
  css/class-selector/index.md
  css/class-selector/practice/ezhkov.md
Labels: css, доработка
