Repository doka-guide/content, pull requests merged in 2021-05, with the labels that each got.

#501 Убирает упоминание строчных комментариев
  css/doka/css-comments/index.md
Labels: css, ошибка

#495 Рефакторит статью про <main>
  html/doka/main/index.md
Labels: html, доработка

#494 Рефакторит статью про <img>
  html/doka/img/demos/img-fix-width.html
  html/doka/img/index.md
  html/doka/img/practice/solarrust.md
  html/doka/img/practice/vladimir.md
Labels: html, доработка

#504 Добавляет статью про тег <source>
  html/doka/source/demos/adaptive.html
  html/doka/source/images/1024x768.png
  html/doka/source/images/640x480.png
  html/doka/source/index.md
  html/doka/source/practice/ezhkov.md
Labels: html, дока

#518 Добавляет статью про <embed>
  .yaspeller.json
  html/doka/embed/demos/embed-pdf.html
  html/doka/embed/files/sample.pdf
  html/doka/embed/images/no-plugin.png
  html/doka/embed/index.md
Labels: html, дока

#550 Edit/blockquote
  css/doka/universal-selector/index.md
  html/doka/blockquote/index.md
  html/doka/blockquote/practice/solarrust.md
  html/doka/comments/index.md
  html/doka/embed/index.md
  html/doka/footer/index.md
  html/doka/header/index.md
  html/doka/img/index.md
  html/doka/main/index.md
  html/doka/nav/index.md
  html/doka/section/index.md
  html/doka/source/index.md
Labels: html, доработка

#541 Редактирует статью про ul
  html/doka/ul/index.md
  html/doka/ul/practice/ezhkov.md
Labels: html, доработка

#519 Редактирует статью про article
  html/doka/article/index.md
Labels: html, доработка

#517 Добавляет демо в статью Transform
  css/doka/pseudoelements/demos/custom-markers.html
  css/doka/pseudoelements/demos/placeholder.html
  css/doka/pseudoelements/images/placeholder.png
  css/doka/pseudoelements/index.md
  css/doka/pseudoelements/practice/solarrust.md
  css/doka/transform/demos/font-size-transform.html
  css/doka/transform/demos/playground.html
  css/doka/transform/images/back.svg
  css/doka/transform/images/face.svg
  css/doka/transform/index.md
  css/doka/transform/practice/author.md
Labels: демо

#700 Разделяет лонгрид про анимации на отдельные статьи по свойствам
  css/articles/animation/index.md
  css/doka/animation-delay/index.md
  css/doka/animation-direction/index.md
  css/doka/animation-duration/index.md
  css/doka/animation-fill-mode/index.md
  css/doka/animation-iteration-count/index.md
  css/doka/animation-name/index.md
  css/doka/animation-play-state/index.md
  css/doka/animation-timing-function/images/bezier.png
  css/doka/animation-timing-function/index.md
  css/doka/animation/index.md
  css/doka/keyframes/index.md
Labels: css, дока

#515 Добавляет обзорную статью об архитектуре
  js/articles/architecture-and-design-patterns/index.md
Labels: js, статья

#503 Добавляет доку "Что такое файл"
  tools/doka/file/images/file-system.png
  tools/doka/file/images/files.jpg
  tools/doka/file/index.md
  tools/doka/file/practice/igsekor.md
Labels: tools, дока

#520 Редактирует статью про ol
  html/doka/ol/index.md
  html/doka/ol/practice/ezhkov.md
Labels: html, доработка

#704 Design/demos/array filter
  js/doka/array-filter/demos/index.html
  js/doka/array-filter/index.md
  js/doka/array-map/demos/index.html
Labels: js, демо

#699 Обновляет инструкцию
  .yaspeller.json
  docs/contributing.md
Labels: доработка, кухня

#703 Добавляет лицензии
  .yaspeller.json
  LICENSE-ND.md
  LICENSE-SA.md
  README.md
  docs/README.md
  docs/images/license/by.svg
  docs/images/license/cc.svg
  docs/images/license/nc.svg
  docs/images/license/nd.svg
  docs/images/license/sa.svg
  docs/license.md
Labels: доработка, кухня

#537 Переносит статью «element.wheel»
  .yaspeller.json
  js/doka/element-scroll-wheel/demos/index.html
  js/doka/element-scroll-wheel/demos/scroll-move.html
  js/doka/element-scroll-wheel/images/snail.svg
  js/doka/element-scroll-wheel/index.md
  js/doka/element-scroll-wheel/practice/nlopin.md
Labels: js

#512 Шаблонные строки
  js/doka/template-strings/index.md
  js/doka/template-strings/practice/windrusfarer.md
Labels: js, дока

#714 Добавляет демо к статье Array.forEach
  js/doka/array-foreach/demos/index.html
  js/doka/array-foreach/index.md
Labels: js, демо

#507 Добавляет статью про radial-gradient
  css/doka/radial-gradient/demos/gradient.html
  css/doka/radial-gradient/demos/holes.html
  css/doka/radial-gradient/demos/multiple.html
  css/doka/radial-gradient/demos/pattern.html
  css/doka/radial-gradient/demos/position-length.html
  css/doka/radial-gradient/demos/position-sides.html
  css/doka/radial-gradient/demos/repeat.html
  css/doka/radial-gradient/demos/shape.html
  css/doka/radial-gradient/demos/simple-gradient.html
  css/doka/radial-gradient/images/color-bg.jpeg
  css/doka/radial-gradient/images/ellipse.png
  css/doka/radial-gradient/index.md
  css/doka/radial-gradient/practice/ezhkov.md
Labels: css, дока

#705 Добавляет @bespoyasov в `people`
  people/bespoyasov/index.md
Labels: доработка, кухня

#710 Добавляет демо к двум статьям
  css/doka/font-family/demos/index.html
  css/doka/font-family/index.md
  css/doka/placeholder/demos/index.html
  css/doka/placeholder/index.md
Labels: css, демо

#713 Добавляет демо в статью calc()
  css/doka/calc/demos/fit.html
  css/doka/calc/demos/nonfit.html
  css/doka/calc/index.md
  css/doka/calc/practice/solarrust.md
Labels: css, демо

#709 Добавляет превью для контента на Surge
  .github/workflows/surge-preview.yml
Labels: кухня

#711 Добавляет статью об MVC
  js/articles/architecture-mvc/images/app.png
  js/articles/architecture-mvc/images/mvc.jpg
  js/articles/architecture-mvc/images/mvp.png
  js/articles/architecture-mvc/images/mvvm.png
  js/articles/architecture-mvc/index.md
Labels: js, статья

#712 Редактирует статью Псевдоэлементы
  css/doka/pseudoelements/index.md
  css/doka/pseudoelements/practice/solarrust.md
Labels: css, доработка

#721 Редактирует доки про after, before; добавляет в стайлгайд про оформле…
  css/doka/after/index.md
  css/doka/before/index.md
  css/doka/before/practice/ezhkov.md
  docs/typography.md
Labels: css, доработка, кухня

#728 Добавляет мета-данные к посту
  js/articles/architecture-mvc/index.md
Labels: js, доработка

#725 Добавляет условия для превью при пиаре
  .github/workflows/surge-preview.yml
Labels: кухня

#719 Добавляет демо в статьи Element.mouseover и Element.mouseout
  js/doka/element-mouseout/demos/index.html
  js/doka/element-mouseout/index.md
  js/doka/element-mouseover/demos/index.html
  js/doka/element-mouseover/index.md
Labels: js, демо

#727 Оптимизация тестов
  .github/workflows/editorconfig.yml
  .github/workflows/yaspeller.yml
Labels: кухня
