Repository doka-guide/content, pull requests merged in 2021-09, with the labels that each got.

#1392 Редактирует статью про тестирование
  js/how-to-test-and-why/index.md
Labels: доработка, js

#1381 setTimeout и clearTimeout
  js/async-in-js/index.md
  js/cleartimeout/index.md
  js/cleartimeout/practice/windrushfarer.md
  js/index.md
  js/settimeout/demos/index.html
  js/settimeout/index.md
  js/settimeout/practice/windrushfarer.md
Labels: js

#1395 Добавляет доку о свойстве `length` строк
  js/index.md
  js/string-length/index.md
  js/string-length/practice/nlopin.md
Labels: js, дока

#1394 Добавляет статью о свойстве `length` массива
  js/array-length/index.md
  js/array-length/practice/nlopin.md
  js/index.md
Labels: js, дока

#1397 Добавляет доку по template
  html/template/index.md
Labels: html, дока

#1400 Редактирует статью про стат. типизацию
  tools/static-types/index.md
  tools/static-types/practice/igorkamyshev.md
Labels: доработка, tools

#1462 Редактирует статью про работу браузера
  js/how-the-browser-creates-pages/index.md
  js/how-the-browser-creates-pages/practice/bespoyasov.md
Labels: доработка, js

#1449 Добавляет плейсхолдер для шортката font
  css/font/index.md
Labels: css, дока, placeholder

#1401 Добавляет плейсхолдер про @supports
  css/supports/index.md
Labels: css, дока, placeholder

#1460 Добавляет статьи setInterval и clearInterval
  js/clearinterval/index.md
  js/cleartimeout/index.md
  js/index.md
  js/setinterval/images/interval-timing.png
  js/setinterval/images/timeout-chain.png
  js/setinterval/index.md
  js/setinterval/practice/nlopin.md
  js/settimeout/index.md
Labels: js, дока

#1457 Element.blur()
  js/element-blur/index.md
  js/element-blur/practice/nlopin.md
  js/element-focus/practice/nlopin.md
Labels: js, дока

#1466 Добавляет раздел о коллекции Set
  js/index.md
  js/set-add/index.md
  js/set-clear/index.md
  js/set-constructor/index.md
  js/set-delete/index.md
  js/set-entries/index.md
  js/set-foreach/index.md
  js/set-has/index.md
  js/set-has/practice/nlopin.md
  js/set-keys/index.md
  js/set-keys/practice/nlopin.md
  js/set-size/index.md
  js/set-values/index.md
  js/set-values/practice/nlopin.md
  js/set/demos/index.html
  js/set/index.md
  js/set/practice/nlopin.md
Labels: js

#1450 Добавляет плейсхолдер для font-stretch
  css/font-stretch/index.md
Labels: css, дока, placeholder

#1461 Добавляет статью `window.print`
  js/window-print/demos/index.html
  js/window-print/index.md
Labels: js, дока

#1455 Добавляет плейсхолдер для font-size-adjust
  css/font-size-adjust/index.md
Labels: css, дока, placeholder

#1454 Добавляет плейсхолдер для font-kerning
  css/font-kerning/index.md
Labels: css, дока, placeholder

#1453 Добавляет плейсходлер для font-feature-settings
  .yaspeller.json
  css/font-feature-settings/index.md
Labels: css, дока, placeholder

#1452 Добавляет плейсхолдер для font-variant-numeric
  css/font-variant-numeric/index.md
Labels: css, дока, placeholder

#1451 Добавляет плейсхолдер для font-variant
  css/font-variant/index.md
Labels: css, дока, placeholder

#1475 Добавляет плейсхолдер для font-variant-alternates
  css/font-variant-alternates/index.md
Labels: css, дока, placeholder

#1470 Добавляет плейсхолдер для font-variant-ligatures
  css/font-variant-ligatures/index.md
Labels: css, дока, placeholder

#1469 Добавляет плейсхолдер про font-variant-caps
  css/font-variant-caps/index.md
Labels: css, дока, placeholder

#1473 Добавляет плейсхолдер для font-variant-position
  css/font-variant-position/index.md
Labels: css, дока, placeholder

#1474 Добавляет плейсхолдер для font-variant-east-asian
  css/font-variant-east-asian/index.md
Labels: css, дока, placeholder

#1479 Рефакторит демку про формы
  js/deal-with-forms/demos/mars-form/index.html
  js/deal-with-forms/index.md
Labels: доработка, js, демо

#1472 Добавляет плейсхолдер для font-variation-settings
  .yaspeller.json
  css/font-variation-settings/index.md
Labels: css, дока, placeholder

#1481 Заменяет старый ключ
  html/template/index.md
Labels: html, ошибка

#1484 Добавляет плейсхолдер для <mark>
  html/mark/index.md
Labels: html, placeholder

#1488 Обновляет обложку в статью про Виды веб-приложений
  js/web-app-types/images/cover.png
  js/web-app-types/images/covers/desktop.png
  js/web-app-types/images/covers/mobile.png
  js/web-app-types/index.md
Labels: доработка, js

#1485 Добавляет плейсхолдер для <kbd>
  html/kbd/index.md
Labels: html, placeholder

#1458 Обновляет демо в Псевдоклассах
  css/pseudoclasses/demos/custom-checkbox/index.html
  css/pseudoclasses/demos/default/index.html
  css/pseudoclasses/demos/disabled-enabled/index.html
  css/pseudoclasses/demos/empty/index.html
  css/pseudoclasses/demos/indeterminate/index.html
  css/pseudoclasses/demos/range/index.html
  css/pseudoclasses/demos/row-hover/index.html
  css/pseudoclasses/demos/target/index.html
  css/pseudoclasses/index.md
  css/pseudoclasses/practice/realetive.md
Labels: css, демо

#1476 Добавляет плейсхолдер для font-synthesis
  css/font-synthesis/index.md
Labels: css, дока, placeholder

#1483 Обновляет демо в Селекторах по атрибуту
  css/attribute-selector/demos/cite-bkg/index.html
  css/attribute-selector/demos/link-icon/images/arrow-top-right.svg
  css/attribute-selector/demos/link-icon/index.html
  css/attribute-selector/index.md
  css/attribute-selector/practice/ezhkov.md
Labels: css, демо

#1341 Обновляет демо и рисунки в статье Линейный градиент
  css/linear-gradient/demos/gradient-direction/index.html
  css/linear-gradient/demos/gradient-multiple/index.html
  css/linear-gradient/demos/gradient-pattern/index.html
  css/linear-gradient/demos/gradient-repeat/index.html
  css/linear-gradient/demos/gradient-rotate/index.html
  css/linear-gradient/demos/gradient-stops/index.html
  css/linear-gradient/demos/gradient/index.html
  css/linear-gradient/images/gradient-chrome.png
  css/linear-gradient/images/gradient-safari.png
  css/linear-gradient/images/gradient-stops.png
  css/linear-gradient/index.md
  css/linear-gradient/practice/ezhkov.md
  css/linear-gradient/practice/solarrust.md
Labels: css, демо

#1499 Добавляет плейсхолдер для <sup>
  html/sup/index.md
Labels: html, placeholder

#1498 Добавляет плейсхолдер для <sub>
  html/sub/index.md
Labels: html, placeholder

#1502 Добавляет плейсхолдер для resize
  css/resize/index.md
Labels: css, placeholder

#1500 Добавляет плесхолдер для widows
  css/widows/index.md
Labels: css, placeholder

#1501 Добавляет плейсхолдер для user-select
  css/user-select/index.md
Labels: css, placeholder

#1496 Добавляет плейсхолдер про font-language-override
  css/font-language-override/index.md
Labels: css, placeholder

#1512 Переносит обложку в собственную папку JS/BOM
  js/bom/images/covers/desktop.png
  js/bom/index.md
Labels: кухня

#1513 Переносит обложку в собственную папку JS/Замыкания
  js/closures/images/covers/desktop.png
  js/closures/index.md
Labels: кухня

#1514 Переносит обложку в собственную папку JS/Стиль кода
  js/code-style/images/covers/desktop.png
  js/code-style/index.md
Labels: кухня

#1515 Переносит обложку в собственную папку JS/debounce
  js/debounce/images/covers/desktop.png
  js/debounce/index.md
Labels: кухня

#1516 Переносит обложку в собственную папку JS/Позиционирование
  js/element-positioning-js/images/covers/desktop.png
  js/element-positioning-js/index.md
Labels: кухня

#1517 Переносит обложку в собственную папку JS/Как браузер рисует страницы
  js/how-the-browser-creates-pages/images/covers/desktop.png
  js/how-the-browser-creates-pages/index.md
Labels: кухня

#1518 Переносит обложку в собственную папку JS/Подгрузка контента
  js/infinite-scroll/images/covers/desktop.png
  js/infinite-scroll/index.md
Labels: кухня

#1530 Переносит обложку в собственную папку Инструменты/Код-ревью
  tools/code-review/images/covers/desktop.png
  tools/code-review/index.md
Labels: кухня

#1489 Обновляет обложки в гайде по гридам
  css/grid-guide/images/cover.png
  css/grid-guide/images/covers/desktop.svg
  css/grid-guide/images/covers/mobile.svg
  css/grid-guide/index.md
Labels: доработка, css

#1504 Переносит обложку в собственную папку css/focus
  css/focus/images/covers/desktop.png
  css/focus/index.md
Labels: кухня

#1505 Переносит обложку в собственную папку html/comments
  html/comments/images/covers/desktop.png
  html/comments/index.md
Labels: кухня

#1506 Переносит обложку в собственную папку html/div
  html/div/images/covers/desktop.png
  html/div/index.md
Labels: кухня

#1508 Переносит обложку в собственную папку html/h1-h6
  html/h1-h6/images/covers/desktop.png
  html/h1-h6/index.md
Labels: кухня

#1509 Добавляет плейсхолдер для <ins>
  html/ins/index.md
Labels: html, placeholder

#1510 Добавляет плейсхолдер для <del>
  html/del/index.md
Labels: html, placeholder

#1507 Переносит обложку в собственную папку html/footer
  .yaspeller.json
  html/footer/images/covers/desktop.png
  html/footer/index.md
Labels: кухня

#1528 Переносит обложку в собственную папку JS/Преобразование типов
  js/typecasting/images/covers/desktop.png
  js/typecasting/index.md
Labels: кухня

#1492 Обновляет обложку в статье про alert()
  js/alert/images/cover.png
  js/alert/images/covers/desktop.svg
  js/alert/images/covers/mobile.svg
  js/alert/index.md
Labels: доработка, js

#1491 Обновляет обложку в статье про API
  js/api/images/cover.png
  js/api/images/covers/desktop.svg
  js/api/images/covers/mobile.svg
  js/api/index.md
Labels: доработка, js

#1493 Обновляет обложку в статье про асинхронность в JS
  js/async-in-js/images/cover.png
  js/async-in-js/images/covers/desktop.svg
  js/async-in-js/images/covers/mobile.svg
  js/async-in-js/index.md
Labels: доработка, js

#1494 Обновляет обложки в статье про работу с формами
  js/deal-with-forms/images/cover.png
  js/deal-with-forms/images/covers/desktop.svg
  js/deal-with-forms/images/covers/mobile.svg
  js/deal-with-forms/index.md
Labels: доработка, js

#1486 Обновляет обложки в статье про тестирование
  js/how-to-test-and-why/images/cover.png
  js/how-to-test-and-why/images/covers/desktop.svg
  js/how-to-test-and-why/images/covers/mobile.svg
  js/how-to-test-and-why/index.md
Labels: доработка, js

#1521 Переносит обложку в собственную папку JS/ООП
  js/oop/images/covers/desktop.png
  js/oop/index.md
Labels: кухня

#1519 Переносит обложку в собственную папку JS/Версии языка
  js/language-versions/images/covers/desktop.png
  js/language-versions/index.md
Labels: кухня

#1522 Переносит обложку в собственную папку JS/Парадигмы программирования
  js/programming-paradigms/images/covers/desktop.png
  js/programming-paradigms/index.md
Labels: кухня

#1523 Переносит обложку в собственную папку JS/Promise
  js/promise/images/covers/desktop.png
  js/promise/index.md
Labels: кухня

#1524 Переносит обложку в собственную папку JS/Рекурсия
  js/recursion/images/covers/desktop.png
  js/recursion/index.md
Labels: кухня

#1525 Переносит обложку в собственную папку JS/Хранение по ссылке vs. по значению
  js/ref-type-vs-value-type/images/covers/desktop.png
  js/ref-type-vs-value-type/index.md
Labels: кухня

#1526 Переносит обложку в собственную папку JS/Фиктивные объекты
  js/testing-and-fake-objects/images/covers/desktop.png
  js/testing-and-fake-objects/index.md
Labels: кухня

#1487 Обновляет обложку в статье про try...catch
  js/try-catch/images/cover.png
  js/try-catch/images/covers/desktop.svg
  js/try-catch/images/covers/mobile.svg
  js/try-catch/index.md
Labels: доработка, js

#1529 Переносит обложку в собственную папку JS/Как работают веб-приложения
  js/web-app-works/images/covers/desktop.png
  js/web-app-works/index.md
Labels: кухня

#1490 Обновляет обложки в статье про безопасность веб-приложений
  js/web-security/images/cover.png
  js/web-security/images/covers/desktop.svg
  js/web-security/images/covers/mobile.svg
  js/web-security/index.md
Labels: доработка, js

#1495 Добавляет плейсхолдер для font-optical-sizing
  css/font-optical-sizing/index.md
Labels: css, placeholder

#1511 Дополняет документ по оформлению кода
  docs/typography.md
Labels: доработка

#1534 Добавляет плейсхолдер для column-count
  css/column-count/index.md
Labels: css, placeholder

#1535 Добавляет плейсхолдер для column-width
  css/column-width/index.md
Labels: css, placeholder

#1537 Добавляет плейсхолдер для <b>
  .yaspeller.json
  html/b/index.md
Labels: html, placeholder

#1538 Добавляет плейсхолдер для <i>
  html/i/index.md
Labels: html, placeholder

#1544 Разворачивает пример для mark
  html/mark/index.md
Labels: доработка, html

#1533 Добавляет плейсхолдер для columns
  css/columns/index.md
Labels: css, placeholder

#1536 Добавляет плейсхолдер для touch-action
  .yaspeller.json
  css/touch-action/index.md
Labels: css, placeholder

#1527 Переносит обложку в собственную папку JS/Throttle
  .yaspeller.json
  js/throttle/images/covers/desktop.png
  js/throttle/index.md
Labels: кухня

#1471 Обновляет демо в Позиционировании элементов с помощью JS
  .yaspeller.json
  js/element-positioning-js/demos/bespoyasov-JjKVRyB/index.html
  js/element-positioning-js/demos/bespoyasov-XWKQxVO/index.html
  js/element-positioning-js/demos/bespoyasov-bGeJQvO/index.html
  js/element-positioning-js/demos/bespoyasov-qBNwBKP/index.html
  js/element-positioning-js/demos/bespoyasov-yLJrBej/index.html
  js/element-positioning-js/demos/class/index.html
  js/element-positioning-js/demos/drag-n-drop-custom-props/index.html
  js/element-positioning-js/demos/drag-n-drop-transform/index.html
  js/element-positioning-js/demos/drag-n-drop/index.html
  js/element-positioning-js/demos/scroller/index.html
  js/element-positioning-js/demos/scroller/scripts/lib.js
  js/element-positioning-js/demos/scroller/styles/lib.css
  js/element-positioning-js/index.md
  js/element-positioning-js/practice/bespoyasov.md
Labels: js, демо

#1542 Дока «toString» для чисел и объектов
  js/index.md
  js/number-tostring/index.md
  js/number-tostring/practice/nlopin.md
  js/object-tostring/index.md
  js/object-tostring/practice/nlopin.md
Labels: js, дока

#1547 Добавляет кавычки в Styleguide.md
  docs/styleguide.md
Labels: доработка

#1482 Обновляет демо в Debounce на примере формы поиска
  js/debounce/demos/bespoyasov-BazXpNp/index.html
  js/debounce/demos/debounced-search/index.html
  js/debounce/images/debounced.png
  js/debounce/images/form-a.png
  js/debounce/images/form.png
  js/debounce/images/not-debounced.png
  js/debounce/index.md
Labels: js, демо

#1553 Добавляет плейсхолдер для outline-color
  css/outline-color/index.md
  css/outline/index.md
Labels: css, placeholder

#1564 Обновляет сломанный путь до лицензии
  docs/license.md
Labels: ошибка

#1467 Добавляет статью про History API
  .yaspeller.json
  js/index.md
  js/window-history/demos/history-operations/about.html
  js/window-history/demos/history-operations/index.html
  js/window-history/demos/history-operations/prices.html
  js/window-history/demos/history-operations/styles.css
  js/window-history/index.md
  js/window-history/practice/windrushfarer.md
Labels: js, статья

#1558 Добавляет доку про outline-offset
  css/outline-offset/index.md
Labels: css, дока

#1560 Добавляет плейсхолдер для backface-visibility
  css/backface-visibility/index.md
Labels: css, placeholder

#1559 Добавляет плейсхолдер для outline-style
  css/outline-style/index.md
Labels: css, placeholder

#1555 Добавляет плейсхолдер для outline-width
  css/outline-width/index.md
Labels: css, placeholder

#1566 Добавляет плейсхолдер для perspective-origin
  css/perspective-origin/index.md
Labels: css, placeholder

#1552 Добавляет плейсхолдер для list-style
  css/list-style/index.md
Labels: css, placeholder

#1567 Добавляет плейсхолдер для backdrop-filter
  css/backdrop-filter/index.md
Labels: css, placeholder

#1565 Добавляет плейсхолдер для perspective
  css/perspective/index.md
Labels: css, placeholder

#1568 Добавляет доку про функции фильтров
  .yaspeller.json
  css/filter-functions/demos/blur/index.html
  css/filter-functions/demos/brightness/index.html
  css/filter-functions/demos/contrast/index.html
  css/filter-functions/demos/drop-shadow/index.html
  css/filter-functions/demos/grayscale/index.html
  css/filter-functions/demos/hue-rotation/index.html
  css/filter-functions/demos/invert/index.html
  css/filter-functions/demos/opacity/index.html
  css/filter-functions/demos/saturate/index.html
  css/filter-functions/demos/sepia/index.html
  css/filter-functions/images/image.jpg
  css/filter-functions/index.md
Labels: css, дока

#1557 Добавляет правило про бэктики в заголовках в документацию
  .yaspeller.json
  docs/typography.md
Labels: доработка, кухня, дока

#1532 Добавляет псевдонимы языков для блоков кода
  tools/apache-web-server/index.md
  tools/docker-compose/index.md
  tools/docker-compose/practice/igsekor.md
  tools/docker-data-management/index.md
  tools/docker/index.md
  tools/docker/practice/igsekor.md
  tools/dockerfile/index.md
  tools/nginx-web-server/index.md
  tools/web-server/index.md
Labels: доработка

#1581 Правит стиль кода и забытый пробел
  js/execution-order/index.md
Labels: доработка, js

#1579 Добавляет плейсхолдер статьи о window.navigator
  js/window-navigator/index.md
Labels: js, placeholder

#1587 Добавляет плейсхолдер для <s>
  html/s/index.md
Labels: html, placeholder

#1586 Добавляет плейсхолдер для <u>
  html/u/index.md
Labels: html, placeholder

#1575 Обновляет схемы в HTML
  html/a/images/a.png
  html/body/images/solarrust.png
  html/body/practice/solarrust.md
  html/doctype/images/1.png
  html/doctype/index.md
  html/head/images/1.png
  html/head/index.md
  html/meta/images/1.png
Labels: кухня

#1591 Переименовывает некоторые статьи в JS/Tools для консистентности
  js/api/index.md
  js/bom/index.md
  js/function-context/index.md
  js/ref-type-vs-value-type/index.md
  js/window-navigator/index.md
  tools/docker/index.md
  tools/git-cli/index.md
  tools/nodejs/index.md
  tools/site-readers/index.md
  tools/static-types/index.md
  tools/webpack/index.md
Labels: доработка, js, tools

#1572 Обновляет демо в Подгрузке контента при прокрутке
  js/infinite-scroll/demos/bespoyasov-wvzWGMM/index.html
  js/infinite-scroll/demos/switter/images/like.svg
  js/infinite-scroll/demos/switter/images/resweet.svg
  js/infinite-scroll/demos/switter/images/sweater.png
  js/infinite-scroll/demos/switter/index.html
  js/infinite-scroll/images/switter-pagination.png
  js/infinite-scroll/index.md
Labels: js, демо

#1477 Добавляет статью «Что такое CI/CD?»
  .yaspeller.json
  tools/ci-cd/images/1.png
  tools/ci-cd/index.md
  tools/index.md
Labels: tools, статья

#1573 Удаляет обложки со старым дизайном
  css/focus/images/covers/desktop.png
  css/focus/index.md
  html/comments/images/covers/desktop.png
  html/comments/index.md
  html/div/images/covers/desktop.png
  html/div/index.md
  html/footer/images/covers/desktop.png
  html/footer/index.md
  html/h1-h6/images/covers/desktop.png
  html/h1-h6/index.md
  js/bom/images/covers/desktop.png
  js/bom/index.md
  js/closures/images/covers/desktop.png
  js/closures/index.md
  js/code-style/images/covers/desktop.png
  js/code-style/index.md
  js/debounce/images/covers/desktop.png
  js/debounce/index.md
  js/element-positioning-js/images/covers/desktop.png
  js/element-positioning-js/index.md
  js/how-the-browser-creates-pages/images/covers/desktop.png
  js/how-the-browser-creates-pages/index.md
  js/infinite-scroll/images/covers/desktop.png
  js/infinite-scroll/index.md
  js/language-versions/images/covers/desktop.png
  js/language-versions/index.md
  js/objects-objects-everywhere/images/covers/desktop.png
  js/objects-objects-everywhere/index.md
  js/oop/images/covers/desktop.png
  js/oop/index.md
  js/programming-paradigms/images/covers/desktop.png
  js/programming-paradigms/index.md
  js/promise/images/covers/desktop.png
  js/promise/index.md
  js/recursion/images/covers/desktop.png
  js/recursion/index.md
  js/ref-type-vs-value-type/images/covers/desktop.png
  js/ref-type-vs-value-type/index.md
  js/testing-and-fake-objects/images/covers/desktop.png
  js/testing-and-fake-objects/index.md
  js/throttle/images/covers/desktop.png
  js/throttle/index.md
  js/typecasting/images/covers/desktop.png
  js/typecasting/index.md
  js/web-app-types/images/covers/desktop.png
  js/web-app-types/images/covers/desktop.svg
  js/web-app-types/images/covers/mobile.png
  js/web-app-types/images/covers/mobile.svg
  js/web-app-types/index.md
  js/web-app-works/images/covers/desktop.png
  js/web-app-works/index.md
  tools/code-review/images/covers/desktop.png
  tools/code-review/index.md
Labels: кухня

#1571 Добавляет доку про <pre>
  html/pre/index.md
Labels: html, дока

#1589 Добавляет практики в `<picture>` и в `<source>`
  html/picture/practice/furtivite.md
Labels: доработка, html

#1590 Переименовывает некоторые статьи в HTML/CSS для консистентности
  css/disabled-enabled/index.md
  css/flex-direction/index.md
  css/in-range-out-of-range/index.md
  css/index.md
  css/invalid-valid/index.md
  css/position-sticky/demos/sticky/index.html
  css/position-sticky/index.11tydata.json
  css/position-sticky/index.md
  css/position-sticky/practice/lenaryan.md
  html/br/demos/basic/index.html
  html/br/images/article.png
  html/br/index.11tydata.json
  html/br/index.md
  html/class/index.md
  html/details/index.md
  html/hidden/index.md
  html/index.md
Labels: доработка, css, html

#1598 Добавляет тег featured для зафичеренных статей
  css/box-shadow/index.md
  css/custom-properties/index.md
  css/flexbox-guide/index.md
  html/flow/index.md
  html/input/index.md
  html/video/index.md
  js/async-in-js/index.md
  js/deal-with-forms/index.md
  js/how-the-browser-creates-pages/index.md
  js/how-to-test-and-why/index.md
  tools/cli/index.md
  tools/static-types/index.md
Labels: кухня

#1387 Добавляет демо в статью select
  html/select/demos/attributes/images/arrow-down.svg
  html/select/demos/attributes/index.html
  html/select/demos/basic/images/arrow-down.svg
  html/select/demos/basic/index.html
  html/select/demos/custom/index.html
  html/select/demos/default/index.html
  html/select/demos/different-attrs/index.html
  html/select/demos/select-arrow/index.html
  html/select/index.md
  html/select/practice/ezhkov.md
Labels: html, демо

#1592 Добавляет доку про text-overflow
  css/text-overflow/demos/values/index.html
  css/text-overflow/index.md
Labels: css, дока

#1478 Добавляет статью «Доступ по SSH»
  .yaspeller.json
  tools/index.md
  tools/ssh/index.md
  tools/ssh/practice/igsekor.md
Labels: tools, статья

#1584 Добавляет статью про спреды
  .yaspeller.json
  js/index.md
  js/spread/index.md
  js/spread/practice/nlopin.md
Labels: js, дока

#1578 Добавил статью for...in
  js/for-in/index.md
  js/index.md
Labels: js, дока

#1606 Исправляет ошибку с html
  css/custom-properties/index.md
  css/font-size/index.md
  css/numeric-types/index.md
  css/pseudoclasses/index.md
  css/root/index.md
  html/doctype/index.md
  js/dom/index.md
  js/element-innerhtml/index.md
  js/element-outerhtml/index.md
  js/getelementbyid/index.md
  js/getelementsbyclassname/index.md
  js/getelementsbytagname/index.md
  js/recursion/index.md
  tools/bundlers/index.md
  tools/web-server/index.md
  tools/webpack/index.md
  tools/xml/index.md
Labels: ошибка

#1611 Исправляет ошибку с полем `summary` в мете
  html/pre/index.md
Labels: html, ошибка

#1580 Добавляет статью «Микросервисы»
  .yaspeller.json
  tools/index.md
  tools/microservices/images/1.png
  tools/microservices/images/2.png
  tools/microservices/index.md
Labels: tools, статья

#1539 Обновляет и дополняте add/removeEventlistener
  js/element-addeventlistener/demos/keyboard-events/index.html
  js/element-addeventlistener/demos/mouse-events/index.html
  js/element-addeventlistener/index.md
  js/element-addeventlistener/practice/akellbl4.md
  js/element-addeventlistener/practice/vindi-r.md
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
Labels: js, дока

#1615 Обновляет схему и добавляет новую в tools/static-types
  tools/static-types/images/compare.png
  tools/static-types/images/extra-step.png
  tools/static-types/index.md
Labels: доработка, кухня

#1614 Обновляет схемы в разделе инструменты
  tools/cli/images/cli-access.png
  tools/cli/images/cli-command.png
  tools/cli/images/cli-links.png
  tools/code-review/images/1.png
  tools/docker-compose/images/docker-compose-config.png
  tools/docker-data-management/images/docker-data-types.png
  tools/docker/images/1.png
  tools/dockerfile/images/docker-expose.png
  tools/dockerfile/images/docker-images.png
  tools/git-cli/images/high-level.png
  tools/git-cli/images/merge.png
  tools/multitasking-and-processes/images/1.png
  tools/multitasking-and-processes/images/2.png
  tools/multitasking-and-processes/images/3.png
  tools/multitasking-and-processes/images/5.png
  tools/multitasking-and-processes/images/6.png
  tools/version-control/images/1.png
  tools/version-control/images/2.png
Labels: доработка, кухня

#1595 Добавляет доку про overflow-wrap
  css/overflow-wrap/demos/default/index.html
  css/overflow-wrap/demos/values/index.html
  css/overflow-wrap/index.md
Labels: css, дока

#1613 Обновляет схему в html/aside
  html/aside/images/1.png
Labels: доработка, кухня

#1603 Добавляет доку про border-style
  css/border-style/demos/all/index.html
  css/border-style/index.md
  css/border/index.md
Labels: css, дока

#1561 Вносит исправление во флоу в главном README.md
  README.md
Labels: доработка, кухня

#1284 Добавляет инструкцию для папки people
  .yaspeller.json
  docs/README.md
  docs/contributing.md
  docs/people.md
Labels: кухня

#1602 Добавляет доку про pointer-events
  .yaspeller.json
  css/pointer-events/demos/none/index.html
  css/pointer-events/index.md
Labels: css, дока

#1620 Вносит мелкие правки в статью про `<html>`
  html/html/index.md
Labels: доработка, html

#1619 Вносит мелкие правки в статью про Поток документа
  html/flow/demos/margin-collapse-empty/index.html
  html/flow/demos/margin-collapse-siblings/index.html
  html/flow/demos/normal-animated/index.html
  html/flow/index.md
Labels: доработка, html

#1607 Добавляет статью «Протоколы TCP и UDP»
  .yaspeller.json
  tools/index.md
  tools/tcp-udp-protocols/index.md
  tools/tcp-udp-protocols/practice/igsekor.md
Labels: tools, статья

#1623 Вносит мелкие правки в статью про `<p>`
  html/p/index.md
  html/p/practice/vladimir.md
Labels: доработка, html

#1622 Вносит мелкие правки в статью про `<h1>`...`<h6>`
  html/h1-h6/index.md
  html/h1-h6/practice/vladimir.md
Labels: доработка, html

#1593 Добавляет статью «Паттерны Gateway и Backend-for-Frontend»
  .yaspeller.json
  tools/gateway-bff/images/bff-microservices.png
  tools/gateway-bff/images/clean-arch.png
  tools/gateway-bff/images/ddd.png
  tools/gateway-bff/images/front-microservices.png
  tools/gateway-bff/images/gateway-microservices.png
  tools/gateway-bff/images/three-layers.png
  tools/gateway-bff/index.md
  tools/index.md
Labels: tools, статья

#1645 Правит стили в демке к статье про `<meter>`
  html/meter/demos/every/index.html
Labels: доработка, html

#1644 Вносит правки в демки в подсказки статьи про `<details>`
  html/details/demos/details-open/index.html
  html/details/demos/details-summary/index.html
  html/details/index.md
  html/details/practice/lenaryan.md
Labels: доработка, html

#1643 Добавляет бэктики в статью про `<hidden>`
  html/hidden/index.md
Labels: доработка, html

#1642 Заменяет список на подзаголовки в статье про Глобальне атрибуты
  html/global-attrs/index.md
Labels: доработка, html

#1639 Правит пути в статье про `<embed>`
  html/embed/demos/embed-pdf/index.html
  html/embed/demos/files/sample.pdf
Labels: доработка, html

#1634 Вносит мелкие правки в статью про `<source>`
  html/source/index.md
Labels: доработка, html

#1637 Вносит мелкие правки в статью про `<ol>`
  html/ol/practice/ezhkov.md
Labels: доработка, html

#1636 Вставляет мелкие правки в статью про `<link>`
  html/link/index.md
Labels: доработка, html

#1635 Вносит микро правки в статью про `<a>`
  html/a/index.md
Labels: доработка, html

#1632 Вносит мелкие правки в статью про `<section>`
  html/section/index.md
  html/section/practice/solarrust.md
  html/section/practice/vladimir.md
Labels: доработка, html

#1640 Вносит мелкие правки в демо к статье про Таблицы
  html/tables/demos/table/index.html
Labels: доработка, html

#1631 Правит стили демки в статье про `<br>`
  html/br/demos/basic/index.html
  html/br/index.md
Labels: доработка, html

#1641 Вносит мелкие правки в код статьи про `<meta>`
  html/meta/index.md
Labels: доработка, html

#1609 Трансформирует воркфлоу проверок в PR
  .github/workflows/editorconfig.yml
  .github/workflows/frontmatter-check.yml
  .github/workflows/link-checker-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/surge-preview.yml
  .github/workflows/yaspeller-pr.yml
Labels: кухня
