Repository doka-guide/content, pull requests merged in 2021-08, with the labels that each got.

#1200 Редактирует статью про code review
  tools/code-review/index.md
  tools/code-review/practice/igorkamyshev.md
Labels: tools, доработка

#1202 Редактирует статью про button
  html/button/index.md
  html/button/practice/solarrust.md
Labels: html, доработка

#1204 Редактирует все статьи про animation
  .github/workflows/link-pr.yml
  css/animation-delay/index.md
  css/animation-direction/index.md
  css/animation-duration/index.md
  css/animation-fill-mode/index.md
  css/animation-iteration-count/index.md
  css/animation-name/index.md
  css/animation-play-state/index.md
  css/animation-timing-function/index.md
  css/animation/index.md
Labels: css, доработка

#1212 Редактирует статью про array.filter
  js/array-filter/index.md
  js/array-filter/practice/windrushfarer.md
Labels: js, доработка

#1210 Редактирует статью про div
  html/div/index.md
  html/div/practice/solarrust.md
  html/div/practice/vladimir.md
Labels: html, доработка

#1211 Редактирует статью про appearance
  css/appearance/index.md
Labels: css, доработка

#1218 Редактирует статью про array.find
  .github/workflows/link-pr.yml
  js/array-find/index.md
Labels: доработка, js

#1217 Редактирует статью про attr()
  css/attr/index.md
  css/attr/practice/ezhkov.md
Labels: доработка, css

#1192 Добавляет сборку индекса
  .github/scripts/search-index.js
  .github/workflows/update-date.yml
  .github/workflows/update-index.yml
Labels: кухня

#1206 Исправляет линк-чекер
  .github/workflows/frontmatter.yml
  .github/workflows/link-pr.yml
Labels: кухня, ошибка

#1209 Редактирует статью про Docker
  .github/scripts/frontmatter.js
  tools/docker/index.md
  tools/docker/practice/igsekor.md
Labels: доработка, tools

#1199 Редактирует статью про mvc
  js/architecture-mvc/index.md
Labels: доработка, js

#1112 Переносит статью о Фиктивных объектах
  .yaspeller.json
  js/testing-and-fake-objects/images/cover.png
  js/testing-and-fake-objects/index.md
Labels: доработка, js, статья

#1216 Редактирует статью про dl-dt-dd
  html/dl-dd-dt/index.md
Labels: доработка, html

#1203 Добавляет статью про блочную модель
  .yaspeller.json
  css/box-model/images/box-model-chrome.png
  css/box-model/images/box-model.png
  css/box-model/index.md
Labels: css, статья

#816 Добавляет доку по window.location
  js/window-location/images/schema.png
  js/window-location/index.md
Labels: js, дока

#1239 Исправляет дублирующиеся поля в мете
  js/architecture-mvc/index.md
Labels: js, ошибка

#1205 Редактирует статью про array.every
  js/array-every/index.md
  js/array-every/practice/windrushfarer.md
Labels: доработка, js

#1215 Меняет структуру индексных файлов для удобной работы
  css/index.md
  html/index.md
  tools/index.md
Labels: кухня

#1208 Добавляет статью про вендорные префиксы
  .yaspeller.json
  css/appearance/index.md
  css/font-smooth/index.md
  css/vendor-prefixes/images/vendor-prefixe-example.png
  css/vendor-prefixes/index.md
Labels: css, статья

#1226 Редизайн демо в статье span
  html/span/demos/company.html
  html/span/demos/show.html
  html/span/images/background.png
  html/span/images/background.svg
  html/span/index.md
  html/span/practice/solarrust.md
Labels: доработка, html, демо

#1227 Редизайн демо в статьях script и style
  html/script/demos/font-size-changer.html
  html/script/index.md
  html/style/demos/header.html
  html/style/demos/p.html
  html/style/index.md
Labels: доработка, html, демо

#1228 Редизайн демо в статьях q и svg
  html/q/demos/quote.html
  html/q/practice/solarrust.md
  html/svg/demos/svg-animation.html
  html/svg/index.md
Labels: доработка, html, демо

#1229 Редизайн демок в статье a
  html/a/demos/basic.html
  html/a/demos/image.html
  html/a/demos/mail.html
  html/a/index.md
Labels: доработка, html, демо

#1230 Редизайн демок в статьях blockquote и div
  html/blockquote/demos/blockquote.html
  html/blockquote/practice/solarrust.md
  html/div/demos/div.html
  html/div/index.md
Labels: доработка, html, демо

#1231 Редизайн демо в статье fieldset
  html/fieldset/demos/border-styling.html
  html/fieldset/demos/disabling.html
  html/fieldset/images/border.png
Labels: доработка, html, демо

#1234 Редизайн демо в статье h1-h6
  html/h1-h6/demos/cakes.html
  html/h1-h6/demos/headers.html
  html/h1-h6/index.md
Labels: доработка, html, демо

#1235 Редизайн демо в статьях header и nav
  html/header/demos/header.html
  html/header/index.md
  html/nav/demos/breadcrumbs.html
  html/nav/index.md
Labels: доработка, html, демо

#1236 Редизайн демо и одно новое в статье img
  html/img/demos/img-fix-width.html
  html/img/demos/img-overlay.html
  html/img/images/sleeping-dogs.png
  html/img/index.md
  html/img/practice/solarrust.md
Labels: доработка, html, демо

#1237 Редизайн демо в статье footer
  html/footer/demos/footer.html
  html/footer/index.md
Labels: доработка, html, демо

#1246 Нормализует стиль написания меток кода в Markdown
  tools/github-actions/practice/igsekor.md
Labels: кухня

#1245 Редактирует статью про array.foreach
  js/array-foreach/index.md
  js/array-foreach/practice/windrushfarer.md
Labels: доработка, js

#1223 Element.removeEventListener
  js/element-removeeventlistener/demos/index.html
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
Labels: js

#1232 Редизайн демо в статье form
  html/form/demos/email.html
  html/form/demos/forms.html
  html/form/index.md
Labels: доработка, html, демо

#1238 Редизайн демо в статьях input и label
  html/input/demos/inputs.html
  html/input/index.md
  html/label/demos/label-input.html
  html/label/index.md
Labels: доработка, html, демо

#1222 Добавляет правку меты
  .github/scripts/frontmatter.js
  .github/workflows/frontmatter-lint.yml
  .github/workflows/frontmatter.yml
Labels: кухня

#1244 Редактирует статью про address
  html/address/index.md
Labels: доработка, html

#1233 Редизайн демо в статье dl-dd-dt
  html/dl-dd-dt/demos/dl-dd-dt.html
  html/dl-dd-dt/index.md
Labels: доработка, html, демо

#1249 Редизайн демо в статье Class
  html/class/demos/class.html
  html/class/demos/no-class.html
  html/class/index.md
Labels: доработка, html, демо

#1251 Размеры и обложки для демок в video
  html/video/demos/background.html
  html/video/demos/formats.html
  html/video/demos/poster.html
  html/video/images/cinema-vs-reality.jpg
  html/video/images/frontend.jpg
  html/video/index.md
  html/video/practice/solarrust.md
Labels: доработка, html, демо

#1250 Редизайн демок в статье Устаревшие теги
  html/deprecated-tags/demos/marquee-fallback.html
  html/deprecated-tags/demos/marquee.html
  html/deprecated-tags/demos/nobr.html
  html/deprecated-tags/index.md
Labels: доработка, html, демо

#1220 Добавляет статью про специфичность
  css/specificity/index.md
  css/specificity/practice/pepelsbey.md
  css/specificity/practice/solarrust.md
Labels: css, статья

#1254 Редактирует статью про fieldset
  html/fieldset/index.md
  html/fieldset/practice/realetive.md
Labels: доработка, html

#1248 Обновляет обложки в гайде по флексбоксам
  css/flexbox-guide/images/cover.png
  css/flexbox-guide/images/covers/desktop.png
  css/flexbox-guide/images/covers/mobile.png
  css/flexbox-guide/index.md
Labels: доработка, статья

#1269 Обновляет ссылочки на актуальные
  css/id-selector/index.md
  css/important/index.md
  css/nesting-selector/index.md
  html/head/index.md
  html/option/index.md
  html/picture/index.md
Labels: доработка

#1242 Добавляет плейсхолдер для свойства all
  css/all/index.md
  css/global-keywords/index.md
  people/doka-dog/index.md
Labels: css, placeholder

#1255 Редактирует статью про autocomplete
  html/autocomplete/index.md
  html/autocomplete/practice/lenaryan.md
Labels: доработка, html

#1267 Добавляет статью про контекст наложения
  .yaspeller.json
  css/stacking-context/demos/default.html
  css/stacking-context/demos/parent.html
  css/stacking-context/demos/under-bkg.html
  css/stacking-context/demos/z-index.html
  css/stacking-context/index.md
Labels: css, статья

#1258 Редизайн демок в Element.scroll-wheel
  js/element-scroll-wheel/demos/index.html
  js/element-scroll-wheel/demos/scroll-move.html
  js/element-scroll-wheel/images/snail.svg
  js/element-scroll-wheel/index.md
Labels: доработка, js, демо

#1277 Новые обложки для статьи про Таблицы
  html/tables/images/covers/desktop.svg
  html/tables/images/covers/mobile.svg
  html/tables/index.md
Labels: доработка, html

#1278 Новые обложки для статьи про UL
  html/ul/images/cover.png
  html/ul/images/covers/desktop.svg
  html/ul/images/covers/mobile.svg
  html/ul/index.md
Labels: доработка, html

#1279 Новые обложки для статьи про META
  html/meta/images/covers/desktop.svg
  html/meta/images/covers/mobile.svg
  html/meta/index.md
Labels: доработка, html

#1280 Новые обложки для гайда по Флексбоксам
  css/flexbox-guide/images/covers/desktop.png
  css/flexbox-guide/images/covers/desktop.svg
  css/flexbox-guide/images/covers/mobile.png
  css/flexbox-guide/images/covers/mobile.svg
  css/flexbox-guide/index.md
Labels: доработка, css

#1241 Добавляет статью про :root
  css/custom-properties/index.md
  css/root/demos/root.html
  css/root/index.md
  css/root/practice/lenaryan.md
Labels: css, дока

#1287 Редактирует статью про поток
  html/flow/index.md
Labels: доработка, css

#1282 Добавляет плейсхолдер про <optgroup>
  css/disabled-enabled/index.md
  html/optgroup/index.md
  html/option/index.md
Labels: html, placeholder

#1283 Добавляет плейсхолдер про <meter>
  .yaspeller.json
  html/label/index.md
  html/meter/images/meter-chrome.png
  html/meter/index.md
Labels: html, placeholder

#1281 Добавляет плейсхолдер про <base>
  html/base/index.md
  html/head/index.md
Labels: html, placeholder

#1292 Исправляет команду для проверки нужных папок
  .github/scripts/frontmatter.js
  .github/workflows/frontmatter-lint.yml
  tools/network/index.md
  tools/xml/index.md
Labels: кухня, ошибка

#1207 Добавляет статью Element.dataset
  .yaspeller.json
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Labels: js

#1285 Добавляет плейсхолдер про <output>
  html/label/index.md
  html/output/index.md
Labels: html, placeholder

#1289 Добавляет плейсхолдер для <object>
  html/embed/index.md
  html/object/index.md
Labels: html, placeholder

#1290 Добавляет плейсхолдер про <datalist>
  html/datalist/demos/browsers.html
  html/datalist/index.md
  html/option/index.md
Labels: html, placeholder

#1293 Добавляет плейсхолдер про :is()
  css/is/index.md
  css/vendor-prefixes/index.md
Labels: css, placeholder

#1288 Добавляет плейсхолдер для <progress>
  html/label/index.md
  html/progress/index.md
Labels: html, placeholder

#1243 Редактирует статью про bg-color
  css/background-color/index.md
  css/background-color/practice/solarrust.md
Labels: доработка, css

#1117 Добавляет черновик JS-индекса
  js/index.md
Labels: кухня, js

#1298 Добавляет видео работы в статью про Debounce
  js/debounce/images/poster-debounce.png
  js/debounce/index.md
  js/debounce/videos/debounce.mp4
Labels: доработка, js

#1300 Добавляет новые обложки статье про <select>
  html/select/images/covers/desktop.svg
  html/select/images/covers/mobile.svg
  html/select/index.md
Labels: доработка, html

#1301 Меняет PNG-обложки на SVG в статье про <article>
  html/article/images/covers/desktop.png
  html/article/images/covers/desktop.svg
  html/article/images/covers/mobile.png
  html/article/images/covers/mobile.svg
  html/article/index.md
Labels: доработка, html

#1181 Добаляет статью «Протокол HTTP»
  tools/http-protocol/images/client-server-http.png
  tools/http-protocol/index.md
  tools/http-protocol/practice/igsekor.md
  tools/network/index.md
  tools/web-server/index.md
Labels: tools, статья

#1225 Добавляет статью «Что может читать сайт, кроме браузера?»
  .yaspeller.json
  tools/site-readers/images/1.png
  tools/site-readers/images/2.png
  tools/site-readers/index.md
Labels: tools, статья

#1272 Добавлена статья Element.getAttribute
  js/element-getattribute/index.md
Labels: js

#1214 Создаёт скрипт для формирования шаблона статьи
  new.sh
Labels: вопрос, кухня

#1295 Преобразует экшен для превью
  .github/workflows/surge-preview.yml
Labels: кухня, ошибка

#1247 Убирает из кода чужеродное
  .github/workflows/link-pr.yml
  tools/docker-compose/index.md
  tools/github-actions/practice/igsekor.md
Labels: доработка, js, tools

#1256 Редизайн демок в статьях includes и Elemet.scrollIntoView
  js/element-scroll-scrollintoview/demos/index.html
  js/element-scroll-scrollintoview/images/star.svg
  js/includes/demos/includes.html
  js/includes/practice/nlopin.md
Labels: доработка, js, демо

#1257 Редизайн демок в Element.mouseOver и Element.mouseOver
  js/element-mouseout/demos/index.html
  js/element-mouseout/index.md
  js/element-mouseover/demos/index.html
  js/element-mouseover/index.md
Labels: доработка, js, демо

#1253 Редактирует статью про docker compose
  tools/docker-compose/index.md
  tools/docker-compose/practice/igsekor.md
Labels: доработка, tools

#1259 Редизайн демок в Событиях
  js/events/demos/bubbling-chain.html
  js/events/demos/bubbling.html
  js/events/demos/click.html
  js/events/demos/onclick.html
  js/events/demos/this.html
  js/events/index.md
Labels: доработка, js, демо

#1260 Редизайн демо в статье Элемент
  js/element/demos/dom-html.html
  js/element/demos/dom.html
  js/element/index.md
Labels: доработка, js, демо

#1261 Перекрашивает демо в Событие load и DOMContentLoaded
  js/event-load-and-domcontentloaded/demos/basic.html
  js/event-load-and-domcontentloaded/demos/overloaded.html
  js/event-load-and-domcontentloaded/index.md
Labels: доработка, js, демо

#1262 Перекрашивает демо в статье Element.Keydown/Keyup
  js/element-keydown-keyup/demos/keydown.html
  js/element-keydown-keyup/demos/keyup.html
  js/element-keydown-keyup/index.md
Labels: доработка, js, демо

#1263 Перекрашивает демки в Element.AddEventListener
  js/element-addeventlistener/demos/keyboard-events.html
  js/element-addeventlistener/demos/mouse-events.html
  js/element-addeventlistener/practice/vindi-r.md
Labels: доработка, js, демо

#1264 Редизайн демок в Array.map и Array.reduce
  js/array-map/demos/index.html
  js/array-map/index.md
  js/array-reduce/demos/index.html
  js/array-reduce/index.md
Labels: доработка, js, демо

#1265 Редизайн демов к Array.every, Array.find, Array.some
  js/array-every/demos/index.html
  js/array-every/index.md
  js/array-find/demos/index.html
  js/array-find/index.md
  js/array-some/demos/index.html
  js/array-some/index.md
Labels: доработка, js, демо

#1266 Редизайн демок в Array.filter и Array.forEach
  js/array-filter/demos/index.html
  js/array-filter/index.md
  js/array-foreach/demos/index.html
  js/array-foreach/index.md
Labels: доработка, js, демо

#1327 Редактирует статью про работу с формами
  .yaspeller.json
  js/deal-with-forms/index.md
Labels: доработка, js

#1333 Добавляет демо в статью Кастомные свойства
  css/custom-properties/demos/index.html
  css/custom-properties/demos/inline.html
  css/custom-properties/demos/sizes.html
  css/custom-properties/demos/theme.html
  css/custom-properties/index.md
  css/custom-properties/practice/ezhkov.md
Labels: css, демо

#1380 Меняет способ комментирования превью в PR
  .github/workflows/surge-preview.yml
Labels: кухня

#1378 Поясняет «странности» процентов в bg-pos
  css/background-position/index.md
Labels: доработка, css, дока

#1377 Обновляет документацию по демкам
  .yaspeller.json
  docs/demos.md
Labels: кухня, демо

#1390 Добавляет плейсхолдер для доки про text-underline-offset
  css/text-underline-offset/index.md
Labels: css, дока, placeholder

#1389 Добавляет плейсхолдер для доки про text-size-adjust
  css/text-size-adjust/index.md
Labels: css, дока, placeholder

#1388 Добавляет плейсхолдер для доки про text-underline-position
  css/text-underline-position/index.md
Labels: css, дока, placeholder

#1386 Редактирует статью про box-shadow
  .yaspeller.json
  css/box-shadow/demos/button.html
  css/box-shadow/demos/skeuomorph.html
  css/box-shadow/index.md
Labels: доработка, css

#1393 Добавляет статьи в индекс JS
  js/index.md
Labels: js
