Repository doka-guide/content, pull requests merged in 2021-10, with the labels that each got.

#1746 Мелкие правки для тестов в PR
  .github/workflows/pr-checks.yml
Labels: кухня

#1775 Улучшает формулировку в описании загрузки ресурсов во время парсинга …
  .yaspeller.json
  js/how-the-browser-creates-pages/index.md
Labels: js

#1783 Добавляет обложку в html/video
  html/video/images/covers/desktop.svg
  html/video/images/covers/mobile.svg
  html/video/index.md
Labels: html

#2217 Исправляет опечатки в статье «Веб-сервер Nginx»
  tools/nginx-web-server/index.md
Labels: tools, редактура

#2157 Добавляет пример пиксель-арта при помощи box-shadow
  .yaspeller.json
  css/box-shadow/demos/pixelart/index.html
  css/box-shadow/practice/mefody.md
Labels: улучшение, css

#2198 Заменяет some на every
  js/array-every/index.md
Labels: js, ошибка

#2229 Добавляет игнор
  .prettierignore
Labels: кухня

#2194 Чинит орфографию и оформление в статье про YAML
  tools/yaml/index.md
Labels: улучшение, tools

#2239 Добавляет информацию про разделители
  js/number/index.md
Labels: улучшение, js, дока
