Repository doka-guide/content, pull requests merged in 2021-11, with the labels that each got.

#2249 Правит стиль кода и ошибку с двумя const в array.some
  js/array-some/index.md
Labels: js, ошибка

#2212 Исправление фона картинок в html/svg
  html/svg/images/dots.png
  html/svg/images/dots.svg
Labels: улучшение, html

#2218 Добавляет статью про `text-decoration-skip-ink`
  .yaspeller.json
  css/text-decoration-skip-ink/demos/overline/index.html
  css/text-decoration-skip-ink/demos/underline/index.html
  css/text-decoration-skip-ink/index.md
Labels: css, демо

#2244 Опечатка в значении количества пикселей?
  css/position/index.md
Labels: улучшение, css

#2210 Обновляет доку про column-width
  .yaspeller.json
  css/column-width/demos/adaptive/index.html
  css/column-width/demos/basic/index.html
  css/column-width/index.md
Labels: css, дока

#2214 Исправление высоты демо в css/stroke
  css/stroke/demos/pattern/index.html
  css/stroke/index.md
Labels: улучшение, демо

#2248 Убирает рекомендацию по именованию веток
  docs/contributing.md
Labels: кухня

#2251 Исправляет опечатки
  js/setinterval/practice/nlopin.md
Labels: js, ошибка, редактура

#2241 Исправляет опечатки в статье «<html>»
  .yaspeller.json
  html/html/index.md
  html/html/practice/solarrust.md
Labels: html, редактура

#2256 Унифицирует написание сервиса Can I use
  css/attr/index.md
  css/color/index.md
  css/font-smooth/index.md
  css/grid-guide/index.md
  css/overflow-wrap/index.md
  css/vendor-prefixes/index.md
  css/web-colors/index.md
Labels: css, редактура

#2255 Правит написание "тега"
  css/lang/index.md
  tools/dockerfile/practice/igsekor.md
Labels: css, tools, редактура

#2245 Центрирует пиксельную демку
  css/box-shadow/demos/pixelart/index.html
Labels: css, демо

#2252 Добавляет список с новыми материалами
  CHANGELOG.md
Labels: вопрос, кухня

#2220 Редактирует раздел о методах и свойствах на примитивах
  js/objects-objects-everywhere/index.md
Labels: js, редактура

#2250 Форматирует примеры в статье о массивах
  js/arrays/index.md
  js/arrays/practice/nlopin.md
Labels: улучшение, js

#2270 Исправление команды для запуска линк-чеккера
  .github/workflows/link-checker-all.yml
Labels: кухня, ошибка

#2263 Меняет флоу автоматизации для PR
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
Labels: кухня, ошибка

#2267 Чинит фильтр для линтера меты
  .github/workflows/pr-checks.yml
Labels: кухня, ошибка

#2259 Добавляет `text-decoration-skip-ink` в индекс CSS
  css/index.md
Labels: улучшение, css

#2209 Добавляет статью про атрибут novalidate
  .yaspeller.json
  css/invalid-valid/index.md
  html/form/index.md
  html/index.md
  html/novalidate/demos/form-validation/index.html
  html/novalidate/index.md
Labels: html, дока

#2236 Обновляет доку про тег <strong>
  html/strong/demos/view/index.html
  html/strong/index.md
Labels: улучшение, html

#2257 Удаляет скриншоты из браузера IE
  html/fieldset/images/win-7-ie9.png
  html/fieldset/images/win-8-ie10.png
  html/fieldset/index.md
  html/legend/images/win-7-ie9.png
  html/legend/images/win-8-ie10.png
  html/legend/index.md
Labels: улучшение, вопрос, html

#2235 Добавляет доку про column-fill
  css/column-fill/demos/auto/index.html
  css/column-fill/demos/balance/index.html
  css/column-fill/index.md
  css/index.md
Labels: css, дока

#2222 Исправляет демо в List-style-type
  css/list-style-type/demos/basic/index.html
  css/list-style-type/demos/custom/index.html
  css/list-style-type/demos/empty-content/index.html
  css/list-style-type/demos/list-style-type/index.html
  css/list-style-type/demos/ol-no-marker/index.html
  css/list-style-type/demos/ul-no-marker/index.html
  css/list-style-type/images/custom-list.png
  css/list-style-type/index.md
Labels: css, демо

#2226 Добавляет доку про column-span
  css/column-span/demos/with-span/index.html
  css/column-span/demos/without-span/index.html
  css/column-span/index.md
Labels: css, дока

#2280 Добавляет первые ноябрьские
  CHANGELOG.md
Labels: кухня

#2284 Обновляет Node.js в экшенах
  .github/workflows/editorconfig.yml
  .github/workflows/frontmatter-lint.yml
  .github/workflows/maintainer-helper.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
  .github/workflows/sort-dictionary.yml
  .github/workflows/surge-preview.yml
  .github/workflows/update-dates.yml
  .github/workflows/update-index.yml
  .github/workflows/yaspeller-all.yml
Labels: кухня

#2281 Исправляет опечатку
  js/use-strict/index.md
Labels: js, редактура

#2272 Заменяет название раздела "В работе" на "На практике"
  README.md
  css/inheritance/index.md
  docs/contributing.md
  docs/examples/article.md
  docs/examples/doka.md
  docs/styleguide.md
  js/window-history/index.md
Labels: улучшение, кухня

#2287 Правит опечатку: "функцию" на "функция"
  js/shallow-or-deep-clone/index.md
Labels: ошибка, редактура

#2288 Правит опечатку в git-команде
  tools/version-control/index.md
Labels: tools, ошибка

#2195 Добавляет доку про var()
  css/index.md
  css/var/demos/substitution/index.html
  css/var/index.md
  people/frontend-sensei/index.md
Labels: css, дока

#2207 Добавляет статьи про `column-rule` и его составляющие
  .yaspeller.json
  css/column-rule-color/demos/basic/index.html
  css/column-rule-color/index.md
  css/column-rule-style/demos/multiple-values/index.html
  css/column-rule-style/index.md
  css/column-rule-width/demos/multiple-values/index.html
  css/column-rule-width/index.md
  css/column-rule/demos/multiple-values/index.html
  css/column-rule/index.md
Labels: css, дока

#2307 Обновляет картинки в гайде по гридам
  css/grid-guide/images/covers/desktop.svg
  css/grid-guide/images/covers/mobile.svg
Labels: улучшение, css, ошибка

#2299 Реализация деплоя
  .github/workflows/product-deploy.yml
Labels: кухня

#2298 Исправляет и сжимает изображения в статье про <img>
  html/img/demos/img-fix-width/images/dogs.png
  html/img/demos/img-overlay/images/sleeping-dogs.png
Labels: улучшение

#2302 Добавляет доку про <var>
  html/var/demos/basic/index.html
  html/var/demos/formula/index.html
  html/var/index.md
Labels: html, дока

#2309 Добавляет новые статьи в индекс CSS
  css/index.md
Labels: улучшение, css

#2289 Добавляет доку про border-width
  css/border-width/demos/basic/index.html
  css/border-width/demos/different-border/index.html
  css/border-width/index.md
  css/border/index.md
Labels: css, дока

#2290 Добавляет доку про тег `<small>`
  .yaspeller.json
  html/small/demos/basic/index.html
  html/small/demos/pechkin/index.html
  html/small/index.md
Labels: css, дока

#2323 Добавляет border-width в индекс CSS
  css/index.md
Labels: кухня, css

#2294 Обновляет список новинок
  CHANGELOG.md
Labels: кухня

#2322 Нужный пробел в объяснении :empty
  css/empty/index.md
Labels: css, ошибка

#2319 Исправляет отступы
  html/tables/index.md
Labels: улучшение, html

#2320 Исправляет опечатку в статье Принцип каскада
  css/cascade/index.md
Labels: улучшение, редактура

#2324 Расставляет ссылки на связанные статьи
  css/border-image/index.md
  css/column-rule-width/index.md
  css/rem-em/index.md
  js/element-style/index.md
Labels: улучшение, css

#2330 Вносит правку в статью о событиях
  js/event/index.md
Labels: js, ошибка

#2333 Исправляет "считается мутирование" на "считается мутированием"
  js/ref-type-vs-value-type/practice/windrushfarer.md
Labels: js, ошибка

#2331 Исправляет "почитать скидку" на "посчитать скидку"
  js/if-else/index.md
Labels: js, ошибка

#2321 Отпиливает всё про Netlify
  .github/workflows/product-deploy.yml
  README.md
Labels: кухня

#2338 Исправляет ссылку на статью о промисах
  js/promise-all/index.md
Labels: js, дока, ошибка

#2247 Добавляет статью про Promise.allSettled
  js/index.md
  js/promise-allsettled/index.md
  js/promise-allsettled/practice/vadymstebakov.md
  people/vadymstebakov/index.md
Labels: js, дока

#2300 Обновляет доку про <s>
  html/s/demos/basic/index.html
  html/s/demos/prices/index.html
  html/s/index.md
Labels: html, дока

#2301 Добавляет доку про <cite>
  .yaspeller.json
  html/cite/demos/bad/index.html
  html/cite/demos/basic/index.html
  html/cite/demos/good/index.html
  html/cite/index.md
Labels: html, дока

#2231 Редактирует практику веб-сервера (#1963)
  tools/web-server/practice/igsekor.md
Labels: улучшение, tools

#2341 Исправляет опечатку в изображении
  js/how-the-browser-creates-pages/images/3.png
Labels: улучшение, редактура

#2345 Небольшие правки в `Promise.allSettled()`
  js/promise-allsettled/index.md
Labels: улучшение, редактура

#2346 Вносит номинальные правки в PR Labeler
  .github/scripts/labeler.js
  .github/workflows/pr-labels.yml
  .labeler.json
Labels: кухня

#2352 Небольшие правки в статью «Кто читает сайт»
  tools/site-readers/index.md
Labels: tools, редактура

#2354 Убирает сложности с ветками
  docs/contributing.md
Labels: улучшение

#2261 Вносит лингвистические правки
  css/lang/demos/q/index.html
  css/lang/index.md
Labels: улучшение, редактура

#2328 Редактирование статьи про тег input
  html/input/index.md
  people/whyme0/index.md
Labels: улучшение, html

#2357 Исправляет опечатку
  js/programming-paradigms/index.md
Labels: ошибка, редактура

#2277 Обновляет информацию о <sub> и <sup>
  html/sub/demos/basic/index.html
  html/sub/demos/nested/index.html
  html/sub/demos/sup/index.html
  html/sub/demos/variables/index.html
  html/sub/index.md
  html/sup/demos/basic/index.html
  html/sup/demos/nested/index.html
  html/sup/demos/sub/index.html
  html/sup/demos/variables/index.html
  html/sup/index.md
Labels: улучшение, html

#2293 Редизайнит демо align-items
  css/align-items/demos/align-items/index.html
  css/align-items/index.md
  css/flexbox-guide/demos/baseline/index.html
  css/flexbox-guide/index.md
Labels: css, демо

#2335 Уточняет информацию по `overflow: clip`
  css/overflow/index.md
Labels: улучшение, css

#2348 Обновляет информацию про поддержку в Safari
  css/scroll-behavior/index.md
Labels: улучшение, css

#2353 Исправляет экшен для превью
  .github/workflows/pr-labels.yml
  .github/workflows/pr-preview.yml
Labels: кухня, ошибка

#2246 Добавляет раздел "Детали реализации" для статьи про Math.random
  .yaspeller.json
  js/math-random/index.md
Labels: улучшение, js, редактура

#2260 Добавляет дизайн для демо в Number.isNaN
  js/number-is-nan/demos/index/index.html
  js/number-is-nan/demos/vindi-r-XQPBGG/index.html
  js/number-is-nan/index.md
  js/number-is-nan/practice/doka-dog.md
Labels: js, демо

#2359 Удаляет пустые дескрипшены
  css/column-width/index.md
  css/columns/index.md
  css/font-feature-settings/index.md
  css/font-kerning/index.md
  css/font-language-override/index.md
  css/font-optical-sizing/index.md
  css/font-size-adjust/index.md
  css/font-stretch/index.md
  css/font-synthesis/index.md
  css/font-variant-alternates/index.md
  css/font-variant-caps/index.md
  css/font-variant-east-asian/index.md
  css/font-variant-ligatures/index.md
  css/font-variant-numeric/index.md
  css/font-variant-position/index.md
  css/font-variant/index.md
  css/font-variation-settings/index.md
  css/font/index.md
  css/lang/index.md
  css/outline-offset/index.md
  css/resize/index.md
  css/supports/index.md
  css/touch-action/index.md
  css/user-select/index.md
  css/widows/index.md
Labels: улучшение, css, html

#2360 Обновляет демо в статьях про селекторы
  css/combined-selectors/demos/stars-rating/index.html
  css/combined-selectors/index.md
  css/combined-selectors/practice/realetive.md
  css/tag-selector/demos/example/index.html
  css/tag-selector/index.md
Labels: улучшение, css, демо

#2374 Исправляет опечатку в статье "Виды веб-приложений"
  js/web-app-types/index.md
Labels: улучшение

#2376 Обновляет обложки в статье
  html/article/images/covers/desktop.svg
  html/article/images/covers/mobile.svg
Labels: html

#2381 Исправлена ошибка в статье outerHTML
  js/element-outerhtml/index.md
Labels: улучшение

#2361 Исправляет ошибку в примере
  js/set/index.md
Labels: js, ошибка

#2368 Удаляет пустую строку в конце блоков кода
  css/text-decoration/index.md
  js/browsers-storages/index.md
  js/local-storage/index.md
  js/react-and-alternatives/index.md
  js/session-storage/index.md
Labels: улучшение, css, js

#2375 Удаляет лишний триггер
  .github/workflows/pr-labels.yml
  .github/workflows/pr-preview.yml
  .labeler.json
Labels: кухня

#2316 Добавляет доку про `<bdi>`
  html/bdi/demos/basic/index.html
  html/bdi/demos/userlist-b/index.html
  html/bdi/demos/userlist-bdi/index.html
  html/bdi/index.md
Labels: html, дока

#2385 Добавляет обложку в статью js/promise
  js/promise/images/covers/desktop.svg
  js/promise/images/covers/mobile.svg
  js/promise/index.md
Labels: улучшение, кухня, js

#2384 Добавляет обложку в статью про css/hover
  css/hover/images/covers/desktop.svg
  css/hover/images/covers/mobile.svg
  css/hover/index.md
Labels: улучшение, кухня, css

#2377 Правит опечатку на странице по `flex-flow`
  css/flex-flow/index.md
Labels: улучшение, css

#2382 Удаляет служебную приписку
  css/stacking-context/index.md
Labels: улучшение, css

#2378 Обновляет обложки в статье про таблицы
  html/tables/images/covers/desktop.svg
  html/tables/images/covers/mobile.svg
Labels: улучшение, кухня, html

#2366 Обновляет информацию по свойству `justify-content`
  css/flexbox-guide/index.md
  css/justify-content/index.md
Labels: улучшение, css

#2362 Удаляет лишнее в гайде по гридам
  css/column-row-gap/index.md
  css/gap/index.md
  css/grid-auto-columns-rows/index.md
  css/grid-auto-flow/index.md
  css/grid-guide/index.md
  css/justify-items/index.md
Labels: улучшение, css, редактура

#2224 Удаляет ссылки из текста при подготовке поискового индекса
  .github/scripts/search-index.js
Labels: кухня

#2386 Исправляет опечатку
  js/modules/index.md
Labels: улучшение, js

#2365 Вносит правки в статье "Асинхронность в JS"
  js/async-in-js/practice/bespoyasov.md
Labels: улучшение, js, редактура

#2363 Добавляет подсказку в статью про `child`
  css/child/index.md
Labels: улучшение, css

#2390 Удаляет точки до и после эмодзи
  css/cascade/index.md
  css/display/practice/solarrust.md
  css/object-fit/index.md
  css/outline/index.md
  html/form/index.md
  js/string/index.md
Labels: улучшение, css, html, js

#2391 Причёсывает демо в статьях для фичеринга
  .yaspeller.json
  css/display/demos/fade/index.html
  css/display/practice/solarrust.md
  html/div/demos/div/index.html
  html/div/index.md
Labels: улучшение, css, html, демо

#2394 Переносит обложку в правильную статью
  css/background-image/images/covers/desktop.svg
  css/background-image/images/covers/mobile.svg
  css/background-image/index.md
  css/hover/index.md
Labels: улучшение, кухня, css

#2344 Обновляет список изменений
  CHANGELOG.md
Labels: кухня

#2400 Исправлено обращение с «ты» на «вы»
  css/display/index.md
Labels: улучшение, css

#2399 Исправлена опечатка в названии свойства
  css/inheritance/index.md
Labels: улучшение, css

#2387 Добавляет исправленную картинку в статью про цвета
  css/web-colors/images/hex.png
Labels: css, ошибка

#2393 Редактирует статью про box model
  css/box-model/index.md
Labels: улучшение, css

#2389 Оформляет подписи к картинкам в гайде по гридам
  css/grid-guide/index.md
Labels: улучшение, css

#2395 Добавляет новые статьи в индекс HTML
  html/index.md
Labels: улучшение, html

#2403 Поджимает обложки
  html/flow/images/covers/desktop.svg
  html/flow/images/covers/mobile.svg
  html/tables/images/covers/mobile.svg
  js/alert/images/covers/desktop.svg
Labels: улучшение

#2334 Добавляет статью про Markdown
  people/cergmin/index.md
  tools/index.md
  tools/markdown/demos/aligned-table/index.html
  tools/markdown/demos/atx-style/index.html
  tools/markdown/demos/code-block/index.html
  tools/markdown/demos/code-inline/index.html
  tools/markdown/demos/code-intend/index.html
  tools/markdown/demos/different-markers/index.html
  tools/markdown/demos/emphasis-escape/index.html
  tools/markdown/demos/emphasis/index.html
  tools/markdown/demos/example/index.html
  tools/markdown/demos/hr/index.html
  tools/markdown/demos/img/images/dog.png
  tools/markdown/demos/img/index.html
  tools/markdown/demos/line-break/index.html
  tools/markdown/demos/link-auto/index.html
  tools/markdown/demos/link-inline/index.html
  tools/markdown/demos/link-ref/index.html
  tools/markdown/demos/list-nesting-intend/index.html
  tools/markdown/demos/list-nesting/index.html
  tools/markdown/demos/marked-list/index.html
  tools/markdown/demos/ordered-list-starts-with/index.html
  tools/markdown/demos/ordered-list/index.html
  tools/markdown/demos/quote-nesting/index.html
  tools/markdown/demos/quote1/index.html
  tools/markdown/demos/quote2/index.html
  tools/markdown/demos/setext-style/index.html
  tools/markdown/demos/strikethrough/index.html
  tools/markdown/demos/table/index.html
  tools/markdown/demos/tasks-list/index.html
  tools/markdown/images/list-nesting.svg
  tools/markdown/index.md
  tools/markdown/practice/cergmin.md
Labels: tools, статья

#2406 Исправляет опечатки
  css/cursor/index.md
Labels: улучшение, css

#2306 Добавляет статью про `conic-gradient`
  css/conic-gradient/demos/chess-board/index.html
  css/conic-gradient/demos/color-circle/index.html
  css/conic-gradient/demos/example-advanced/index.html
  css/conic-gradient/demos/example/index.html
  css/conic-gradient/demos/pie-chart/index.html
  css/conic-gradient/demos/pyramid/index.html
  css/conic-gradient/demos/sun/index.html
  css/conic-gradient/index.md
  css/conic-gradient/practice/mitorun.md
  people/mitorun/index.md
Labels: css, дока

#2342 Обновляет доки по `<del>` и `<ins>`
  html/del/demos/attributes/index.html
  html/del/demos/basic/index.html
  html/del/demos/code/index.html
  html/del/index.md
  html/del/practice/xpleesid.md
  html/ins/demos/attributes/index.html
  html/ins/demos/basic/index.html
  html/ins/demos/code/index.html
  html/ins/index.md
  html/ins/practice/xpleesid.md
Labels: html, дока

#2383 Добавляет доку про `<dfn>`
  html/dfn/demos/basic/index.html
  html/dfn/demos/link/index.html
  html/dfn/index.md
Labels: html, дока

#2404 Добавляет белую подложку для картинки про HSL
  css/web-colors/images/hsl.png
Labels: улучшение, css

#2409 Удаляет ошибочную фразу про Фотошоп
  css/stacking-context/index.md
Labels: css, ошибка

#2013 Добавляет доку по Array.reverse
  js/array-reverse/index.md
  js/index.md
Labels: js, дока

#2411 Добавляет новые статьи в индекс, обновляет ченджлог
  CHANGELOG.md
  css/index.md
  html/index.md
Labels: улучшение, css, html

#2421 Обновляет картинки в статьях про инструменты
  tools/agile/images/waterfall.png
  tools/ci-cd/images/1.png
  tools/docker-compose/images/docker-compose-wordpress.png
  tools/encoding/images/1.png
  tools/encoding/images/2.png
  tools/file/images/file-system.png
  tools/gateway-bff/images/bff-microservices.png
  tools/gateway-bff/images/clean-arch.png
  tools/gateway-bff/images/ddd.png
  tools/gateway-bff/images/front-microservices.png
  tools/gateway-bff/images/gateway-microservices.png
  tools/gateway-bff/images/three-layers.png
  tools/http-protocol/images/client-server-http.png
  tools/microservices/images/1.png
  tools/microservices/images/2.png
  tools/network-models/images/1.png
  tools/network/images/1.png
  tools/network/images/2.png
  tools/site-readers/images/1.png
  tools/site-readers/images/2.png
  tools/web-server/images/1.png
Labels: улучшение, кухня, tools

#2413 Всегда показывать, что всё ок при установке ярлыков
  .github/workflows/pr-labels.yml
Labels: кухня

#2422 Обновляет картинки в статье про Выражения и инструкции
  js/expressions-vs-statements/images/2.png
  js/expressions-vs-statements/images/3.png
  js/expressions-vs-statements/images/4.png
  js/expressions-vs-statements/images/5.png
  js/expressions-vs-statements/images/6.png
Labels: js

#2429 Исправляет опечатку в статье "Порождающие паттерны проектирования"
  js/design-patterns-creational/index.md
Labels: улучшение, js

#2412 Редактирует статью про трехслойную архитектуру
  js/clean-architecture/index.md
Labels: улучшение, js

#2423 Добавил z-index про который говорится в тексте, но нет в примере
  css/stacking-context/index.md
Labels: улучшение, css

#2426 Добавил высоты ifram, чтобы контент отображался без скроллов
  css/attr/index.md
  css/attr/practice/ezhkov.md
Labels: улучшение, css

#2420 Добавляет обложку для css/:hover
  css/hover/images/covers/desktop.svg
  css/hover/images/covers/mobile.svg
  css/hover/index.md
Labels: улучшение, css

#2433 Fix typo
  js/fetch/practice/windrushfarer.md
Labels: улучшение, js

#2434 Исправляет ссылку на YAML в статье про GitHub Actions
  tools/github-actions/index.md
Labels: улучшение, tools

#2436 Update index.md
  css/place-items/index.md
Labels: улучшение, css

#2437 Update index.md
  css/grid-guide/index.md
Labels: улучшение, css

#2392 Добавляет статью про скринридеры
  .yaspeller.json
  html/screenreaders/demos/list-with-links/index.html
  html/screenreaders/demos/visually-hidden-text/index.html
  html/screenreaders/images/0.png
  html/screenreaders/images/1.png
  html/screenreaders/images/2.png
  html/screenreaders/images/3.png
  html/screenreaders/images/4.png
  html/screenreaders/images/5.png
  html/screenreaders/images/video-cover.png
  html/screenreaders/index.md
  html/screenreaders/practice/tatianafokina.md
  html/screenreaders/video/list-and-screenreaders.mp4
  people/tatianafokina/index.md
Labels: html, статья

#2442 Добавляет пропущенную запятую в статье про GitHub Actions
  tools/github-actions/index.md
Labels: улучшение, tools

#2439 Fix/element click
  js/element-click/demos/Lopinopulos-gJZxeK/index.html
  js/element-click/index.md
Labels: улучшение, js

#2430 Экранирует символы в таблице
  js/logic-operators/index.md
Labels: улучшение, js

#2447 Решает вопрос #2446
  html/dl-dd-dt/index.md
Labels: улучшение, html

#2432 Исправляет падающий сортировщик словаря
  .github/workflows/sort-dictionary.yml
Labels: кухня, ошибка

#2449 Исправление тега dd в примере верстки description list
  html/dl-dd-dt/index.md
Labels: улучшение, html

#2435 Исправляет превью
  .github/workflows/pr-preview.yml
Labels: кухня, эксперимент

#2452 Опечатки
  css/border/practice/solarrust.md
  css/place-items/index.md
  css/stroke/practice/realetive.md
Labels: улучшение, css

#2468 Правит пример из Element.dataset
  js/element-dataset/index.md
Labels: улучшение, js

#2467 Обновляет путь до демки
  js/element/index.md
Labels: улучшение, js, ошибка

#2465 Опечатка в примере для localStorage
  js/local-storage/practice/akellbl4.md
Labels: улучшение, js

#2464 Опечатки
  js/react-and-alternatives/index.md
  js/reactivity/index.md
Labels: улучшение, js

#2459 Добавляет практику об угловых скобках для ссылок со скобками в адресе
  tools/markdown/practice/bespoyasov.md
Labels: улучшение, tools

#2454 Заменяет оставшиеся старые callout на aside
  css/text-size-adjust/index.md
  js/array-reverse/index.md
Labels: улучшение, css, js

#2469 Исключен лишний перевод на новую строку
  tools/yaml/index.md
Labels: улучшение, tools

#2455 Добавляет статью про скринридеры в индекс и в ченджлог
  CHANGELOG.md
  html/index.md
Labels: улучшение, html

#2470 Исправит ошибку в примере на странице "Системы сборки"
  tools/bundlers/index.md
Labels: улучшение, tools

#1650 Добавляет статью про filter
  .yaspeller.json
  css/filter/demos/base/index.html
  css/filter/demos/images/like.png
  css/filter/index.md
Labels: css, статья

#2456 Fix/redesign animation
  css/animation/demos/circle-hover/index.html
  css/animation/demos/circle-square-delay/index.html
  css/animation/demos/circle-square-direction/index.html
  css/animation/demos/circle-square-duration/index.html
  css/animation/demos/circle-square-iteration/index.html
  css/animation/demos/circle-square-keyframes/index.html
  css/animation/demos/circle-square-reverse/index.html
  css/animation/demos/circle-square-timing-funcs/index.html
  css/animation/demos/circle-square/index.html
  css/animation/demos/shop-animation/index.html
  css/animation/demos/timing-functions/index.html
  css/animation/demos/traffic-lights/index.html
  css/animation/index.md
Labels: улучшение, css

#2463 Удаляет дубль совета из статьи о `<header>`
  html/header/index.md
Labels: улучшение, html

#2424 Добавляет статью про коллекцию forms
  .yaspeller.json
  html/form/index.md
  js/forms/index.md
  js/forms/practice/vchychuzhko.md
  js/index.md
Labels: js, дока

#2448 Исправляет формулировку строчного и строчно-блочного отображения
  css/box-model/index.md
Labels: улучшение, css

#2450 Поправил статью про псевдоклассы :valid, :invalid
  css/invalid-valid/demos/form-validation/index.html
  css/invalid-valid/practice/ezhkov.md
Labels: улучшение, css

#2474 Исправляет ошибку в примере кода innerHTML
  js/element-innerhtml/index.md
Labels: улучшение, js

#2475 Изменить обращение с "ты" на "вы"
  css/pseudoelements/practice/solarrust.md
Labels: улучшение, css

#2489 фикс: фактическая неточность, опечатка
  js/return/demos/vindi-r-oVPReL/index.html
  js/return/index.md
Labels: улучшение, js

#2486 Исправить битую ссылку
  css/background/index.md
Labels: css, ошибка
