Repository doka-guide/content, pull requests merged in 2021-07, with the labels that each got.

#1082 Правит статью про селектор по атрибуту
  css/attribute-selector/index.md
  css/attribute-selector/practice/ezhkov.md
Labels: css, доработка

#1084 Docs/speller
  .yaspeller.json
  css/overflow/index.md
  docs/README.md
  docs/speller.md
  html/div/practice/vladimir.md
Labels: доработка, кухня

#809 Добавляет статью про хранение данных в браузере
  .yaspeller.json
  js/browsers-storages/index.md
Labels: js, статья

#1064 Добавляет статью о структурных паттернах проектирования
  .yaspeller.json
  js/debounce/index.md
  js/design-patterns-structural/index.md
  js/throttle/index.md
Labels: js, статья

#1069 GitHub Actions: редактирует схемку и слова
  tools/github-actions/index.md
Labels: доработка, статья

#1091 Исправляет путь до образа
  start.sh
Labels: кухня, ошибка

#1070 Добавляет статью о поведенческих паттернах проектирования
  .yaspeller.json
  js/architecture-and-design-patterns/index.md
  js/design-patterns-behaviorial/images/chain-of-responsibility.jpg
  js/design-patterns-behaviorial/images/observer.jpg
  js/design-patterns-behaviorial/images/strategy.jpg
  js/design-patterns-behaviorial/index.md
Labels: js, статья

#1090 Добавляет ссылки на зонтичную статью о хранении данных в браузере
  js/browsers-storages/index.md
  js/cookie/index.md
  js/local-storage/index.md
  js/session-storage/index.md
Labels: js, доработка

#1111 Добавляет обложку в статью про области видимости
  js/closures/images/cover.png
  js/closures/index.md
Labels: доработка

#1110 Добавляет обложку для статьи про ООП
  js/oop/images/cover.png
  js/oop/index.md
Labels: доработка

#1114 Переносит статью про Node.js
  .yaspeller.json
  tools/nodejs-tooling/index.md
  tools/nodejs-tooling/practice/igorkamyshev.md
Labels: tools, доработка, статья

#1102 Добавляет обложку в статью про Работу с формами
  js/deal-with-forms/images/cover.png
  js/deal-with-forms/index.md
Labels: доработка

#1101 Добавляет обложку для статьи Стиль написания кода в команде
  js/code-style/images/cover.png
  js/code-style/index.md
Labels: доработка

#1100 Добавляет обложку для статьи про Виды веб-приложений
  js/web-app-types/images/cover.png
  js/web-app-types/index.md
Labels: доработка

#1099 Добавляет обложку в статью про код-ревью
  tools/code-review/images/cover.png
  tools/code-review/index.md
Labels: доработка

#1128 Правит action для обновления data-файлов
  .github/scripts/update-index.js
  .github/workflows/updated-at-field.yml
Labels: кухня

#1124 Пробует распознать проблемы с экшенами
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Labels: кухня, ошибка

#1062 Добавляет доку про font-smooth
  .yaspeller.json
  css/font-smooth/demos/smooth.html
  css/font-smooth/images/all-chrome.png
  css/font-smooth/images/all-firefox.png
  css/font-smooth/images/chrome-1x.png
  css/font-smooth/images/chrome-dark.png
  css/font-smooth/images/chrome-win-1x.png
  css/font-smooth/images/firefox-win-1x.png
  css/font-smooth/images/k-off.png
  css/font-smooth/images/k-on.png
  css/font-smooth/images/pixels.jpg
  css/font-smooth/images/safari-mac-1x.png
  css/font-smooth/images/safari-mac-2x.png
  css/font-smooth/index.md
Labels: css, дока

#1133 Edit/main errors
  .yaspeller.json
  README.md
  css/media/index.md
  css/not/index.md
  css/sticky/index.md
  docs/speller.md
Labels: доработка, ошибка

#1123 Редактирует статью про перечисление селекторов
  css/first-class__second-class/practice/solarrust.md
  css/selector-list/demos/enumerous-selector.html
  css/selector-list/index.md
  css/selector-list/practice/solarrust.md
Labels: css, доработка

#1132 Повторное срабатывание action `Update Index`
  .github/scripts/update-index.js
Labels: кухня

#1063 Добавляет статью о порождающих шаблонах проектирования
  .yaspeller.json
  js/architecture-and-design-patterns/index.md
  js/design-patterns-creational/index.md
Labels: js, статья

#1120 Редактирует статью про alert
  js/alert/index.md
Labels: js, доработка

#1125 Добавляет коллаут с ссылкой на инструмент
  js/how-the-browser-creates-pages/index.md
Labels: js, доработка

#1104 Подчищает стиль кода в демках
  css/background-size/demos/pattern.html
  css/border/demos/all.html
  css/list-style-type/demos/list-style-type.html
  css/pseudoclasses/demos/indeterminate.html
  css/transform/demos/dat-gui-min.js
  css/transform/demos/playground.html
  html/fieldset/demos/disabling.html
  html/script/demos/font-size-changer.html
  js/array-every/demos/index.html
  js/array-filter/demos/index.html
  js/array-find/demos/index.html
  js/array-foreach/demos/index.html
  js/array-map/demos/index.html
  js/array-reduce/demos/index.html
  js/array-some/demos/index.html
  js/element-addeventlistener/demos/keyboard-events.html
  js/element-addeventlistener/demos/mouse-events.html
  js/element-innerhtml/demos/index.html
  js/element-innertext/demos/index.html
  js/element-keydown-keyup/demos/keydown.html
  js/element-keydown-keyup/demos/keyup.html
  js/element-mouseout/demos/index.html
  js/element-mouseover/demos/index.html
  js/element-scroll-scrollintoview/demos/index.html
  js/element-scroll-wheel/demos/index.html
  js/element-scroll-wheel/demos/scroll-move.html
  js/element-textcontent/demos/index.html
  js/element/demos/dom-html.html
  js/element/demos/dom.html
  js/event-load-and-domcontentloaded/demos/basic.html
  js/event-load-and-domcontentloaded/demos/overloaded.html
  js/events/demos/bubbling-chain.html
  js/events/demos/bubbling.html
  js/events/demos/click.html
  js/events/demos/onclick.html
  js/events/demos/this.html
  js/promise/demos/promise-catch.html
Labels: демо, доработка

#1098 Добавляет картинки в статью про рекурсию
  js/recursion/images/base-case.png
  js/recursion/images/block-scheme.png
  js/recursion/images/call-stack-exceeded.jpg
  js/recursion/images/call-stack-exceeded.png
  js/recursion/images/cover.png
  js/recursion/images/factorial.png
  js/recursion/images/serpinsky-triangle.png
  js/recursion/index.md
Labels: доработка

#1134 Допускает слова без окончаний и радует спеллер
  .yaspeller.json
Labels: кухня

#1141 Редактирует статью про agile
  tools/agile/index.md
Labels: tools, доработка

#1106 Добавляет статью «React и альтернативы»
  .yaspeller.json
  js/react-and-alternatives/images/virtual_dom.png
  js/react-and-alternatives/index.md
Labels: js, статья

#1078 Добавил статью про реактивность
  .yaspeller.json
  js/reactivity/images/stream_simple.png
  js/reactivity/index.md
Labels: js, статья

#1145 Удаляет картинку
  js/api/index.md
Labels: доработка

#1140 Редактирует статью про асинхронность в js
  .yaspeller.json
  js/async-in-js/index.md
  js/async-in-js/practice/bespoyasov.md
Labels: js, доработка

#1149 Изменяет заголовок статьи о тулинге на Node.js
  tools/nodejs-tooling/index.md
Labels: tools, доработка

#1105 Редактирует статью про API
  js/api/index.md
Labels: js, доработка

#1152 Обновляет картинку в статье Как и зачем писать тесты
  js/how-to-test-and-why/images/testing-pyramid.png
Labels: доработка

#1118 Добавляет черновик индекса инструментов
  tools/index.md
Labels: tools, кухня

#1153 Обновляет картинку в статье Как упростить тестирование
  js/how-to-simplify-tests/images/impureim-sandwich.png
Labels: доработка

#1154 Меняет картинку в статье про Разработку через тестирование
  js/tdd/images/tdd-cycle.png
Labels: доработка

#1151 Организует вывод людей
  .yaspeller.json
  people/akellbl4/index.md
  people/bespoyasov/index.md
  people/ezhkov/index.md
  people/furtivite/index.md
  people/grachev/index.md
  people/igorkamyshev/index.md
  people/igsekor/index.md
  people/kognitivnayabuena/index.md
  people/nlopin/index.md
  people/pepelsbey/index.md
  people/skorobaeus/index.md
  people/solarrust/index.md
  people/stegur/index.md
  people/vindi-r/index.md
  people/windrushfarer/index.md
Labels: кухня

#821 Переносит статью про float из старого репо
  .yaspeller.json
  css/float/demos/clearfix.html
  css/float/demos/float-before-after.html
  css/float/demos/float.html
  css/float/demos/flow-root.html
  css/float/images/brown-cat.jpg
  css/float/images/corgi.jpg
  css/float/index.md
  css/float/practice/lenaryan.md
Labels: css, дока

#1137 Редактирует статью про a
  html/a/index.md
  html/a/practice/pepelsbey.md
  html/a/practice/solarrust.md
Labels: html, доработка

#1138 Редактирует статью про селектор вложенности
  css/first-class_second-class/index.md
  css/nesting-selector/demos/nested-selector.html
  css/nesting-selector/index.md
  css/nesting-selector/practice/solarrust.md
Labels: css, доработка

#1147 Редактирует статью про селектор по тегу
  css/tag-selector/index.md
  css/tag-selector/practice/ezhkov.md
Labels: css, доработка

#1155 Добавляет профиль редактору
  people/tachisis/index.md
Labels: кухня

#1159 Редактирует статью про бандлеры
  tools/bundlers/index.md
  tools/bundlers/practice/igorkamyshev.md
Labels: tools, доработка

#1167 Редактирует статью про архитектуру и паттерны
  js/architecture-and-design-patterns/index.md
Labels: js, доработка

#1157 Добавляет статью «SSL-сертификаты»
  .yaspeller.json
  tools/ssl-certificates/index.md
  tools/ssl-certificates/practice/igsekor.md
Labels: tools, статья

#1158 Редактирует статью про bom
  js/bom/index.md
Labels: js, доработка

#1171 Меняет картинку в статье box-shadow
  css/box-shadow/images/1.png
Labels: доработка

#1119 Добавляет статью «Шифрование»
  .yaspeller.json
  tools/encoding/images/1.png
  tools/encoding/images/2.png
  tools/encoding/index.md
Labels: tools, статья

#1168 Редактирует статью про apache
  tools/apache-web-server/index.md
Labels: tools, доработка

#1139 Добавляет статью «Модели сетевого взаимодействия»
  .yaspeller.json
  tools/network-models/images/1.png
  tools/network-models/index.md
  tools/network-models/practice/igsekor.md
Labels: tools, статья

#1175 Правит неудачные или лишние ссылки
  css/pseudoelements/practice/solarrust.md
  html/iframe/index.md
  html/link/practice/vladimir.md
Labels: ошибка

#1176 Добавляет data-файл для статьи "Модели сетевого взаимодействия"
  tools/network-models/index.11tydata.json
Labels: кухня

#1185 Правит мету в статье про <picture>
  html/picture/index.md
Labels: доработка, ошибка

#1183 Правит мету в статье про float
  css/float/index.md
Labels: ошибка

#1182 Правит мету в статье про Липкое позиционирование
  css/sticky/index.md
Labels: ошибка

#1184 Правит мету в статье про <br>
  html/br-pros-cons/index.md
Labels: доработка, ошибка

#1186 Правит название статьи
  js/element-outerhtml/index.md
Labels: js, доработка

#1190 Добавляет тег "doka" для статьи о градиентах
  css/linear-gradient/index.md
Labels: ошибка

#1188 Обновляет Руководство по оформлению
  .yaspeller.json
  docs/typography.md
Labels: доработка, кухня

#1164 Редактирует статью про aside
  html/aside/index.md
  html/aside/practice/realetive.md
Labels: html, доработка

#1160 Редактирует статью про position
  css/position/index.md
Labels: css, доработка

#1165 Редактирует статью про z-index
  css/z-index/index.md
  css/z-index/practice/solarrust.md
Labels: css, доработка

#1173 Редактирует статью про audio
  html/audio/index.md
  html/audio/practice/vladimir.md
Labels: html, доработка

#1191 Редактирует доку про body
  html/body/index.md
  html/body/practice/pepelsbey.md
  html/body/practice/solarrust.md
  html/body/practice/vladimir.md
Labels: html, доработка, кухня

#1194 Редактирует статью про important
  css/important/index.md
Labels: css, доработка

#1193 Исправляет ошибку в Руководстве по оформлению
  docs/typography.md
Labels: доработка, кухня

#1174 Редактирует статьи про font-face и data flow
  css/font-face/index.md
  css/font-face/practice/solarrust.md
  js/architecture-data-flow/index.md
Labels: css, js, доработка

#1172 Добавляет линтер для меты
  .frontmatter.json
  .github/scripts/frontmatter.js
  .github/workflows/frontmatter.yml
Labels: кухня

#1115 Добавляет черновик HTML-индекса
  html/index.md
Labels: html, кухня

#1116 Добавляет черновик CSS-индекса
  css/index.md
Labels: css, кухня

#1131 Добавляет экшен для проверки ссылок
  .github/workflows/link-all.yml
  .github/workflows/link-pr.yml
Labels: кухня
