Repository doka-guide/content, pull requests merged in 2022-11, with the labels that each got.

#3991 Добавляет бейдж и ссылку на Дискорд
  .yaspeller.json
  README.md
Labels: улучшение, кухня

#3986 Дополняет доку по reduce
  js/array-reduce/index.md
Labels: улучшение, js, дока

#3968 Правка совета в доке про `<select>`
  html/select/practice/ezhkov.md
Labels: улучшение, html

#3967 Правит совет в доке про `<option>`
  html/option/practice/ezhkov.md
Labels: улучшение, html

#4019 Фиксит отступы в README
  README.md
Labels: кухня

#4015 Исправляет нейминг в people
  js/array-flatmap/index.md
  js/descriptors/index.md
  js/event-prevent-default/index.md
  people/antongorelov/index.md
  people/g-milevski/index.md
Labels: улучшение, кухня

#4017 Исправляет 2 опечатки
  css/box-sizing/index.md
  html/ul/index.md
Labels: css, html, дока

#4021 Перекрашивает схемы в статье Скринридеры
  a11y/screenreaders/demos/visually-hidden-text/index.html
  a11y/screenreaders/images/0.png
  a11y/screenreaders/images/1.png
  a11y/screenreaders/images/3.png
  a11y/screenreaders/images/4.png
Labels: улучшение, статья, a11y, демо

#4023 Исправляет опечатку
  css/scroll-padding/index.md
Labels: улучшение, css, дока

#4022 Уточнение описания cookie с префиксом `__Host-`
  js/cookie/index.md
Labels: улучшение, js, дока

#4030 Добавляет обложки в статью про специфичность
  css/specificity/images/covers/desktop.svg
  css/specificity/images/covers/mobile.svg
  css/specificity/index.md
Labels: кухня, css, статья

#4027 Обновляет названия док и индекс раздела Доступность
  a11y/index.md
  a11y/role-alert/index.md
  a11y/role-banner/index.md
  a11y/role-button/index.md
  a11y/role-complementary/index.md
  a11y/role-contentinfo/demos/footer-with-contentinfo/index.html
  a11y/role-contentinfo/index.md
  a11y/role-form/index.md
  a11y/role-heading/index.md
  a11y/role-img-image/index.md
  a11y/role-link/index.md
  a11y/role-log/index.md
  a11y/role-main/index.md
  a11y/role-marquee/index.md
  a11y/role-navigation/index.md
  a11y/role-presentation-none/demos/decorative-hr/index.html
  a11y/role-presentation-none/index.md
  a11y/role-region/index.md
  a11y/role-search/index.md
  a11y/role-status/index.md
  a11y/role-timer/index.md
Labels: улучшение, кухня, дока, placeholder, a11y

#4026 Добавляет доку `aria-roledescription`
  a11y/aria-roledescription/index.md
  a11y/aria-roledescription/practice/tatianafokina.md
  a11y/index.md
Labels: дока, a11y

#4025 Формирует новый фичеринг
  settings/featured.md
Labels: кухня

#4024 Правит текст и обновляет демку
  css/css-counters/demos/reset-example/index.html
  css/css-counters/index.md
Labels: улучшение, css, статья, демо

#3983 Добавляет доку `border-spacing`
  .yaspeller.json
  css/border-spacing/demos/some-spacing/index.html
  css/border-spacing/index.md
  css/index.md
Labels: css, дока

#3976 Добавляет доку `border-collapse`
  css/border-collapse/demos/all/index.html
  css/border-collapse/index.md
  css/index.md
Labels: css, дока

#3982 Правит примеры относительных ссылок
  .github/pull_request_template.md
Labels: кухня

#3988 Уменьшает вычислительную сложность в примере получения cookie
  js/cookie/index.md
Labels: улучшение, js, дока

#3944 Добавляет статью про сокрытие контента
  a11y/content-hidden/demos/hide-text/index.html
  a11y/content-hidden/index.md
Labels: статья, a11y

#4038 Исправляет опечатку
  recipes/font-script/index.md
Labels: улучшение, статья, рецепт

#4052 Добавляет плейсхолдер для псевдокласса `:target`
  css/target/index.md
Labels: css, дока, placeholder, hackathon

#4051 Добавляет плейсхолдер про атрибут `capture`
  .yaspeller.json
  html/capture/index.md
  html/index.md
Labels: html, дока, placeholder, hackathon

#4050 Добавляет доку про `inset`
  css/inset/index.md
Labels: css, дока, placeholder, hackathon

#4048 Добавляет плейсхолдер про псевдокласс `:optional`
  css/index.md
  css/optional/index.md
Labels: css, дока, placeholder, hackathon

#4046 Добавляет плейсхолдер для свойств `top`/`left`/`right`/`bottom`
  css/top-left-right-bottom/index.md
  people/spheno/index.md
  people/spheno/photo.jpeg
Labels: css, дока, placeholder, hackathon

#4036 Добавляет плейсхолдер про `dblclick`
  js/element-dblclick/demos/dblclicking/index.html
  js/element-dblclick/index.md
  people/ko1p/index.md
  people/ko1p/photo.jpg
Labels: js, дока, placeholder, hackathon

#4035 Добавляет плейсхолдер про `removeProperty()`
  js/remove-property/demos/index.html
  js/remove-property/index.md
  people/bellabzhu/index.md
Labels: js, дока, placeholder, hackathon

#4043 Добавляет плейсхолдер про `url()`
  .yaspeller.json
  css/url/index.md
Labels: css, дока, placeholder, hackathon

#4044 Добавляет плейсхолдер для свойства `will-change`
  .yaspeller.json
  css/will-change/index.md
  css/will-change/practice/madey-kv.md
  people/madey-kv/index.md
  people/madey-kv/photo.jpeg
Labels: css, дока, placeholder, hackathon

#4049 Добавляет плейсхолдер про `accept`
  html/accept/index.md
  people/tanugladkih/index.md
Labels: html, дока, placeholder, hackathon

#4053 Добавляет доку про `:indeterminate`
  css/indeterminate/demos/index.html
  css/indeterminate/index.md
  people/marybayt/index.md
  people/marybayt/marybayt.jpg
Labels: css, дока, placeholder, hackathon

#4042 Добавляет плейсхолдер про `step`
  html/attribute-step/index.md
Labels: html, дока, placeholder, hackathon

#4039 Добавляет плейсхолдер про `zoom`
  css/zoom/index.md
Labels: css, дока, placeholder, hackathon

#4047 Добавляет плейсхолдер про тег `noscripts`
  html/noscript/index.md
  people/kamenskaya/dasha.jpg
  people/kamenskaya/index.md
Labels: html, дока, placeholder, hackathon

#4060 Добавляет плейсхолдер про атрибут `readonly`
  html/readonly/index.md
Labels: html, дока, placeholder, hackathon

#4062 Добавляет плейсхолдер `clip-path`
  css/clip-path/index.md
Labels: css, дока, placeholder, hackathon

#4065 Добавляет плейсхолдер свойства `transform-box`
  css/transform-box/demos/base/index.html
  css/transform-box/index.md
Labels: css, дока, placeholder, hackathon

#4064 Добавляет плейсхолдер про псевдокласс `:read-write`
  css/read-write/index.md
Labels: css, дока, placeholder, hackathon

#4070 Плейсхолдер для aria-роль `checkbox`
  a11y/role-checkbox/index.md
Labels: дока, placeholder, a11y, hackathon

#4069 Добавляет плейсхолдер для роли `list`
  a11y/role-list/index.md
  people/OMaykova/index.md
Labels: дока, placeholder, a11y, hackathon

#4061 Добавляет плейсхолдер про псевдокласс `:read-only`
  css/read-only/index.md
Labels: css, дока, placeholder, hackathon

#4056 Добавляет плейсхолдер для атрибутов `minlength` и `maxlength`
  html/minlength-maxlength/demos/input-example/index.html
  html/minlength-maxlength/index.md
  people/zeddybig/index.md
  people/zeddybig/photo.jpg
Labels: html, дока, placeholder, hackathon

#4074 Изменяет название папки участника
  a11y/role-list/index.md
  people/o-maykova/index.md
Labels: кухня, дока, placeholder, a11y

#4075 Обновляет индекс раздела Доступность
  a11y/index.md
Labels: кухня, a11y

#4041 Улучшает доки свойств семейства `border-`
  css/border-collapse/index.md
  css/border-spacing/index.md
  css/border-style/index.md
  css/index.md
Labels: улучшение, css, дока

#4037 Добавляет плейсхолдер про `window.open()`
  js/window-open/index.md
  people/tanugladkih/index.md
Labels: js, дока, placeholder, hackathon

#4066 Добавила плейсхолдер `.getPropertyValue()`
  js/get-property-value/index.md
Labels: js, дока, placeholder, hackathon

#4040 Исправлена ошибка label->value
  html/datalist/index.md
Labels: улучшение, html, статья

#3972 Обновляет информацию о частичной поддержке браузерами для примера из статьи `Функции CSS-трансформации`
  css/transform-function/index.md
Labels: улучшение, css, дока

#3977 Добавляет рецепт для превью в PR
  .yaspeller.json
  recipes/index.md
  recipes/self-hosted-preview/index.md
Labels: статья, рецепт

#4045 Добавляет плейсхолдер для события `invalid`
  js/event-invalid/index.md
  people/delioncourts/index.md
Labels: js, дока, placeholder, hackathon

#4077 Правит мету, оптимизирует фотографии у новых участников
  people/bellabzhu/index.md
  people/ivkrylova/krylova.jpg
  people/kamenskaya/dasha.jpg
  people/kamenskaya/index.md
  people/ko1p/index.md
  people/ko1p/photo.jpg
  people/madey-kv/index.md
  people/madey-kv/photo.jpeg
  people/marybayt/marybayt.jpg
  people/o-maykova/index.md
  people/solarrust/index.md
  people/spheno/photo.jpeg
  people/tanugladkih/index.md
  people/zeddybig/photo.jpg
Labels: кухня

#4054 Добавляет плейсхолдер про `setProperty()`
  js/css-set-property/demos/example/index.html
  js/css-set-property/index.md
  people/artem-chumak/index.md
Labels: js, дока, placeholder, hackathon

#4078 Обновляет демку и текст
  css/css-counters/demos/set-example/index.html
Labels: улучшение, css, демо

#4079 Правит текст
  css/css-counters/index.md
Labels: улучшение, css, статья

#4067 Добавляет плейсхолдер для `Rollup`
  .yaspeller.json
  tools/rollup/index.md
Labels: tools, статья, placeholder, hackathon

#4059 Добавляет плейсхолдер про `input`
  js/input/demos/index.html
  js/input/index.md
  people/tarahovmaksim/index.md
Labels: js, дока, placeholder, hackathon

#4081 Орфография (ться->тся)
  html/template/index.md
Labels: улучшение, html, дока

#4073 Исправление ошибки вверх->вниз
  css/stacking-context/index.md
Labels: улучшение, css, статья

#4072 Делает уточнения в доке `aria-label`
  a11y/aria-label/index.md
  a11y/aria-label/practice/tatianafokina.md
Labels: улучшение, дока, a11y

#4071 Уточняет дату в статье про Что такое доступность
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#4086 Rephrase a statement
  js/number-isfinite/index.md
Labels: js, дока

#4085 Content improvements in "JavaScript / Date".
  js/date/index.md
Labels: js, дока

#4084 Add more links.
  js/iterator/index.md
Labels: js, дока

#4083 Clarify the usage of a variable before its declaration.
  js/var-let/index.md
Labels: js, статья

#4076 Добавляет практику к статье Как скрыть содержимое от скринридеров
  a11y/content-hidden/index.md
  a11y/content-hidden/practice/tatianafokina.md
Labels: улучшение, статья, a11y

#3980 fix(*): remove info about obsolete var
  js/var-let/index.md
Labels: улучшение, js, статья

#4089 Незначительные улучшения по тексту
  js/array-find-index/index.md
  js/descriptors/practice/AntonGorelov.md
Labels: улучшение, js, дока

#4020 Добавлена статья IIFE
  interviews/iife/answers/kalpovskii/index.md
  interviews/iife/index.md
Labels: js, собеседование

#4091 Update index.md
  js/element-positioning-js/index.md
Labels: улучшение, js, статья

#4090 Добавляет ссылку на форму поиска в примере про `debounce`
  js/debounce/index.md
Labels: улучшение, js, статья

#4093 Заменяет среднее тире на длинное тире в статье о `li`
  html/li/index.md
Labels: улучшение, html, дока

#4092 Добавляет доку `aria-flowto`
  a11y/aria-flowto/index.md
  a11y/index.md
Labels: дока, a11y

#4088 Добавляет вопросы для рубрики «На собеседовании»
  interviews/a11y-aria-live/index.md
  interviews/a11y-benefits/index.md
  interviews/a11y-hidden-content/index.md
  interviews/a11y-legend-caption-label/index.md
  interviews/a11y-rem-em/index.md
  interviews/acessible-names/index.md
  interviews/anonymous-func/index.md
  interviews/aria-at/index.md
  interviews/aria-misusing/index.md
  interviews/arrow-func-constructor/index.md
  interviews/dif-declarations/index.md
  interviews/felxbox-grid/index.md
  interviews/foreach-map/index.md
  interviews/heading-benefits/index.md
  interviews/how-to-hide-content/index.md
  interviews/img-srcset/index.md
  interviews/inline-block/index.md
  interviews/link-script-position/index.md
  interviews/links-vs-buttons/index.md
  interviews/null-undefined/index.md
  interviews/progressive-rendering/index.md
  interviews/px-em-rem/index.md
  interviews/script-async-defer/index.md
  interviews/skip-links/index.md
  interviews/strink-task/index.md
  interviews/ternary/index.md
  interviews/title-benefit/index.md
  interviews/typecasting-task/index.md
  interviews/ud-id-ux/index.md
Labels: собеседование

#4096 Добавляет новые статьи в индексы разделов CSS и HTML
  css/index.md
  html/index.md
  html/step/index.md
Labels: кухня, css, html, дока, placeholder

#4097 Переносит статьи в правильные разделы
  js/element-get-property-value/index.md
  js/element-remove-property/demos/index.html
  js/element-remove-property/index.11tydata.json
  js/element-remove-property/index.md
  js/element-set-property/demos/example/index.html
  js/element-set-property/index.11tydata.json
  js/element-set-property/index.md
  js/event-change/demos/compare/index.html
  js/event-change/demos/index/index.html
  js/event-change/index.11tydata.json
  js/event-change/index.md
  js/event-dblclick/demos/dblclicking/index.html
  js/event-dblclick/index.11tydata.json
  js/event-dblclick/index.md
  js/index.md
Labels: js, дока, placeholder

#4099 Исправляет опечатку в индексе CSS
  css/index.md
Labels: css

#4100 Исправляет ссылку на профиль редактора доки
  pages/about/index.md
Labels: кухня

#4102 Корректирует статью о свойстве `counter-set`
  css/counter-set/index.md
Labels: улучшение, css, дока

#4095 Редактирует статью о CSS счётчиках
  css/css-counters/demos/set-example/index.html
  css/css-counters/index.md
  css/css-counters/practice/blueingreen68.md
  people/heboq/index.md
  people/heboq/photo.jpg
Labels: улучшение, css, статья

#4094 Корректирует статью о функциях `counter()` и `counters()`
  css/counter-counters/index.md
Labels: улучшение, css, дока

#4080 Добавляет доку `aria-keyshortcuts`
  a11y/aria-keyshortcuts/index.md
  a11y/index.md
Labels: дока, a11y

#4103 Добавляет доку про `navigation`
  a11y/role-navigation/index.md
  people/katokdoescode/index.md
Labels: дока, a11y

#4109 Меняет текст на странице летучки, готовимся к новой
  pages/letuchka/index.md
Labels: кухня

#4111 Добавляет новую страницу для конкурса с Подлодкой
  .yaspeller.json
  specials/pfc/index.md
Labels: кухня

#4110 Корректирует статью о свойстве `counter-reset`
  css/counter-reset/index.md
Labels: улучшение, css, дока

#3975 Добавляет новые типы материалов из рубрики «На собесе»
  new.sh
Labels: улучшение, кухня

#4118 Исправляет опечатки в статье Функциональное программирование
  js/fp/index.md
Labels: улучшение, js, статья

#4121 Исправляет опечатку в статье о свойстве `list-style`
  css/list-style/index.md
Labels: улучшение, css, дока

#4126 Исправляет опечатку в доке `.dataset`
  js/element-dataset/index.md
Labels: улучшение, js, дока

#4130 Корректирует предложение в статье о пакетных менеджерах
  tools/package-managers/index.md
Labels: улучшение, tools, статья

#4129 Корректирует статью о Node.js
  tools/nodejs/index.md
Labels: улучшение, tools, статья

#4132 Добавляет обложку в статью про анимации
  css/keyframes/images/covers/desktop.svg
  css/keyframes/images/covers/mobile.svg
  css/keyframes/index.md
Labels: улучшение, кухня, css, дока

#4127 Добавил ответ на вопрос: Напишите свой класс, который бы являлся стратегией к функции split, используя Symbol
  interviews/symbol/answers/kyzinatra/index.md
  interviews/symbol/index.md
Labels: js, собеседование
