Repository doka-guide/content, pull requests merged in 2022-05, with the labels that each got.

#2928 Редактирует статью про функции еще раз
  js/function/index.md
Labels: улучшение, js, редактура

#2931 Правит ошибку
  tools/package-managers/index.md
Labels: улучшение, tools

#2926 Добавляет пример с якорной ссылкой в чеклист PR
  .github/pull_request_template.md
Labels: кухня

#2929 Редактирует статью про infinite scroll
  js/infinite-scroll/index.md
Labels: улучшение, js, редактура

#2892 Дописывает доку про `outline-width`
  css/outline-width/index.md
Labels: улучшение, css

#2917 Добавляет доку про `flatMap()`
  js/array-flatmap/index.md
  js/index.md
  people/AntonGorelov/index.md
Labels: js, дока

#2891 Обновляет список изменений на март/апрель
  CHANGELOG.md
Labels: кухня

#2934 Поправляет автора в доке про `outline-width`
  css/outline-width/index.md
Labels: улучшение, css

#2936 Уточняет создание кастомных событий
  js/event/index.md
Labels: улучшение, js

#2940 Исправляет порядок аргументов в forEach для map
  js/map/index.md
Labels: улучшение, js, ошибка

#2943 Добавляет фото и описание для @solarrust
  people/solarrust/index.md
  people/solarrust/photo.png
Labels: кухня

#2942 Добавляет ссылки на людей из редакции и на страницу с контрибьюторами
  pages/about/index.md
Labels: кухня

#2945 Заменяет тег doka на article в рецептах
  recipes/lets-encrypt-nginx/index.md
  recipes/progress/index.md
  recipes/short-links/index.md
  recipes/snow/index.md
Labels: улучшение

#2927 Добавляет доку по FormData
  js/form-data/index.md
  js/form-data/practice/vitalybaev.md
  js/index.md
Labels: js, дока

#2930 Редактирует статью про контекст функции
  js/function-context/index.md
  js/function-context/practice/bespoyasov.md
Labels: улучшение, js, редактура

#2941 Обновляет инструкцию для контрибьюторов
  docs/images/people.png
  docs/people.md
Labels: улучшение, кухня

#2937 Редактирует статью про ооп
  js/oop/index.md
  js/oop/practice/bespoyasov.md
Labels: улучшение, js

#2946 Редактирует статью про markdown
  tools/markdown/index.md
  tools/markdown/practice/bespoyasov.md
  tools/markdown/practice/cergmin.md
Labels: улучшение, tools, редактура

#2948 Исправляет бэктики в ссылке в статье про FormData
  js/form-data/index.md
Labels: улучшение, js

#2951 Удаляет запятую после то есть
  css/attr/index.md
  css/background-repeat/index.md
  css/font-display/index.md
  css/invalid-valid/practice/ezhkov.md
  css/media/index.md
  css/position/index.md
  css/transform-function/index.md
  css/transform-origin/index.md
  docs/styleguide.md
  html/br/index.md
  html/flow/index.md
  html/form/index.md
  js/api/index.md
  js/array-reverse/index.md
  js/async-in-js/index.md
  js/browsers-storages/index.md
  js/closures/index.md
  js/function-context/index.md
  js/function-context/practice/bespoyasov.md
  js/oop/index.md
  recipes/short-links/index.md
  tools/ci-cd/index.md
  tools/docker-data-management/index.md
  tools/static-types/index.md
Labels: улучшение, css, html, js, tools, редактура

#2952 Добавляет описание и фото в профиль
  people/igsekor/index.md
  people/igsekor/photo.jpg
Labels: улучшение, кухня

#2957 Опечатка в статье
  tools/github-actions/index.md
Labels: улучшение, tools

#2959 Правит условие подогрева воды в кофемашине
  js/design-patterns-structural/index.md
Labels: улучшение, js

#2953 Редактирует статью про gitlab ci/cd
  tools/gitlab-ci-cd/index.md
Labels: улучшение, tools, редактура

#2955 Добавляет обложку и обновляет картинки в статье про подгрузку контента при прокрутке
  js/infinite-scroll/images/covers/desktop.svg
  js/infinite-scroll/images/covers/mobile.svg
  js/infinite-scroll/images/data-template.jpg
  js/infinite-scroll/images/data-template.png
  js/infinite-scroll/images/fetch-inject.jpg
  js/infinite-scroll/images/fetch-inject.png
  js/infinite-scroll/images/position-tracking.jpg
  js/infinite-scroll/images/position-tracking.png
  js/infinite-scroll/index.md
Labels: улучшение, кухня, js

#2960 Опечатка в тексте
  tools/how-to-enter-to-vim/index.md
Labels: улучшение, tools

#2950 Редактирует статью про сеть
  tools/network/index.md
  tools/network/practice/igsekor.md
Labels: улучшение, tools, редактура

#2958 Улучшает примеры про `Событие touch`
  js/element-touch/demos/Windrushfarer-KKgZGEq/index.html
  js/element-touch/demos/Windrushfarer-RwGjopb/index.html
Labels: улучшение, js

#2971 Обновляет обложку статьи про статическую типизацию
  tools/static-types/images/covers/desktop.svg
  tools/static-types/images/covers/mobile.svg
  tools/static-types/index.md
Labels: улучшение, кухня, tools

#2965 Правит статью про JSON
  tools/json/index.md
Labels: улучшение, tools

#2915 Добавляет доку про `queueMicrotask`
  .yaspeller.json
  js/index.md
  js/queueMicrotask/demos/queueMicrotask-vs-setTimeout/index.html
  js/queueMicrotask/demos/when-to-use/ordering-with-conditional-operator/not-obvious/index.html
  js/queueMicrotask/demos/when-to-use/ordering-with-conditional-operator/obvious/index.html
  js/queueMicrotask/images/event-loop-schema.png
  js/queueMicrotask/index.md
  js/queueMicrotask/practice/corocoto.md
Labels: js, дока

#2975 Изменил окончание у слова "последняя"
  css/flexbox-guide/index.md
Labels: улучшение, css

#2967 Исправил index.md о text-overflow
  css/text-overflow/index.md
Labels: улучшение, css

#2949 Обновляет содержание раздела JS
  js/array-every/index.md
  js/array-filter/index.md
  js/array-find-index/index.md
  js/array-find/index.md
  js/array-flat/index.md
  js/array-flatmap/index.md
  js/array-foreach/index.md
  js/array-length/index.md
  js/array-map/index.md
  js/array-reduce/index.md
  js/array-reverse/index.md
  js/array-some/index.md
  js/arrays/index.md
  js/cookie/index.md
  js/element-classlist/index.md
  js/element-click/index.md
  js/element-dataset/index.md
  js/element-focus/index.md
  js/element-getattribute/index.md
  js/element-hidden/index.md
  js/element-innerhtml/index.md
  js/element-innertext/index.md
  js/element-keydown-keyup/index.md
  js/element-mouseout/index.md
  js/element-mouseover/index.md
  js/element-outerhtml/index.md
  js/element-removeeventlistener/index.md
  js/element-scroll-scrollintoview/index.md
  js/element-scroll-scrollto/index.md
  js/element-scroll-wheel/index.md
  js/element-style/index.md
  js/element-textcontent/index.md
  js/element-touch/index.md
  js/element/index.md
  js/event-beforeunload/index.md
  js/event-load-and-domcontentloaded/index.md
  js/event-unload/index.md
  js/events/index.md
  js/forms/index.md
  js/getelementbyid/index.md
  js/getelementsbytagname/index.md
  js/index.md
  js/math/index.md
  js/number-tostring/index.md
  js/object-tostring/index.md
  js/promise-catch/index.md
  js/promise-finally/index.md
  js/promise-then/index.md
  js/query-selector/index.md
  js/set-add/index.md
  js/set-clear/index.md
  js/set-delete/index.md
  js/set-entries/index.md
  js/set-foreach/index.md
  js/set-has/index.md
  js/set-keys/index.md
  js/set-size/index.md
  js/set-values/index.md
  js/string-length/index.md
Labels: улучшение, js

#2974 Исправляет опечатки
  tools/ssl-certificates/index.md
Labels: улучшение, tools

#2976 Демка для статьи про JSON
  tools/json/demos/transform-json/index.html
  tools/json/index.md
Labels: улучшение, tools

#2977 Добавляет описания в статьи для фичеринга JS и tools
  js/boolean/index.md
  js/typecasting/index.md
  tools/microservices/index.md
  tools/ssl-certificates/index.md
Labels: улучшение, кухня, js, tools

#2993 Добавляет обложку в статью про CSS-свойство `display`
  css/display/images/covers/desktop.svg
  css/display/images/covers/mobile.svg
  css/display/index.md
Labels: улучшение, css
