Repository doka-guide/content, pull requests merged in 2022-01, with the labels that each got.

#2648 Опечатка: "widow" - "window"
  js/local-storage/index.md
Labels: улучшение, js

#2626 Редактирует статью network
  .yaspeller.json
  tools/network/index.md
  tools/network/practice/igsekor.md
Labels: улучшение, tools, редактура

#2653 Исправляет опечатку.
  tools/tcp-udp-protocols/index.md
Labels: улучшение, tools

#2657 Поправил ссылки с 301 на 200
  css/web-colors/index.md
Labels: улучшение, css

#2559 Дописывает статью про `<b>`
  html/b/index.md
Labels: улучшение, html, дока

#2656 Удаляет задвоение слова «функция»
  js/events/index.md
Labels: улучшение, js

#2655 Исправляет стиль методов в статье про Set
  js/set/index.md
Labels: улучшение, js

#2658 Правит название файла
  js/ternary-operator/practice/gingerraccoon.md
Labels: кухня, ошибка

#2652 Обновляет список изменений
  CHANGELOG.md
Labels: кухня

#2560 Дописывает статью про `<i>`
  html/i/demos/base/index.html
  html/i/index.md
  people/gkhabada/index.md
Labels: html, дока

#2633 Добавляет пример-картинку в статью про `<figcaption>`
  html/figure-figcaption/images/figcaption.png
  html/figure-figcaption/index.md
Labels: улучшение, html

#2661 Редактирует статью про bg-repeat
  css/background-repeat/demos/gradient/index.html
  css/background-repeat/demos/repeat-x/index.html
  css/background-repeat/demos/repeat/index.html
  css/background-repeat/index.md
  css/background-repeat/practice/solarrust.md
Labels: улучшение, css, редактура

#2646 неточности в описании html/value, добавил min, max
  html/input/index.md
Labels: улучшение, html

#2669 Добавляет демку со всеми фильтрами и обновляет прежние
  css/filter-functions/demos/all/index.html
  css/filter-functions/demos/blur/index.html
  css/filter-functions/demos/brightness/index.html
  css/filter-functions/demos/contrast/index.html
  css/filter-functions/demos/drop-shadow/index.html
  css/filter-functions/demos/grayscale/index.html
  css/filter-functions/demos/hue-rotation/index.html
  css/filter-functions/demos/invert/index.html
  css/filter-functions/demos/opacity/index.html
  css/filter-functions/demos/saturate/index.html
  css/filter-functions/demos/sepia/index.html
  css/filter-functions/index.md
Labels: улучшение, css, демо

#2675 Добавляет обложку про Cтатическую типизацию
  tools/static-types/images/covers/desktop.svg
  tools/static-types/images/covers/mobile.svg
  tools/static-types/index.md
Labels: улучшение, кухня, tools

#2674 Добавляет обложку в статью про js/Debounce
  js/debounce/images/covers/desktop.svg
  js/debounce/images/covers/mobile.svg
  js/debounce/index.md
Labels: улучшение, кухня, js

#2673 Добавляет обложку в статью про области видимости
  js/closures/images/covers/desktop.svg
  js/closures/images/covers/mobile.svg
  js/closures/index.md
Labels: улучшение, кухня, js

#2659 Добавляет раздел "Особенность работы в браузере" в статье про `console.log`
  .yaspeller.json
  js/console-log/images/track-mutation.png
  js/console-log/index.md
Labels: улучшение, js

#2662 Редактирует статью про bg-size
  css/background-size/demos/cover/index.html
  css/background-size/index.md
  css/background-size/practice/solarrust.md
Labels: улучшение, css, редактура

#2637 Подчищает примеры рисования кодом
  css/border-image/index.md
  css/selection/demos/selection-with-text-shadow/index.html
  css/selection/practice/rusakov.md
  js/element-mouseover/index.md
  js/events/index.md
  js/modules/index.md
Labels: улучшение, css, js

#2680 Демки для статьи :required
  css/required/demos/input-hint/index.html
  css/required/demos/required-input/index.html
  css/required/index.md
  css/required/practice/ezhkov.md
Labels: улучшение, css, демо

#2672 Апдейт демок в ::before и ::after
  css/after/demos/link/index.html
  css/after/demos/word/index.html
  css/after/index.md
  css/after/practice/ezhkov.md
  css/before/demos/empty-content/index.html
  css/before/demos/icon/index.html
  css/before/demos/list/index.html
  css/before/index.md
  css/before/practice/ezhkov.md
Labels: улучшение, css, демо

#2619 Добавляет статью про итератор
  js/iterator/index.md
Labels: js, дока

#2677 Исправляет опечатки в статье про шифрование
  tools/encoding/index.md
Labels: улучшение, tools

#2679 Редактирует доку про b
  html/b/demos/view/index.html
  html/b/index.md
Labels: улучшение, html, редактура

#2625 Редактирует статью про Docker Data
  .yaspeller.json
  tools/docker-data-management/index.md
  tools/docker-data-management/practice/igsekor.md
Labels: улучшение, tools, редактура

#2683 Исправление опечатки
  js/programming-paradigms/index.md
Labels: улучшение, js

#2682 Правка в HTML/html
  html/html/index.md
Labels: улучшение, html

#2681 Исправляет опечатку в статье Гайд по flexbox
  css/flexbox-guide/index.md
Labels: улучшение, css

#2684 Удаляет битую ссылку
  html/i/index.md
Labels: улучшение, html, ошибка

#2686 Редактирует статью про [].reverse
  js/array-reverse/index.md
Labels: улучшение, js, редактура

#2685 Редактирует статью про [].reduce
  js/array-reduce/index.md
  js/array-reduce/practice/windrushfarer.md
Labels: улучшение, js, редактура

#2668 Редактирует статью border-image
  css/border-image/index.md
  css/border-image/practice/solarrust.md
Labels: улучшение, css, редактура

#2666 Редактирует статью border
  css/border/index.md
  css/border/practice/solarrust.md
Labels: улучшение, css, редактура

#2667 Добавляет статью про `text-indent` (#660)
  css/text-indent/demos/basic/index.html
  css/text-indent/images/1.png
  css/text-indent/index.md
  people/ra1nbow1/index.md
Labels: css, дока

#2694 Редактирует статью про em
  html/em/index.md
Labels: улучшение, html

#2676 Добавляет обложку в статью про линейный градиент
  css/linear-gradient/images/covers/desktop.svg
  css/linear-gradient/images/covers/mobile.svg
  css/linear-gradient/index.md
Labels: улучшение, кухня, css

#2696 Добавляет дизайн для демо в white-space
  css/white-space/demos/code/index.html
  css/white-space/demos/every/index.html
  css/white-space/demos/no-white-space/index.html
  css/white-space/index.md
  css/white-space/practice/ezhkov.md
Labels: улучшение, css, демо

#2699 nums[i] - пример с ошибкой
  js/array-filter/index.md
Labels: улучшение, js

#2608 Добавляет статью про `caret-color`
  .yaspeller.json
  css/caret-color/demos/form/index.html
  css/caret-color/demos/paint-the-caret/index.html
  css/caret-color/demos/rainbow-input/index.html
  css/caret-color/index.md
  people/mishamad/index.md
Labels: css, дока

#2700 Редизайнит демки в Наследовании
  css/inheritance/demos/border-inheritance/images/doggo-up.svg
  css/inheritance/demos/border-inheritance/index.html
  css/inheritance/demos/color-inheritance/images/doggo-up.svg
  css/inheritance/demos/color-inheritance/index.html
  css/inheritance/demos/current-color/index.html
  css/inheritance/index.md
  css/inheritance/practice/realetive.md
Labels: улучшение, css, демо

#2704 Update index.md
  js/array-filter/index.md
Labels: улучшение, js

#2703 Замена ссылки
  tools/web-server/index.md
Labels: улучшение, tools

#2650 Исправляет путь до файла
  tools/webpack/index.md
Labels: улучшение, tools

#2651 Добавляет доку про [].flat
  js/array-flat/index.md
  js/index.md
Labels: js, дока

#2627 Добавляет статью про метод массива findIndex
  js/array-find-index/demos/guest-list/index.html
  js/array-find-index/index.md
  js/array-find-index/practice/cergmin.md
  js/index.md
Labels: js, дока

#2687 Редактирует статью про [].some
  js/array-some/index.md
  js/array-some/practice/windrushfarer.md
Labels: улучшение, js, редактура

#2706 Правит путь до демки
  css/text-indent/index.md
Labels: улучшение, кухня, css

#2697 Добавляет статьи в индексы HTML и CSS
  css/index.md
  html/index.md
Labels: улучшение, css, html
