Repository doka-guide/content, pull requests merged in 2022-10, with the labels that each got.

#3838 Исправляет и улучшает плейсхолдер доки про `aria-haspopup`
  a11y/aria-haspopup/index.md
Labels: улучшение, дока, ошибка, placeholder, a11y

#3839 Улучшает плейсхолдер для доки про `aria-owns`
  a11y/aria-owns/index.md
Labels: улучшение, placeholder, a11y

#3840 Добавляет ссылки к плейсхолдеру про `aria-disabled`
  a11y/aria-disabled/index.md
Labels: улучшение, дока, placeholder, a11y

#3841 Добавляет ссылки в плейсхолдер доки про `aria-expanded`
  a11y/aria-expanded/index.md
Labels: улучшение, дока, placeholder, a11y

#3842 Добавляет ссылку к плейсхолдеру доки про `aria-pressed`
  a11y/aria-pressed/index.md
Labels: улучшение, дока, placeholder, a11y

#3843 Добавляет ссылку к плейсхолдеру доки `aria-selected`
  a11y/aria-selected/index.md
Labels: улучшение, дока, placeholder, a11y

#3844 Добавляет ссылки к плейсхолдеру доки про роль `button`
  a11y/role-button/index.md
Labels: улучшение, дока, placeholder, a11y

#3845 Добавляет ссылку в плейсхолдер доки про роль `heading`
  a11y/role-heading/index.md
Labels: улучшение, дока, placeholder, a11y

#3846 Добавляет ссылки в плейсхолдер доки про роль `link`
  a11y/role-link/index.md
Labels: улучшение, дока, placeholder, a11y

#3847 Улучшает доку про `aria-describedby`
  a11y/aria-describedby/demos/field-with-hint/index.html
  a11y/aria-describedby/index.md
Labels: улучшение, дока, placeholder, a11y

#3821 Добавляет плейсхолдер для доки про aria-busy
  a11y/aria-busy/index.md
Labels: дока, placeholder, a11y

#3820 Добавляет плейсхолдер для доки про aria-relevant
  a11y/aria-relevant/index.md
Labels: дока, placeholder, a11y

#3819 Добавляет плейсхолдер для доки про aria-atomic
  a11y/aria-atomic/index.md
Labels: дока, placeholder, a11y

#3818 Добавляет плейсхолдер для доки про ARIA-роль timer
  a11y/role-timer/index.md
Labels: дока, placeholder, a11y

#3817 Добавляет плейсхолдер для доки про ARIA-роль marquee
  a11y/role-marquee/index.md
Labels: дока, placeholder, a11y

#3816 Добавляет плейсхолдер для доки про ARIA-роль status
  a11y/role-status/index.md
Labels: дока, placeholder, a11y

#3815 Добавляет плейсходлер для доки про ARIA-роль log
  a11y/role-log/index.md
Labels: дока, placeholder, a11y

#3814 Добавляет плейсходлер для доки про ARIA-роль alert
  a11y/role-alert/index.md
Labels: дока, placeholder, a11y

#3848 Добавляет ссылки в плейсхолдер доки про `aria-atomic`
  a11y/aria-atomic/index.md
Labels: улучшение, дока, placeholder, a11y

#3849 Добавляет ссылку в плейсхолдер статьи про роль `alert`
  a11y/role-alert/index.md
Labels: улучшение, дока, placeholder, a11y

#3850 Добавляет ссылку в плейсхолдер доки про роль `status`
  a11y/role-status/index.md
Labels: улучшение, дока, placeholder, a11y

#3859 Добавляет @TatianaFokina к разделам с вёрсткой.
  CODEOWNERS
Labels: кухня

#3854 Исправляет опечатку в `Псевдоэлементы`
  css/pseudoelements/index.md
Labels: улучшение, css, дока

#3860 Улучшает плейсхолдер для доки про роль `status`
  a11y/role-status/index.md
Labels: улучшение, дока, placeholder, a11y

#3878 Исправляет пунктуацию
  html/deprecated-tags/index.md
Labels: улучшение, html

#3880 Исправляет запятую
  css/position/index.md
Labels: улучшение, css

#3883 Причёсывает демки в Комбинированных селекторах
  css/combined-selectors/demos/stars-rating-bug/index.html
  css/combined-selectors/demos/stars-rating/index.html
  css/combined-selectors/practice/romanbarannickov.md
Labels: улучшение, css

#3886 Правит опечатку в статье про `var`
  css/var/index.md
Labels: улучшение, css

#3879 Исправляет небольшие ошибки
  css/display/index.md
Labels: улучшение, css

#3884 Адаптирует демки в Псевдоклассах
  css/pseudoclasses/demos/custom-checkbox/index.html
  css/pseudoclasses/demos/default/index.html
  css/pseudoclasses/demos/disabled-enabled/index.html
  css/pseudoclasses/demos/empty/index.html
  css/pseudoclasses/demos/indeterminate/index.html
  css/pseudoclasses/demos/range/index.html
  css/pseudoclasses/demos/row-hover/index.html
  css/pseudoclasses/demos/target/index.html
  css/pseudoclasses/index.md
Labels: улучшение, css

#3894 Улучшает доку `text-rendering`
  css/text-rendering/demos/ligatures-kerning/index.html
  css/text-rendering/index.md
Labels: улучшение, css

#3895 Обновляет схему в статье Reactivity
  js/reactivity/images/stream_simple.png
Labels: улучшение, js

#3897 Дописывает доку по элементу `<datalist>`
  .yaspeller.json
  html/datalist/demos/browsers/index.html
  html/datalist/demos/datalist-color/index.html
  html/datalist/demos/datalist-date-month-week-time/index.html
  html/datalist/demos/datalist-datetime-local/index.html
  html/datalist/demos/datalist-email/images/arrow-down.svg
  html/datalist/demos/datalist-email/index.html
  html/datalist/demos/datalist-not-work/images/arrow-down.svg
  html/datalist/demos/datalist-not-work/index.html
  html/datalist/demos/datalist-range/index.html
  html/datalist/demos/datalist-text-search/images/arrow-down.svg
  html/datalist/demos/datalist-text-search/index.html
  html/datalist/demos/default/images/arrow-down.svg
  html/datalist/demos/default/index.html
  html/datalist/index.md
  html/datalist/practice/blueingreen68.md
Labels: html, статья

#3901 Добавляет доку `:focus-within`
  css/focus-within/demos/form/index.html
  css/focus-within/index.md
  css/index.md
Labels: css, дока

#3799 Улучшает PR чекер
  .github/workflows/pr-checks.yml
Labels: кухня

#3856 Добавляет рецепт счётчика символов
  recipes/character-counter/demos/result/index.html
  recipes/character-counter/index.md
  recipes/index.md
Labels: рецепт

#3906 Исправляет ошибку в статье blockquote
  html/blockquote/demos/blockquote/index.html
  html/blockquote/index.md
Labels: улучшение, html, статья

#3919 Убирает nlopin из assignees в шаблоне ишью
  .github/ISSUE_TEMPLATE/1_error_report.yml
Labels: кухня

#3898 Обновляет картинку в Geolocation API
  js/geolocation-api/images/chrome-example-permission.png
  js/geolocation-api/images/yandex-example-dw-c.png
  js/geolocation-api/index.md
Labels: улучшение, js, дока

#3918 Фиксит ссылку на правообладателя шрифта
  pages/licenses/index.md
Labels: кухня, ошибка

#3885 Добавляет статью о css функции max()
  css/index.md
  css/max/demos/view/index.html
  css/max/index.md
Labels: css, дока

#3903 Добавляет роли
  people/furtivite/index.md
  people/igsekor/index.md
  people/kirakusto/index.md
  people/kxnkxv/index.md
  people/nlopin/index.md
  people/pa7lux/index.md
  people/skorobaeus/index.md
  people/solarrust/index.md
  people/tatianafokina/index.md
Labels: кухня

#3837 Исправляет скрипт для дескрипшенов
  .github/scripts/description-helper.js
Labels: кухня

#3921 Добавляет фокус радио-кнопкам и чекбоксам
  docs/demos/style.md
Labels: улучшение, кухня

#3862 Дополняет статью про доступность
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#3852 Улучшает статью про ARIA-атрибуты
  a11y/aria-attrs/index.md
Labels: улучшение, статья, a11y

#3851 Улучшает статью про введение в ARIA
  a11y/aria-intro/demos/status-message/index.html
  a11y/aria-intro/index.md
Labels: улучшение, статья, a11y

#3822 Улучшает доку про `aria-label`
  a11y/aria-label/index.md
Labels: улучшение, дока, a11y

#3823 Улучшает доку про `aria-labelledby`
  a11y/aria-labelledby/index.md
Labels: улучшение, дока, a11y

#3826 Добавляет доку про ARIA-роль `contentinfo`
  a11y/role-contentinfo/demos/footer-with-contentinfo/index.html
  a11y/role-contentinfo/index.md
  a11y/role-contentinfo/practice/tatianafokina.md
Labels: дока, a11y

#3932 Обновляет индекс раздела Доступность
  a11y/index.md
Labels: кухня, a11y

#3931 Улучшает статью про ARIA-роли
  a11y/aria-roles/index.md
Labels: улучшение, статья, a11y

#3896 Добавляет На практике в доку про `<details>`
  .yaspeller.json
  html/details/demos/details-with-img/images/arrow-down.svg
  html/details/demos/details-with-img/images/arrow-up.svg
  html/details/demos/details-with-img/index.html
  html/details/practice/tatianafokina.md
Labels: улучшение, html

#3934 Добавляет utm-метку на ссылку практикума в /about
  pages/about/index.md
Labels: кухня

#3940 Добавляет статьи из a11y в фичеринг
  settings/featured.md
Labels: кухня

#3945 Фиксит экшен чеклистов
  .github/workflows/pr-add-checklist.yml
Labels: кухня

#3941 Добавляет описание и фотографию
  people/tatianafokina/index.md
  people/tatianafokina/photo.jpg
Labels: улучшение, кухня

#3943 Ослабляет правила по назначению лейблов разделов
  .github/labeler.yml
Labels: кухня

#3946 Правит путь к фотографии Татьяны Фокиной
  people/tatianafokina/photo.jpeg
Labels: кухня, ошибка

#3853 Добавляет статью про `URL`
  tools/index.md
  tools/url/index.md
  tools/url/practice/inventoris.md
Labels: tools, статья

#3947 Склоняет скип-линк правильно
  a11y/skip-link/index.md
Labels: статья, a11y

#3948 Изменяет свойство clip на clip-path в visually-hidden
  html/screenreaders/practice/tatianafokina.md
Labels: улучшение, html

#3952 Переключает лейблер на официальный релиз
  .github/workflows/pr-labels.yml
Labels: кухня

#3957 Добавляет чеккер для раздела Доступность
  .github/scripts/demos-helper.js
  .github/scripts/description-helper.js
  .github/scripts/editor-helper.js
Labels: кухня, a11y

#3958 Фиксит экшен Maintainer Helper
  .github/workflows/maintainer-helper.yml
Labels: кухня

#3935 Обновляет инструкции про страницы участников и демки
  docs/demos/index.md
  docs/people.md
Labels: кухня

#3962 fix typo
  js/element-classlist/practice/windrushfarer.md
Labels: js

#3963 Исправляет опечатки для значения `cubic-bezier` в `CSS-анимации`
  css/animation/index.md
Labels: улучшение, css, статья

#3964 Добавляет доступность в new.sh
  new.sh
Labels: кухня

#3909 Добавляет .gitignore
  .gitignore
Labels: кухня

#3966 Добавляет информацию about о @TatianaFokina
  pages/about/index.md
Labels: кухня

#3951 Переносит скринридеры в другой раздел
  a11y/aria-atomic/index.md
  a11y/aria-attrs/index.md
  a11y/aria-busy/index.md
  a11y/aria-describedby/index.md
  a11y/aria-hidden/index.md
  a11y/aria-intro/index.md
  a11y/aria-label/index.md
  a11y/aria-labelledby/index.md
  a11y/aria-live/index.md
  a11y/aria-relevant/index.md
  a11y/aria-roles/index.md
  a11y/chto-takoe-a11y/index.md
  a11y/index.md
  a11y/role-contentinfo/index.md
  a11y/role-contentinfo/practice/tatianafokina.md
  a11y/role-presentation-none/index.md
  a11y/screenreaders/demos/list-with-links/index.html
  a11y/screenreaders/demos/visually-hidden-text/index.html
  a11y/screenreaders/images/0.png
  a11y/screenreaders/images/1.png
  a11y/screenreaders/images/2.png
  a11y/screenreaders/images/3.png
  a11y/screenreaders/images/4.png
  a11y/screenreaders/images/5.png
  a11y/screenreaders/images/video-cover.png
  a11y/screenreaders/index.11tydata.json
  a11y/screenreaders/index.md
  a11y/screenreaders/practice/tatianafokina.md
  a11y/screenreaders/video/list-and-screenreaders.mp4
  a11y/screenreaders/video/list-and-screenreaders_safari.mp4
  a11y/skip-link/index.md
  css/caption-side/index.md
  html/caption/index.md
  html/details/practice/tatianafokina.md
  html/em/index.md
  html/footer/index.md
  html/h1-h6/index.md
  html/index.md
  html/ins/index.md
  js/element-hidden/index.md
  recipes/character-counter/index.md
  recipes/snow/index.md
Labels: html, js, статья, дока, placeholder, рецепт, a11y

#3930 Вопрос на собеседовании про композицию функций
  interviews/fp/answers/hellsquirrel/index.md
  interviews/fp/index.md
Labels: placeholder, собеседование

#3933 Каким станет значение в объекте по ключу
  interviews/change-object-value-by-key/answers/pa7lux/images/schema-2.png
  interviews/change-object-value-by-key/answers/pa7lux/images/schema.png
  interviews/change-object-value-by-key/answers/pa7lux/index.md
  interviews/change-object-value-by-key/index.md
Labels: собеседование

#3961 Добавляет вопрос про NaN
  interviews/nan/answers/hellsquirrel/index.md
  interviews/nan/index.md
Labels: собеседование

#3969 Добавляет в документацию информацию про новые разделы
  docs/contributing.md
  docs/demos/style.md
Labels: кухня

#3971 Добавляет рубрику «На собеседовании»
  docs/README.md
  docs/interviews.md
  interviews/change-object-value-by-key/answers/pa7lux/images/schema-2.png
  interviews/change-object-value-by-key/answers/pa7lux/images/schema.png
  interviews/change-object-value-by-key/answers/pa7lux/index.md
  interviews/change-object-value-by-key/index.md
  interviews/docker-life-cycle/answers/igsekor/images/container-lifecycle.png
  interviews/docker-life-cycle/answers/igsekor/index.md
  interviews/docker-life-cycle/index.md
  interviews/fp/answers/hellsquirrel/index.md
  interviews/fp/index.md
  interviews/nan/answers/hellsquirrel/index.md
  interviews/nan/index.md
  interviews/polyfill-promise-all/answers/walborn/index.md
  interviews/polyfill-promise-all/index.md
  people/walborn/index.md
  people/walborn/photo.jpg
  settings/featured.md
Labels: кухня

#3970 Добавляет рецепт для генератора шрифтов
  recipes/font-script/font.sh
  recipes/font-script/index.md
Labels: статья, рецепт

#3985 Изменение окончания
  css/cascade/index.md
Labels: улучшение, css, статья

#3978 Добавляет доку `aria-description`
  a11y/aria-description/demos/button-with-description/index.html
  a11y/aria-description/index.md
  a11y/index.md
Labels: дока, a11y

#3973 Убирает лишний перенос строки в `filter`
  css/filter/index.md
Labels: улучшение, css, дока
