Repository doka-guide/content, pull requests merged in 2022-07, with the labels that each got.

#3262 Обновление index.md
  tools/network-models/index.md
Labels: улучшение, tools

#3260 Обновление index.md
  tools/http-protocol/index.md
Labels: улучшение, tools

#3258 Добавляет обложку в статью про то, как браузер рисует веб-страницы
  js/how-the-browser-creates-pages/images/covers/desktop.svg
  js/how-the-browser-creates-pages/images/covers/mobile.svg
  js/how-the-browser-creates-pages/index.md
Labels: улучшение, кухня, js

#3257 Добавляет обложку в статью про Технический долг
  js/technical-debt/images/covers/desktop.svg
  js/technical-debt/images/covers/mobile.svg
  js/technical-debt/index.md
Labels: улучшение, кухня, js

#3267 добавляет описание, связанные статьи в статью про Array.isArray
  js/array-isarray/index.md
Labels: улучшение, js

#3268 добавляет описание, связанные статьи в статью про length
  js/array-length/index.md
Labels: улучшение, js

#3280 fix: отсутствует слово
  js/tdd/index.md
Labels: улучшение, js

#3259 Добавляет обложку в статью про позиционирование в CSS
  css/position/images/covers/desktop.svg
  css/position/images/covers/mobile.svg
  css/position/index.md
Labels: улучшение, кухня, css

#3240 Вносит правки в доку про `column-count`
  css/column-count/index.md
Labels: улучшение, css

#3281 Исправляет раздел про grid-auto-rows в Гайд по grid
  css/grid-guide/index.md
Labels: улучшение, css

#3278 Исправляет схему flexbox order
  css/flexbox-guide/images/7.png
  css/order/images/flexbox.png
Labels: улучшение, css

#3283 fix: get rid of syntactic mistake
  js/integration-and-system-testing/index.md
Labels: улучшение, js

#3275 Обновляет дизайн демо в рецепте "Драг-н-дроп"
  recipes/dragndrop-upload/demos/dragndrop-demo/index.html
  recipes/dragndrop-upload/index.md
  recipes/dragndrop-upload/video/dragndrop_upload_example.mp4
Labels: демо, рецепт

#3279 Добавляет забытый комментарий
  js/function-context/index.md
Labels: улучшение, js

#3270 добавляет описание, связанные статьи в статью про reduce()
  js/array-reduce/index.md
  js/array-reduce/practice/windrushfarer.md
Labels: улучшение, js

#3284 Добавляет описание и связанные статьи для `column-fill`
  css/column-fill/index.md
Labels: улучшение, css

#3285 Добавляет описание и связанные статьи для `column-gap`, `row-gap`
  css/column-row-gap/index.md
Labels: улучшение, css

#3286 Добавляет описание и связанные статьи для `column-rule`
  css/column-rule/index.md
Labels: улучшение, css

#3287 Добавляет описание и связанные статьи для `column-rule-color`
  css/column-rule-color/index.md
Labels: улучшение, css

#3290 Добавляет описание и связанные статьи для `column-span`
  css/column-span/index.md
Labels: улучшение, css

#3291 Добавляет описание и связанные статьи для `column-width`
  css/column-width/index.md
Labels: улучшение, css

#3292 Добавляет описание и связанные статьи для `columns`
  css/columns/index.md
Labels: улучшение, css

#3294 Добавляет описание и связанные статьи для комбинированных селекторов
  css/combined-selectors/index.md
Labels: улучшение, css

#3296 Добавляет описание и связанные статьи для комментариев в css
  css/comments/index.md
Labels: улучшение, css

#3297 Добавляет описание и связанные статьи для `conic-gradient()`
  css/conic-gradient/index.md
Labels: улучшение, css

#3298 Добавляет описание и связанные статьи для `counter-increment`
  css/counter-increment/index.md
Labels: улучшение, css

#3299 Добавляет описание и связанные статьи для `content`
  css/content/index.md
Labels: улучшение, css

#3300 Добавляет описание и связанные статьи для `counter-reset`
  css/counter-reset/index.md
Labels: улучшение, css

#3304 Добавляет описание и связанные статьи для `currentColor`
  css/currentcolor/index.md
Labels: улучшение, css

#3303 Добавляет описание и связанные статьи для `cursor`
  css/cursor/index.md
Labels: улучшение, css

#3302 Добавляет описание и связанные статьи для css-правила
  css/css-rule/index.md
Labels: улучшение, css

#3307 Добавляет описание и связанные статьи для кастомных свойств
  css/custom-properties/index.md
Labels: улучшение, css

#3276 Меняет стилистику и ложную информацию о хранении истории
  tools/version-control/index.md
Labels: улучшение, tools

#3311 добавляет описание и связанные статьи в статью про хранение данных в браузере
  js/browsers-storages/index.md
Labels: улучшение, js

#3309 добавляет описание и связанные статьи в статью про БОМ
  js/bom/index.md
  js/bom/practice/bespoyasov.md
Labels: улучшение, js

#3293 добавляет описание, связанные статьи в статью про массивы
  js/arrays/index.md
  js/arrays/practice/nlopin.md
Labels: улучшение, js

#3274 Добавляет доку про `word-spacing`
  css/word-spacing/demos/basic/index.html
  css/word-spacing/index.md
Labels: улучшение, css

#3288 Добавляет описание и связанные статьи для `column-rule-style`
  css/column-rule-style/index.md
Labels: улучшение, css

#3261 Исправляет статью про not
  css/not/index.md
  people/artur-demidov/index.md
Labels: улучшение, css

#3289 Добавляет описание и связанные статьи для `column-rule-width`
  css/column-rule-width/index.md
Labels: улучшение, css

#3313 Update index.md
  js/event/index.md
Labels: улучшение, js

#3312 Обновляет битую ссылку
  js/testing-and-fake-objects/index.md
Labels: улучшение, js

#3308 добавляет описание и связанные статьи в доку про большое целое
  js/bigint/index.md
Labels: улучшение, js

#3316 добавляет описание и связанные статьи в доку clearInterval
  js/clearinterval/index.md
Labels: улучшение, js

#3317 добавляет описание и связанные статьи в доку clearTimeout
  js/cleartimeout/index.md
Labels: улучшение, js

#3315 добавляет описание и связанные статьи в статью про трёхслойную архитектуру
  js/clean-architecture/index.md
Labels: улучшение, js

#3321 добавляет связанные статьи в статью про стиль написания кода
  js/code-style/index.md
Labels: улучшение, js

#3320 добавляет связанные статьи в статью про области видимости
  js/closures/index.md
  js/closures/practice/bespoyasov.md
Labels: улучшение, js

#3310 добавляет описание и связанные статьи в доку про boolean
  js/boolean/index.md
  js/boolean/practice/bespoyasov.md
Labels: улучшение, js

#3295 добавляет описание, связанные статьи в статью про async/await
  js/async-await/index.md
  js/async-await/practice/nlopin.md
  js/async-await/practice/vaiil.md
Labels: улучшение, js

#3332 добавляет связанные статьи в доку про координаты
  js/coordinates/index.md
  js/coordinates/practice/windrushfarer.md
Labels: улучшение, js

#3331 добавляет связанные статьи в доку про `cookie`
  js/cookie/index.md
  js/cookie/practice/akellbl4.md
Labels: улучшение, js

#3328 добавляет связанные статьи в доку про `const`
  js/const/index.md
  js/const/practice/nlopin.md
Labels: улучшение, js

#3327 добавляет связанные статьи в доку про `console.log`
  js/console-log/index.md
  js/console-log/practice/doka-dog.md
Labels: улучшение, js

#3333 Добавляет бэктики в дескрипшены
  css/pointer-events/index.md
  js/element-hidden/index.md
  js/event/index.md
  js/for-in/index.md
  js/promise-all/index.md
  js/promise-allsettled/index.md
  js/set-add/index.md
  js/set-clear/index.md
  js/set-constructor/index.md
  js/set-delete/index.md
  js/set-entries/index.md
  js/set-foreach/index.md
  js/set-has/index.md
  js/set-keys/index.md
  js/set-size/index.md
  js/set-values/index.md
Labels: улучшение, css, js

#3344 добавляет связанные статьи в статью о структурных паттернах проектирования
  js/design-patterns-structural/index.md
Labels: улучшение, js

#3342 добавляет связанные статьи в статью о порождающих паттернах проектирования
  js/design-patterns-creational/index.md
Labels: улучшение, js

#3341 добавляет связанные статьи в статью о поведенческих паттернах проектирования
  js/design-patterns-behaviorial/index.md
Labels: улучшение, js

#3340 добавляет связанные статьи в статью о debounce
  js/debounce/index.md
  js/debounce/practice/bespoyasov.md
Labels: улучшение, js

#3339 добавляет связанные статьи в статью о работе с формами
  js/deal-with-forms/index.md
Labels: улучшение, js

#3326 добавляет связанные статьи в доку про `confirm`
  js/confirm/index.md
  js/confirm/practice/doka-dog.md
Labels: улучшение, js

#3314 Редизайнит демо
  css/child/demos/child/index.html
  css/child/images/marker.png
  css/child/index.md
  css/nth-of-type/demos/every/index.html
  css/nth-of-type/demos/only/index.html
  css/nth-of-type/index.md
Labels: улучшение, css, демо

#3266 Улучшает примеры в статье про `Контекст наложения`
  css/stacking-context/demos/default/index.html
  css/stacking-context/demos/parent/index.html
  css/stacking-context/demos/under-bkg/index.html
  css/stacking-context/demos/z-index/index.html
  css/stacking-context/index.md
  people/nsbarsukov/index.md
  people/nsbarsukov/photo.jpg
Labels: улучшение, css, демо

#3347 Переводит меня в бывшие
  pages/about/index.md
Labels: кухня

#3346 добавляет связанные статьи в доку о DOM
  js/dom/index.md
  js/dom/practice/nlopin.md
Labels: улучшение, js

#3350 добавляет связанные статьи в доку о blur
  js/element-blur/index.md
  js/element-blur/practice/nlopin.md
Labels: улучшение, js

#3348 добавляет связанные статьи в доку о Element
  js/element/index.md
  js/element/practice/nlopin.md
Labels: улучшение, js

#3352 добавляет связанные статьи в доку о событии click
  js/element-click/index.md
  js/element-click/practice/nlopin.md
Labels: улучшение, js

#3357 Добавляет правки в статью "Объект события "Event"
  js/event/index.md
Labels: улучшение, js

#3355 Добавляет связанные статьи для `display`
  css/display/index.md
Labels: улучшение, css

#3351 добавляет связанные статьи в доку о classlist
  js/element-classlist/index.md
  js/element-classlist/practice/windrushfarer.md
Labels: улучшение, js

#3356 Добавляет дескрипшен и связанные статьи для `:empty`
  css/empty/index.md
Labels: улучшение, css

#3369 добавляет связанные статьи в доку о событии outerhtml
  js/element-outerhtml/index.md
Labels: улучшение, js

#3370 добавляет связанные статьи в доку о позиционировании из JS
  js/element-positioning-js/index.md
  js/element-positioning-js/practice/bespoyasov.md
Labels: улучшение, js

#3367 добавляет связанные статьи в доку о событиях keydown и keyup
  js/element-keydown-keyup/index.md
  js/element-keydown-keyup/practice/stegur.md
Labels: улучшение, js

#3365 добавляет связанные статьи в доку о свойстве innerHtml
  js/element-innerhtml/index.md
Labels: улучшение, js

#3368 добавляет связанные статьи в доку о событии mouseout
  js/element-mouseout/index.md
  js/element-mouseout/practice/nlopin.md
Labels: улучшение, js

#3361 добавляет связанные статьи в доку о методе focus
  js/element-focus/index.md
Labels: улучшение, js

#3362 добавляет связанные статьи в доку о событии dataset
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Labels: улучшение, js

#3363 добавляет связанные статьи в доку о методе getAttribute
  js/element-getattribute/index.md
Labels: улучшение, js

#3364 добавляет связанные статьи в доку о свойстве hidden
  js/element-hidden/index.md
Labels: улучшение, js

#3372 Меняет Surge на собственное решение
  .github/workflows/pr-preview.yml
Labels: улучшение, кухня, эксперимент

#3343 Исправляет мелкие недочеты в статье css/overflow
  css/overflow/demos/ellipsis/index.html
  css/overflow/index.md
  css/overflow/practice/realetive.md
Labels: улучшение, css

#3337 Добавляет статью про доступность
  .yaspeller.json
  a11y/chto-takoe-a11y/images/0.png
  a11y/chto-takoe-a11y/images/1.png
  a11y/chto-takoe-a11y/images/2.png
  a11y/chto-takoe-a11y/images/3.png
  a11y/chto-takoe-a11y/index.md
Labels: статья, a11y

#3318 Добавляет доку про `repeating-radial-gradient`
  css/radial-gradient/index.md
  css/repeating-conic-gradient/index.md
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
  people/inventoris/index.md
Labels: css, дока

#3374 queueMicrotask → queuemicrotask, добавляет забытые статьи в индексы
  css/index.md
  html/index.md
  js/clearinterval/index.md
  js/cleartimeout/index.md
  js/queuemicrotask/demos/queueMicrotask-vs-setTimeout/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/not-obvious/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/obvious/index.html
  js/queuemicrotask/images/event-loop-schema.png
  js/queuemicrotask/index.11tydata.json
  js/queuemicrotask/index.md
  js/queuemicrotask/practice/corocoto.md
Labels: улучшение

#3377 Исправил опечатку в статье "Error и стандартные ошибки"
  js/errors/index.md
Labels: улучшение, js

#3349 добавляет связанные статьи в доку о addEventListener
  js/element-addeventlistener/index.md
Labels: улучшение, js

#3366 добавляет связанные статьи в доку о свойстве innertext
  js/element-innertext/index.md
Labels: улучшение, js
