Repository doka-guide/content, pull requests merged in 2022-03, with the labels that each got.

#2823 Правит CODEOWNERS
  CODEOWNERS
Labels: кухня

#2822 Добавляет иллюстрацию про контекст наложения
  css/stacking-context/images/stacking-context.png
  css/stacking-context/index.md
Labels: улучшение, кухня, css

#2819 Добавляет обложку в статью про заголовки
  html/h1-h6/images/covers/desktop.svg
  html/h1-h6/images/covers/mobile.svg
  html/h1-h6/index.md
Labels: улучшение, кухня, html

#2811 Добавляет обложку в статью про `<footer>`
  html/footer/images/covers/desktop.svg
  html/footer/images/covers/mobile.svg
  html/footer/index.md
Labels: улучшение, кухня, html

#2826 Замена слова в тексте
  tools/ci-cd/index.md
Labels: улучшение, tools

#2824 Правит опечатку в статье про модули
  js/modules/index.md
Labels: улучшение, js

#2818 Добавляет обложку в доку о моках
  js/testing-and-fake-objects/images/covers/desktop.svg
  js/testing-and-fake-objects/images/covers/mobile.svg
  js/testing-and-fake-objects/index.md
Labels: улучшение, кухня, js

#2814 Правит опечатку на картинке в замыканиях
  js/closures/images/2.png
Labels: улучшение, js, ошибка

#2809 Добавляет обложку для статьи про версии языка
  js/language-versions/images/covers/desktop.svg
  js/language-versions/images/covers/mobile.svg
  js/language-versions/index.md
Labels: улучшение, кухня, js

#2797 в управление процессами добавляет заметку о приоритетах и управление ими
  people/zersh01/index.md
  tools/process-management/index.md
Labels: улучшение, tools

#2828 Добавляет обложки в статью про глобальные атрибуты в HTML
  html/global-attrs/images/covers/desktop.svg
  html/global-attrs/images/covers/mobile.svg
  html/global-attrs/index.md
Labels: улучшение, кухня, html

#2830 Меняет шрифт и вправляет смещение носа в обложке meta
  html/meta/images/covers/desktop.svg
  html/meta/images/covers/mobile.svg
Labels: улучшение, кухня, html

#2821 Обновляет иллюстрации в статье про чистую архитектуру
  js/clean-architecture/images/adapters.png
  js/clean-architecture/images/application.png
  js/clean-architecture/images/architecture.png
  js/clean-architecture/images/domain.png
Labels: улучшение, кухня, js

#2794 Добавляет статью «Как войти в Vim»
  tools/how-to-enter-to-vim/images/hjkl-keyboard.svg
  tools/how-to-enter-to-vim/images/wq.jpg
  tools/how-to-enter-to-vim/index.md
  tools/how-to-enter-to-vim/practice/anatoly-kor.md
  tools/how-to-enter-to-vim/video/diw-di.mp4
  tools/how-to-enter-to-vim/video/example.mp4
  tools/how-to-enter-to-vim/video/rewrite.mp4
Labels: tools, статья

#2832 Правит опечатку
  js/modules/index.md
Labels: улучшение, js

#2831 Переименовывает селекторы .item в .container для статьи 'css/grid'
  css/grid-guide/index.md
  css/grid/index.md
Labels: улучшение, css

#2827 Дополняет доку про SVG
  html/svg/index.md
  people/parus7/index.md
Labels: улучшение, html

#2829 Добавляет обложку в статью про тег head
  html/head/images/covers/desktop.svg
  html/head/images/covers/mobile.svg
  html/head/index.md
Labels: улучшение, кухня, html

#2784 Добавляет доку для тега `<samp>`
  html/samp/demos/basic/index.html
  html/samp/demos/complex/index.html
  html/samp/index.md
Labels: html, дока

#2795 Дополняет доку `<kbd>`
  html/kbd/demos/complex-kbd/index.html
  html/kbd/demos/style-kbd/index.html
  html/kbd/index.md
Labels: улучшение, html

#2836 Добавляет @timbilalov в папку people
  people/timbilalov/index.md
Labels: кухня

#2835 Добавляет шаблоны ишью
  .github/ISSUE_TEMPLATE/empty.md
  .github/ISSUE_TEMPLATE/error_report.md
  .github/ISSUE_TEMPLATE/new_material.md
  .yaspeller.json
Labels: кухня

#2840 Изменяет порядок шаблонов создания ишью
  .github/ISSUE_TEMPLATE/1_error_report.md
  .github/ISSUE_TEMPLATE/2_new_material.md
  .github/ISSUE_TEMPLATE/3_empty.md
Labels: кухня, ошибка

#2839 Правит опечатку в практике
  js/object/practice/doka-dog.md
Labels: улучшение, js

#2790 Добавляет доку про unload/beforeunload
  .yaspeller.json
  js/event-beforeunload/demos/beforeunload/index.html
  js/event-beforeunload/images/beforeunload-prompt.png
  js/event-beforeunload/index.md
  js/event-beforeunload/practice/kotosha-real.md
  js/event-unload/index.md
  js/event-unload/practice/kotosha-real.md
  js/index.md
Labels: js, дока

#2837 Дизайн в transform-origin и transform-style
  css/transform-origin/demos/skew-point/index.html
  css/transform-origin/demos/transform-point/images/point.svg
  css/transform-origin/demos/transform-point/index.html
  css/transform-origin/index.md
  css/transform-origin/practice/ezhkov.md
  css/transform-style/demos/3d-rotate/index.html
  css/transform-style/demos/cube-rotate/index.html
  css/transform-style/index.md
  css/transform-style/practice/ezhkov.md
Labels: улучшение, css, демо

#2833 Добавляет вариант описания раздела рецептов
  recipes/index.md
Labels: кухня

#2845 Добавляет автора статьи Вим
  people/anatoly-kor/index.md
Labels: улучшение, js

#2844 Исправляет генерацию ссылок в футере
  .github/workflows/product-deploy.yml
Labels: кухня, ошибка

#2850 Диз в Transition и Transition-delay
  css/transition-delay/demos/button-transform/index.html
  css/transition-delay/index.md
  css/transition/demos/color-transition/index.html
  css/transition/demos/tooltip-transition/index.html
  css/transition/demos/transition-of-properties/index.html
  css/transition/demos/transition-speed/index.html
  css/transition/index.md
Labels: улучшение, css, демо

#2847 Фикс вдогонку к ПР #2838
  css/transform-function/demos/funcs-order/index.html
  css/transform-function/demos/funcs-right-order/index.html
  css/transform-function/index.md
Labels: улучшение, css

#2848 Перекрашивает обложки
  html/class/images/covers/desktop.svg
  html/class/images/covers/mobile.svg
  html/flow/images/covers/desktop.svg
  html/flow/images/covers/mobile.svg
  html/footer/images/covers/desktop.svg
  html/footer/images/covers/mobile.svg
  html/h1-h6/images/covers/desktop.svg
  html/h1-h6/images/covers/mobile.svg
  html/iframe/images/covers/desktop.svg
  html/iframe/images/covers/mobile.svg
  html/link/images/covers/desktop.svg
  html/link/images/covers/mobile.svg
  html/select/images/covers/desktop.svg
  html/select/images/covers/mobile.svg
  html/ul/images/covers/desktop.svg
  html/ul/images/covers/mobile.svg
  html/video/images/covers/desktop.svg
  html/video/images/covers/mobile.svg
Labels: улучшение, кухня, html

#2852 Переименовывает переменную в примере статьи «Порождающие паттерны проектирования»
  js/design-patterns-creational/index.md
Labels: улучшение, js

#2857 Исправить орфографические ошибки
  js/coordinates/index.md
Labels: улучшение, js

#2856 Поправить опечатку
  js/element-touch/index.md
Labels: улучшение, js

#2853 Правит опечатку в статье про VAR и LET
  js/var-let/index.md
Labels: js, редактура

#2854 Правит ссылку в статье про Событие `beforeunload`
  js/event-beforeunload/index.md
Labels: улучшение, js, ошибка

#2859 Исправляет название файла на корректный для практики @windrushfarer
  js/template-strings/practice/windrushfarer.md
Labels: кухня

#2861 Исправлет окончание `внимания` -> `внимание`
  tools/static-analysis/index.md
Labels: улучшение, tools

#2862 Добавляет обложку в рецепт про снег
  recipes/snow/images/covers/desktop.svg
  recipes/snow/images/covers/mobile.svg
  recipes/snow/index.md
Labels: улучшение, кухня, рецепт

#2865 Добавляет обложку в статью про селектор по атрибуту
  css/attribute-selector/images/covers/desktop.svg
  css/attribute-selector/images/covers/mobile.svg
  css/attribute-selector/index.md
Labels: улучшение, кухня, css

#2864 Добавляет статью про снег в фичеринг на главной
  settings/featured.md
Labels: кухня

#2849 Добавляет рецепт про короткие ссылки на NJS
  recipes/index.md
  recipes/short-links/index.md
Labels: рецепт

#2851 Добавляет рецепт про Let's Encrypt для nginx
  recipes/index.md
  recipes/lets-encrypt-nginx/index.md
Labels: рецепт

#2834 Рецепт загрузки с прогрессбаром
  recipes/progress/demos/single-file/index.html
  recipes/progress/images/default_progressbar.png
  recipes/progress/images/default_progressbar.webp
  recipes/progress/index.md
  recipes/progress/video/progress_example.mp4
Labels: рецепт

#2869 Пора мёржить рецепты
  .yaspeller.json
  CODEOWNERS
  recipes/index.md
  recipes/lets-encrypt-nginx/index.md
  recipes/progress/demos/single-file/index.html
  recipes/progress/images/default_progressbar.png
  recipes/progress/images/default_progressbar.webp
  recipes/progress/index.md
  recipes/progress/video/progress_example.mp4
  recipes/short-links/index.md
  recipes/snow/demos/result-no-toggler/index.html
  recipes/snow/demos/result/index.html
  recipes/snow/images/covers/desktop.svg
  recipes/snow/images/covers/mobile.svg
  recipes/snow/index.md
  settings/featured.md
Labels: кухня, рецепт

#2870 Типографит и редачит совет про Let’s Encrypt
  recipes/lets-encrypt-nginx/index.md
Labels: улучшение, редактура
