Repository doka-guide/content, pull requests merged in 2022-09, with the labels that each got.

#3627 Добавляет доку про aria-labelledby
  a11y/aria-labelledby/demos/figure-with-aria-labelledby/images/chart.png
  a11y/aria-labelledby/demos/figure-with-aria-labelledby/index.html
  a11y/aria-labelledby/index.md
  a11y/aria-labelledby/practice/tatianafokina.md
Labels: дока, a11y

#3652 Добавляет доку про aria-describedby
  a11y/aria-describedby/demos/field-with-hint/index.html
  a11y/aria-describedby/index.md
Labels: дока, a11y

#3621 Добавляет доку про aria-label
  a11y/aria-label/aria-label.md
  a11y/aria-label/demos/button-with-icon/index.html
  a11y/aria-label/practice/tatianafokina.md
Labels: дока, a11y

#3616 Добавляет доку про ARIA-роли presentation, none
  a11y/role-presentation-none/demos/decorative-hr/index.html
  a11y/role-presentation-none/index.md
Labels: дока, a11y

#3759 Переименовывает файл, добавляет ссылки
  a11y/aria-label/index.md
Labels: улучшение, ошибка, a11y

#3735 Добавляет плейсходер для доки про prefers-reduced-motion
  a11y/prefers-reduced-motion/index.md
Labels: дока, placeholder, a11y

#3738 Добавляет плейсходлер для доки про aria-level
  a11y/aria-level/index.md
Labels: дока, placeholder, a11y

#3736 Добавляет плейсходлер для доки про роль heading
  a11y/role-heading/index.md
Labels: дока, placeholder, a11y

#3772 Добавляет плейсхолдер для роли link
  a11y/role-link/index.md
Labels: дока, placeholder, a11y

#3768 Добавляет плейсхолдео для ролей img, image
  a11y/role-img-image/index.md
Labels: дока, placeholder, a11y

#3770 Добавляет плейсхолдер для доки про aria-required
  a11y/aria-required/index.md
Labels: дока, placeholder, a11y

#3771 Добавляет плейсхолдер для доки про роль button
  a11y/role-button/index.md
Labels: дока, placeholder, a11y

#3764 Добавляет плейсхолдер для доки про роль navigation
  a11y/role-navigation/index.md
Labels: дока, placeholder, a11y

#3765 Добавляет плейсхолдер для доки про роль main
  a11y/role-main/index.md
Labels: дока, placeholder, a11y

#3766 Добавляет плейсхолдер для доки про роль complementary
  a11y/role-complementary/index.md
Labels: дока, placeholder, a11y

#3767 Добавляет плейсхолдер для доки про роль region
  a11y/role-region/index.md
Labels: дока, placeholder, a11y

#3754 Добавляет плейсхолдер для доки про роль form
  a11y/role-form/index.md
Labels: дока, placeholder, a11y

#3745 Добавляет плейсходлер для доки про роль banner
  a11y/role-banner/index.md
Labels: дока, placeholder, a11y

#3750 Добавляет плейсхолдер для доки про aria-placeholder
  a11y/aria-placeholder/index.md
Labels: дока, placeholder, a11y

#3747 Добавляет плейсхолдер для доки про роль search
  a11y/role-search/index.md
Labels: дока, placeholder, a11y

#3746 Добавляет плейсхолдер для доки про forced-colors
  a11y/forced-colors/index.md
Labels: дока, placeholder, a11y

#3748 Добавляет плейсхолдер для доки про prefers-contrast
  a11y/prefers-contrast/index.md
Labels: дока, placeholder, a11y

#3749 Добавляет плейсхолдер для доки про inverted-colors
  a11y/inverted-colors/index.md
Labels: дока, placeholder, a11y

#3782 Обновляет index.md для раздела Доступность
  a11y/index.md
Labels: кухня, a11y

#3777 Добавляет доку про skip-link
  .yaspeller.json
  a11y/skip-link/demos/basic/index.html
  a11y/skip-link/demos/with-skip-link/index.html
  a11y/skip-link/images/github.png
  a11y/skip-link/index.md
Labels: дока, a11y

#3805 Добавляет плейсхолдер для доки про aria-owns
  a11y/aria-owns/index.md
Labels: дока, placeholder, a11y

#3804 Добавляет плейсхолдер для доки про aria-controls
  a11y/aria-controls/index.md
Labels: дока, placeholder, a11y

#3792 Добавляет плейсхолдер для aria-live
  a11y/aria-live/index.md
Labels: дока, placeholder, a11y

#3800 Добавляет плейсхолдер для доки про aria-haspopup
  a11y/aria-haspopup/index.md
Labels: дока, placeholder, a11y

#3791 Добавляет плейсхолдер для aria-multiselectable
  a11y/aria-multiselectable/index.md
Labels: дока, placeholder, a11y

#3790 Добавляет плейсхолдер для aria-pressed
  a11y/aria-pressed/index.md
Labels: дока, placeholder, a11y

#3789 Добавляет плейсхолдер для aria-selected
  a11y/aria-selected/index.md
Labels: дока, placeholder, a11y

#3788 Добавляет плейсхолдер для aria-expanded
  a11y/aria-expanded/index.md
Labels: дока, placeholder, a11y

#3803 Добавляет плейсхолдер для доки про aria-readonly
  a11y/aria-readonly/index.md
Labels: дока, placeholder, a11y

#3801 Добавляет плейсхолдер для доки про aria-disabled
  a11y/aria-disabled/index.md
Labels: дока, placeholder, a11y

#3787 Добавляет плейсхолдер для aria-current
  a11y/aria-current/index.md
Labels: дока, placeholder, a11y

#3785 Добавляет плейсхолдер для aria-checked
  a11y/aria-checked/index.md
Labels: дока, placeholder, a11y

#3784 Добавляет практику к доке про skip link
  a11y/skip-link/index.md
  a11y/skip-link/practice/tatianafokina.md
Labels: улучшение, дока, a11y

#3825 Исправляет ссылку в нескольких доках
  a11y/aria-checked/index.md
  a11y/aria-current/index.md
  a11y/aria-disabled/index.md
  a11y/aria-expanded/index.md
  a11y/aria-haspopup/index.md
  a11y/aria-level/index.md
  a11y/aria-multiselectable/index.md
  a11y/aria-placeholder/index.md
  a11y/aria-pressed/index.md
  a11y/aria-readonly/index.md
  a11y/aria-required/index.md
  a11y/aria-selected/index.md
Labels: дока, ошибка, placeholder, a11y

#3835 Дополнение к доке font-stretch
  css/font-stretch/demos/interactive/index.html
  css/font-stretch/demos/keywords/index.html
  css/font-stretch/images/example.png
  css/font-stretch/index.md
Labels: улучшение, css, дока

#3834 Правит опечатку в коде доки `.getElementsByClassName()`
  js/getelementsbyclassname/index.md
Labels: улучшение, js

#3763 Добавляет обложку в статью про браузерные окружения
  js/bom/images/covers/desktop.svg
  js/bom/images/covers/mobile.svg
  js/bom/index.md
Labels: улучшение, кухня, js

#3824 Улучшает статью про доступность
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y
