Repository doka-guide/content, pull requests merged in 2022-06, with the labels that each got.

#2994 Добавляет дескрипшены для нового фичеринга (HTML, CSS)
  css/keyframes/index.md
  css/transform-function/index.md
Labels: улучшение, кухня, css

#3016 Редактирует статью про keyframes
  css/keyframes/index.md
Labels: улучшение, css

#3015 Редактирует статью про функции css-трансформации
  css/transform-function/index.md
Labels: улучшение, css

#2906 Дописывает доку про `<base>`
  html/base/index.md
Labels: улучшение, html, дока

#2913 Добавляет доку про `caption-side`
  .yaspeller.json
  css/caption-side/index.md
  css/index.md
Labels: css, дока

#2907 Добавляет доку про `pattern`
  html/index.md
  html/pattern/images/chrome_tooltip.png
  html/pattern/index.md
  html/pattern/practice/solarrust.md
Labels: html, дока

#2912 Добавляет доку про `<caption>`
  html/caption/index.md
  html/index.md
  html/tables/index.md
Labels: html, дока

#2875 Добавляет сборку и публикацию поискового индекса
  .github/scripts/search-index.js
  .github/workflows/update-index.yml
Labels: улучшение, кухня

#2932 Список новых материалов в мае
  CHANGELOG.md
Labels: кухня

#3087 добавляет описание, связанные статьи в статью про архитектурну и паттерны
  js/architecture-and-design-patterns/index.md
Labels: улучшение, js

#3076 добавляет связанные статьи и ссылки в alert
  js/alert/index.md
Labels: улучшение, js

#3079 добавляет связанные статьи, описание и ссылки в статью про апи
  js/api/index.md
Labels: улучшение, js

#3091 добавляет описание, связанные статьи в статью про поток данных
  js/architecture-data-flow/index.md
Labels: улучшение, js

#3097 добавляет описание, связанные статьи в статью про MVC
  js/architecture-mvc/index.md
Labels: улучшение, js

#3101 добавляет описание, связанные статьи в статью про every
  js/array-every/index.md
Labels: улучшение, js

#3106 добавляет описание, связанные статьи в статью про filter
  js/array-filter/index.md
Labels: улучшение, js

#3108 Правит мелочи в доке про `backface-visibility`
  css/backface-visibility/index.md
Labels: улучшение, css

#3107 Правит мелочи в доке про `backdrop-filter`
  css/backdrop-filter/index.md
Labels: улучшение, css

#3105 Правит мелочи в доке про Селектор по атрибуту
  css/attribute-selector/index.md
Labels: улучшение, css

#3104 Правит мелочи в доке про `attr()`
  css/attr/index.md
Labels: улучшение, css

#3103 Правит мелочи в доке про `appearance`
  css/appearance/index.md
Labels: улучшение, css

#3102 Правит мелочи в доке про `animation-timing-function`
  css/animation-timing-function/index.md
Labels: улучшение, css

#3109 Правит мелочи в доке про `background`
  css/background/index.md
Labels: улучшение, css

#3078 Добавляет дескрипшн и связанные статьи к доке про `a`
  html/a/index.md
Labels: улучшение, html

#3085 Добавляет дескрипшн и связанные статьи к доке про `article`
  html/article/index.md
Labels: улучшение, html

#3090 Добавляет дескрипшн и связанные статьи к доке про `audio`
  html/audio/index.md
Labels: улучшение, html

#3013 Вносит мелкое дополнение в доку про `background`
  css/background/index.md
Labels: улучшение, css

#3074 Правит мелочи в доке про `accent-color`
  css/accent-color/index.md
Labels: улучшение, css

#3075 Правит мелочи в доке про `:active`
  css/active/index.md
Labels: улучшение, css

#3077 Правит мелочи в статье про Подключение стилей
  css/adding-styles/index.md
Labels: улучшение, css

#3080 Правит мелочи в доке про `::after`
  css/after/index.md
Labels: улучшение, css

#3081 Правит мелочи в доке про `align-content`
  css/align-content/index.md
Labels: улучшение, css

#3083 Правит мелочи в доке про `align-items`
  css/align-items/index.md
Labels: улучшение, css

#3084 Правит мелочи в доке про `align-self`
  css/align-self/index.md
Labels: улучшение, css

#3086 Правит мелочи в доке про `all`
  css/all/index.md
Labels: улучшение, css

#3089 Правит мелочи в статье про `CSS-анимации`
  css/animation/index.md
Labels: улучшение, css

#3092 Правит мелочи в доке про `animation-delay`
  css/animation-delay/index.md
Labels: улучшение, css

#3093 Правит мелочи в доке про `animation-direction`
  css/animation-direction/index.md
Labels: улучшение, css

#3094 Правит мелочи в доке про `animation-duration`
  css/animation-duration/index.md
Labels: улучшение, css

#3095 Добавляет дескрипшн и связанные статьи к доке про `autocomplete`
  html/autocomplete/index.md
Labels: улучшение, html

#3096 Правит мелочи в доке про `animation-fill-mode`
  css/animation-fill-mode/index.md
Labels: улучшение, css

#3098 Правит мелочи в доке про `animation-iteration-count`
  css/animation-iteration-count/index.md
Labels: улучшение, css

#3099 Правит мелочи в доке про `animation-name`
  css/animation-name/index.md
Labels: улучшение, css

#3100 Правит мелочи в доке про `animation-play-state`
  css/animation-play-state/index.md
Labels: улучшение, css

#3198 Исправляет пути к материалам
  css/align-content/index.md
  css/animation-delay/index.md
  css/animation-duration/index.md
  css/animation-timing-function/index.md
Labels: улучшение, css

#3082 Добавляет дескрипшн и связанные статьи к доке про `address`
  html/address/index.md
Labels: улучшение, html

#3200 Добавляет связанные статьи к доке про `base`
  html/base/index.md
Labels: улучшение, кухня, html

#3017 Редактирует статью про boolean
  js/boolean/index.md
  js/boolean/practice/bespoyasov.md
Labels: улучшение, js

#3210 Мелкие правки в доку про `background-size`
  css/background-size/index.md
Labels: улучшение, css

#3207 Правит мелочи в доке `background-origin`
  css/background-origin/index.md
Labels: улучшение, css

#3206 Правит мелочи в доке `background-image`
  css/background-image/index.md
Labels: улучшение, css

#3205 Правит мелочи в доке `background-color`
  css/background-color/index.md
Labels: улучшение, css

#3204 Правит мелочи в доке `background-clip`
  css/background-clip/index.md
Labels: улучшение, css

#3203 Правит мелочи в доке `background-blend-mode`
  css/background-blend-mode/index.md
Labels: улучшение, css

#3014 Добавляет доку про Promise.any()
  js/index.md
  js/promise-any/index.md
  people/yarkovaleksei/index.md
Labels: js, дока

#3220 Мелкие правки в доку про `box-sizing`
  css/box-sizing/index.md
  css/box-sizing/practice/solarrust.md
Labels: улучшение, css

#3219 Мелкие правки в доку про `box-shadow`
  css/box-shadow/index.md
Labels: улучшение, css

#3215 Мелкие правки в доку про `border-radius`
  css/border-radius/index.md
Labels: улучшение, css

#3214 Мелкие правки в доку про `border-image`
  css/border-image/index.md
Labels: улучшение, css

#3212 Мелкие правки в доку про `border`
  css/border/index.md
Labels: улучшение, css

#3211 Мелкие правки в доку про `before`
  css/before/index.md
Labels: улучшение, css

#3006 Добавляет рецепт загрузки dragndrop
  .yaspeller.json
  recipes/dragndrop-upload/demos/dragndrop-demo/index.html
  recipes/dragndrop-upload/index.md
  recipes/dragndrop-upload/video/dragndrop_upload_example.mp4
  recipes/index.md
Labels: рецепт

#3012 Добавляет экшен для автозадач по проверке дескрипшенов
  .github/scripts/description-helper.js
  .github/workflows/maintainer-helper.yml
Labels: улучшение, кухня

#3223 Добавляет новое поле related в список разрешённых
  .github/frontmatter.json
Labels: кухня, ошибка

#3222 исправление ошибки
  js/template-strings/index.md
Labels: улучшение, js

#3195 Дополняет доку про `<output>`
  html/output/demos/form-rating/index.html
  html/output/index.md
Labels: улучшение, html

#3225 Актуализирует команду
  pages/about/index.md
Labels: улучшение, кухня

#3226 Обновляет фичеринг
  settings/featured.md
Labels: улучшение, кухня

#3199 Добавляет дескрипшн и связанные статьи к доке про `b`
  html/b/index.md
Labels: улучшение, кухня, html

#2933 Дописывает доку про `columns`
  css/columns/demos/basic/index.html
  css/columns/index.md
Labels: улучшение, css, дока

#2916 Добавляет доку про `repeating-conic-gradient`
  css/index.md
  css/repeating-conic-gradient/demos/basic/index.html
  css/repeating-conic-gradient/demos/pattern/index.html
  css/repeating-conic-gradient/demos/repeating/index.html
  css/repeating-conic-gradient/index.md
Labels: css, дока

#3242 Добавляет совет-аналогию из JS в статью о Каскаде CSS
  css/cascade/practice/nlopin.md
Labels: улучшение, css

#3227 Дополняет доку `<progress>`
  html/progress/demos/basic/index.html
  html/progress/images/default_progressbar.png
  html/progress/index.md
  html/progress/practice/webdb81.md
Labels: html, дока

#3241 Вносит правки в доку про `github-actions`
  tools/github-actions/index.md
Labels: улучшение, tools

#2874 Добавляет статью «Основы работы с ElasticSearch»
  .yaspeller.json
  people/khlebovsky/index.md
  people/khlebovsky/photo.jpg
  tools/elasticsearch/images/scheme1.png
  tools/elasticsearch/index.md
  tools/index.md
Labels: tools, статья

#3238 Вносит правки в доку про `child`
  css/child/index.md
Labels: улучшение, css

#3237 Вносит правки в доку про Селектор по классу
  css/class-selector/index.md
Labels: улучшение, css

#3236 Вносит правки в доку про `clip`
  css/clip/index.md
Labels: улучшение, css

#3233 Мелкие правки в доку про `calc()`
  css/calc/index.md
  css/calc/practice/solarrust.md
Labels: улучшение, css

#3231 Вносит правки в доку про `caret-color`
  css/caret-color/demos/rainbow-input/index.html
  css/caret-color/index.md
  css/caret-color/practice/mishamad.md
Labels: улучшение, css

#3239 Вносит правки в доку про `color`
  css/color/index.md
  css/color/practice/solarrust.md
Labels: улучшение, css

#3249 добавляет описание, связанные статьи в статью про forEach
  js/array-foreach/index.md
Labels: улучшение, js

#3246 добавляет описание, связанные статьи в статью про flatMap
  js/array-flatmap/index.md
Labels: улучшение, js

#3245 Добавляет описание, связанные статьи в статью про find
  js/array-find/index.md
Labels: улучшение, js

#3247 добавляет описание, связанные статьи в статью про find-index
  js/array-find-index/index.md
  js/array-find-index/practice/cergmin.md
Labels: улучшение, js

#3253 Улучшает документацию про `:has`
  css/has/index.md
Labels: улучшение, css

#3252 Update solarrust.md
  css/visibility/practice/solarrust.md
Labels: улучшение, css

#3254 Исправляет ссылку
  css/cascade/index.md
Labels: улучшение, кухня, css, ошибка
