Repository doka-guide/content, pull requests merged in 2022-08, with the labels that each got.

#3393 добавляет связанные статьи в статью о выражениях и инструкциях
  js/expressions-vs-statements/index.md
Labels: улучшение, js

#3391 добавляет связанные статьи в статью о событийной модели
  js/events/index.md
  js/events/practice/nlopin.md
Labels: улучшение, js

#3389 добавляет связанные статьи в доку о load
  js/event-load-and-domcontentloaded/index.md
  js/event-load-and-domcontentloaded/practice/nlopin.md
Labels: улучшение, js

#3388 добавляет связанные статьи в доку о beforeunload
  js/event-beforeunload/index.md
  js/event-beforeunload/practice/kotosha-real.md
Labels: улучшение, js

#3387 добавляет связанные статьи в доку о событиях
  js/event/index.md
  js/event/practice/akellbl4.md
Labels: улучшение, js

#3384 добавляет связанные статьи в доку о свойстве style
  js/element-style/index.md
  js/element-style/practice/bespoyasov.md
Labels: улучшение, js

#3383 добавляет связанные статьи в доку о scroll и wheel
  js/element-scroll-wheel/index.md
  js/element-scroll-wheel/practice/nlopin.md
Labels: улучшение, js

#3382 добавляет связанные статьи в доку о scrollBy
  js/element-scroll-scrollto/index.md
  js/element-scroll-scrollto/practice/doka-dog.md
Labels: улучшение, js

#3381 добавляет связанные статьи в доку о scrollIntoView
  js/element-scroll-scrollintoview/index.md
Labels: улучшение, js

#3385 добавляет связанные статьи в доку о свойстве textcontent
  js/element-textcontent/index.md
Labels: улучшение, js

#3386 добавляет связанные статьи в доку о событии touch
  js/element-touch/index.md
  js/element-touch/practice/windrushfarer.md
Labels: улучшение, js

#3354 Добавляет дескрипшен и связанные статьи для `:disabled`, `:enabled`
  css/disabled-enabled/index.md
Labels: улучшение, css

#3335 Добавляет статью про тег canvas (#558)
  html/canvas/demos/canvas/index.html
  html/canvas/demos/webgl/index.html
  html/canvas/index.md
  people/epodivilov/index.md
Labels: html, дока

#3406 Номер квартиры в описании маршрута до дома в императивном стиле не соответствует описанию в декларативном.
  js/programming-paradigms/index.md
Labels: улучшение, js

#3437 добавляет связанные статьи в статью об ооп
  js/oop/index.md
Labels: улучшение, js

#3394 добавляет связанные статьи в доку `fetch`
  js/fetch/index.md
  js/fetch/practice/windrushfarer.md
Labels: улучшение, js

#3395 добавляет связанные статьи в доку `for`
  js/for/index.md
  js/for/practice/doka-dog.md
Labels: улучшение, js

#3396 добавляет связанные статьи в доку `for..in`
  js/for-in/index.md
Labels: улучшение, js

#3398 добавляет связанные статьи в доку `forms`
  js/forms/index.md
Labels: улучшение, js

#3397 добавляет связанные статьи в доку `formData`
  js/form-data/index.md
  js/form-data/practice/vitalybaev.md
Labels: улучшение, js

#3399 review/function
  js/function/index.md
  js/function/practice/doka-dog.md
Labels: улучшение, js

#3400 добавляет связанные статьи в доку о arguments
  js/function-arguments-object/index.md
  js/function-arguments-object/practice/app.md
Labels: улучшение, js

#3401 добавляет связанные статьи в доку о функциях как типе данных
  js/function-as-datatype/index.md
Labels: улучшение, js

#3402 добавляет связанные статьи в доку о getElementsByClassName
  js/getelementsbyclassname/index.md
  js/getelementsbyclassname/practice/nlopin.md
Labels: улучшение, js

#3403 добавляет связанные статьи в доку о getElementById
  js/getelementbyid/index.md
  js/getelementbyid/practice/nlopin.md
Labels: улучшение, js

#3404 добавляет связанные статьи в доку о this
  js/function-context/index.md
  js/function-context/practice/bespoyasov.md
Labels: улучшение, js

#3405 добавляет связанные статьи в доку о getElementsByTagName
  js/getelementsbytagname/index.md
  js/getelementsbytagname/practice/nlopin.md
Labels: улучшение, js

#3407 добавляет связанные статьи в статью о том, как браузер рисует страницы
  js/how-the-browser-creates-pages/index.md
  js/how-the-browser-creates-pages/practice/bespoyasov.md
Labels: улучшение, js

#3410 добавляет связанные статьи в доку о HTMLCollection
  js/htmlcollection-and-nodelist/index.md
  js/htmlcollection-and-nodelist/practice/nlopin.md
Labels: улучшение, js

#3411 добавляет связанные статьи в доку о if-else
  js/if-else/index.md
  js/if-else/practice/nlopin.md
  js/if-else/practice/saharok.md
Labels: улучшение, js

#3412 добавляет связанные статьи в доку о includes
  js/includes/index.md
  js/includes/practice/nlopin.md
Labels: улучшение, js

#3413 добавляет связанные статьи в доку о indexOf
  js/index-of/index.md
  js/index-of/practice/nlopin.md
Labels: улучшение, js

#3415 добавляет связанные статьи в статью об интеграционном тестировании
  js/integration-and-system-testing/index.md
Labels: улучшение, js

#3416 добавляет связанные статьи в доку об итераторах
  js/iterator/index.md
Labels: улучшение, js

#3418 добавляет связанные статьи в доку о localstorage
  js/local-storage/index.md
  js/local-storage/practice/akellbl4.md
Labels: улучшение, js

#3419 добавляет связанные статьи в доку о логических операторах
  js/logic-operators/index.md
  js/logic-operators/practice/cergmin.md
Labels: улучшение, js

#3421 добавляет связанные статьи в доку о Map
  js/map/index.md
Labels: улучшение, js

#3420 добавляет связанные статьи в доку о циклах
  js/loop/index.md
  js/loop/practice/nlopin.md
Labels: улучшение, js

#3423 добавляет связанные статьи в доку о Math
  js/math/index.md
  js/math/practice/doka-dog.md
Labels: улучшение, js

#3424 добавляет связанные статьи в доку о Math.floor
  js/math-floor/index.md
  js/math-floor/practice/nlopin.md
Labels: улучшение, js

#3425 добавляет связанные статьи в доку о Math.random
  js/math-random/index.md
  js/math-random/practice/nlopin.md
Labels: улучшение, js

#3426 добавляет связанные статьи в статью о модулях
  js/modules/index.md
  js/modules/practice/bespoyasov.md
Labels: улучшение, js

#3427 добавляет связанные статьи в доку null
  js/null-primitive/index.md
Labels: улучшение, js

#3409 добавляет связанные статьи в статью о тестировании
  js/how-to-test-and-why/index.md
Labels: улучшение, js

#3429 добавляет связанные статьи в доку о isNaN
  js/number-is-nan/index.md
  js/number-is-nan/practice/nlopin.md
Labels: улучшение, js

#3431 добавляет связанные статьи в доку о isFinite
  js/number-tostring/index.md
  js/number-tostring/practice/nlopin.md
Labels: улучшение, js

#3414 добавляет связанные статьи в статью о бесконечной прокрутке
  js/infinite-scroll/index.md
  js/infinite-scroll/practice/bespoyasov.md
Labels: улучшение, js

#3432 добавляет связанные статьи в доку о isFinite
  js/number-wrapper/index.md
  js/number-wrapper/practice/nlopin.md
Labels: улучшение, js

#3434 добавляет связанные статьи в доку о toString()
  js/object-tostring/index.md
  js/object-tostring/practice/nlopin.md
Labels: улучшение, js

#3433 добавляет связанные статьи в доку о Object
  js/object/index.md
Labels: улучшение, js

#3417 добавляет связанные статьи в статью о версиях JS
  js/language-versions/index.md
Labels: улучшение, js

#3430 добавляет связанные статьи в доку о isFinite
  js/number-isfinite/index.md
Labels: улучшение, js

#3435 добавляет связанные статьи в статью о том, что всё объект
  js/objects-objects-everywhere/index.md
Labels: улучшение, js

#3376 Добавляет альтернативное объяснение в доку про line-height
  css/line-height/images/line_height_demo.png
  css/line-height/index.md
Labels: улучшение, css

#3375 Добавляет статьи за июль 2022 в ченджлог
  CHANGELOG.md
Labels: улучшение

#3453 добавляет связанные статьи в доку о querySelectorAll
  js/query-selector-all/index.md
  js/query-selector-all/practice/nlopin.md
Labels: улучшение, js

#3452 добавляет связанные статьи в доку о querySelector
  js/query-selector/index.md
  js/query-selector/practice/nlopin.md
Labels: улучшение, js

#3451 добавляет связанные статьи в доку о prompt
  js/prompt/index.md
Labels: улучшение, js

#3449 добавляет связанные статьи в доку о Promise.race
  js/promise-race/index.md
Labels: улучшение, js

#3447 добавляет связанные статьи в доку о Promise.catch
  js/promise-catch/index.md
  js/promise-catch/practice/nlopin.md
Labels: улучшение, js

#3446 добавляет связанные статьи в доку о Promise.any
  js/promise-any/index.md
Labels: улучшение, js

#3444 добавляет связанные статьи в доку о Promise.all
  js/promise-all/index.md
  js/promise-all/practice/yurlovr.md
Labels: улучшение, js

#3441 добавляет связанные статьи в доку о performance
  js/performance/index.md
Labels: улучшение, js

#3442 добавляет связанные статьи в статью о парадигмах программирования
  js/programming-paradigms/index.md
  js/programming-paradigms/practice/bespoyasov.md
Labels: улучшение, js

#3450 добавляет связанные статьи в доку о Promise.then
  js/promise-then/index.md
  js/promise-then/practice/nlopin.md
Labels: улучшение, js

#3445 добавляет связанные статьи в доку о Promise.allSettled
  js/promise-allsettled/index.md
Labels: улучшение, js

#3443 добавляет связанные статьи в статью о промисах
  js/promise/index.md
  js/promise/practice/nlopin.md
Labels: улучшение, js

#3475 добавляет связанные статьи в доку о спред-синтаксисе
  js/spread/index.md
Labels: улучшение, js

#3474 добавляет связанные статьи в статью о поверхностном копировании
  js/shallow-or-deep-clone/index.md
Labels: улучшение, js

#3473 добавляет связанные статьи в доку о setTimeout
  js/settimeout/index.md
  js/settimeout/practice/windrushfarer.md
Labels: улучшение, js

#3472 добавляет связанные статьи в доку о setInterval
  js/setinterval/index.md
  js/setinterval/practice/nlopin.md
Labels: улучшение, js

#3471 добавляет связанные статьи в доку о методе values для set
  js/set-values/index.md
  js/set-values/practice/nlopin.md
Labels: улучшение, js

#3470 добавляет связанные статьи в доку о свойстве size для set
  js/set-size/index.md
Labels: улучшение, js

#3469 добавляет связанные статьи в доку о методе keys для set
  js/set-keys/index.md
  js/set-keys/practice/nlopin.md
Labels: улучшение, js

#3468 добавляет связанные статьи в доку о методе has для set
  js/set-has/index.md
  js/set-has/practice/nlopin.md
Labels: улучшение, js

#3466 добавляет связанные статьи в доку о методе entries для set
  js/set-entries/index.md
Labels: улучшение, js

#3465 добавляет связанные статьи в доку о методе delete для set
  js/set-delete/index.md
Labels: улучшение, js

#3464 добавляет связанные статьи в доку о конструкторе для set
  js/set-constructor/index.md
Labels: улучшение, js

#3463 добавляет связанные статьи в доку о методе clear для set
  js/set-clear/index.md
Labels: улучшение, js

#3462 добавляет связанные статьи в доку о методе add для set
  js/set-add/index.md
Labels: улучшение, js

#3461 добавляет связанные статьи в доку о Set
  js/set/index.md
  js/set/practice/nlopin.md
Labels: улучшение, js

#3460 добавляет связанные статьи в доку о session storage
  js/session-storage/index.md
  js/session-storage/practice/akellbl4.md
Labels: улучшение, js

#3459 добавляет связанные статьи в доку о return
  js/return/index.md
  js/return/practice/doka-dog.md
Labels: улучшение, js

#3458 добавляет связанные статьи в статью о ссылочных типах
  js/ref-type-vs-value-type/index.md
  js/ref-type-vs-value-type/practice/windrushfarer.md
Labels: улучшение, js

#3457 добавляет связанные статьи в статью о рекурсии
  js/recursion/index.md
Labels: улучшение, js

#3456 добавляет связанные статьи в статью о реактивности
  js/reactivity/index.md
Labels: улучшение, js

#3455 добавляет связанные статьи в статью о Реакте и альтренативах
  js/react-and-alternatives/index.md
Labels: улучшение, js

#3454 Фиксит ссылку на связанную статью
  js/element-textcontent/index.md
Labels: улучшение, js

#3448 добавляет связанные статьи в доку о Promise.finally
  js/promise-finally/index.md
  js/promise-finally/practice/nlopin.md
Labels: улучшение, js

#3541 добавляет связанные статьи в статью о веб-серверах
  tools/web-server/index.md
Labels: улучшение, tools

#3542 добавляет связанные статьи в статью о Webpack
  tools/webpack/index.md
  tools/webpack/practice/igorkamyshev.md
Labels: улучшение, tools

#3544 добавляет связанные статьи в статью об YAML
  tools/yaml/index.md
  tools/yaml/practice/kognitivnayabuena.md
Labels: улучшение, tools

#3543 добавляет связанные статьи в статью об XML
  .yaspeller.json
  result.json
  tools/xml/index.md
Labels: улучшение, tools

#3479 review/string length
  js/string-length/index.md
  js/string-length/practice/nlopin.md
Labels: улучшение, js

#3478 добавляет связанные статьи в доку о спред-синтаксисе
  js/string/index.md
Labels: улучшение, js

#3520 добавляет связанные статьи в статью о gulp
  tools/gulp/index.md
Labels: улучшение, tools

#3523 добавляет связанные статьи в статью о JSON
  tools/json/index.md
  tools/json/practice/stegur.md
Labels: улучшение, tools

#3524 добавляет связанные статьи в статью о markdown
  tools/markdown/index.md
Labels: улучшение, tools

#3530 добавляет связанные статьи в статью о node.js
  tools/nodejs/index.md
Labels: улучшение, tools

#3538 добавляет связанные статьи в статью о Typescript
  tools/static-types/index.md
  tools/static-types/practice/igorkamyshev.md
Labels: улучшение, tools

#3537 добавляет связанные статьи в статью о статических анализаторах
  tools/static-analysis/index.md
  tools/static-analysis/practice/igorkamyshev.md
Labels: улучшение, tools

#3532 добавляет связанные статьи в статью о менеджерах пакетов
  tools/package-managers/index.md
Labels: улучшение, tools

#3531 добавляет связанные статьи в статью о тулинге на node.js
  tools/nodejs-tooling/index.md
  tools/nodejs-tooling/practice/igorkamyshev.md
Labels: улучшение, tools

#3488 добавляет связанные статьи в статью о throttle
  js/throttle/index.md
  js/throttle/practice/bespoyasov.md
Labels: улучшение, js

#3549 Добавляет фото ra1nbow1
  people/ra1nbow1/index.md
  people/ra1nbow1/photo.png
Labels: кухня

#3545 Дополняет доку про `text-decoration-line`
  css/text-decoration-line/demos/basic/index.html
  css/text-decoration-line/demos/link-without-underline/index.html
  css/text-decoration-line/index.md
Labels: улучшение, css

#3540 добавляет связанные статьи в статью о гите
  tools/version-control/index.md
Labels: улучшение, tools

#3539 добавляет связанные статьи в статью о TCP и UDP
  tools/tcp-udp-protocols/index.md
Labels: улучшение, tools

#3536 добавляет связанные статьи в статью о SSL
  tools/ssl-certificates/index.md
Labels: улучшение, tools

#3503 добавляет связанные статьи в статью о agile
  tools/agile/index.md
Labels: улучшение, tools

#3504 добавляет связанные статьи в статью о Apache Server
  tools/apache-web-server/index.md
Labels: улучшение, tools

#3505 добавляет связанные статьи в статью о бандлерах
  tools/bundlers/index.md
Labels: улучшение, tools

#3506 добавляет связанные статьи в статью о CI/CD
  tools/ci-cd/index.md
Labels: улучшение, tools

#3507 добавляет связанные статьи в статью о CLI
  tools/cli/index.md
  tools/cli/practice/igsekor.md
Labels: улучшение, tools

#3508 добавляет связанные статьи в статью о code review
  tools/code-review/index.md
Labels: улучшение, tools

#3509 добавляет связанные статьи в статью о Docker
  tools/docker/index.md
Labels: улучшение, tools

#3510 добавляет связанные статьи в статью о Docker Compose
  tools/docker-compose/index.md
Labels: улучшение, tools

#3511 добавляет связанные статьи в статью о Docker Data Management
  tools/docker-data-management/index.md
Labels: улучшение, tools

#3512 добавляет связанные статьи в статью о Dockerfile
  tools/dockerfile/index.md
Labels: улучшение, js, tools

#3513 добавляет связанные статьи в статью о Elasticsearch
  tools/elasticsearch/index.md
Labels: улучшение, tools

#3515 добавляет связанные статьи в статью о файловых системах
  tools/file/index.md
  tools/file/practice/igsekor.md
Labels: улучшение, js, tools

#3516 добавляет связанные статьи в статью о паттернах Gateway и Backend-for-Frontend
  tools/gateway-bff/index.md
Labels: улучшение, tools

#3517 добавляет связанные статьи в статью о BFF
  tools/git-cli/index.md
  tools/git-cli/practice/igorkamyshev.md
Labels: улучшение, tools

#3518 добавляет связанные статьи в статью о github actions
  tools/github-actions/index.md
  tools/github-actions/practice/igsekor.md
Labels: улучшение, tools

#3519 добавляет связанные статьи в статью о gitlab ci/cd
  tools/gitlab-ci-cd/index.md
Labels: улучшение, tools

#3521 добавляет связанные статьи в статью о VIM
  tools/how-to-enter-to-vim/index.md
  tools/how-to-enter-to-vim/practice/anatoly-kor.md
Labels: улучшение, tools

#3525 добавляет связанные статьи в статью о микросервисах
  tools/microservices/index.md
Labels: улучшение, tools

#3526 добавляет связанные статьи в статью о многозадачности
  tools/multitasking-and-processes/index.md
Labels: улучшение, tools

#3527 добавляет связанные статьи в статью о сети
  tools/network/index.md
  tools/network/practice/igsekor.md
Labels: улучшение, tools

#3528 добавляет связанные статьи в статью о моделях сетевого взаимодействия
  tools/network-models/index.md
Labels: улучшение, tools

#3529 добавляет связанные статьи в статью о Nginx
  tools/nginx-web-server/index.md
Labels: улучшение, tools

#3533 добавляет связанные статьи в статью об управлении процессами
  tools/process-management/index.md
Labels: улучшение, tools

#3534 добавляет связанные статьи в статью о SEO и скринридерах
  tools/site-readers/index.md
Labels: улучшение, tools

#3535 добавляет связанные статьи в статью о SSH
  tools/ssh/index.md
Labels: улучшение, tools

#3489 добавляет связанные статьи в статью о try-catch
  js/try-catch/index.md
  js/try-catch/practice/windrushfarer.md
Labels: улучшение, js

#3490 добавляет связанные статьи в статью о приведении типов
  js/typecasting/index.md
  js/typecasting/practice/bespoyasov.md
Labels: улучшение, js

#3491 добавляет связанные статьи в доку о undefined
  js/undefined/index.md
Labels: улучшение, js

#3492 добавляет связанные статьи в доку о URLSearchParams
  js/urlsearchparams/index.md
  js/urlsearchparams/practice/akellbl4.md
Labels: улучшение, js

#3493 добавляет связанные статьи в доку о use strict
  js/use-strict/index.md
Labels: улучшение, js

#3494 добавляет связанные статьи в доку о var и let
  js/var-let/index.md
  js/var-let/practice/ruslauz.md
Labels: улучшение, js

#3487 добавляет связанные статьи в статью о моках и стабах
  js/testing-and-fake-objects/index.md
Labels: улучшение, js

#3495 добавляет связанные статьи в статью о типах приложений
  js/web-app-types/index.md
Labels: улучшение, js

#3496 добавляет связанные статьи в статью о устройстве приложения
  js/web-app-works/index.md
Labels: улучшение, js

#3502 добавляет связанные статьи в доку о window.print
  js/window-print/index.md
Labels: улучшение, js

#3501 добавляет связанные статьи в доку о window.navigator
  js/window-navigator/index.md
Labels: улучшение, js

#3500 добавляет связанные статьи в доку о window.location
  js/window-location/index.md
Labels: улучшение, js

#3484 добавляет связанные статьи в статью о тех.долге
  js/technical-debt/index.md
Labels: улучшение, js

#3499 добавляет связанные статьи в доку о History API
  js/window-history/index.md
  js/window-history/practice/windrushfarer.md
Labels: улучшение, js

#3498 добавляет связанные статьи в доку о while
  js/while/index.md
  js/while/practice/nlopin.md
Labels: улучшение, js

#3486 review/ternary
  js/ternary-operator/index.md
  js/ternary-operator/practice/gingerraccoon.md
Labels: улучшение, js
