Repository doka-guide/content, pull requests merged in 2022-12, with the labels that each got.

#4131 Добавляет обложку в статью про Булев тип
  js/boolean/images/covers/desktop.svg
  js/boolean/images/covers/mobile.svg
  js/boolean/index.md
Labels: улучшение, кухня, js, дока

#4123 Добавил ответ на вопрос о разнице forEach() и map()
  interviews/foreach-map/answers/punkmachine/index.md
Labels: js, собеседование

#4137 Корректирует рецепт о конвертере шрифтов
  recipes/font-script/index.md
Labels: улучшение, статья, рецепт

#4136 Уточнение формулировки (скошенные тротуары => скошенные борюдры)
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#4033 Добавляет ноябрь в ченджлог
  CHANGELOG.md
Labels: кухня

#4104 Добавляет статью Влияние CSS на доступность
  .yaspeller.json
  a11y/css-impact-on-a11y/demos/flex-order-property/index.html
  a11y/css-impact-on-a11y/demos/list-style-none/index.html
  a11y/css-impact-on-a11y/demos/lists-with-custom-markers/index.html
  a11y/css-impact-on-a11y/demos/prefers-reduced-motion/index.html
  a11y/css-impact-on-a11y/demos/table-and-grid-layout/index.html
  a11y/css-impact-on-a11y/demos/table-with-grid-layout/index.html
  a11y/css-impact-on-a11y/index.md
  a11y/index.md
Labels: статья, a11y

#4144 Исправляет имя автора в статье Влияние CSS на a11y
  a11y/css-impact-on-a11y/index.md
Labels: улучшение, статья, a11y

#4145 Исправляет опечатку в статье "Выражения и инструкции"
  js/expressions-vs-statements/index.md
Labels: улучшение, js, дока

#4112 Добавляет советы про картинки в Руководство по стилю
  docs/styleguide.md
Labels: улучшение, кухня

#4116 Добавляет доку про `scrollbar-gutter`
  .yaspeller.json
  css/scrollbar-gutter/demos/bad/index.html
  css/scrollbar-gutter/demos/good/index.html
  css/scrollbar-gutter/index.md
Labels: css, дока

#4119 Корректирует статью о псевдоэлементе `::marker`
  css/marker/index.md
  css/marker/practice/blueingreen68.md
Labels: улучшение, css, дока

#4117 Дополняет статью о `::first-letter`
  css/first-letter/demos/quote/index.html
  css/first-letter/index.md
  people/punkmachine/index.md
Labels: css, дока, placeholder

#4128 Исправляет опечатку в статье о директиве `@font-face`
  css/font-face/index.md
Labels: улучшение, css, дока

#4146 Редактирует статью о единицах измерения `em` и `rem`
  css/rem-em/index.md
  css/rem-em/practice/realetive.md
  css/rem-em/practice/solarrust.md
Labels: улучшение, css, дока

#4139 Обновляет доку про all
  css/all/demos/basic/index.html
  css/all/demos/initial/index.html
  css/all/index.md
Labels: css, дока

#4125 Добавляет доку про scrollbar-width
  .yaspeller.json
  css/scrollbar-width/demos/basic/index.html
  css/scrollbar-width/demos/multiple/index.html
  css/scrollbar-width/images/basic.png
  css/scrollbar-width/images/multiple.png
  css/scrollbar-width/index.md
Labels: css, дока

#4141 Отвечает на вопрос: Как бы вы реализовали метод String.prototype.indexOf?
  .yaspeller.json
  interviews/indexof/answers/kyzinatra/index.md
  interviews/indexof/index.md
Labels: улучшение, js, собеседование

#4147 Добавляет ответ на вопрос В чём разница между `null`, `undefined` и объявленной переменной без начального значения
  interviews/null-undefined/answers/punkmachine/index.md
  interviews/null-undefined/index.md
Labels: js, собеседование

#4155 Исправляет опечатку в описании автора Александра Рассудихина
  people/punkmachine/index.md
Labels: улучшение, кухня

#4156 Исправляет опечатки в ответе на вопрос с собеседования в статье `undefined`
  interviews/null-undefined/answers/punkmachine/index.md
Labels: улучшение, собеседование

#4154 Добавляет внутреннюю ссылку на заголовок `Выражения` в статье `Булев тип`
  js/boolean/index.md
Labels: улучшение, js, дока

#4135 Добавляет focus в порядок LVHA
  css/active/index.md
  css/active/practice/solarrust.md
  css/focus/index.md
  css/hover/index.md
  css/hover/practice/solarrust.md
  css/visited/index.md
  css/visited/practice/solarrust.md
Labels: улучшение, css, дока

#4108 Исправляет код в доке `navigation`
  a11y/role-navigation/index.md
Labels: улучшение, дока, a11y

#4157 Исправляет опечатки в статье `Преобразование типов`
  js/typecasting/index.md
Labels: улучшение, js, статья

#4159 Изменение опечатки в ответе в разделе "На собеседовании" - FP
  interviews/fp/answers/hellsquirrel/index.md
Labels: улучшение, собеседование

#4167 Перемещает плейсхолдеры input и reset с раздел события
  js/event-input/demos/index.html
  js/event-input/index.11tydata.json
  js/event-input/index.md
  js/event-reset/index.11tydata.json
  js/event-reset/index.md
  js/index.md
Labels: js, дока, placeholder

#4164 Исправляет опечатки в статьях `overflow` и `overflow-wrap`
  css/overflow-wrap/index.md
  css/overflow/index.md
Labels: улучшение, css, дока

#4148 Заменяет устаревшую команду set-output в GitHub Actions
  .github/workflows/pr-preview.yml
  recipes/self-hosted-preview/index.md
Labels: улучшение, кухня, статья, рецепт

#4151 Добавляет доку `aria-errormessage`
  a11y/aria-errormessage/demos/field-with-aria-errormessage/index.html
  a11y/aria-errormessage/index.md
  a11y/index.md
Labels: дока, a11y

#4150 Добавляет доку `aria-invalid`
  a11y/aria-invalid/demos/field-with-aria-invalid/index.html
  a11y/aria-invalid/index.md
  a11y/index.md
Labels: дока, a11y

#4168 Обновляет индекс CSS
  css/index.md
Labels: улучшение, кухня, css

#4169 Корректирует статью о CSS функции `min()`
  css/min/index.md
Labels: улучшение, css, дока

#4174 Исправляет формирование переменной с пробелами
  .github/workflows/pr-preview.yml
Labels: кухня

#4175 Исправляет опечатку в статье про тег em
  html/em/index.md
Labels: улучшение, html, дока

#4163 Добавляет доку `border-inline`
  css/border-block/index.md
  css/border-inline/demos/border-block/index.html
  css/border-inline/demos/border-inline-basic/index.html
  css/border-inline/demos/border-inline-language-change/index.html
  css/border-inline/demos/border-language-change/index.html
  css/border-inline/demos/border-left-right/index.html
  css/border-inline/index.md
  css/index.md
Labels: css, js, статья, дока, placeholder, рецепт, a11y

#4176 Исправляет опечатку в `aria-label`
  a11y/aria-label/index.md
Labels: улучшение, дока, a11y

#4173 Исправляет опечатки в `Шаблонные строки`
  js/template-strings/index.md
  js/template-strings/practice/windrushfarer.md
Labels: улучшение, js, дока
