Repository doka-guide/content, pull requests merged in 2022-04, with the labels that each got.

#2866 Обновляет иллюстрации
  html/screenreaders/images/0.png
  html/screenreaders/images/1.png
  html/screenreaders/images/2.png
  html/screenreaders/images/3.png
  html/screenreaders/images/4.png
  html/screenreaders/images/5.png
  html/screenreaders/images/video-cover.png
Labels: улучшение, кухня, html

#2873 Обновляет ссылку
  recipes/progress/index.md
Labels: улучшение, кухня, ошибка, рецепт

#2846 Добавляет шаблон пул реквеста и чек-листы
  .github/checklist_new_article.md
  .github/checklist_new_doka.md
  .github/pull_request_template.md
  .github/workflows/pr-add-checklist.yml
Labels: кухня

#2871 Подчищает код для рецепта Прогресс-бар
  recipes/progress/demos/single-file/index.html
  recipes/progress/index.md
Labels: улучшение

#2863 Добавляет новую доку в индекс
  html/index.md
Labels: кухня, html

#2815 Добавляет доку про атрибуты `defer` и `async`
  html/defer-async/index.md
Labels: html, дока

#2868 Добавляет доку про `value`
  .yaspeller.json
  html/value/index.md
Labels: html, дока

#2855 Уточнение про em при расчете width, height и т.д.
  css/rem-em/index.md
Labels: улучшение, css

#2877 Диз и совет в статью hr
  html/hr/demos/hr/index.html
  html/hr/demos/semantics/index.html
  html/hr/index.md
  html/hr/practice/skorobaeus.md
Labels: улучшение, html, демо

#2802 Добавляет практику про `::after`
  css/after/demos/print/index.html
  css/after/practice/furtivite.md
Labels: css, демо

#2882 Обновляет демо в статье "Функция" (JS)
  js/function/demos/format/index.html
  js/function/demos/params/index.html
  js/function/demos/vindi-r-pYYKMW/index.html
  js/function/demos/vindi-r-zbeMaO/index.html
  js/function/index.md
  js/function/practice/doka-dog.md
Labels: улучшение, js, демо

#2884 Исправлена опечатка
  js/ref-type-vs-value-type/index.md
Labels: улучшение, js

#2887 Редактирует статью про @media
  css/media/index.md
Labels: улучшение, css, редактура

#2886 Добавляет редактора в статью form
  html/form/index.md
Labels: улучшение, html, редактура

#2888 Update index.md
  js/modules/index.md
Labels: улучшение, js

#2889 Добавляет забытому рецепту подкатегорию
  recipes/index.md
Labels: кухня, рецепт

#2880 Причёсывает демки для фичеринга (HTML)
  html/form/demos/email/index.html
  html/form/demos/forms/index.html
  html/img/demos/img-fix-width/index.html
  html/img/demos/img-overlay/index.html
  html/nav/demos/breadcrumbs/bikes/bmx/index.html
  html/nav/demos/breadcrumbs/bikes/bmx/jump-bike-3000/index.html
  html/nav/demos/breadcrumbs/bikes/index.html
Labels: улучшение, html, демо

#2895 Убирает плашку о поддержке в Safari
  css/scroll-behavior/index.md
Labels: улучшение, css

#2896 Добавляет возможную характеристику для `@media`
  css/media/index.md
Labels: улучшение, css

#2723 Добавляет статью про тег `<data>`
  html/data/demos/data/index.html
  html/data/index.md
Labels: html, дока, демо

#2900 Обновляет изображение в доке про `<br>`
  html/br/images/article.png
  html/br/images/article.svg
  html/br/index.md
Labels: улучшение, кухня, html

#2883 Добавляет описание в статьи для фичеринга разделов JS и Инструменты
  .yaspeller.json
  js/function-context/index.md
  js/function/index.md
  js/infinite-scroll/index.md
  js/oop/index.md
  tools/agile/index.md
  tools/bundlers/index.md
  tools/gitlab-ci-cd/index.md
  tools/network/index.md
Labels: улучшение, js, tools

#2901 Update index.md
  js/coordinates/index.md
Labels: улучшение, js

#2885 Добавляет в примере кода пропущенный аргумент при вызове throttle
  js/infinite-scroll/index.md
Labels: улучшение, js

#2881 Добавляет дескрипшены к новому фичерингу, HTML и CSS
  css/attr/index.md
  css/media/index.md
  css/position/index.md
  css/pseudoelements/index.md
  css/specificity/index.md
  html/article/index.md
  html/form/index.md
  html/img/index.md
  html/nav/index.md
  html/section/index.md
Labels: улучшение, кухня, css, html

#2899 Редактирует статью про специфичность
  css/specificity/index.md
  css/specificity/practice/pepelsbey.md
  css/specificity/practice/solarrust.md
Labels: улучшение, css, редактура

#2911 Update index.md
  css/position-sticky/index.md
Labels: улучшение, css

#2903 Добавляет диз в Position (CSS) [1/3]
  css/position/demos/absolute-sec-axis/index.html
  css/position/demos/absolute/index.html
  css/position/demos/fixed/index.html
  css/position/demos/relative/index.html
  css/position/demos/sticky/index.html
  css/position/index.md
Labels: улучшение, css, демо

#2893 Причёсывает демки для фичеринга (Tools)
  tools/markdown/demos/aligned-table/index.html
  tools/markdown/demos/atx-style/index.html
  tools/markdown/demos/code-block/index.html
  tools/markdown/demos/code-inline/index.html
  tools/markdown/demos/code-intend/index.html
  tools/markdown/demos/different-markers/index.html
  tools/markdown/demos/emphasis-escape/index.html
  tools/markdown/demos/emphasis/index.html
  tools/markdown/demos/example/index.html
  tools/markdown/demos/hr/index.html
  tools/markdown/demos/img/images/dog.png
  tools/markdown/demos/img/images/dog.svg
  tools/markdown/demos/img/index.html
  tools/markdown/demos/line-break/index.html
  tools/markdown/demos/link-auto/index.html
  tools/markdown/demos/link-inline/index.html
  tools/markdown/demos/link-ref/index.html
  tools/markdown/demos/list-nesting-intend/index.html
  tools/markdown/demos/list-nesting/index.html
  tools/markdown/demos/marked-list/index.html
  tools/markdown/demos/ordered-list-starts-with/index.html
  tools/markdown/demos/ordered-list/index.html
  tools/markdown/demos/quote-nesting/index.html
  tools/markdown/demos/quote1/index.html
  tools/markdown/demos/quote2/index.html
  tools/markdown/demos/setext-style/index.html
  tools/markdown/demos/strikethrough/index.html
  tools/markdown/demos/table/index.html
  tools/markdown/demos/tasks-list/index.html
  tools/markdown/index.md
Labels: улучшение, tools, демо

#2909 Причесывает демки в Псевдоэлементах (CSS) [3/3]
  css/pseudoelements/demos/custom-markers/index.html
  css/pseudoelements/demos/first-letter/index.html
  css/pseudoelements/demos/first-line/index.html
  css/pseudoelements/demos/greetings-gordon/index.html
  css/pseudoelements/demos/header-veil/images/background.svg
  css/pseudoelements/demos/header-veil/index.html
  css/pseudoelements/demos/header/images/background.svg
  css/pseudoelements/demos/header/index.html
  css/pseudoelements/demos/looking-great-gordon/index.html
  css/pseudoelements/demos/placeholder/index.html
  css/pseudoelements/demos/selection/index.html
  css/pseudoelements/images/placeholder.png
  css/pseudoelements/index.md
Labels: улучшение, css, демо

#2908 Добавляет диз в attr() (CSS) [2/3]
  css/attr/demos/print-link/index.html
  css/attr/demos/tooltip/index.html
  css/attr/index.md
  css/attr/practice/ezhkov.md
Labels: улучшение, css, демо

#2905 Дополняет статью про события keydown и keyup
  js/element-keydown-keyup/demos/keydown/index.html
  js/element-keydown-keyup/index.md
Labels: улучшение, js

#2910 Добавляет статью про Gulp
  .yaspeller.json
  tools/gulp/images/gulp_start.png
  tools/gulp/images/npm_init.png
  tools/gulp/index.md
  tools/index.md
Labels: tools, статья

#2902 Добавляет чеклисты в шаблоны доки и статьи
  docs/examples/article.md
  docs/examples/doka.md
Labels: улучшение, кухня

#2919 Исправляет неправильный пример удаления cookies
  js/cookie/index.md
Labels: улучшение, js

#2920 Редактирует статью про var и let
  js/var-let/index.md
  js/var-let/practice/ruslauz.md
Labels: улучшение, js, редактура

#2820 Обновляет схемы в статье: Виды веб-приложений
  js/web-app-types/images/CSR.png
  js/web-app-types/images/SSG.png
  js/web-app-types/images/SSR.png
  js/web-app-types/images/dynamic-pages.png
  js/web-app-types/images/static-pages.png
  js/web-app-types/index.md
  people/furtivite/index.md
  people/furtivite/photo.jpeg
Labels: улучшение, кухня, js

#2921 Редактирует статью про функции
  js/function/index.md
  js/function/practice/doka-dog.md
Labels: js, редактура

#2918 Добавляет `gap` в гайд по flexbox
  css/flexbox-guide/index.md
  people/devergence/index.md
Labels: улучшение, css

#2922 Правит якорные ссылки
  tools/gulp/index.md
Labels: улучшение, tools, ошибка

#2925 Добвляет обложку в css/transition
  css/transition/images/covers/desktop.svg
  css/transition/images/covers/mobile.svg
  css/transition/index.md
Labels: улучшение, кухня, css
