Repository doka-guide/content, pull requests merged in 2022-02, with the labels that each got.

#2709 Исправляет опечатки
  css/background-image/index.md
  css/filter/index.md
  css/pseudoelements/practice/solarrust.md
  css/rem-em/index.md
  css/stroke/index.md
Labels: улучшение, css

#2711 Исправляет опечатку
  js/boolean/index.md
Labels: улучшение, js

#2713 Правит опечатки и орфографию
  js/objects-objects-everywhere/index.md
Labels: улучшение, js

#2714 Исправляет пунктуацию и опечатку
  js/element-touch/practice/windrushfarer.md
Labels: улучшение, js

#2716 Исправляет опечатку
  js/function-as-datatype/index.md
Labels: улучшение, js

#2710 Исправляет опечатки
  tools/encoding/index.md
  tools/multitasking-and-processes/index.md
  tools/ssl-certificates/practice/igsekor.md
  tools/tcp-udp-protocols/index.md
Labels: улучшение, tools

#2721 Редактирует доку про u
  html/u/index.md
Labels: улучшение, html, редактура

#2725 Сандбоксит автофокус, чтобы не было прыжка
  css/caret-color/index.md
Labels: улучшение, css, ошибка

#2722 Добавляет статьи за январь в ченжлог
  CHANGELOG.md
Labels: кухня

#2607 Добавляет статью про Performance.API
  js/index.md
  js/performance/demos/functions-measure/index.html
  js/performance/index.md
  js/performance/practice/mighty-peach.md
  people/mighty-peach/index.md
Labels: js, статья

#2728 Редактирует статью Pixel Perfect
  css/pixel-perfect/index.md
Labels: улучшение, css, редактура

#2707 Добавляет документацию про советы
  .yaspeller.json
  README.md
  docs/README.md
  docs/contributing.md
  docs/practice.md
  docs/styleguide.md
Labels: кухня

#2724 Уточняет название функции в примере кода
  js/return/demos/vindi-r-jJdQqz/index.html
  js/return/index.md
Labels: улучшение, js

#2547 Перестраивает поисковый индекс для использования возможностей Algolia для подсветки результатов
  .github/scripts/search-index.js
  .github/workflows/update-index.yml
Labels: улучшение, вопрос, кухня

#2654 Добавляет обзорную статью про Map
  js/index.md
  js/map/index.md
Labels: js, дока

#2742 Добавляет ссылку на глобальный модуль в action построения поискового индекса
  .github/workflows/update-index.yml
Labels: кухня, ошибка

#2712 Редизайнит демки в статьях о Селекторах
  css/nesting-selector/demos/nested-selector/index.html
  css/nesting-selector/index.md
  css/selector-list/demos/enumerous-selector/index.html
  css/selector-list/index.md
Labels: улучшение, css, демо

#2708 Добавляет дизайн в Alert()
  js/alert/demos/basic/index.html
  js/alert/demos/replace/index.html
  js/alert/demos/to-string/index.html
  js/alert/demos/vindi-r-VRrRVy/index.html
  js/alert/demos/vindi-r-YgEgzN/index.html
  js/alert/demos/vindi-r-qvVgoW/index.html
  js/alert/index.md
  js/alert/practice/doka-dog.md
Labels: улучшение, js, демо

#2744 Добавляет ключевое слово в статью про преобразование типов
  js/typecasting/index.md
Labels: улучшение, js

#2749 Редактирует статью про тернарный оператор
  js/ternary-operator/index.md
  js/ternary-operator/practice/gingerraccoon.md
Labels: улучшение, js, редактура

#2740 Примонтированная папка tmpfs работает, пока ЗАПУЩЕН контейнер
  tools/docker-data-management/index.md
Labels: улучшение, tools

#2754 Редизайнит демки в `::placeholder` и `:checked`
  css/checked/demos/check/images/arrow-down.svg
  css/checked/demos/check/index.html
  css/checked/demos/choose/index.html
  css/checked/index.md
  css/checked/practice/solarrust.md
  css/placeholder/demos/example/index.html
  css/placeholder/index.md
Labels: улучшение, css, демо

#2755 Редактирует доку про `::selection`
  css/selection/index.md
Labels: улучшение, css, редактура

#2715 Добавляет доку про `:where()`
  css/index.md
  css/where/demos/basic/index.html
  css/where/demos/specificity-battle/index.html
  css/where/index.md
  people/kotosha-real/index.md
Labels: css, дока

#2691 Добавляет доку про `counter-increment`
  css/counter-increment/index.md
Labels: css, дока

#2693 Добавляет доку про `counter-set`
  css/counter-set/demos/counter-set-example/index.html
  css/counter-set/index.md
Labels: css, дока

#2692 Добавляет доку про `counter-reset`
  css/counter-reset/index.md
  people/blueingreen68/index.md
Labels: css, дока

#2753 Добавляет доку для атрибута `inputmode` #2665
  html/inputmode/demos/basic/index.html
  html/inputmode/images/tel_email.jpg
  html/inputmode/images/tel_numeric.jpg
  html/inputmode/images/tel_phone.jpg
  html/inputmode/images/tel_text.jpg
  html/inputmode/images/tel_url.jpg
  html/inputmode/index.md
  people/webdb81/index.md
Labels: html, дока

#2760 Переносит зафичеренные статьи из pined в ready
  settings/featured.md
Labels: кухня

#2762 Добавляет страницу конурса ЯЛФ
  .yaspeller.json
  specials/ylf/index.md
Labels: улучшение, кухня

#2757 add about permissions on ssh directory
  tools/ssh/index.md
Labels: улучшение, tools

#2769 Добавляет упоминание про изменение контекста выполнения колбэка в .map()
  js/array-map/index.md
Labels: улучшение, js

#2773 Правит описание работы `for await...of`
  js/async-in-js/practice/bespoyasov.md
Labels: улучшение, js

#2758 Исправляет доку про `<textarea>`
  html/textarea/index.md
Labels: улучшение, html

#2763 Ставит имя автора перед фамилией
  people/blueingreen68/index.md
  people/romanbarannickov/index.md
Labels: кухня

#2775 Обновляет состав редакции, добавляет раздел благодарности
  pages/about/index.md
Labels: кухня

#2766 Изменяет шапку, демку и блок Аргументы
  css/counter-set/index.md
Labels: улучшение, css

#2767 Изменяет шапку и блок Аргументы
  css/counter-increment/index.md
Labels: улучшение, css

#2759 Добавляет новые статьи в индексы и в ченджлог
  CHANGELOG.md
  css/index.md
  html/index.md
Labels: кухня, css, html

#2777 Исправлена опечатка
  tools/ci-cd/index.md
Labels: улучшение, tools

#2781 Добавляет совет в статью form
  html/form/practice/nlopin.md
Labels: улучшение, html

#2780 Добавила выделение курсивом границы контрастности
  html/placeholder/index.md
Labels: улучшение, html

#2786 Добавляет совет в доку про `typescript`
  people/dskr/index.md
  tools/static-types/images/vscode-autocomplete.png
  tools/static-types/practice/dskr.md
Labels: улучшение, tools, ЯЛФ

#2792 Исправляет опечатку в статье про text-align
  css/text-align/index.md
Labels: улучшение, css

#2796 Добавляет совет для доки про `filter: drop-shadow`
  css/filter-functions/demos/drop-shadow-alpha/index.html
  css/filter-functions/images/doggo-up.svg
  css/filter-functions/practice/avebeatrix.md
  people/avebeatrix/index.md
Labels: улучшение, css, ЯЛФ

#2800 Добавляет совет к async/await
  js/async-await/practice/vaiil.md
Labels: улучшение, js, ЯЛФ

#2791 Совет для js/function-arguments-object/ — Объект arguments
  js/function-arguments-object/practice/app.md
  people/app/index.md
Labels: улучшение, js, ЯЛФ

#2785 Добавляет совет в доку про `visibility`
  css/visibility/demos/customize/index.html
  css/visibility/practice/semigradsky.md
  people/semigradsky/index.md
Labels: улучшение, css, ЯЛФ

#2799 Добавляет совет про автоматические марджины в гайд по флексбоксам
  css/flexbox-guide/practice/andzhr.md
  people/andzhr/index.md
Labels: улучшение, css, ЯЛФ

#2778 Вносит правки в доку про контрибьютинг
  docs/contributing.md
Labels: улучшение, кухня

#2678 Исправляет работу превью
  .github/workflows/pr-preview.yml
Labels: кухня, ошибка

#2793 Добавляет совет в доку про логические операторы
  js/logic-operators/practice/cergmin.md
Labels: улучшение, js, ЯЛФ

#2801 Добавляет стили для демо в Работе с формами
  js/deal-with-forms/demos/mars-form/images/arrow-down.svg
  js/deal-with-forms/demos/mars-form/index.html
  js/deal-with-forms/images/3.png
  js/deal-with-forms/images/4.png
  js/deal-with-forms/index.md
Labels: улучшение, js, демо

#2774 Добавляет дизайн в Confirm()
  .yaspeller.json
  js/confirm/demos/basic/index.html
  js/confirm/demos/boolean/index.html
  js/confirm/demos/replace/index.html
  js/confirm/demos/vindi-r-jROyRE/index.html
  js/confirm/demos/vindi-r-qwBrNY/index.html
  js/confirm/demos/vindi-r-rbNjgj/index.html
  js/confirm/index.md
  js/confirm/practice/doka-dog.md
Labels: улучшение, js, демо

#2798 Дополняет статью про пакетные менеджеры
  .yaspeller.json
  tools/package-managers/index.md
Labels: улучшение, tools

#2772 Исправление комментария под условие ветвления
  js/if-else/index.md
Labels: улучшение, js

#2720 Редактирует доку про forms
  js/forms/index.md
  js/forms/practice/vchychuzhko.md
Labels: улучшение, js, редактура

#2803 Редизайнит Box-shadow
  css/box-shadow/demos/button/index.html
  css/box-shadow/demos/neon/index.html
  css/box-shadow/demos/pixelart/index.html
  css/box-shadow/demos/skeuomorph/index.html
  css/box-shadow/index.md
  css/box-shadow/practice/mefody.md
  css/box-shadow/practice/solarrust.md
Labels: улучшение, css, демо

#2787 Добавляет совет для доки про `:placeholder-shown`
  css/placeholder-shown/demos/floating-label/index.html
  css/placeholder-shown/practice/kazakovas.md
Labels: улучшение, css, ЯЛФ

#2804 Добавляет практику про использование `npm ci` в CI/CD окружении
  tools/ci-cd/practice/vitalybaev.md
Labels: улучшение, tools, ЯЛФ

#2788 Дописывает доку про `<optgroup>`
  html/optgroup/demos/styles/index.html
  html/optgroup/index.md
  html/optgroup/practice/granondo.md
  people/granondo/index.md
Labels: улучшение, html, ЯЛФ

#2806 Исправляет опечатки в словах "её" и "бояться"
  js/ref-type-vs-value-type/index.md
Labels: улучшение, js

#2807 Микроисправление текстовых смайлов (¯\_(ツ)_/¯)
  js/language-versions/index.md
Labels: улучшение, js

#2705 Правит ссылки на статью в CSS
  js/element-style/index.md
Labels: улучшение, js

#2808 Добавляет обложку в статью про стиль написания кода в команде
  js/code-style/images/covers/desktop.svg
  js/code-style/images/covers/mobile.svg
  js/code-style/index.md
Labels: улучшение, кухня, js

#2810 Добавляет обложку Как работают веб-приложения
  js/web-app-works/images/covers/desktop.svg
  js/web-app-works/images/covers/mobile.svg
  js/web-app-works/index.md
Labels: улучшение, кухня, js

#2812 Добавляет обложку в Позиционирование элементв в JS
  js/element-positioning-js/images/covers/desktop.svg
  js/element-positioning-js/images/covers/mobile.svg
  js/element-positioning-js/index.md
Labels: улучшение, кухня, js

#2813 Добавляет обложку в статью про преобразование типов
  js/typecasting/images/covers/desktop.svg
  js/typecasting/images/covers/mobile.svg
  js/typecasting/index.md
Labels: улучшение, кухня, js

#2779 Добавляет блок про работу с правками в пул-реквестах
  docs/contributing.md
Labels: улучшение, кухня
