Repository doka-guide/content, pull requests merged in 2023-03, with the labels that each got.

#4285 Уточняет статью про `<article>`
  html/article/index.md
Labels: улучшение, html, дока

#4279 Обновляет страницу «О нас»
  .yaspeller.json
  pages/about/index.md
Labels: кухня

#4253 Добавляет февраль в ченджлог
  CHANGELOG.md
Labels: кухня

#4293 Исправляет название лейбла
  .github/labeler.yml
Labels: кухня

#4300 Редактирует оформление сочетания клавиш в документации
  docs/preview.md
Labels: кухня

#4296 CSS: добавляет описания и связанные статьи (J)
  .yaspeller.json
  css/flexbox-guide/demos/flex-demo/justify_content/index.html
  css/flexbox-guide/index.md
  css/justify-content/index.md
  css/justify-items/index.md
  css/justify-self/index.md
Labels: улучшение, css, статья, дока

#4298 Чинит упавшую проверку на битые ссылки.
  a11y/aria-label/index.md
  a11y/aria-roledescription/index.md
  css/clip-path/index.md
  css/first-line/index.md
  html/datalist/practice/blueingreen68.md
  js/element-addeventlistener/index.md
  js/element-addeventlistener/practice/doka-dog.md
  js/element-remove-property/index.md
  js/element-scrollto/index.md
  js/event-invalid/index.md
  js/event-reset/index.md
  people/alexbaumgertner/index.md
  people/kyzinatra/index.md
  people/rakleed/index.md
  recipes/self-hosted-preview/index.md
  tools/how-the-browser-creates-pages/index.md
  tools/url/practice/inventoris.md
Labels: кухня, css, html, js, веб-платформа, статья, дока, ошибка, placeholder, рецепт, a11y

#4306 Update index.md
  tools/design-patterns-behaviorial/index.md
Labels: веб-платформа, статья, ошибка

#4288 Добавляет статью про тестирование платформы Доки
  .yaspeller.json
  tools/index.md
  tools/testing-with-jest/images/article-aside-failing.png
  tools/testing-with-jest/images/article-aside-passing.png
  tools/testing-with-jest/images/fetch-failing.png
  tools/testing-with-jest/images/fetch-keep-failing.png
  tools/testing-with-jest/images/fetch-passing.png
  tools/testing-with-jest/images/pass.png
  tools/testing-with-jest/index.md
Labels: веб-платформа, статья, tools

#4309 Добавляет бэджик линк чекера
  README.md
Labels: кухня

#4310 Обновляет экшены проверки
  .github/frontmatter.json
  .github/scripts/frontmatter.js
  .github/scripts/people.mjs
  .github/workflows/pr-checks.yml
Labels: улучшение, кухня

#4303 Добавляет Манифест Доки
  .github/workflows/pr-checks.yml
  .yaspeller.json
  pages/manifesto/index.md
Labels: кухня

#4292 Исправляет секцию `code` в демо для :where()
  css/where/demos/basic/index.html
  css/where/demos/specificity-battle/index.html
  css/where/index.md
Labels: css, дока

#4311 Исправляет значение по умолчанию object-fit
  css/object-fit/index.md
Labels: улучшение, css, дока

#4314 Исправлет опечатки и пример кода
  .yaspeller.json
  docs/styleguide.md
Labels: кухня

#4325 Уточняет текст, добавляет примеры <dialog>
  html/dialog/index.md
Labels: html, дока

#4339 Обновляет картинки в статье «Что такое доступность»
  a11y/chto-takoe-a11y/images/0.png
  a11y/chto-takoe-a11y/images/1.png
  a11y/chto-takoe-a11y/images/2.png
  a11y/chto-takoe-a11y/images/3.png
Labels: улучшение, статья, a11y

#4341 Описывает иконку словами в `console.log()`
  js/console-log/index.md
Labels: улучшение, js, дока

#4348 Исправляет имя Эрик (Ерик —> Эрик)
  css/cascade/index.md
Labels: улучшение, css, статья

#4346 image-set — пример MIME
  css/image-set/index.md
Labels: улучшение, css, дока

#4355 Удаляет точку из `title` в примере с `<iframe>`
  docs/examples/doka.md
Labels: кухня

#4265 Добавляет статью "Основы доступного HTML"
  .yaspeller.json
  a11y/a11y-html/index.md
  a11y/index.md
  people/imeugenia/index.md
  people/imeugenia/photo.jpg
Labels: статья, a11y

#4358 fix: picture caption mistake
  css/grid-guide/index.md
Labels: улучшение, css, статья

#4376 Переименовывает имя файла G-Milevski.md
  js/event-prevent-default/practice/g-milevski.md
Labels: кухня, js, ошибка

#4377 Переименовывает папку участника uxDimon
  people/uxdimon/index.md
Labels: кухня, ошибка

#4375 Переименовывает файл AntonGorelov.md
  js/descriptors/practice/antongorelov.md
Labels: кухня, js, ошибка

#4313 Дополняет статью о word-break
  css/word-break/demos/default/index.html
  css/word-break/demos/every/index.html
  css/word-break/demos/overflow-wrap/index.html
  css/word-break/index.md
  people/goingtogogo/index.md
  people/goingtogogo/photo.jpg
Labels: css, дока, placeholder

#4357 Обновляет документацию про подпись автора
  docs/people.md
Labels: улучшение, кухня

#4379 Добавляет нового контрибьютора
  people/rrramble/index.md
Labels: кухня

#4322 Исправляет и дополняет `min()`
  css/min/index.md
Labels: улучшение, css, дока

#4343 Удаляет псевдоклассы из являющихся`:empty`
  css/empty/index.md
Labels: улучшение, css, дока
