Repository doka-guide/content, pull requests merged in 2023-02, with the labels that each got.

#4198 Добавляет январь в ченджлог
  CHANGELOG.md
Labels: кухня

#4242 Заменяет средние тире на длинные в `coordinates`
  tools/coordinates/index.md
Labels: улучшение, tools, дока

#4247 Исправляет грамматическую ошибку в Объект события `Event`
  js/event/index.md
Labels: улучшение, js, дока

#4245 Добавляет описание формата цвета HWB + демка
  css/web-colors/demos/hwb/index.html
  css/web-colors/index.md
Labels: улучшение, css, статья

#4237 Исправляет ошибку в написании значений для `place-items`
  css/grid-guide/index.md
  css/place-items/index.md
Labels: улучшение, css, статья, дока

#4248 Исправляет опечатку в доке «Объект `arguments`»
  js/function-arguments-object/index.md
Labels: js, дока

#4251 Исправляет опечатку в сайде про доступность
  .yaspeller.json
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#4244 CSS: добавляет дескрипшены и связанные статьи (G)
  css/gap/index.md
  css/global-keywords/index.md
  css/grid-area/index.md
  css/grid-auto-columns-rows/index.md
  css/grid-auto-flow/index.md
  css/grid-column-row/index.md
  css/grid-guide/index.md
  css/grid-start-end/index.md
  css/grid-template-areas/index.md
  css/grid-template-columns/index.md
  css/grid-template-rows/index.md
  css/grid-template/index.md
  css/grid/index.md
Labels: улучшение, css, статья, дока

#4219 Добавляет практику в доку про псевдоэлементы
  .yaspeller.json
  css/pseudoelements/demos/javascript-events/index.html
  css/pseudoelements/practice/reaferon.md
  people/reaferon/index.md
  people/reaferon/photo.png
Labels: улучшение, css

#4162 Дополняет доку про `perspective`
  css/perspective/demos/dynamic/index.html
  css/perspective/demos/static/index.html
  css/perspective/index.md
  people/sqlzzy/index.md
Labels: css, дока, placeholder

#4216 Схемы для "Как браузер рисует страницы"
  tools/how-the-browser-creates-pages/images/CSSOM.png
  tools/how-the-browser-creates-pages/images/DOM.png
  tools/how-the-browser-creates-pages/images/reflow-2.png
  tools/how-the-browser-creates-pages/images/reflow.png
  tools/how-the-browser-creates-pages/images/render-tree.png
  tools/how-the-browser-creates-pages/index.md
Labels: js, tools, статья

#4255 Исправляет ошибку в примере
  css/font-family/index.md
Labels: css, дока

#4254 CSS: добавляет описания и связанные статьи (H, I)
  .yaspeller.json
  css/has/index.md
  css/height/index.md
  css/hover/index.md
  css/hyphens/index.md
  css/id-selector/index.md
  css/import/index.md
  css/important/index.md
  css/in-range-out-of-range/index.md
  css/inheritance/index.md
  css/inset/index.md
  css/invalid-valid/index.md
  css/is/index.md
Labels: улучшение, css, статья, дока, placeholder

#4260 Исправляет опечатку в array.reduce (#4259)
  js/array-reduce/practice/windrushfarer.md
Labels: улучшение, js, статья

#4266 Актуализирует упоминания раздела Веб-платформа
  css/text-decoration-thickness/demos/navigation/index.html
  css/text-decoration-thickness/practice/nailheart.md
  docs/demos/style.md
  docs/styleguide.md
  new.sh
  pages/about/index.md
Labels: кухня

#4277 Исправляет небольшую неточность в `Element`
  js/element/index.md
Labels: улучшение, js, дока

#4276 Удаляет skorobaeus из списка контрибьюторов в статьях keydown и keyup
  js/element-keydown/index.md
  js/element-keyup/index.md
Labels: js, дока

#4273 Исправил неправильную переменную в `.length`
  js/array-length/index.md
Labels: улучшение, js, дока

#4269 Исправил опечатку в названии свойства
  js/intersection-observer/index.md
Labels: улучшение, js, дока

#4264 Исправлена опечатка в статье .map()
  js/array-map/demos/index/index.html
Labels: улучшение, js, статья

#4246 Адаптирует демки из `HTMLCollection и NodeList` и `Set` к тёмной теме
  js/htmlcollection-and-nodelist/demos/Lopinopulos-xNOBow/index.html
  js/htmlcollection-and-nodelist/demos/htmlcollection-example/index.html
  js/htmlcollection-and-nodelist/index.md
  js/set/demos/index.html
  js/set/demos/set-array-difference/index.html
  js/set/index.md
Labels: улучшение, js, дока, демо

#4250 Исправляет опечатки в `Гайд по grid`
  css/grid-guide/index.md
Labels: улучшение, css, статья

#4257 Исправление неточности
  html/doctype/practice/solarrust.md
Labels: улучшение, html

#4270 Исправляет опечатку в статье "Счётчики в CSS"
  css/css-counters/index.md
Labels: улучшение, css, статья

#4280 Оформляет демки в статье :in-range, :out-of-range
  css/in-range-out-of-range/demos/input-with-placeholder-shown/index.html
  css/in-range-out-of-range/demos/input-with-range/index.html
  css/in-range-out-of-range/demos/out-of-range-error/index.html
  css/in-range-out-of-range/index.md
  css/in-range-out-of-range/practice/ezhkov.md
Labels: улучшение, css, дока, демо

#4271 Увеличил высота демки pointer-events.
  css/pointer-events/demos/none/index.html
  css/pointer-events/index.md
Labels: улучшение, css, дока, демо

#4258 Добавляет информацию по использованию режима постоянного хранения браузерных данных
  js/local-storage/index.md
  js/local-storage/practice/corocoto.md
Labels: улучшение, js, дока

#4289 Уточняет статью про области видимости
  js/closures/index.md
  people/tarasovandrei/index.md
Labels: улучшение, js, статья

#4274 Дополнил доку про user-select
  .yaspeller.json
  css/user-select/demos/user-select/index.html
  css/user-select/index.md
Labels: css, дока, placeholder

#4283 Диз для статьи про единицы измерения в CSS
  css/numeric-types/demos/ex/index.html
  css/numeric-types/images/angles.png
  css/numeric-types/index.md
Labels: улучшение, css, статья, демо

#4286 Исправляет ошибку в `<canvas>`
  html/canvas/index.md
Labels: улучшение, html, дока
