Repository doka-guide/content, pull requests merged in 2023-08, with the labels that each got.

#4625 Добавляет плейсхолдер `associationlist`
  a11y/role-associationlist/index.md
Labels: дока, placeholder, a11y

#4626 Добавляет плейсхолдер `associationlistitemkey`
  a11y/role-associationlistitemkey/index.md
Labels: дока, placeholder, a11y

#4628 Добавляет плейсхолдер `comment`
  a11y/role-comment/index.md
Labels: дока, placeholder, a11y

#4629 Добавляет плейсхолдер `deletion`
  a11y/role-deletion/index.md
Labels: дока, placeholder, a11y

#4616 Обновляет схему в Блочной модели
  css/box-model/images/box-model.png
Labels: улучшение, css, статья

#4627 Добавляет плейсхолдер `associationlistitemvalue`
  a11y/role-associationlistitemvalue/index.md
Labels: дока, placeholder, a11y

#4630 Добавляет плейсхолдер `insertion`
  a11y/role-insertion/index.md
Labels: дока, placeholder, a11y

#4631 Добавляет плейсхолдер `strong`
  a11y/role-strong/index.md
Labels: дока, placeholder, a11y

#4635 Обновляет индекс раздела Доступность
  a11y/index.md
Labels: улучшение, кухня, a11y

#4636 Перелинковывает ссылки в разделе Доступность (1)
  a11y/aria-activedescendant/index.md
  a11y/aria-autocomplete/index.md
  a11y/aria-checked/index.md
  a11y/aria-colcount/index.md
  a11y/aria-colindex/index.md
  a11y/aria-colindextext/index.md
  a11y/aria-colspan/index.md
  a11y/aria-disabled/index.md
  a11y/aria-errormessage/index.md
  a11y/aria-expanded/index.md
  a11y/aria-haspopup/index.md
  a11y/aria-invalid/index.md
  a11y/aria-label/index.md
  a11y/aria-labelledby/index.md
  a11y/aria-level/index.md
  a11y/aria-multiline/index.md
  a11y/aria-multiselectable/index.md
  a11y/aria-orientation/index.md
  a11y/aria-owns/index.md
  a11y/aria-placeholder/index.md
  a11y/aria-posinset/index.md
  a11y/aria-readonly/index.md
  a11y/aria-required/index.md
  a11y/aria-roledescription/index.md
  a11y/aria-roles/index.md
  a11y/aria-rowcount/index.md
  a11y/aria-rowindex/index.md
  a11y/aria-rowindextext/index.md
  a11y/aria-rowspan/index.md
  a11y/aria-selected/index.md
Labels: улучшение, статья, дока, placeholder, a11y

#4639 Перелинковывает материалы в разделе Доступность (2)
  a11y/aria-setsize/index.md
  a11y/aria-sort/index.md
  a11y/aria-valuemax/index.md
  a11y/aria-valuemin/index.md
  a11y/aria-valuenow/index.md
  a11y/aria-valuetext/index.md
  a11y/role-application/index.md
  a11y/role-associationlist/index.md
  a11y/role-associationlistitemkey/index.md
  a11y/role-associationlistitemvalue/index.md
  a11y/role-caption/index.md
  a11y/role-cell/index.md
  a11y/role-combobox/index.md
  a11y/role-comment/index.md
  a11y/role-deletion/index.md
  a11y/role-feed/index.md
  a11y/role-figure/index.md
  a11y/role-grid/index.md
  a11y/role-gridcell/index.md
  a11y/role-insertion/index.md
  a11y/role-list/index.md
  a11y/role-listbox/index.md
  a11y/role-menu/index.md
  a11y/role-menubar/index.md
  a11y/role-menuitem/index.md
  a11y/role-menuitemcheckbox/index.md
  a11y/role-menuitemradio/index.md
  a11y/role-progressbar/index.md
  a11y/role-radiogroup/index.md
  a11y/role-row/index.md
  a11y/role-subscript/index.md
  a11y/role-suggestion/index.md
  a11y/role-superscript/index.md
  a11y/role-table/index.md
  a11y/role-term/index.md
  a11y/role-tree/index.md
  a11y/role-treegrid/index.md
  a11y/role-treeitem/index.md
Labels: улучшение, дока, placeholder, a11y

#4638 Добавил пример применения для css grid
  css/grid-guide/demos/mobile-example/index.html
  css/grid-guide/images/practice-desktop.png
  css/grid-guide/images/practice-mobile.png
  css/grid-guide/practice/meded90.md
  people/meded90/index.md
  people/meded90/photo.jpeg
Labels: улучшение, css

#4649 Добавляет Свету в кодовнерсы для ревью демок
  CODEOWNERS
Labels: кухня

#4640 Исправляет путь до фото контрибьютора
  css/grid-guide/practice/meded90.md
  people/meded90/index.md
Labels: css, ошибка

#4634 Добавляет доку про `prefers-reduced-motion`
  a11y/prefers-reduced-motion/demos/disable-animation/images/nyancat.gif
  a11y/prefers-reduced-motion/demos/disable-animation/images/nyancat.png
  a11y/prefers-reduced-motion/demos/disable-animation/index.html
  a11y/prefers-reduced-motion/index.md
  people/katkopikat/index.md
  people/katkopikat/photo.jpg
Labels: дока, a11y, holyJS

#4651 Добавляет вопрос в рубрику «На собеседовании»
  interviews/sum-function/index.md
Labels: собеседование

#4632 Добавляет пропущенное слово в windrushfarer.md
  js/element-removeeventlistener/practice/windrushfarer.md
Labels: js, дока, ошибка

#4633 Уточняет статью про `forEach`
  js/array-foreach/index.md
Labels: улучшение, js, дока

#4642 Обновляет демку в `accent-color`
  css/accent-color/demos/base/index.html
  css/accent-color/index.md
Labels: улучшение, css, дока, демо

#4644 Обновляет демки в `all`
  css/all/demos/basic/index.html
  css/all/demos/initial/index.html
  css/all/index.md
Labels: улучшение, css, дока, демо

#4645 Обновляет демки в статьях о CSS-анимациях
  css/animation-fill-mode/demos/traffic-lights/index.html
  css/animation-fill-mode/index.md
  css/animation-timing-function/demos/timing-function-dots/index.html
  css/animation-timing-function/index.md
  css/animation/demos/timing-functions/index.html
  css/animation/demos/traffic-lights/index.html
  css/animation/index.md
Labels: улучшение, css, статья, дока, демо

#4646 Обновляет демки в `aspect-ratio`
  css/aspect-ratio/demos/aspect-ratio-auto/index.html
  css/aspect-ratio/demos/variants/index.html
  css/aspect-ratio/index.md
Labels: улучшение, css, дока, демо

#4647 Обновляет демки в «Селектор по атрибуту»
  css/attribute-selector/demos/cite-bkg/index.html
  css/attribute-selector/demos/link-icon/index.html
  css/attribute-selector/index.md
  css/attribute-selector/practice/ezhkov.md
Labels: улучшение, css, дока, демо

#4648 Обновляет демки в `background-color`
  css/background-color/demos/form/index.html
  css/background-color/demos/shadow/index.html
  css/background-color/demos/types/index.html
  css/background-color/demos/veil/index.html
  css/background-color/index.md
  css/background-color/practice/solarrust.md
Labels: улучшение, css, дока, демо

#4650 Обновляет демки в `background-image`
  css/background-image/demos/fix-2/index.html
  css/background-image/demos/fix/index.html
  css/background-image/demos/gradient/index.html
  css/background-image/practice/solarrust.md
Labels: улучшение, css, демо

#4654 Обновляет демки и схему в `border`
  css/border/demos/arrows/index.html
  css/border/demos/basic/index.html
  css/border/demos/triangles/index.html
  css/border/images/1.png
  css/border/images/big-borders.png
  css/border/index.md
  css/border/practice/solarrust.md
Labels: улучшение, css, дока, демо

#4655 Обновляет демки в `border-block`, `border-inline`
  css/border-block/demos/border-block-basic/index.html
  css/border-block/demos/border-block-language-change/index.html
  css/border-block/demos/border-inline/index.html
  css/border-block/demos/border-language-change/index.html
  css/border-block/demos/border-top-bottom/index.html
  css/border-block/index.md
  css/border-inline/demos/border-block/index.html
  css/border-inline/demos/border-inline-basic/index.html
  css/border-inline/demos/border-inline-language-change/index.html
  css/border-inline/demos/border-language-change/index.html
  css/border-inline/demos/border-left-right/index.html
Labels: улучшение, css, дока, демо

#4656 Обновляет демки в `border-color`
  css/border-color/demos/basic/index.html
  css/border-color/demos/different-border-colors/index.html
  css/border-color/index.md
Labels: улучшение, css, дока, демо

#4652 Обновляет демку и схему в `background-size`
  css/background-size/demos/pattern/index.html
  css/background-size/images/1.png
  css/background-size/images/contain-and-cover.png
  css/background-size/images/pattern.svg
  css/background-size/index.md
  css/background-size/practice/solarrust.md
Labels: css, дока

#4621 Исправляет и уточняет статью про :has()
  css/has/index.md
  people/wonder-sma/index.md
Labels: css, дока, ошибка

#4615 Добавляет ответ на вопрос про `display: inline-block`
  interviews/inline-block/answers/arudenkoofficial/index.md
Labels: css, собеседование

#4661 Добавляет ответ про заголовки
  interviews/heading-benefits/answers/timurtse/images/featured-snippets-example.png
  interviews/heading-benefits/answers/timurtse/index.md
  people/timurtse/index.md
Labels: a11y, собеседование

#4653 Добавляет статью Как описывать картинки
  .yaspeller.json
  a11y/how-to-describe-pictures/demos/background-img/images/quote.svg
  a11y/how-to-describe-pictures/demos/background-img/index.html
  a11y/how-to-describe-pictures/demos/broken-img/index.html
  a11y/how-to-describe-pictures/demos/btn-w-decorative-svg/index.html
  a11y/how-to-describe-pictures/demos/btn-w-functional-img/images/delivery.svg
  a11y/how-to-describe-pictures/demos/btn-w-functional-img/index.html
  a11y/how-to-describe-pictures/demos/btn-w-functional-svg-1/index.html
  a11y/how-to-describe-pictures/demos/btn-w-functional-svg-2/index.html
  a11y/how-to-describe-pictures/demos/complex-img-w-aria/images/screenshot.png
  a11y/how-to-describe-pictures/demos/complex-img-w-aria/index.html
  a11y/how-to-describe-pictures/demos/complex-img/images/screenshot.png
  a11y/how-to-describe-pictures/demos/complex-img/index.html
  a11y/how-to-describe-pictures/demos/decorative-img/images/timer.png
  a11y/how-to-describe-pictures/demos/decorative-img/index.html
  a11y/how-to-describe-pictures/demos/decorative-photo/images/dog.png
  a11y/how-to-describe-pictures/demos/decorative-photo/index.html
  a11y/how-to-describe-pictures/demos/emoji/index.html
  a11y/how-to-describe-pictures/demos/emoticon/index.html
  a11y/how-to-describe-pictures/demos/group-img/images/daisy-1.png
  a11y/how-to-describe-pictures/demos/group-img/images/daisy-2.png
  a11y/how-to-describe-pictures/demos/group-img/images/daisy-3.png
  a11y/how-to-describe-pictures/demos/group-img/index.html
  a11y/how-to-describe-pictures/demos/img-w-short-text/images/text.png
  a11y/how-to-describe-pictures/demos/img-w-short-text/index.html
  a11y/how-to-describe-pictures/demos/informative-img-w-caption/images/doughnuts.jpg
  a11y/how-to-describe-pictures/demos/informative-img-w-caption/index.html
  a11y/how-to-describe-pictures/demos/informative-img/images/doughnuts.jpg
  a11y/how-to-describe-pictures/demos/informative-img/index.html
  a11y/how-to-describe-pictures/demos/informative-svg/index.html
  a11y/how-to-describe-pictures/demos/link-w-decorative-img/images/logo.svg
  a11y/how-to-describe-pictures/demos/link-w-decorative-img/index.html
  a11y/how-to-describe-pictures/demos/link-w-functional-img-1/images/logo.svg
  a11y/how-to-describe-pictures/demos/link-w-functional-img-1/index.html
  a11y/how-to-describe-pictures/demos/link-w-functional-img-2/images/logo.svg
  a11y/how-to-describe-pictures/demos/link-w-functional-img-2/index.html
  a11y/how-to-describe-pictures/demos/logo-w-text/images/logo.png
  a11y/how-to-describe-pictures/demos/logo-w-text/index.html
  a11y/how-to-describe-pictures/demos/portrait-img/images/portrait.jpg
  a11y/how-to-describe-pictures/demos/portrait-img/index.html
  a11y/how-to-describe-pictures/demos/screenshot-w-group-of-imgs/images/screenshot.png
  a11y/how-to-describe-pictures/demos/screenshot-w-group-of-imgs/index.html
  a11y/how-to-describe-pictures/images/decision-tree.png
  a11y/how-to-describe-pictures/index.md
  a11y/index.md
  html/img/index.md
Labels: статья, a11y

#4667 Добавляет ответ на вопрос про доступность
  interviews/a11y-benefits/answers/ra1nbow1/index.md
Labels: a11y, собеседование

#4670 Исправляет опечатку
  a11y/how-to-describe-pictures/index.md
Labels: улучшение, статья, a11y

#4538 Добавляет совет в css-свойство outline
  css/outline/practice/furtivite.md
Labels: улучшение, css

#4637 Актуализирует доку про `text-align`
  css/text-align/demos/image-align/images/cat.png
  css/text-align/demos/image-align/index.html
  css/text-align/demos/text-align/index.html
  css/text-align/index.md
  css/text-align/practice/reznikovandrey.md
  people/reznikovandrey/index.md
  people/reznikovandrey/photo.jpg
Labels: css, дока

#4672 Исправляет опечатку в ссылке
  html/img/index.md
Labels: html, дока

#4668 Обновляет демку в `border-style`
  css/border-style/demos/all/index.html
  css/border-style/index.md
Labels: css, дока, демо

#4669 Успокаивает спеллер
  .yaspeller.json
  js/array-foreach/index.md
Labels: js, дока, ошибка

#4678 Дополняет текст доки про `<figure>` и `<figcaption>`
  html/figure-figcaption/index.md
Labels: улучшение, html, дока

#4677 Увеличивает высоту демок в статье про описание картинок
  a11y/how-to-describe-pictures/index.md
Labels: улучшение, статья, a11y

#4676 Обновляет демки в `caret-color`
  css/caret-color/demos/form/index.html
  css/caret-color/demos/paint-the-caret/index.html
  css/caret-color/demos/rainbow-input/index.html
  css/caret-color/index.md
  css/caret-color/practice/mishamad.md
Labels: css, дока, демо

#4674 Обновляет схему в `box-model`
  css/box-model/images/box-model-chrome.png
Labels: улучшение, css, статья

#4660 Добавляет общую демку для позиционирования
  css/position/demos/general-demo/index.html
  css/position/index.md
Labels: css, дока, демо

#4665 Добавляет ответ на вопрос про CSS Flexbox и CSS Grid
  interviews/flexbox-grid/answers/ra1nbow1/index.md
  interviews/flexbox-grid/index.md
  people/ra1nbow1/index.md
Labels: css, собеседование

#4681 Исправляет опечатку в статье про память
  tools/trivial-memory-model/images/stack-trace.png
  tools/trivial-memory-model/index.md
Labels: веб-платформа, статья

#4685 Добавляет @StarHamster в контрибьюторы
  css/accent-color/index.md
  css/all/index.md
  css/animation-fill-mode/index.md
  css/animation-timing-function/index.md
  css/animation/index.md
  css/aspect-ratio/index.md
  css/attribute-selector/index.md
  css/background-color/index.md
  css/background-size/index.md
  css/border-block/index.md
  css/border-color/index.md
  css/border-style/index.md
  css/border/index.md
  css/box-model/index.md
Labels: css, статья, дока

#4686 Меняет документацию по неймингу в people
  docs/people.md
Labels: улучшение, кухня

#4545 Чинит Link checker 97, Обновляет документацию про ссылки в демках
  css/text-decoration-skip-ink/demos/overline/index.html
  css/text-decoration-skip-ink/demos/underline/index.html
  css/text-decoration-thickness/demos/navigation/index.html
  css/text-transform/demos/menu/index.html
  css/transform/demos/font-size-transform/index.html
  css/transition/demos/color-transition/index.html
  css/z-index/index.md
Labels: кухня, css, дока, демо

#4688 Чинит Link Checker
  a11y/how-to-describe-pictures/demos/broken-img/index.html
  a11y/how-to-describe-pictures/demos/link-w-functional-img-1/index.html
  a11y/role-columnheader/index.md
Labels: кухня, дока, ошибка, placeholder, a11y

#4687 Обновляет демку в «Псевдоклассы группы child»
  css/child/demos/child/index.html
  css/child/index.md
Labels: улучшение, css, дока, демо

#4673 Обновляет демки в `border-width`
  css/border-width/demos/basic/index.html
  css/border-width/demos/different-border/index.html
  css/border-width/index.md
Labels: css, дока, демо
