Repository doka-guide/content, pull requests merged in 2023-04, with the labels that each got.

#4294 Добавляет март в ченджлог
  CHANGELOG.md
Labels: кухня

#4378 Исправляет опечатку в `window.open()`
  js/window-open/index.md
Labels: улучшение, js, дока, placeholder

#4359 Исправляет неточность в «Gulp и его использование»
  tools/gulp/index.md
Labels: улучшение, веб-платформа, статья

#4356 Исправляет неточность в «Порождающие паттерны проектирования»
  tools/design-patterns-creational/index.md
Labels: улучшение, веб-платформа, статья

#4351 Чинит ошибку Link Checker 82
  css/scroll-padding/index.md
Labels: кухня, css, дока, ошибка

#4381 Обновляет информацию в разделе "На что обратить внимание" статьи про ООП
  tools/oop/index.md
Labels: улучшение, веб-платформа, статья

#4349 Удаляет ссылку на JSProlog
  tools/programming-paradigms/index.md
Labels: улучшение, веб-платформа, статья

#4347 Исправляет опечатку в союзе (чтобы —> что)
  tools/programming-paradigms/index.md
Labels: улучшение, веб-платформа, статья

#4383 Обновляет информацию о приватных полях класса
  tools/oop/index.md
Labels: веб-платформа, статья

#4388 Убирает себя из CODEOWNERS
  CODEOWNERS
Labels: кухня

#3887 Добавляет рецепт для разноцветного текста
  recipes/multicolor-text/demos/rainbow/index.html
  recipes/multicolor-text/demos/step-1/index.html
  recipes/multicolor-text/demos/step-2/index.html
  recipes/multicolor-text/demos/sunshine/LICENSE.md
  recipes/multicolor-text/demos/sunshine/background.jpg
  recipes/multicolor-text/demos/sunshine/index.html
  recipes/multicolor-text/index.md
Labels: статья, рецепт

#4305 Добавляет доку про роль `tablist`
  a11y/index.md
  a11y/role-tablist/demos/tablist/index.html
  a11y/role-tablist/index.md
Labels: дока, a11y

#4384 Меняет «mute» на «muted»
  html/video/practice/solarrust.md
Labels: улучшение, html

#4212 Исправляет ошибку в статье Дескрипторы
  js/descriptors/practice/antongorelov.md
Labels: js, статья, ошибка

#4395 Исправляет ошибку в "Виды веб-приложений"
  tools/web-app-types/index.md
Labels: улучшение, веб-платформа, статья

#4394 Исправляет пример в статье про переменные
  js/var-let/index.md
Labels: улучшение, js, статья

#4392 Update index.md в "Переменные const, let и var"
  js/var-let/index.md
Labels: улучшение, js, статья

#4336 Уточняет текст и примеры кода
  tools/static-types/index.md
Labels: веб-платформа, статья

#4312 Исправлена опечатка в статье "Promise"
  js/promise/index.11tydata.json
  js/promise/index.md
Labels: js, статья

#4330 Добавляет статью про <noindex>
  html/noindex/index.md
Labels: html, дока

#4344 Добавляет статью «Уровни доступности»
  .yaspeller.json
  a11y/index.md
  a11y/wcag-conformance-levels/images/0.png
  a11y/wcag-conformance-levels/index.md
  a11y/wcag/index.md
Labels: статья, a11y

#4327 Добавляет доку про `tab`
  a11y/role-tab/demos/tabs/index.html
  a11y/role-tab/index.md
Labels: дока, a11y

#4328 Добавляет доку про `tabpanel`
  a11y/role-tabpanel/demos/tabpanels/index.html
  a11y/role-tabpanel/index.md
Labels: дока, a11y

#4396 Исправляет неточности и перелинковывает "ARIA-роли"
  .yaspeller.json
  a11y/aria-roles/index.md
Labels: улучшение, статья, a11y

#4391 CSS: описания и связанные статьи (L, M, N)
  css/lang/index.md
  css/letter-spacing/index.md
  css/line-height/index.md
  css/linear-gradient/index.md
  css/link/index.md
  css/list-style-image/index.md
  css/list-style-position/index.md
  css/list-style-type/index.md
  css/margin/index.md
  css/nesting-selector/index.md
  css/not/index.md
  css/numeric-types/index.md
Labels: улучшение, css, статья, дока

#4387 Добавляет плейсхолдер для `generic`
  a11y/index.md
  a11y/role-generic/index.md
Labels: дока, placeholder, a11y

#4410 Правит ссылку в статье про событие input
  js/event-input/index.md
Labels: улучшение, кухня, js, дока, ошибка

#4397 Дописать про justify-content в Гайд по гридам #4295
  .yaspeller.json
  css/grid-guide/images/1.png
  css/grid-guide/images/10.png
  css/grid-guide/images/11.png
  css/grid-guide/images/12.png
  css/grid-guide/images/13.png
  css/grid-guide/images/14.png
  css/grid-guide/images/15.png
  css/grid-guide/images/16.png
  css/grid-guide/images/17.png
  css/grid-guide/images/18.png
  css/grid-guide/images/19.png
  css/grid-guide/images/2.png
  css/grid-guide/images/20.png
  css/grid-guide/images/21.png
  css/grid-guide/images/22.png
  css/grid-guide/images/23.png
  css/grid-guide/images/24.png
  css/grid-guide/images/25.png
  css/grid-guide/images/26.png
  css/grid-guide/images/27.png
  css/grid-guide/images/28.png
  css/grid-guide/images/29.png
  css/grid-guide/images/3.png
  css/grid-guide/images/30.png
  css/grid-guide/images/31.png
  css/grid-guide/images/32.png
  css/grid-guide/images/33.png
  css/grid-guide/images/34.png
  css/grid-guide/images/4.png
  css/grid-guide/images/5.png
  css/grid-guide/images/6.png
  css/grid-guide/images/7.png
  css/grid-guide/images/8.png
  css/grid-guide/images/9.png
  css/grid-guide/index.md
  people/filimonovalexey/index.md
  people/filimonovalexey/photo.jpg
Labels: улучшение, css, статья

#4411 Обновляет индекс раздела Доступность
  a11y/index.md
Labels: кухня, a11y

#4415 Перелинковывает материалы в разделе Доступность
  a11y/a11y-html/index.md
  a11y/aria-checked/index.md
  a11y/aria-disabled/index.md
  a11y/aria-errormessage/index.md
  a11y/aria-expanded/index.md
  a11y/aria-haspopup/index.md
  a11y/aria-intro/index.md
  a11y/aria-invalid/index.md
  a11y/aria-label/index.md
  a11y/aria-labelledby/index.md
  a11y/aria-level/index.md
  a11y/aria-multiselectable/index.md
  a11y/aria-readonly/index.md
  a11y/aria-required/index.md
  a11y/aria-roledescription/index.md
  a11y/aria-selected/index.md
  a11y/role-presentation-none/index.md
  a11y/role-tab/index.md
  a11y/role-tablist/index.md
  a11y/role-tabpanel/index.md
  a11y/screenreaders/index.md
Labels: кухня, статья, дока, placeholder, a11y

#4419 Убираем лишний бэджик у @solarrust
  people/solarrust/index.md
Labels: улучшение

#4412 Обновляет статью aria-role button
  .yaspeller.json
  a11y/role-button/demos/button-toggle/index.html
  a11y/role-button/demos/button-with-interaction/index.html
  a11y/role-button/images/computed-name.png
  a11y/role-button/index.md
  people/jkorichneva/index.md
Labels: дока, a11y

#4414 Добавляет статью про память
  .yaspeller.json
  interviews/trivial-memory-model/index.md
  tools/index.md
  tools/trivial-memory-model/images/memory.png
  tools/trivial-memory-model/images/stack-heap.png
  tools/trivial-memory-model/images/stack-trace.png
  tools/trivial-memory-model/index.11tydata.json
  tools/trivial-memory-model/index.md
Labels: веб-платформа, статья

#4421 Добавляет ответ на вопрос к собеседованию " Что значит слово «тернарный»?
  interviews/ternary/answers/maridoroshuk/index.md
  people/maridoroshuk/index.md
  people/maridoroshuk/maridoroshuk.jpeg
Labels: js, собеседование

#4422 style: fix a typo
  js/element-textcontent/index.md
Labels: js, дока
