Repository doka-guide/content, pull requests merged in 2023-11, with the labels that each got.

#4764 Добавляет описание второго аргумента метода .includes()
  js/includes/index.md
Labels: улучшение, js, дока

#4809 Добавляет доку «Сложность алгоритмов»
  people/eshevlyakova/index.md
  tools/algorithm-complexity/index.md
  tools/index.md
Labels: веб-платформа, статья

#4849 Исправляет ошибки Link Checker
  a11y/aria-busy/demos/feed/index.html
  a11y/aria-busy/index.md
  a11y/aria-flowto/demos/base-example/index.html
  a11y/aria-flowto/index.md
  a11y/role-dialog/demos/custom-modal-dialog/index.html
  a11y/role-dialog/index.md
  a11y/role-navigation/demos/basic-example/index.html
  a11y/role-navigation/index.md
  a11y/site-language/index.md
  html/tabindex/demos/bad-practices/index.html
Labels: кухня, html, статья, дока, ошибка, a11y

#4846 JS: Добавляет плейсхолдеры для всякой всячины
  js/css-style-declaration/index.md
  js/document-design-mode/index.md
  js/element-closest/index.md
  js/for-of/index.md
  js/window-close/index.md
Labels: js, дока, placeholder

#4786 Добавляет доку про роль `timer`
  a11y/role-timer/demos/basic-timer/index.html
  a11y/role-timer/index.md
  a11y/role-timer/video/closed-captions.vtt
  a11y/role-timer/video/role-timer.mp4
Labels: дока, a11y

#4840 Исправляет опечатку в разделе "Составной селектор в состоянии :active"
  css/active/index.md
Labels: css, дока, ошибка

#4843 Доступность: Форматирует примеры кода в доках
  a11y/aria-labelledby/index.md
  a11y/aria-roles/index.md
  a11y/prefers-reduced-motion/index.md
  a11y/role-presentation-none/index.md
Labels: улучшение, статья, дока, a11y

#4844 Добавляет ссылку на карту WCAG 2.2
  a11y/wcag/index.md
Labels: улучшение, статья, a11y

#4847 HTML: Добавляет @skorobaeus в контрибьютеры
  html/abbr/index.md
  html/b/index.md
  html/bdi/index.md
  html/bdo/index.md
  html/br/index.md
  html/canvas/index.md
  html/cite/index.md
  html/code/index.md
  html/del/index.md
  html/details/index.md
  html/dfn/index.md
  html/dialog/index.md
  html/disabled/index.md
  html/em/index.md
  html/embed/index.md
  html/for/index.md
  html/i/index.md
  html/inert/index.md
  html/ins/index.md
  html/kbd/index.md
  html/map/index.md
  html/mark/index.md
  html/meter/index.md
  html/multiple/index.md
  html/object/index.md
  html/output/index.md
  html/progress/index.md
  html/s/index.md
  html/samp/index.md
  html/small/index.md
  html/strong/index.md
  html/sub/index.md
  html/sup/index.md
  html/tabindex/index.md
  html/time/index.md
  html/u/index.md
  html/var/index.md
  html/wbr/index.md
Labels: кухня, html, дока, демо

#4804 Добавляет доку про `aria-live`
  a11y/aria-live/demos/assertive-more-important/index.html
  a11y/aria-live/index.md
Labels: дока, a11y

#4783 Добавляет статью «Как создать колонку с контентом по центру экрана»
  people/gartonot/index.md
  recipes/container/demos/container-clamp/code.html
  recipes/container/demos/container-clamp/index.html
  recipes/container/demos/container-media/code.html
  recipes/container/demos/container-media/index.html
  recipes/container/demos/container-wrapper/code.html
  recipes/container/demos/container-wrapper/index.html
  recipes/container/index.md
  recipes/index.md
Labels: статья, рецепт

#4807 Добавляет демку в `aria-modal`
  a11y/aria-modal/demos/custom-modal-dialog/index.html
  a11y/aria-modal/index.md
Labels: улучшение, дока, a11y, демо

#4790 Добавляет доку про `aria-haspopup`
  .yaspeller.json
  a11y/aria-haspopup/demos/app-menu/images/plus.svg
  a11y/aria-haspopup/demos/app-menu/images/pr.svg
  a11y/aria-haspopup/demos/app-menu/images/save.svg
  a11y/aria-haspopup/demos/app-menu/index.html
  a11y/aria-haspopup/index.md
Labels: дока, a11y

#4787 Добавляет доку про `aria-relevant`
  a11y/aria-relevant/demos/friends-list/index.html
  a11y/aria-relevant/index.md
  a11y/aria-relevant/video/aria-relevant.mp4
  a11y/aria-relevant/video/closed-captions.vtt
Labels: дока, a11y

#4788 Добавляет доку про `aria-current`
  a11y/aria-current/demos/breadcrumbs/index.html
  a11y/aria-current/demos/pagination/index.html
  a11y/aria-current/demos/steps/index.html
  a11y/aria-current/index.md
Labels: дока, a11y

#4808 Причёсывает демки в `<data>`, `<datalist>` и `<area>`
  html/area/demos/basic/index.html
  html/area/demos/catalog/index.html
  html/area/images/doka_demo_basic.png
  html/area/images/doka_demo_basic.svg
  html/area/index.md
  html/data/demos/data/index.html
  html/data/index.md
  html/datalist/demos/datalist-range/index.html
  html/datalist/images/datalist-hcm.png
  html/datalist/images/datalist-zoom.png
  html/datalist/index.md
Labels: улучшение, html, статья, дока, демо

#4842 Добавляет доку про `aria-owns`
  a11y/aria-owns/demos/nav-with-subnavs/index.html
  a11y/aria-owns/images/aria-owns-a11y-tree.png
  a11y/aria-owns/index.md
Labels: дока, a11y

#4841 JS: Добавляет недостающие плейсхолдеры про память и многопоточность
  .yaspeller.json
  js/atomics/index.md
  js/finalization-registry/index.md
  js/weak-ref/index.md
Labels: js, дока, placeholder

#4769 Добавляет демо калькулятор NTH
  css/child/demos/nth-calculator/images/checkmark.png
  css/child/demos/nth-calculator/index.html
  css/child/index.md
Labels: улучшение, css, дока

#4837 Добавляет доку об атрибуте `dir`
  html/dir/demos/dir-auto-input/index.html
  html/dir/demos/dir-auto/index.html
  html/dir/demos/dir-example/index.html
  html/dir/index.md
Labels: html, дока

#4845 Добавляет доку по тегу search
  html/search/demos/base/images/arrow-down.svg
  html/search/demos/base/index.html
  html/search/index.md
Labels: html, дока

#4848 Добавляет просьбу использовать пустые ссылки в демках
  docs/demos/index.md
Labels: улучшение, кухня

#4964 Мелкие правки в рецептах
  recipes/center/demos/absolute-height/index.html
  recipes/center/demos/absolute-no-height/index.html
  recipes/center/demos/flex-one/index.html
  recipes/center/demos/flex-two/index.html
  recipes/center/demos/grid/index.html
  recipes/center/demos/margin-transform-end/index.html
  recipes/center/demos/margin-transform-start/index.html
  recipes/center/index.md
  recipes/github-new-fork/images/create-new-fork.png
  recipes/github-new-fork/images/create-repo-fork.png
  recipes/github-new-fork/images/repo-menu.png
  recipes/github-new-fork/images/your-own-fork.png
  recipes/github-new-fork/index.md
  recipes/index.md
Labels: улучшение, статья, рецепт

#4975 Исправляет опечатку
  html/h1-h6/index.md
Labels: html, дока, ошибка

#4976 Правит статью autocomplete
  html/autocomplete/index.md
Labels: улучшение, html, дока

#4979 Скрывает от скринридеров невидимый визуально блок с уведомлением
  a11y/live-region/demos/toast-notification/index.html
Labels: ошибка, a11y, демо

#4978 Исправляет ошибки в текстах док и статей про доступность
  a11y/role-log/index.md
  a11y/role-status/index.md
  a11y/wcag-conformance-levels/index.md
Labels: кухня, статья, дока, ошибка, a11y

#4977 Причёсывает демки, улучшает тексты для `aria-details`, `aria-label`, `aria-invalid`, Введение в ARIA
  a11y/aria-details/demos/image-with-details/index.html
  a11y/aria-details/index.md
  a11y/aria-intro/demos/fake-button/index.html
  a11y/aria-intro/demos/status-message/index.html
  a11y/aria-intro/images/0.png
  a11y/aria-intro/index.md
  a11y/aria-invalid/demos/field-with-aria-invalid/index.html
  a11y/aria-invalid/index.md
  a11y/aria-label/demos/button-with-icon/index.html
  a11y/aria-label/index.md
  a11y/aria-label/practice/tatianafokina.md
Labels: улучшение, статья, дока, a11y, демо

#4988 Добавляет фото автору и изменяет ссылку на профиль
  people/fpetrakov/index.md
  people/fpetrakov/photo.jpeg
Labels: кухня

#4986 Исправляет опечатки в примерах кода
  tools/algorithm-complexity/index.md
Labels: веб-платформа, статья, ошибка

#4805 Добавляет рецепт с написанием попапа и демку к нему
  people/annabaraulina/index.md
  people/annabaraulina/photo.jpeg
  recipes/index.md
  recipes/popup/demos/popup-demo/images/cute.jpg
  recipes/popup/demos/popup-demo/images/grechka.jpg
  recipes/popup/demos/popup-demo/images/home.jpg
  recipes/popup/demos/popup-demo/images/partie.jpg
  recipes/popup/demos/popup-demo/index.html
  recipes/popup/index.md
Labels: статья, рецепт

#4985 Добавляет папку автора в директорию people и обновляет список контрибьюторов в статье child
  css/child/index.md
  people/makarovaiuliia/index.md
  people/makarovaiuliia/photo.jpg
Labels: кухня, css, дока

#4989 Доступность: Добавляет Свету в контрибьютеры
  a11y/aria-keyshortcuts/index.md
  a11y/how-to-describe-pictures/index.md
  a11y/live-region/index.md
  a11y/prefers-reduced-motion/index.md
  a11y/role-alert/index.md
  a11y/role-alertdialog/index.md
  a11y/role-blockquote/index.md
  a11y/role-button/index.md
  a11y/role-mark/index.md
  a11y/role-marquee/index.md
  a11y/role-tab/index.md
  a11y/role-tablist/index.md
  a11y/role-tabpanel/index.md
  a11y/role-tooltip/index.md
Labels: кухня, статья, дока, a11y, демо

#4962 Дополняет доку про роли `none` и `presentation`
  a11y/role-presentation-none/demos/decorative-hr/index.html
  a11y/role-presentation-none/images/just-table.png
  a11y/role-presentation-none/images/table-role-presentation.png
  a11y/role-presentation-none/index.md
Labels: улучшение, дока, a11y

#4990 Причёсывает демки про атрибуты `novalidate` и `inputmode`
  html/inputmode/demos/basic/index.html
  html/inputmode/images/tel_email.jpg
  html/inputmode/images/tel_email.png
  html/inputmode/images/tel_numeric.jpg
  html/inputmode/images/tel_numeric.png
  html/inputmode/images/tel_phone.jpg
  html/inputmode/images/tel_phone.png
  html/inputmode/images/tel_text.jpg
  html/inputmode/images/tel_text.png
  html/inputmode/images/tel_url.jpg
  html/inputmode/images/tel_url.png
  html/inputmode/index.md
  html/novalidate/demos/form-validation/index.html
  html/novalidate/index.md
Labels: улучшение, html, дока, демо

#4983 Доступность: Причёсывает демки
  a11y/aria-describedby/demos/field-with-hint/index.html
  a11y/aria-describedby/index.md
  a11y/aria-description/demos/button-with-description/index.html
  a11y/aria-description/index.md
  a11y/aria-errormessage/demos/field-with-aria-errormessage/index.html
  a11y/aria-errormessage/index.md
  a11y/aria-hidden/demos/button-with-icon-font/index.html
  a11y/aria-hidden/index.md
  a11y/aria-labelledby/demos/figure-with-aria-labelledby/index.html
  a11y/aria-labelledby/index.md
  a11y/role-contentinfo/demos/footer-with-contentinfo/index.html
  a11y/role-contentinfo/index.md
  a11y/role-switch/demos/button-with-switch-role/index.html
  a11y/role-switch/index.md
Labels: улучшение, дока, a11y, демо

#4961 Добавляет доку про `prefers-reduced-transparency`
  .yaspeller.json
  a11y/index.md
  a11y/prefers-reduced-transparency/demos/basic-example/index.html
  a11y/prefers-reduced-transparency/demos/card-with-bg-image/images/daycare.png
  a11y/prefers-reduced-transparency/demos/card-with-bg-image/images/walking.png
  a11y/prefers-reduced-transparency/demos/card-with-bg-image/index.html
  a11y/prefers-reduced-transparency/demos/card-with-glass-effect/images/grass.png
  a11y/prefers-reduced-transparency/demos/card-with-glass-effect/index.html
  a11y/prefers-reduced-transparency/index.md
  a11y/prefers-reduced-transparency/video/chrome-devtools.mp4
  a11y/prefers-reduced-transparency/video/closed-captions.vtt
Labels: дока, a11y

#4991 Причёсывает демки про атрибуты `size`, `placeholder`
  html/placeholder/demos/example/index.html
  html/placeholder/index.md
  html/placeholder/practice/minich.md
  html/size/demos/basic-input/index.html
  html/size/demos/basic-select/index.html
  html/size/demos/input-size-without-monospace/index.html
  html/size/index.md
Labels: улучшение, html, дока, демо

#4995 Доступность: причёсывает последние демки
  a11y/content-hidden/demos/hide-text/index.html
  a11y/content-hidden/index.md
  a11y/css-impact-on-a11y/demos/flex-order-property/index.html
  a11y/css-impact-on-a11y/demos/list-style-none/index.html
  a11y/css-impact-on-a11y/demos/lists-with-custom-markers/index.html
  a11y/css-impact-on-a11y/demos/prefers-reduced-motion/index.html
  a11y/css-impact-on-a11y/demos/table-and-grid-layout/index.html
  a11y/css-impact-on-a11y/demos/table-with-grid-layout/index.html
  a11y/css-impact-on-a11y/index.md
  a11y/skip-link/demos/basic/index.html
  a11y/skip-link/demos/with-skip-link/index.html
  a11y/skip-link/index.md
Labels: улучшение, статья, a11y, демо

#5000 Дополняет статью про формы
  html/form/index.md
Labels: улучшение, html, дока

#4994 Добавляет доку про `aria-expanded`
  a11y/aria-expanded/demos/burger-menu/index.html
  a11y/aria-expanded/index.md
Labels: дока, a11y

#4912 Добавляет ноябрь в ченджлог
  CHANGELOG.md
Labels: кухня
