Repository doka-guide/content, pull requests merged in 2023-06, with the labels that each got.

#4435 Добавляет май в ченджлог
  CHANGELOG.md
Labels: кухня

#4492 Исправляет опечатку в вопросе из интервью из статьи про <link>
  interviews/link-script-position/answers/maridoroshuk/index.md
Labels: улучшение, html, собеседование

#4494 Исправляет опечатки в `window.matchMedia`
  js/match-media/index.md
Labels: js, дока

#4495 Исправляет опечатку в примере promise
  js/promise/practice/nlopin.md
Labels: js

#4424 Добавляет статью о том, что такое CMS
  .yaspeller.json
  tools/cms/images/add-new-post.png
  tools/cms/images/cms-statistics.png
  tools/cms/images/publication-post.png
  tools/cms/index.md
Labels: веб-платформа, статья

#4484 Добавляет рецепт "Создать массив из большого количества повторяющихся элементов"
  people/sapfir0/index.md
  people/sapfir0/photo.jpg
  recipes/array-filling/index.md
  recipes/index.md
Labels: js, статья, рецепт, holyJS

#4479 Добавляет статью по тегу <wbr>
  .yaspeller.json
  html/index.md
  html/wbr/demos/diffrent-screens/index.html
  html/wbr/demos/usage-example/index.html
  html/wbr/index.md
  people/dimameh/index.md
  people/dimameh/photo.jpg
Labels: html, дока, holyJS

#4490 Обновляет демки в `text-transform`
  css/text-transform/demos/menu/images/logo.png
  css/text-transform/demos/menu/images/logo.svg
  css/text-transform/demos/menu/index.html
  css/text-transform/demos/title-case/index.html
  css/text-transform/demos/uppercase/index.html
  css/text-transform/index.md
  css/text-transform/practice/solarrust.md
Labels: улучшение, css, дока

#4489 Обновляет индекс раздела Доступность
  a11y/index.md
Labels: кухня, a11y

#4508 Добавляет плейсхолдер Weak Map
  js/collection-weakmap/index.11tydata.json
  js/collection-weakmap/index.md
  js/index.md
Labels: js, дока, placeholder

#4485 Добавляет доку про `capture`
  html/capture/index.md
  people/eshevlyakova/index.md
  people/eshevlyakova/photo.jpg
Labels: html, дока, holyJS

#4509 Добавляет плейсхолдер для роли `tree`
  a11y/index.md
  a11y/role-tree/index.md
Labels: дока, placeholder, a11y

#4510 Добавляет плейсхолдер для роли `treeitem`
  a11y/index.md
  a11y/role-treeitem/index.md
Labels: дока, placeholder, a11y

#4512 Добавляет плейсхолдер для `aria-valuetext`
  a11y/aria-valuetext/index.md
Labels: дока, placeholder, a11y

#4513 Добавляет плейсхолдер для `aria-valuenow`
  a11y/aria-valuenow/index.md
Labels: дока, placeholder, a11y

#4514 Добавляет плейсхолдер для `aria-posinset`
  a11y/aria-posinset/index.md
  a11y/index.md
Labels: дока, placeholder, a11y

#4515 Добавляет плейсхолдер для `aria-multiline`
  a11y/aria-multiline/index.md
Labels: дока, placeholder, a11y

#4506 Обновляет упоминания про ARIA 1.2
  a11y/aria-intro/index.md
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#4519 Новый значок для @inventoris
  people/inventoris/index.md
Labels: кухня

#4488 Добавляет доку по `Intl.DateTimeFormat`
  .yaspeller.json
  js/intl-datetimeformat/index.md
Labels: js, дока, holyJS

#4501 Убирает лишнее тире
  .github/pull_request_template.md
  README.md
  docs/contributing.md
  specials/ylf/index.md
  tools/ci-cd/index.md
  tools/code-review/index.md
  tools/markdown/practice/ilfa.md
  tools/yaml/practice/kognitivnayabuena.md
Labels: улучшение, веб-платформа, статья

#4522 Добавляет плейсхолдер для array-of
  js/array-of/index.11tydata.json
  js/array-of/index.md
  js/index.md
Labels: js, дока, placeholder

#4507 Дополняет доку про `<a>`
  html/a/index.md
  html/a/practice/solarrust.md
  html/a/practice/vetero4eg.md
  people/vetero4eg/index.md
  people/vetero4eg/photo.jpg
Labels: html, дока
