Repository doka-guide/content, pull requests merged in 2023-05, with the labels that each got.

#4389 Добавляет апрель в ченджлог
  CHANGELOG.md
Labels: кухня

#4413 Редизайнит схемы в гайде по гридам
  css/column-row-gap/images/1.png
  css/column-row-gap/index.md
  css/grid-auto-columns-rows/images/1.png
  css/grid-auto-columns-rows/index.md
  css/grid-auto-flow/images/1.png
  css/grid-auto-flow/images/2.png
  css/grid-auto-flow/index.md
  css/grid-column-row/images/1.png
  css/grid-column-row/index.md
  css/grid-guide/images/1.png
  css/grid-guide/images/10.png
  css/grid-guide/images/11.png
  css/grid-guide/images/12.png
  css/grid-guide/images/13.png
  css/grid-guide/images/14.png
  css/grid-guide/images/15.png
  css/grid-guide/images/16.png
  css/grid-guide/images/17.png
  css/grid-guide/images/18.png
  css/grid-guide/images/19.png
  css/grid-guide/images/2.png
  css/grid-guide/images/20.png
  css/grid-guide/images/21.png
  css/grid-guide/images/22.png
  css/grid-guide/images/23.png
  css/grid-guide/images/24.png
  css/grid-guide/images/25.png
  css/grid-guide/images/26.png
  css/grid-guide/images/27.png
  css/grid-guide/images/28.png
  css/grid-guide/images/29.png
  css/grid-guide/images/3.png
  css/grid-guide/images/30.png
  css/grid-guide/images/31.png
  css/grid-guide/images/32.png
  css/grid-guide/images/33.png
  css/grid-guide/images/34.png
  css/grid-guide/images/4.png
  css/grid-guide/images/5.png
  css/grid-guide/images/6.png
  css/grid-guide/images/7.png
  css/grid-guide/images/8.png
  css/grid-guide/images/9.png
  css/grid-guide/index.md
  css/grid-start-end/images/1.png
  css/grid-template-areas/images/1.png
  css/grid-template-areas/index.md
  css/grid/index.md
  css/justify-items/images/1.png
  css/justify-items/index.md
  css/justify-self/images/1.png
Labels: улучшение, css, дока

#4416 Добавляет плейсхолдер для `aria-autocomplete`
  a11y/aria-autocomplete/index.md
  a11y/index.md
Labels: дока, placeholder, a11y

#4418 Добавляет плейсхолдер для `aria-orientation`
  a11y/aria-orientation/index.md
  a11y/index.md
Labels: дока, placeholder, a11y

#4420 Перелинковывает и уточняет статью "ARIA-атрибуты"
  a11y/aria-attrs/index.md
Labels: улучшение, статья, a11y

#4432 Добавляет рецепт про выравнивание
  .yaspeller.json
  recipes/center/demos/absolute-height/index.html
  recipes/center/demos/absolute-no-height/index.html
  recipes/center/demos/flex-one/index.html
  recipes/center/demos/flex-two/index.html
  recipes/center/demos/grid/index.html
  recipes/center/demos/margin-transform-end/index.html
  recipes/center/demos/margin-transform-start/index.html
  recipes/center/demos/start/index.html
  recipes/center/index.md
Labels: статья, рецепт

#4423 Добавляет ответ на вопрос к собеседованию, где принято размещать теги <script> / <link>
  interviews/link-script-position/answers/maridoroshuk/index.md
Labels: html, собеседование

#4436 CSS: добавляет описания и связанные статьи (O, P)
  .yaspeller.json
  css/object-fit/index.md
  css/object-position/index.md
  css/opacity/index.md
  css/order/index.md
  css/outline-color/index.md
  css/outline-offset/index.md
  css/outline-style/index.md
  css/outline-width/index.md
  css/outline/index.md
  css/overflow-wrap/index.md
  css/overflow/index.md
  css/padding/index.md
  css/perspective-origin/index.md
  css/pixel-perfect/index.md
  css/place-items/index.md
  css/place-self/index.md
  css/placeholder-shown/index.md
  css/placeholder/index.md
  css/position-sticky/index.md
  css/position/index.md
  css/pseudoclasses/index.md
  css/pseudoelements/index.md
Labels: улучшение, css, статья, дока, placeholder

#4431 Обновляет схемы в Поведенческих паттернах проектирования
  tools/design-patterns-behaviorial/images/chain-of-responsibility.jpg
  tools/design-patterns-behaviorial/images/chain-of-responsibility.png
  tools/design-patterns-behaviorial/images/strategy.jpg
  tools/design-patterns-behaviorial/images/strategy.png
  tools/design-patterns-behaviorial/index.md
Labels: улучшение, веб-платформа, статья

#4430 Добавляет ответ на вопрос к собеседованию
  .yaspeller.json
  interviews/progressive-rendering/answers/maridoroshuk/index.md
Labels: веб-платформа, собеседование

#4428 Описание реактивности Vue 2
  people/timur-gr/image.jpg
  people/timur-gr/index.md
  tools/react-and-alternatives/index.md
Labels: улучшение, веб-платформа, статья

#4438 CSS: Добавляет описания и связанные статьи (Q, R, S)
  css/quotes/index.md
  css/radial-gradient/index.md
  css/rem-em/index.md
  css/repeating-conic-gradient/index.md
  css/required/demos/required-input/index.html
  css/required/index.md
  css/resize/index.md
  css/root/index.md
  css/scroll-behavior/index.md
  css/scroll-padding/index.md
  css/scrollbar-color/index.md
  css/scrollbar-width/index.md
  css/selection/index.md
  css/selector-list/index.md
  css/specificity/index.md
  css/stacking-context/index.md
  css/stroke/index.md
Labels: улучшение, css, статья, дока, placeholder

#4350 заменил картинку на нормальную схему вместо фото листочка из тетради
  tools/design-patterns-behaviorial/images/observer.jpg
  tools/design-patterns-behaviorial/images/observer.png
  tools/design-patterns-behaviorial/index.md
Labels: улучшение, веб-платформа, статья

#4429 Добавляет новый шаблон для вопроса на собес
  .github/ISSUE_TEMPLATE/3_new_answer.yml
  .github/ISSUE_TEMPLATE/4_empty.md
Labels: кухня, собеседование

#4417 Добавлен ответ на вопрос: отличия var, let и const
  interviews/var-let-const/answers/FilimonovAlexey/index.md
  interviews/var-let-const/index.md
Labels: js, собеседование

#4437 Обновляет индекс раздела Рецепты
  recipes/index.md
Labels: улучшение, рецепт

#4443 CSS: Дописывает дескрипшены и связанные статьи (часть T)
  css/tab-size/index.md
  css/tag-selector/index.md
  css/target/index.md
  css/text-align/index.md
  css/text-decoration-line/index.md
  css/text-decoration-skip-ink/index.md
  css/text-decoration-thickness/index.md
  css/text-decoration/index.md
  css/text-indent/index.md
  css/text-orientation/index.md
  css/text-overflow/index.md
  css/text-rendering/index.md
  css/text-shadow/index.md
  css/text-size-adjust/index.md
Labels: улучшение, css, дока, placeholder

#4433 Добавляет плейсхолдер про `aria-activedescendant`
  a11y/aria-activedescendant/index.md
  a11y/aria-attrs/index.md
  a11y/index.md
Labels: статья, дока, placeholder, a11y

#4439 Добавляет доку про `aria-details`
  a11y/aria-details/demos/image-with-details/images/turtle.png
  a11y/aria-details/demos/image-with-details/index.html
  a11y/aria-details/index.md
  a11y/index.md
Labels: дока, a11y

#4440 Добавляет плейсхолдер про роль `separator`
  a11y/aria-roles/index.md
  a11y/index.md
  a11y/role-separator/index.md
Labels: статья, дока, placeholder, a11y

#4441 Добавляет плейсхолдер про `aria-sort`
  a11y/aria-attrs/index.md
  a11y/aria-sort/index.md
  a11y/index.md
Labels: статья, дока, placeholder, a11y

#4447 Создаёт страницу для HolyJS
  specials/holyjs/index.md
Labels: кухня

#4448 Правит описание поведения скроллбара на Mac OS в контексте использования viewport-единиц
  css/vw-vh/practice/ezhkov.md
Labels: улучшение, css

#4446 https://doka.guide/tools/encoding/
  tools/encoding/images/2.png
Labels: улучшение, веб-платформа

#4444 Добавляет доку про alertdialog
  a11y/aria-roles/index.md
  a11y/index.md
  a11y/role-alertdialog/index.md
  people/agarkov/index.md
Labels: статья, дока, a11y

#4470 Ворошит прошлое и бередит настоящее
  .yaspeller.json
  pages/about/index.md
  people/igsekor/index.md
Labels: кухня

#4459 Исправляет опечатку
  interviews/progressive-rendering/answers/maridoroshuk/index.md
Labels: улучшение, веб-платформа, собеседование

#4482 fix(js): fix typos
  js/element-textcontent/index.md
Labels: улучшение, js, дока

#4481 Исправляет путь до демки
  recipes/center/index.md
Labels: статья, ошибка, рецепт

#4478 Добавляет доку `alert`
  a11y/role-alert/index.md
  people/aleksanderlamkov/index.md
  people/aleksanderlamkov/photo.jpg
Labels: дока, placeholder, a11y, holyJS

#4464 Плейсхолдер для `aria-setsize`
  a11y/aria-attrs/index.md
  a11y/aria-setsize/index.md
  a11y/index.md
Labels: статья, дока, placeholder, a11y

#4463 Добавляет плейсхолдер для `menubar`
  a11y/aria-roles/index.md
  a11y/index.md
  a11y/role-menubar/index.md
Labels: статья, дока, placeholder, a11y

#4460 Добавляет плейсхолдер для `menuitemradio`
  a11y/index.md
  a11y/role-menuitemradio/index.md
Labels: дока, placeholder, a11y

#4461 Добавляет плейсхолдер для `menuitemcheckbox`
  a11y/index.md
  a11y/role-menuitemcheckbox/index.md
Labels: дока, placeholder, a11y

#4462 Добавляет плейсхолдер для `menuitem`
  a11y/index.md
  a11y/role-menuitem/index.md
Labels: дока, placeholder, a11y

#4487 Исправляет ссылку на рекомендуемую статью
  a11y/role-menuitemradio/index.md
Labels: дока, ошибка, placeholder, a11y

#4486 Добавляет ответ на вопрос 'links-vs-buttons'
  interviews/links-vs-buttons/answers/aleksanderlamkov/index.md
  interviews/links-vs-buttons/index.md
Labels: html, a11y, собеседование
