Repository doka-guide/content, pull requests merged in 2023-09, with the labels that each got.

#4692 Исправляет ошибку в Как скрыть содержимое от скринридеров
  a11y/content-hidden/index.md
Labels: статья, a11y

#4691 Исправляет ошибку в Многозадачность и процессы
  tools/multitasking-and-processes/index.md
Labels: веб-платформа, статья, ошибка

#4695 Обновляет рецепт Снежинки
  recipes/snow/demos/result-no-toggler/index.html
  recipes/snow/demos/result/index.html
  recipes/snow/index.md
Labels: улучшение, статья, рецепт, демо

#4694 Обновляет рецепт Загрузка файла с прогресс-баром
  recipes/progress/index.md
  recipes/progress/video/closed-captions.vtt
Labels: улучшение, статья, рецепт

#4699 Правит подсветку array-filling
  recipes/array-filling/index.md
Labels: улучшение, статья, рецепт

#4588 Добавляет рецепт «Как создать репозиторий на GitHub»
  recipes/github-new-repo/images/github-new-repo-settings.png
  recipes/github-new-repo/images/github-new-repo.png
  recipes/github-new-repo/index.md
Labels: статья, рецепт

#4693 Обновляет рецепт Драг-н-дроп для загрузки файлов
  recipes/dragndrop-upload/demos/dragndrop-demo/index.html
  recipes/dragndrop-upload/index.md
  recipes/dragndrop-upload/video/closed-captions.vtt
  recipes/dragndrop-upload/video/dragndrop-upload.mp4
  recipes/dragndrop-upload/video/dragndrop-upload_safari.mp4
Labels: улучшение, статья, рецепт, демо

#4536 Добавляет статью про доступные формы
  .yaspeller.json
  a11y/accessible-forms/index.md
  a11y/index.md
  people/oskarstud/index.md
  people/oskarstud/photo.png
Labels: статья, a11y, holyJS

#4719 Добавляет рецепт в индекс
  recipes/index.md
Labels: улучшение, рецепт

#4718 Обновляет документацию по стилям демок
  docs/demos/style.md
Labels: улучшение, кухня

#4682 Добавляет доку про generator/yield
  js/generators/index.md
Labels: js, дока

#4721 Добавляет рецепт «Как делать пулреквест»
  .yaspeller.json
  recipes/github-new-pull-request/images/compare-and-pull-request.png
  recipes/github-new-pull-request/images/new-pull-request.png
  recipes/github-new-pull-request/images/open-pull-request.png
  recipes/github-new-pull-request/index.md
  recipes/index.md
Labels: статья, рецепт

#4722 Добавляет рецепт «Как добавить пользователей в репозиторий»
  .yaspeller.json
  recipes/github-add-user-to-repo/images/github-add-collaborator.png
  recipes/github-add-user-to-repo/images/repository-collaborators.png
  recipes/github-add-user-to-repo/images/repository-tabs.png
  recipes/github-add-user-to-repo/index.md
  recipes/index.md
Labels: статья, рецепт

#4712 Дополняет доки `<samp>`, `<bdo>`, `<bdi>`
  html/bdi/demos/basic/index.html
  html/bdi/demos/userlist-b/index.html
  html/bdi/demos/userlist-bdi/index.html
  html/bdi/index.md
  html/bdo/demos/view/index.html
  html/bdo/index.md
  html/samp/demos/basic/index.html
  html/samp/demos/complex/index.html
  html/samp/index.md
Labels: улучшение, html, дока, демо

#4713 Причёсывает демки в `<details>`
  html/details/demos/details-open/index.html
  html/details/demos/details-summary/index.html
  html/details/demos/details-with-img/index.html
  html/details/index.md
  html/details/practice/tatianafokina.md
Labels: улучшение, html, дока, демо

#4726 Добавляет рецепт «Как выбрать лицензию на GitHub»
  .yaspeller.json
  recipes/github-choose-license/images/choose-license.png
  recipes/github-choose-license/images/commit-changes.png
  recipes/github-choose-license/images/create-file.png
  recipes/github-choose-license/images/license-templates.png
  recipes/github-choose-license/images/license-types.png
  recipes/github-choose-license/images/new-license-in-repo.png
  recipes/github-choose-license/images/open-license-choice.png
  recipes/github-choose-license/index.md
  recipes/index.md
Labels: статья, рецепт

#4728 Добавляет рецепт «Как написать README на GitHub»
  recipes/github-add-readme/index.md
  recipes/index.md
Labels: статья, рецепт

#4729 Добавляет рецепт «Как создать ишью на GitHub»
  .yaspeller.json
  recipes/github-new-issue/images/issue-assignees.png
  recipes/github-new-issue/images/issue-item-in-list.png
  recipes/github-new-issue/images/issue-labels.png
  recipes/github-new-issue/images/issue-templates.png
  recipes/github-new-issue/images/issues-list.png
  recipes/github-new-issue/images/new-issue-editing.png
  recipes/github-new-issue/index.md
  recipes/index.md
Labels: статья, рецепт

#4731 Добавляет рецепт «Как редактировать файлы на GitHub»
  recipes/github-editing-files-in-browser/images/file-editing.png
  recipes/github-editing-files-in-browser/images/file-view.png
  recipes/github-editing-files-in-browser/images/repo-tabs.png
  recipes/github-editing-files-in-browser/images/vs-code-in-browser.png
  recipes/github-editing-files-in-browser/index.md
  recipes/index.md
Labels: статья, рецепт

#4734 Исправляет мелочи в «Как создать ишью на GitHub»
  recipes/github-new-issue/index.md
Labels: статья, ошибка, рецепт

#4730 Добавляет рецепт «Как искать в списке ишью репозитория на GitHub»
  .yaspeller.json
  recipes/github-search-in-issues/images/filter-labels.png
  recipes/github-search-in-issues/images/filter-list.png
  recipes/github-search-in-issues/images/search-field.png
  recipes/github-search-in-issues/index.md
  recipes/index.md
Labels: статья, рецепт

#4689 Добавляет ответ на вопрос с собеседования про `reduce()`
  interviews/sum-function/answers/arudenkoofficial/index.md
  interviews/sum-function/answers/vladislavsrtkn/index.md
  interviews/sum-function/index.md
Labels: js, собеседование

#4737 Добавляет ответ на вопрос про `px`, `em` и `rem`
  interviews/px-em-rem/answers/alinashatalova/index.md
  people/alinashatalova/index.md
  people/alinashatalova/photo.jpg
Labels: css, собеседование

#4724 Добавляет рецепт «Как работать в пулреквестах на GitHub»
  .yaspeller.json
  recipes/github-manage-pull-request/images/add-a-comment.png
  recipes/github-manage-pull-request/images/add-review-of-changes.png
  recipes/github-manage-pull-request/images/add-suggestions.png
  recipes/github-manage-pull-request/images/choose-split-view.png
  recipes/github-manage-pull-request/images/commit-changes.png
  recipes/github-manage-pull-request/images/finish-review-of-changes.png
  recipes/github-manage-pull-request/images/pull-request-tabs.png
  recipes/github-manage-pull-request/images/write-a-comment.png
  recipes/github-manage-pull-request/index.md
  recipes/index.md
Labels: статья, рецепт

#4659 Дока data-атрибуты
  html/data-attributes/demos/data-symbol/index.html
  html/data-attributes/index.md
  people/kranatoly/index.md
Labels: html, дока, holyJS

#4664 Обновляет демки в `border-radius`
  css/border-radius/demos/basic/index.html
  css/border-radius/demos/different-blocks/index.html
  css/border-radius/demos/half-radius/index.html
  css/border-radius/demos/notification/images/doka.svg
  css/border-radius/demos/notification/index.html
  css/border-radius/images/eyes.png
  css/border-radius/index.md
  css/border-radius/practice/realetive.md
Labels: css, дока

#4684 Обновляет демку в `:checked`
  css/checked/demos/check/index.html
  css/checked/index.md
Labels: улучшение, css, дока, демо

#4696 Обновляет демки в `clip`
  css/clip/demos/basic/index.html
  css/clip/demos/interactive/index.html
  css/clip/index.md
Labels: улучшение, css, дока, демо

#4746 Исправляет ошибочное дефолтное значение в доке про `animation-timing-function`
  css/animation-timing-function/index.md
Labels: css, дока, ошибка

#4740 Добавляет рецепт «Как настроить двухфакторную аутентификацию на GitHub»
  recipes/github-2fa-setup/images/2-factor-auth-first-step.png
  recipes/github-2fa-setup/images/2-factor-auth-second-step.png
  recipes/github-2fa-setup/images/2-factor-auth-settings-disabled.png
  recipes/github-2fa-setup/images/2-factor-auth-settings-enabled.png
  recipes/github-2fa-setup/images/2-factor-auth-third-step.png
  recipes/github-2fa-setup/images/choose-settings-in-profile-menu.png
  recipes/github-2fa-setup/images/preferred-2-factor-auth.png
  recipes/github-2fa-setup/images/top-navigation.png
  recipes/github-2fa-setup/index.md
  recipes/index.md
Labels: статья, рецепт

#4742 Добавляет рецепт «Как клонировать репозиторий на GitHub»
  recipes/github-clone-repo/images/git-clone-github-link.png
  recipes/github-clone-repo/images/git-clone-https-link.png
  recipes/github-clone-repo/images/git-clone-ssh-link.png
  recipes/github-clone-repo/index.md
  recipes/index.md
Labels: статья, рецепт

#4738 Обновляет демки в `<canvas>`
  html/canvas/demos/canvas/index.html
  html/canvas/demos/webgl/index.html
  html/canvas/index.md
Labels: улучшение, html, дока, демо

#4735 Добавляет доку про `tabindex`
  .yaspeller.json
  html/tabindex/demos/bad-practices/index.html
  html/tabindex/demos/dialog/index.html
  html/tabindex/demos/scrollable-container/index.html
  html/tabindex/index.md
Labels: html, дока

#4744 Слегка причёсывает демки в `<embed>` и `<object>`
  html/embed/demos/embed-pdf/index.html
  html/embed/index.md
  html/object/demos/show-pdf/index.html
  html/object/index.md
Labels: улучшение, html, дока, демо

#4736 Добавляет рецепт «Как создать организацию на GitHub»
  recipes/github-new-organization/images/choose-your-plan.png
  recipes/github-new-organization/images/new-organization-by-page.png
  recipes/github-new-organization/images/new-organization-by-plus.png
  recipes/github-new-organization/images/new-organization-page.png
  recipes/github-new-organization/images/setup-organization-first-step.png
  recipes/github-new-organization/images/setup-organization-second-step.png
  recipes/github-new-organization/images/top-user-menu.png
  recipes/github-new-organization/images/your-organizations.png
  recipes/github-new-organization/index.md
  recipes/index.md
Labels: статья, рецепт

#4741 Добавляет рецепт «Как создать форк репозитория на GitHub»
  .yaspeller.json
  recipes/gihub-new-fork/images/create-new-fork.png
  recipes/gihub-new-fork/images/create-repo-fork.png
  recipes/gihub-new-fork/images/repo-menu.png
  recipes/gihub-new-fork/images/your-own-fork.png
  recipes/gihub-new-fork/index.md
  recipes/index.md
Labels: статья, рецепт

#4743 Добавляет рецепт «Как опубликовать сайт прямо на GitHub»
  .yaspeller.json
  recipes/github-pages-static-site/images/choose-the-branch.png
  recipes/github-pages-static-site/images/chosse-folder-from-branch.png
  recipes/github-pages-static-site/images/deploy-from-branch.png
  recipes/github-pages-static-site/images/github-pages-actions-setup.png
  recipes/github-pages-static-site/images/github-pages-branch-setup.png
  recipes/github-pages-static-site/index.md
  recipes/index.md
Labels: статья, рецепт

#4725 Добавляет сентябрь в ченджлог
  CHANGELOG.md
Labels: кухня
