Repository doka-guide/content, pull requests merged in 2023-10, with the labels that each got.

#4700 Дополняет доку `<progress>`
  html/progress/demos/basic/index.html
  html/progress/images/default_progressbar.png
  html/progress/index.md
  html/progress/practice/webdb81.md
Labels: улучшение, html, дока, демо

#4702 Дополняет доку `<output>`
  html/output/demos/form-rating/index.html
  html/output/demos/toast-notification/index.html
  html/output/index.md
Labels: улучшение, html, дока, демо

#4751 Добавляет ответ на вопрос про доступность
  interviews/a11y-legend-caption-label/answers/ra1nbow1/index.md
Labels: a11y, собеседование

#4662 Добавляет информацию в доку про css-свойство `touch-action`
  css/touch-action/demos/touch-action/images/map.jpg
  css/touch-action/demos/touch-action/index.html
  css/touch-action/index.md
  people/ermachenkoboris/index.md
  people/ermachenkoboris/photo.jpg
Labels: css, дока, holyJS

#4710 Исправляет ошибку в `На практике` для `will-change`
  css/will-change/practice/madey-kv.md
Labels: css, ошибка

#4698 Добавляет статью Что такое изменяющаяся область
  .yaspeller.json
  a11y/aria-attrs/index.md
  a11y/aria-roles/index.md
  a11y/index.md
  a11y/live-region/demos/live-region-sandbox/images/arrow-down.svg
  a11y/live-region/demos/live-region-sandbox/index.html
  a11y/live-region/demos/progress-bar/index.html
  a11y/live-region/demos/toast-notification/index.html
  a11y/live-region/index.md
Labels: статья, a11y

#4703 Дополняет доки `<del>`, `<ins>`, `<s>`
  html/del/demos/attributes/index.html
  html/del/demos/basic/index.html
  html/del/demos/code/index.html
  html/del/index.md
  html/ins/demos/attributes/index.html
  html/ins/demos/basic/index.html
  html/ins/demos/code/index.html
  html/ins/index.md
  html/s/demos/basic/index.html
  html/s/demos/prices/index.html
  html/s/index.md
Labels: улучшение, html, дока, демо

#4704 Обновляет доки `<b>`, `<i>`, `<strong>`, `<em>`
  html/b/demos/view/index.html
  html/b/index.md
  html/em/demos/basic/index.html
  html/em/demos/nested/index.html
  html/em/index.md
  html/i/demos/base/index.html
  html/i/index.md
  html/strong/demos/view/index.html
  html/strong/index.md
Labels: улучшение, html, дока, демо

#4747 Добавляет доку про `inert`
  html/inert/demos/inert-vs-disabled/index.html
  html/inert/demos/styled-inert-area/index.html
  html/inert/index.md
Labels: html, дока

#4755 Обновляет картинку в доке про роль `button`
  a11y/role-button/demos/button-toggle/index.html
  a11y/role-button/demos/button-with-interaction/index.html
  a11y/role-button/images/computed-name.png
Labels: улучшение, дока, a11y

#4758 Добавляет демку в доку про `aria-keyshortcuts`
  a11y/aria-keyshortcuts/demos/button-with-shortcut/index.html
  a11y/aria-keyshortcuts/index.md
Labels: улучшение, дока, a11y, демо

#4706 Дополняет доки `<sub>`, `<sup>`
  html/sub/demos/basic/index.html
  html/sub/demos/nested/index.html
  html/sub/demos/sup/index.html
  html/sub/demos/variables/index.html
  html/sub/index.md
  html/sup/demos/basic/index.html
  html/sup/demos/nested/index.html
  html/sup/demos/sub/index.html
  html/sup/demos/variables/index.html
  html/sup/index.md
Labels: улучшение, html, дока, демо

#4711 Дополняет доки `<wbr>`, `<br>`, `<var>`
  html/br/demos/basic/index.html
  html/br/demos/dependence-of-size/index.html
  html/br/index.md
  html/var/demos/basic/index.html
  html/var/demos/formula/index.html
  html/var/index.md
  html/wbr/demos/diffrent-screens/index.html
  html/wbr/index.md
Labels: улучшение, html, дока, демо

#4709 Дополняет доки `<dfn>`, `<abbr>`, `<dl>, <dd>, <dt>`
  html/abbr/demos/un/index.html
  html/abbr/demos/with-dfn/index.html
  html/abbr/index.md
  html/dfn/demos/basic/index.html
  html/dfn/demos/link/index.html
  html/dfn/index.md
  html/dl-dd-dt/index.md
Labels: улучшение, html, дока, демо

#4714 Обновляет доки `<small>`, `<mark>`, `<code>`
  .yaspeller.json
  html/code/demos/basic/index.html
  html/code/index.md
  html/mark/demos/basic/index.html
  html/mark/demos/search/index.html
  html/mark/index.md
  html/small/demos/basic/index.html
  html/small/demos/pechkin/index.html
  html/small/index.md
Labels: улучшение, html, дока, демо

#4745 Добавляет доку про `log`
  a11y/role-log/demos/chat-w-log/index.html
  a11y/role-log/index.md
  a11y/role-log/video/closed-captions.vtt
  a11y/role-log/video/nvda-log-reading.mp4
Labels: дока, a11y

#4749 Причёсывает демки и дополняет доку «Атрибут `disabled`»
  html/disabled/demos/base/images/arrow-down.svg
  html/disabled/demos/base/index.html
  html/disabled/index.md
Labels: улучшение, html, дока, демо

#4752 Добавляет ответ про srcset
  interviews/img-srcset/answers/ra1nbow1/index.md
Labels: html, собеседование

#4750 Обновляет демки в «Атрибут `multiple`»
  html/multiple/demos/basic/index.html
  html/multiple/demos/multiple-input-email/index.html
  html/multiple/demos/multiple-input-files/index.html
  html/multiple/index.md
Labels: улучшение, html, дока, демо

#4768 Добавляет ответ про aria атрибуты
  interviews/a11y-hidden-content/answers/ra1nbow1/index.md
Labels: a11y, собеседование

#4762 Добавляет доку про язык сайта
  .yaspeller.json
  a11y/index.md
  a11y/site-language/index.md
Labels: статья, a11y

#4781 Добавил автора в папку people, заменил and на и
  js/generators/index.md
  people/SergeyKrasnolobov/index.md
Labels: улучшение, кухня, js, дока

#4767 Добавляет ответ на вопрос на собеседовании
  interviews/strink-task/answers/ra1nbow1/index.md
Labels: js, собеседование

#4765 Исправляет неправильное название функции в .removeEventListener()
  js/element-removeeventlistener/practice/windrushfarer.md
Labels: js, ошибка

#4754 Добавляет демку в `aria-flowto`
  a11y/aria-flowto/demos/base-example/index.html
  a11y/aria-flowto/index.md
Labels: улучшение, дока, a11y, демо

#4757 Добавляет демку в доку про роль `navigation`
  a11y/role-navigation/demos/basic-example/index.html
  a11y/role-navigation/index.md
Labels: улучшение, дока, a11y, демо

#4759 Обновляет демки и слегка дополняет доку `<dialog>`
  html/dialog/demos/backdrop-close/index.html
  html/dialog/demos/basic/index.html
  html/dialog/demos/close-dialog-outside/index.html
  html/dialog/demos/close-variants/index.html
  html/dialog/demos/polyfilled/index.html
  html/dialog/demos/return-value/index.html
  html/dialog/demos/scroll-lock/index.html
  html/dialog/index.md
  html/dialog/practice/baileys-li.md
Labels: улучшение, html, дока, демо

#4705 Обновляет доки `<blockquote>`, `<q>`, `<cite>`
  html/blockquote/demos/blockquote/index.html
  html/blockquote/index.md
  html/blockquote/practice/solarrust.md
  html/cite/demos/bad/index.html
  html/cite/demos/basic/index.html
  html/cite/demos/good/index.html
  html/cite/index.md
  html/q/demos/quote/index.html
  html/q/index.md
  html/q/practice/solarrust.md
Labels: улучшение, html, дока, демо

#4708 Добавляет доку про `<meter>`
  html/meter/demos/basic/index.html
  html/meter/demos/custom-styles/index.html
  html/meter/demos/default-styles/index.html
  html/meter/demos/every/index.html
  html/meter/demos/every/scripts/jquery.min.js
  html/meter/demos/every/style.css
  html/meter/demos/meter-values-sandbox/index.html
  html/meter/images/github-languages.png
  html/meter/images/meter-chrome.png
  html/meter/index.md
Labels: html, дока

#4761 Добавляет демку и немного уточняет текст доки `alertdialog`
  a11y/role-alertdialog/demos/dialog-w-alertdialog-role/index.html
  a11y/role-alertdialog/index.md
Labels: улучшение, дока, a11y, демо

#4771 Обновляет статью про глобальные HTML-атрибуты
  html/global-attrs/index.md
Labels: улучшение, html, дока

#4772 Добавляет доку про роль `status`
  a11y/role-status/demos/toast-message/index.html
  a11y/role-status/index.md
Labels: дока, a11y

#4776 Добавляет демку в доку про роль `dialog`
  a11y/role-dialog/demos/custom-modal-dialog/index.html
  a11y/role-dialog/index.md
Labels: улучшение, дока, a11y, демо

#4774 Добавляет доку про роль `mark`
  a11y/role-mark/demos/text-with-role-mark/index.html
  a11y/role-mark/images/night-sky-example.png
  a11y/role-mark/index.md
Labels: дока, a11y

#4784 Исправляет ссылку
  html/strong/index.md
Labels: кухня, html, дока, ошибка

#4778 Добавляет доку про роль `marquee`
  a11y/role-marquee/demos/ticker/index.html
  a11y/role-marquee/index.md
Labels: дока, a11y

#4777 Добавляет демку в доку про роль `alert`
  a11y/role-alert/demos/alert-message/images/error.svg
  a11y/role-alert/demos/alert-message/index.html
  a11y/role-alert/index.md
Labels: улучшение, дока, a11y, демо

#4697 Меняет список на подзаголовки
  html/meta/index.md
Labels: улучшение, html, дока

#4775 Обновляет доки `<time>`, `<kbd>`
  html/kbd/demos/complex-kbd/index.html
  html/kbd/demos/style-kbd/index.html
  html/kbd/index.md
  html/time/demos/basic/index.html
  html/time/index.md
Labels: улучшение, html, дока, демо

#4680 Добавляет инфо про `auto-fill` и `auto-fit`
  css/grid-guide/index.md
Labels: улучшение, css, статья

#4811 Исправляет опечатку в примере "Array(2)" js/array-of
  js/array-of/index.md
Labels: js, дока, placeholder

#4723 Исправляет неточность в доке `fetch()`
  js/fetch/index.md
Labels: улучшение, js, дока

#4773 Добавляет статью «Абстрактные ARIA-роли»
  a11y/abstract-roles/images/abstract-roles.png
  a11y/abstract-roles/images/role-description.png
  a11y/abstract-roles/index.md
  a11y/aria-roles/index.md
  a11y/index.md
Labels: статья, a11y

#4753 Добавляет октябрь в ченджлог
  CHANGELOG.md
Labels: кухня

#4785 Добавляет доку про `aria-busy`
  .yaspeller.json
  a11y/aria-busy/demos/feed/index.html
  a11y/aria-busy/index.md
  a11y/aria-busy/video/aria-busy.mp4
  a11y/aria-busy/video/closed-captions.vtt
Labels: дока, a11y
