Repository doka-guide/content, pull requests merged in 2023-12, with the labels that each got.

#5006 Исправляет ошибку
  js/function/index.md
Labels: js, дока, ошибка

#5009 Исправляет ошибку в тексте в Intersection Observer
  js/intersection-observer/index.md
Labels: js, дока, ошибка

#5012 Правит контакты
  README.md
  css/attribute-selector/practice/ezhkov.md
  docs/preview.md
  pages/letuchka/index.md
  specials/pfc/index.md
Labels: кухня, css

#4789 Добавляет статью о плотности пикселей
  tools/pixel-density/demos/different-images/index.html
  tools/pixel-density/demos/media-query/index.html
  tools/pixel-density/images/cat-1024.jpg
  tools/pixel-density/images/cat-128.jpg
  tools/pixel-density/images/cat-256.jpg
  tools/pixel-density/images/cat-512.jpg
  tools/pixel-density/images/cat@1x.jpg
  tools/pixel-density/images/cat@2x.jpg
  tools/pixel-density/images/dev-tools.jpg
  tools/pixel-density/images/figma.jpg
  tools/pixel-density/images/pixel-density.png
  tools/pixel-density/index.md
Labels: веб-платформа, статья

#4806 Добавляет статью про отправку формы без перезагрузки страницы
  recipes/ajax-form/index.md
Labels: статья, рецепт

#5020 Добавляет демо положения папок
  docs/preview.md
Labels: кухня

#4532 Ленивая загрузка картинок с цветным превью
  people/prorokky/index.md
  recipes/lazy-load-with-preview/demos/lazy-load/images/lazy-frog-large.jpg
  recipes/lazy-load-with-preview/demos/lazy-load/images/lazy-frog-small.jpg
  recipes/lazy-load-with-preview/demos/lazy-load/index.html
  recipes/lazy-load-with-preview/index.md
Labels: статья, рецепт, holyJS

#5004 Удаление избыточного текста в описании owerflow-wrap
  css/overflow-wrap/index.md
Labels: улучшение, css, дока

#5021 Исправляет опечатки в text-shadow
  css/text-shadow/index.md
Labels: css, дока, ошибка

#5003 HTML: добавляет контрибьютера, форматирует, дополняет тексты
  html/data-attributes/index.md
  html/footer/demos/footer/index.html
  html/footer/index.md
  html/search/index.md
  html/svg-sprite/demos/sprite/index.html
  html/svg-sprite/index.md
Labels: улучшение, html, статья, дока, демо

#5005 Добавляет статью «Дерево доступности»
  a11y/a11y-tree/images/a11y-objects.png
  a11y/a11y-tree/images/chrome-a11y-tree.png
  a11y/a11y-tree/images/chrome-accessibility-tab.png
  a11y/a11y-tree/images/chrome-textbox-a11y-object.png
  a11y/a11y-tree/index.md
  a11y/index.md
  a11y/screenreaders/images/2.png
  a11y/screenreaders/index.md
Labels: статья, a11y

#4997 Добавляет схемы в доки про `tablist`, `tab`, `tabpanel`
  a11y/role-tab/images/tabs.png
  a11y/role-tab/index.md
  a11y/role-tablist/images/tabs.png
  a11y/role-tablist/index.md
  a11y/role-tabpanel/images/tabs.png
  a11y/role-tabpanel/index.md
Labels: улучшение, дока, a11y

#5050 JS и Доступность: чинит frontmatter-lint, добавляет ссылки на статью про дерево доступности
  a11y/a11y-html/index.md
  a11y/aria-attrs/index.md
  a11y/aria-owns/index.md
  a11y/aria-relevant/index.md
  a11y/live-region/index.md
  a11y/role-presentation-none/index.md
  a11y/role-switch/index.md
  html/inert/index.md
  js/atomics/index.md
  js/finalization-registry/index.md
  js/weak-ref/index.md
  recipes/dropdown-menu/index.md
Labels: улучшение, кухня, html, js, статья, дока, ошибка, placeholder, рецепт, a11y

#5008 Добавляет доку `aria-atomic`
  a11y/aria-atomic/demos/basic-timer/index.html
  a11y/aria-atomic/demos/cart/index.html
  a11y/aria-atomic/index.md
Labels: дока, a11y

#5056 Исправляет ссылки на другие материалы
  a11y/role-presentation-none/index.md
  a11y/screenreaders/index.md
Labels: кухня, статья, дока, ошибка, a11y

#5051 Исправляет с "тега `style`" на "атрибута `style`"
  css/specificity/index.md
Labels: css, статья, ошибка

#5017 Обновляет поддержку браузерами `scrollbar-color`
  css/scrollbar-color/index.md
Labels: улучшение, css, дока

#5011 Исправляет демку и заменяет картинку в `<input>`
  html/input/demos/inputs/index.html
  html/input/images/tel.jpeg
  html/input/images/tel.png
  html/input/index.md
  people/jag-k/index.md
  people/jag-k/photo.jpg
Labels: улучшение, html, дока, ошибка, демо

#5007 Добавляет доку `clip-path`
  css/clip-path/demos/basic-shape-with-geometry-box/index.html
  css/clip-path/demos/circle/index.html
  css/clip-path/demos/ellipse/index.html
  css/clip-path/demos/inset/index.html
  css/clip-path/demos/path/index.html
  css/clip-path/demos/polygon/index.html
  css/clip-path/demos/svg/images/doka.svg
  css/clip-path/demos/svg/index.html
  css/clip-path/index.md
Labels: css, дока

#5052 Новогоднее причёсывание
  css/grid-guide/demos/mobile-example/index.html
  css/grid-guide/images/practice-desktop.png
  css/grid-guide/images/practice-mobile.png
  css/grid-guide/index.md
  css/grid-guide/practice/meded90.md
  css/position/demos/playground/index.html
  css/position/index.md
  html/dialog/demos/backdrop-close/index.html
  html/dialog/demos/basic/index.html
  html/dialog/demos/close-dialog-outside/index.html
  html/dialog/demos/close-variants/index.html
  html/dialog/demos/polyfilled/index.html
  html/dialog/demos/return-value/index.html
  html/dialog/demos/scroll-lock/index.html
  html/select/demos/attributes/index.html
  js/function/demos/basic/index.html
  js/function/demos/invocation/index.html
  recipes/snow/demos/result/index.html
  recipes/snow/index.md
Labels: css, html, js, статья, дока, рецепт, демо

#5066 Добавляет демку в `aria-roledescription`
  a11y/aria-roledescription/demos/presentation-slide/index.html
  a11y/aria-roledescription/index.md
Labels: улучшение, дока, a11y, демо

#5080 Обновляет экшены
  .github/workflows/editorconfig.yml
  .github/workflows/featured-articles.yml
  .github/workflows/frontmatter-lint.yml
  .github/workflows/link-checker-all.yml
  .github/workflows/maintainer-helper.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-preview.yml
  .github/workflows/product-deploy.yml
  .github/workflows/social-cards.yml
  .github/workflows/update-dates.yml
  .github/workflows/update-index.yml
Labels: кухня

#5082 Приводит формат представления записей к одному формату
  CHANGELOG.md
Labels: кухня

#5084 Исправляет `которые будут` -> `которая будет`
  js/deal-with-forms/index.md
Labels: js, статья, дока, ошибка

#5072 Добавляет статью про общие атрибуты SVG
  .github/workflows/pr-preview.yml
  svg/svg-common-attrs/index.md
Labels: кухня, дока, svg

#5086 Возвращает способ с Docker для превью
  docs/preview.md
Labels: кухня

#5087 Информация о @elizavetaa0
  people/elizavetaa0/index.md
  people/elizavetaa0/photo.png
Labels: кухня

#5088 Согласовывает слово в совете про `<dialog>`
  html/dialog/practice/baileys-li.md
Labels: html, ошибка

#4998 Добавляет рецепт плавного раскрытия выпадающего меню
  recipes/dropdown-animation/demos/final-no-tab/index.html
  recipes/dropdown-animation/demos/final/index.html
  recipes/dropdown-animation/demos/no-color-transition/index.html
  recipes/dropdown-animation/index.md
Labels: статья, рецепт

#5092 Добавляет alexafcode в people
  people/alexafcode/index.md
Labels: кухня

#4770 Дополняет «На практике» в статье `performance`
  js/performance/demos/functions-measure-devtools/index.html
  js/performance/images/perfomance-panel.png
  js/performance/images/perfomance-timings-r17.png
  js/performance/practice/meded90.md
Labels: улучшение, js, демо

#4839 JS: Добавляет плейсхолдеры для недостающих коллекций
  js/array-buffer/index.md
  js/data-view/index.md
  js/index.md
  js/shared-array-buffer/index.md
  js/typed-array/index.md
  js/weak-set/index.md
Labels: js, дока, placeholder

#4980 Уточняет формулировку про `then()` и `catch()`
  js/promise/index.md
Labels: улучшение, js, статья

#4982 Добавляет доку про метод `push`
  js/array-push/index.md
  people/Maksim631/index.md
Labels: js, дока

#5016 Добавляет доку Object.groupBy
  js/group-by/index.md
Labels: кухня, js, дока

#5022 Добавляет доку для метода массива at()
  js/array-at/index.md
Labels: кухня, js, дока

#5076 Убирает устаревшее предупреждение в `.scrollIntoView()`
  js/element-scrollintoview/index.md
Labels: улучшение, кухня, js, дока

#5070 docs: исправляет определение undefined согласно EcmaScript
  js/undefined/index.md
  js/undefined/practice/nlopin.md
Labels: улучшение, кухня, js, дока

#5023 Добавляет доку для метода массива values()
  js/array-values/index.md
Labels: кухня, js, дока
