Repository doka-guide/content, pull requests merged in 2023-07, with the labels that each got.

#4505 Добавляет июнь в ченджлог
  CHANGELOG.md
Labels: кухня

#4533 Исправлена опечатка в "Обёртка `Number`"
  js/number-wrapper/index.md
Labels: улучшение, js, дока

#4521 Дополняет и улучшает текст и ссылки в доке `dialog`
  a11y/role-dialog/index.md
Labels: улучшение, дока, a11y

#4520 Улучшает текст и демку в доке `tooltip`
  .yaspeller.json
  a11y/role-tooltip/demos/button-with-tooltip/index.html
  a11y/role-tooltip/index.md
Labels: улучшение, дока, a11y

#4523 Добавляет плейсхолдер для `listbox`
  a11y/aria-roles/index.md
  a11y/role-listbox/index.md
Labels: статья, дока, placeholder, a11y

#4524 Добавляет плейсхолдер для `combobox`
  a11y/aria-roles/index.md
  a11y/role-combobox/index.md
Labels: статья, дока, placeholder, a11y

#4525 Добавляет плейсхолдер для роли `grid`
  a11y/role-grid/index.md
Labels: дока, placeholder, a11y

#4540 CSS-анимации: исправляет ошибку
  css/animation/index.md
Labels: css, статья, ошибка

#4526 Добавляет плейсхолдер для роли `gridcell`
  a11y/role-gridcell/index.md
Labels: дока, placeholder, a11y

#4527 Добавляет плейсхолдер для `aria-valuemin`
  a11y/aria-valuemin/index.md
Labels: дока, placeholder, a11y

#4528 Добавляет плейсхолдер для `aria-valuemax`
  a11y/aria-valuemax/index.md
Labels: дока, placeholder, a11y

#4529 Добавляет плейсхолдер для `aria-rowcount`
  a11y/aria-rowcount/index.md
Labels: дока, placeholder, a11y

#4539 Добавляет доку про `Array.lastIndexOf()`
  js/index.md
  js/last-index-of/index.11tydata.json
  js/last-index-of/index.md
  people/eshevlyakova/index.md
Labels: js, дока

#4537 Добавляет информацию о предложениях
  docs/contributing.md
Labels: улучшение, кухня

#4541 Исправляет ошибки Frontmatter lint
  css/text-transform/index.md
  css/transform-style/index.md
  css/vertical-align/index.md
  css/z-index/index.md
Labels: css, дока, ошибка

#4542 Добавляет ссылку и уточняет статью про WCAG
  a11y/wcag/index.md
Labels: улучшение, статья, a11y

#4546 Добавляет плейсхолдер для `toolbar`
  .yaspeller.json
  a11y/aria-roles/index.md
  a11y/role-toolbar/index.md
Labels: статья, дока, placeholder, a11y

#4547 Добавляет плейсхолдер для `radiogroup`
  .yaspeller.json
  a11y/role-radiogroup/index.md
Labels: дока, placeholder, a11y

#4553 Добавляет плейсхолдер для `aria-colindex`
  a11y/aria-colindex/index.md
Labels: дока, placeholder, a11y

#4548 Добавляет плейсхолдер для `feed`
  .yaspeller.json
  a11y/role-feed/index.md
Labels: дока, placeholder, a11y

#4549 Добавляет плейсхолдер для `document`
  a11y/role-document/index.md
Labels: дока, placeholder, a11y

#4550 Добавляет плейсхолдер для `aria-rowspan`
  a11y/aria-rowspan/index.md
Labels: дока, placeholder, a11y

#4551 Добавляет плейсхолдер для `aria-rowindex`
  a11y/aria-rowindex/index.md
Labels: дока, placeholder, a11y

#4565 Добавляет плейсхолдер для `listitem`
  a11y/role-listitem/index.md
Labels: дока, placeholder, a11y

#4566 Добавляет плейсхолдер для `application`
  a11y/role-application/index.md
Labels: дока, placeholder, a11y

#4564 Добавляет плейсхолдер для `math`
  a11y/role-math/index.md
Labels: дока, placeholder, a11y

#4535 Документация API Доки
  docs/README.md
  docs/api.md
Labels: кухня

#4555 Перелинковывает материалы в разделе Доступность
  a11y/aria-activedescendant/index.md
  a11y/aria-attrs/index.md
  a11y/aria-colindex/index.md
  a11y/aria-colspan/index.md
  a11y/aria-current/index.md
  a11y/aria-describedby/index.md
  a11y/aria-details/index.md
  a11y/aria-invalid/index.md
  a11y/aria-label/index.md
  a11y/aria-labelledby/index.md
  a11y/aria-level/index.md
  a11y/aria-live/index.md
  a11y/aria-modal/index.md
  a11y/aria-multiselectable/index.md
  a11y/aria-orientation/index.md
  a11y/aria-pressed/index.md
  a11y/aria-readonly/index.md
  a11y/aria-relevant/index.md
  a11y/aria-roledescription/index.md
  a11y/aria-rowcount/index.md
  a11y/aria-rowindex/index.md
  a11y/aria-rowspan/index.md
  a11y/aria-setsize/index.md
  a11y/aria-valuemax/index.md
  a11y/aria-valuemin/index.md
  a11y/aria-valuenow/index.md
  a11y/aria-valuetext/index.md
  a11y/role-generic/index.md
  a11y/role-grid/index.md
  a11y/role-gridcell/index.md
  a11y/role-heading/index.md
  a11y/role-link/index.md
  a11y/role-list/index.md
  a11y/role-log/index.md
  a11y/role-menu/index.md
  a11y/role-menubar/index.md
  a11y/role-menuitem/index.md
  a11y/role-menuitemcheckbox/index.md
  a11y/role-menuitemradio/index.md
  a11y/role-separator/index.md
  a11y/role-status/index.md
  a11y/role-tab/index.md
  a11y/role-tablist/index.md
  a11y/role-timer/index.md
  a11y/role-tree/index.md
  a11y/role-treegrid/index.md
  a11y/role-treeitem/index.md
Labels: улучшение, статья, дока, placeholder, a11y

#4563 Добавляет плейсхолдер для `note`
  a11y/role-note/index.md
Labels: дока, placeholder, a11y

#4567 Исправляет ошибку Frontmatter Lint
  a11y/aria-valuemax/index.md
Labels: дока, ошибка, placeholder, a11y

#4561 Добавляет плейсхолдер для `scrollbar`
  a11y/role-scrollbar/index.md
Labels: дока, placeholder, a11y

#4560 Добавляет плейсхолдер для `slider`
  a11y/role-slider/index.md
Labels: дока, placeholder, a11y

#4559 Добавляет плейсхолдер для `term`
  a11y/role-term/index.md
Labels: дока, placeholder, a11y

#4557 Добавляет информацию про `display: contents`
  a11y/css-impact-on-a11y/index.md
Labels: улучшение, статья, a11y

#4476 Новая статья "Что такое CORS"
  .yaspeller.json
  css/font-face/index.md
  html/link/index.md
  people/denisputnov/photo.jpg
  tools/cors/index.11tydata.json
  tools/cors/index.md
  tools/index.md
  tools/web-security/index.md
Labels: css, html, веб-платформа, статья, дока

#4570 Добавляет совет в статью про Nginx
  tools/nginx-web-server/practice/pa7lux.md
Labels: веб-платформа

#4518 Добавляет статью "image-rendering"
  .yaspeller.json
  css/image-rendering/demos/base/index.html
  css/image-rendering/demos/images/triangle.jpg
  css/image-rendering/index.md
  css/index.md
  people/AndreySukhov/Andrey.jpg
  people/AndreySukhov/index.md
Labels: css, статья, дока

#4573 Добавляет плейсхолдер `time`
  a11y/role-time/index.md
Labels: дока, placeholder, a11y

#4574 Добавляет плейсхолдер `textbox`
  a11y/role-textbox/index.md
Labels: дока, placeholder, a11y

#4576 Добавляет плейсхолдер `searchbox`
  a11y/role-searchbox/index.md
Labels: дока, placeholder, a11y

#4558 Дополняет текст и обновляет демки в статье Скринридеры
  a11y/screenreaders/demos/list-with-links/index.html
  a11y/screenreaders/demos/visually-hidden-text/index.html
  a11y/screenreaders/index.md
Labels: улучшение, статья, a11y, демо

#4577 Добавляет плейсхолдер `figure`
  a11y/aria-roles/index.md
  a11y/role-figure/index.md
Labels: статья, дока, placeholder, a11y

#4583 Добавляет плейсхолдер `aria-brailleroledescription`
  a11y/aria-attrs/index.md
  a11y/aria-brailleroledescription/index.md
  a11y/role-generic/index.md
Labels: статья, дока, placeholder, a11y

#4580 Добавляет плейсхолдер `caption`
  a11y/aria-roles/index.md
  a11y/role-caption/index.md
Labels: статья, дока, placeholder, a11y

#4584 Добавляет плейсхолдер `aria-rowindextext`
  a11y/aria-attrs/index.md
  a11y/aria-rowindextext/index.md
Labels: статья, дока, placeholder, a11y

#4579 Добавляет плейсхолдер `code`
  a11y/role-code/index.md
Labels: дока, placeholder, a11y

#4578 Добавляет плейсхолдер `definition`
  a11y/role-definition/index.md
Labels: дока, placeholder, a11y

#4582 Добавляет плейсхолдер `aria-braillelabel`
  a11y/aria-attrs/index.md
  a11y/aria-braillelabel/index.md
Labels: статья, дока, placeholder, a11y

#4586 Исправляет неправильные ссылки
  a11y/aria-rowindextext/index.md
  a11y/role-caption/index.md
  a11y/role-figure/index.md
Labels: дока, placeholder, a11y

#4585 Дополняет стайлгайд
  docs/styleguide.md
Labels: улучшение, кухня

#4590 Добавляет доку про ARIA-роль blockquote
  a11y/aria-roles/index.md
  a11y/role-blockquote/demos/role-blockquote/index.html
  a11y/role-blockquote/index.md
  people/alextaraskina/index.md
Labels: статья, дока, a11y

#4592 Обновляет информацию в статье про shallow copy
  js/shallow-or-deep-clone/index.md
Labels: js, статья

#4572 Добавляет рецепт git rebase --onto
  .yaspeller.json
  recipes/git-rebase-onto/images/break.png
  recipes/git-rebase-onto/images/lag.png
  recipes/git-rebase-onto/images/rebased.png
  recipes/git-rebase-onto/images/to-rebase.png
  recipes/git-rebase-onto/index.md
  recipes/index.md
Labels: статья, рецепт

#4602 Добавляет плейсхолдер `row`
  a11y/role-row/index.md
Labels: дока, placeholder, a11y

#4593 Добавляет плейсхолдер `aria-colindextext`
  a11y/aria-attrs/index.md
  a11y/aria-colindextext/index.md
Labels: статья, дока, placeholder, a11y

#4594 Добавляет плейсхолдер `article`
  .yaspeller.json
  a11y/role-article/index.md
Labels: дока, placeholder, a11y

#4596 Добавляет плейсхолдер `cell`
  a11y/role-cell/index.md
Labels: дока, placeholder, a11y

#4598 Добавляет плейсхолдер `meter`
  a11y/role-meter/index.md
Labels: дока, placeholder, a11y

#4601 Добавляет плейсхолдер `progressbar`
  a11y/role-progressbar/index.md
Labels: дока, placeholder, a11y

#4591 Добавляет совет к свойству `position`
  .yaspeller.json
  css/position/practice/arudenkoofficial.md
  people/arudenkoofficial/index.md
  people/arudenkoofficial/photo.jpeg
Labels: улучшение, css

#4599 Добавляет плейсхолдер `option`
  a11y/role-option/index.md
Labels: дока, placeholder, a11y

#4600 Добавляет плейсхолдер `spinbutton`
  a11y/role-spinbutton/index.md
Labels: дока, placeholder, a11y

#4604 Добавляет просьбу ограничиваться 72 символами
  docs/styleguide.md
Labels: улучшение, кухня

#4603 Исправляет ссылки
  a11y/role-progressbar/index.md
Labels: дока, ошибка, placeholder, a11y

#4617 Обновляет схемы в Областях видимости
  js/closures/images/1.png
  js/closures/images/2.png
Labels: улучшение, js, статья

#4568 Добавляет рецепт «Как создать профиль на GitHub»
  .yaspeller.json
  recipes/github-new-profile/index.md
  recipes/index.md
Labels: статья, рецепт

#4605 Добавляет плейсхолдер `columnheader`
  a11y/role-columnheader/index.md
Labels: дока, placeholder, a11y

#4606 Добавляет плейсхолдер `emphasis`
  a11y/role-emphasis/index.md
Labels: дока, placeholder, a11y

#4607 Добавляет плейсхолдер `group`
  a11y/role-group/index.md
Labels: дока, placeholder, a11y

#4608 Добавляет плейсхолдер `paragraph`
  a11y/role-paragraph/index.md
Labels: дока, placeholder, a11y

#4609 Добавляет плейсхолдер `rowgroup`
  a11y/role-rowgroup/index.md
Labels: дока, placeholder, a11y

#4613 Добавляет плейсхолдер `superscript`
  a11y/role-superscript/index.md
Labels: дока, placeholder, a11y

#4612 Добавляет плейсхолдер `suggestion`
  a11y/role-suggestion/index.md
Labels: дока, placeholder, a11y

#4611 Добавляет плейсхолдер для `subscript`
  a11y/role-subscript/index.md
Labels: дока, placeholder, a11y

#4610 Добавляет плейсхолдер `rowheader`
  a11y/role-rowheader/index.md
Labels: дока, placeholder, a11y
