Repository doka-guide/content, pull requests merged in 2023-01, with the labels that each got.

#4184 Добавляет описание метода contains()
  js/element-classlist/index.md
Labels: улучшение, js, дока

#4143 Добавляет декабрь в ченджлог
  CHANGELOG.md
Labels: кухня

#4177 Добавляет подсказку, какие свойства лучше анимировать с помощь `transition`
  css/transition/index.md
Labels: улучшение, css, дока

#4193 Дополнил статью о word-wrap.
  css/word-wrap/demos/basic/index.html
  css/word-wrap/index.md
Labels: css, дока, placeholder

#4195 Правит профиль Коли, убирает плашку редакции
  people/nlopin/index.md
Labels: кухня

#4178 Обновляет старые схемы в соответствии с новыми правилами
  js/architecture-data-flow/images/data-flow-one-way-diagram.png
  js/architecture-data-flow/images/data-flow-one-way.png
  js/architecture-data-flow/images/data-flow-two-way-v2.png
  js/how-the-browser-creates-pages/images/2.png
  js/how-to-test-and-why/images/testing-pyramid.png
  tools/git-cli/images/merge.png
  tools/version-control/images/2.png
Labels: js, tools, демо

#4185 Добавляет в шаблон в стайлгайде по демкам свойство `color-scheme: dark;`
  docs/demos/style.md
Labels: кухня, демо

#4170 Добавляет док про схемы
  docs/README.md
  docs/contributing.md
  docs/images/scheme-settings.png
  docs/images/scheme.png
  docs/schemes.md
Labels: кухня, js, tools, демо

#4190 Дополнил описание псевдоэлемента first-line
  .yaspeller.json
  css/first-line/demos/first-line/index.html
  css/first-line/index.md
Labels: css, дока, placeholder

#4189 Добавил ответ на вопрос, почему функции в JS это First Class Objects
  interviews/first-class-objects/answers/punkmachine/index.md
  interviews/first-class-objects/index.md
Labels: js, собеседование

#4206 Заменяет термин "всплытие" на "поднятие" для Function Declaration
  js/function/index.md
Labels: улучшение, js, дока

#4199 Расширена статья "Поверхностное и глубокое копирование"
  .yaspeller.json
  js/shallow-or-deep-clone/index.md
Labels: улучшение, js, статья

#3984 Интерактивные демо для гайда по flexbox
  css/flexbox-guide/demos/flex-demo/align_items/align_items.js
  css/flexbox-guide/demos/flex-demo/align_items/index.html
  css/flexbox-guide/demos/flex-demo/flex_direction/flex_direction.js
  css/flexbox-guide/demos/flex-demo/flex_direction/index.html
  css/flexbox-guide/demos/flex-demo/flex_flow/flex_flow.js
  css/flexbox-guide/demos/flex-demo/flex_flow/index.html
  css/flexbox-guide/demos/flex-demo/flex_wrap/flex_wrap.js
  css/flexbox-guide/demos/flex-demo/flex_wrap/index.html
  css/flexbox-guide/demos/flex-demo/img/icon_irow-less.svg
  css/flexbox-guide/demos/flex-demo/img/icon_irow-more.svg
  css/flexbox-guide/demos/flex-demo/img/icon_minus.svg
  css/flexbox-guide/demos/flex-demo/img/icon_plus.svg
  css/flexbox-guide/demos/flex-demo/js/codeSelect.js
  css/flexbox-guide/demos/flex-demo/js/demo.js
  css/flexbox-guide/demos/flex-demo/justify_content/index.html
  css/flexbox-guide/demos/flex-demo/justify_content/justify_content.js
  css/flexbox-guide/demos/flex-demo/main.css
  css/flexbox-guide/demos/flex-demo/order/index.html
  css/flexbox-guide/demos/flex-demo/order/order.js
  css/flexbox-guide/index.md
  people/uxDimon/index.md
  people/uxDimon/photo.png
Labels: улучшение, css, статья

#4182 Дополняет доку про `aria-describedby`
  a11y/aria-describedby/index.md
Labels: улучшение, дока, a11y

#4181 Добавляет небольшое уточнение в доку про `aria-labelledby`
  a11y/aria-labelledby/index.md
Labels: улучшение, дока, a11y

#4215 Обновляет ссылки на законодательство в статье «Что такое доступность»?
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#4211 Добавляет уточнения в доку про `:has()`
  css/has/index.md
Labels: улучшение, css, дока

#4208 Адаптирует к тёмной теме демки в статье <picture>
  html/picture/demos/default/images/650x100.png
  html/picture/demos/default/images/650x300.png
  html/picture/demos/default/images/750x100.png
  html/picture/demos/default/images/750x400.png
  html/picture/demos/default/index.html
  html/picture/demos/retina-picture/images/1500x200.png
  html/picture/demos/retina-picture/images/1500x600.png
  html/picture/demos/retina-picture/images/750x100.png
  html/picture/demos/retina-picture/images/750x300.png
  html/picture/demos/retina-picture/index.html
  html/picture/index.md
  people/catbutfat/index.md
Labels: улучшение, html, дока, демо

#4220 Исправляет ошибку в статье про aria-expanded
  a11y/aria-expanded/index.md
Labels: дока, placeholder, a11y

#4218 Адаптирует к тёмной теме примеры в статье Устаревшие теги
  html/deprecated-tags/demos/marquee-fallback/index.html
  html/deprecated-tags/demos/marquee/index.html
  html/deprecated-tags/demos/nobr/index.html
  html/deprecated-tags/index.md
Labels: html, статья

#4222 Добавляет практику для `box-shadow`
  css/box-shadow/practice/tatianafokina.md
Labels: улучшение, css

#4227 CSS: Добавляет описания и связанные статьи
  .yaspeller.json
  css/fill/index.md
  css/filter/index.md
  css/first-line/index.md
  css/flex-basis/index.md
  css/flex-direction/index.md
  css/flex-flow/index.md
  css/flex-grow/index.md
  css/flex-shrink/index.md
  css/flex-wrap/index.md
  css/flex/index.md
  css/float/index.md
  css/focus/index.md
  css/font-display/index.md
  css/font-face/index.md
  css/font-family/index.md
  css/font-feature-settings/index.md
  css/font-kerning/index.md
  css/font-language-override/index.md
  css/font-optical-sizing/index.md
  css/font-size-adjust/index.md
  css/font-size/index.md
  css/font-smooth/index.md
  css/font-style/index.md
  css/font-synthesis/index.md
  css/font-variant-alternates/index.md
  css/font-variant-caps/index.md
  css/font-variant-east-asian/index.md
Labels: улучшение, css, дока, placeholder

#4232 Обновляет демку в статье source
  html/source/demos/adaptive/images/1000x200.png
  html/source/demos/adaptive/images/1024x768.png
  html/source/demos/adaptive/images/600x100.png
  html/source/demos/adaptive/images/640x480.png
  html/source/demos/adaptive/index.html
  html/source/index.md
Labels: улучшение, html, дока, демо

#4235 Правит цвета для переехавших статей
  tools/api/images/covers/desktop.svg
  tools/api/images/covers/mobile.svg
  tools/clean-architecture/images/covers/desktop.svg
  tools/clean-architecture/images/covers/mobile.svg
  tools/code-style/images/covers/desktop.svg
  tools/code-style/images/covers/mobile.svg
  tools/coordinates/demos/axis/index.html
  tools/how-the-browser-creates-pages/images/covers/desktop.svg
  tools/how-the-browser-creates-pages/images/covers/mobile.svg
  tools/how-to-test-and-why/images/covers/desktop.svg
  tools/how-to-test-and-why/images/covers/mobile.svg
  tools/json/demos/transform-json/index.html
  tools/technical-debt/images/covers/desktop.svg
  tools/technical-debt/images/covers/mobile.svg
  tools/testing-and-fake-objects/images/covers/desktop.svg
  tools/testing-and-fake-objects/images/covers/mobile.svg
  tools/web-app-types/images/covers/desktop.svg
  tools/web-app-types/images/covers/mobile.svg
  tools/web-app-works/images/covers/desktop.svg
  tools/web-app-works/images/covers/mobile.svg
  tools/web-security/images/covers/desktop.svg
  tools/web-security/images/covers/mobile.svg
Labels: улучшение, кухня, tools

#4233 Добавляет небольшое уточнение в статью Влияние CSS на доступность
  a11y/css-impact-on-a11y/index.md
Labels: улучшение, статья, a11y

#4228 Добавляет микро-уточнение в практику для `box-shadow`
  css/box-shadow/practice/tatianafokina.md
Labels: улучшение, css, дока

#4225 Обновляет демки в статье :placeholder-shown
  css/placeholder-shown/demos/example/index.html
  css/placeholder-shown/demos/floating-label/index.html
  css/placeholder-shown/index.md
  css/placeholder-shown/practice/ezhkov.md
  css/placeholder-shown/practice/kazakovas.md
Labels: улучшение, css, дока, демо

#4223 Исправляет неточность в подсказках статьи z-index
  css/z-index/index.md
Labels: улучшение, css, дока

#4201 Добавляет доку про роль `tooltip`
  .yaspeller.json
  a11y/index.md
  a11y/role-tooltip/demos/button-with-tooltip/index.html
  a11y/role-tooltip/index.md
Labels: дока, a11y

#4241 Заменяет дефисы на длинные тире в `touch`
  js/element-touch/index.md
Labels: улучшение, js, дока

#4240 Исправляет опечатки в `objects-objects-everywhere`
  js/objects-objects-everywhere/index.md
Labels: улучшение, js, статья

#4239 Исправляет длинные тире в `event`
  js/event/index.md
Labels: улучшение, js, дока

#4236 Обновляет фичеринг
  settings/featured.md
Labels: улучшение

#4213 Добавляет доку про роль `switch`
  a11y/index.md
  a11y/role-switch/demos/button-with-switch-role/index.html
  a11y/role-switch/index.md
Labels: дока, a11y

#4217 Добавляет доку про `aria-modal`
  .yaspeller.json
  a11y/aria-modal/index.md
  a11y/index.md
Labels: дока, a11y

#4243 CSS: добавляет описания и связанные статьи
  css/font-variant-ligatures/index.md
  css/font-variant-numeric/index.md
  css/font-variant-position/index.md
  css/font-variant/index.md
  css/font-variation-settings/index.md
  css/font-weight/index.md
  css/font/index.md
Labels: улучшение, css, дока, placeholder
