Repository doka-guide/content, pull requests merged in 2024-05, with the labels that each got.

#5329 Исправляет опечатки/ошибки в статье про react
  recipes/expressive-react-maze/index.md
Labels: статья, рецепт

#5330 Исправляет адреса ссылок в совете Лены Райан
  css/float/practice/lenaryan.md
Labels: css

#5326 Добавляет бэктики в название статьи `image-rendering`
  css/image-rendering/index.md
Labels: css, дока, ошибка

#5332 Исправляет пунктуацию в рецепте про git rebase --onto
  recipes/git-rebase-onto/index.md
Labels: улучшение, статья, рецепт

#5331 Исправляет опечатки
  js/web-workers/index.md
Labels: js, статья

#5327 Добавляет скобки функциям в примере стека
  js/async-in-js/index.md
Labels: улучшение, js, статья

#5338 Добавляет обложку в статью HTML/устаревшие теги
  html/deprecated-tags/images/covers/desktop.svg
  html/deprecated-tags/images/covers/mobile.svg
  html/deprecated-tags/index.md
Labels: улучшение, кухня, html, статья

#5335 Добавляет обложку в рецепт про ребейз
  recipes/git-rebase-onto/images/covers/desktop.svg
  recipes/git-rebase-onto/images/covers/mobile.svg
  recipes/git-rebase-onto/index.md
Labels: улучшение, кухня, статья, рецепт

#5311 Добавляет статью про микротаски и макротаски
  js/micro-and-macro-tasks/images/event-loop-example.png
  js/micro-and-macro-tasks/images/runtime.png
  js/micro-and-macro-tasks/index.md
Labels: js, статья

#5310 Добавляет доку про метод `sort`
  js/array-sort/index.md
Labels: js, дока

#5325 Добавляет доку про `mix-blend-mode`
  css/index.md
  css/mix-blend-mode/demos/base/images/bg.jpg
  css/mix-blend-mode/demos/base/index.html
  css/mix-blend-mode/demos/playground/images/arrow-down.svg
  css/mix-blend-mode/demos/playground/index.html
  css/mix-blend-mode/images/mix-blend-mode.png
  css/mix-blend-mode/index.md
Labels: css, дока

#5320 Добавляет статью про поповеры
  html/index.md
  html/popover/demos/animation/index.html
  html/popover/demos/backdrop/index.html
  html/popover/demos/manual/index.html
  html/popover/demos/required/index.html
  html/popover/demos/targetaction/index.html
  html/popover/images/popups.png
  html/popover/index.md
Labels: html, статья

#5322 Добавляет доку про `::backdrop`
  css/backdrop/demos/base/index.html
  css/backdrop/demos/focus/index.html
  css/backdrop/index.md
  css/index.md
  css/pseudoelements/index.md
Labels: css, дока

#5342 Правит опечатку
  recipes/expressive-react-rectangle/practice/vitya-ne.md
Labels: рецепт

#5345 Обновляет статью aria-disabled и добавляет демо
  a11y/aria-disabled/demos/index.html
  a11y/aria-disabled/index.md
  a11y/aria-disabled/practice/teplostanski.md
  people/teplostanski/index.md
Labels: дока, a11y

#5343 Статья "Микро- и макрозадачи": Правит определение о выполнении порядков очередей при работе с raF
  js/micro-and-macro-tasks/index.md
Labels: js, статья

#5344 Добавляет рецепт «Плиточная раскладка»
  people/alextaraskina/index.md
  people/alextaraskina/photo.jpg
  recipes/index.md
  recipes/masonry/demos/exception/index.html
  recipes/masonry/demos/five-columns/index.html
  recipes/masonry/demos/masonry-column/index.html
  recipes/masonry/demos/masonry-row/index.html
  recipes/masonry/demos/order/index.html
  recipes/masonry/demos/with-column-break/index.html
  recipes/masonry/index.md
Labels: статья, рецепт

#5350 Обновляет информацию о поддержке `scroll-width`
  css/scrollbar-width/index.md
Labels: css, дока

#5352 Добавляет уточнение про ИИ в статью про описание картинок
  a11y/how-to-describe-pictures/index.md
Labels: улучшение, статья, a11y

#5353 Добавляет уточнение про `aria-details`
  a11y/aria-details/index.md
Labels: улучшение, дока, a11y

#5314 Улучшения формы в статье Мгновенная валидация форм
  people/kozlovtseva/index.md
  recipes/validation/demos/final-form/index.html
  recipes/validation/index.md
Labels: улучшение, статья, рецепт

#5339 Добавляет май в ченджлог
  CHANGELOG.md
Labels: кухня
