Repository doka-guide/content, pull requests merged in 2024-04, with the labels that each got.

#5186 Добавляет март в ченджлог
  CHANGELOG.md
Labels: кухня

#5241 Исправляет опечатку
  CHANGELOG.md
Labels: кухня

#5236 Добавляет ссылку на раздел в статье nav
  html/nav/index.md
Labels: улучшение, html, дока

#5234 Исправляет опечатку и добавляет ссылку в статье про header
  html/header/index.md
Labels: улучшение, html, дока, ошибка

#5209 Добавляет больше интерактивных примеров к animation-name
  css/animation-name/demos/default/index.html
  css/animation-name/demos/multiple/index.html
  css/animation-name/index.md
Labels: улучшение, css, дока, демо

#5246 Правит опечатку
  tools/structure-data-in-js/index.md
Labels: веб-платформа, статья, ошибка

#5180 Добавляет ответ на вопрос об отличиях rest и spread
  interviews/rest-spread/answers/iren-a/index.md
  people/iren-a/index.md
  people/iren-a/photo.jpeg
Labels: js, собеседование

#5248 Исправляет опечатку в названии файла
  recipes/expressive-react-rectangle/index.md
Labels: статья, рецепт

#5251 Добавляет статью 'Что такое семантика?' в индекс раздела html
  html/index.md
Labels: кухня, html

#5252 Поправил опечатку в статье a11y/wcag
  a11y/wcag/index.md
Labels: статья, ошибка, a11y

#5107 Добавляет статью про доступные имена и описания
  a11y/accessible-names-and-descs/images/desc-calculation.png
  a11y/accessible-names-and-descs/images/name-calculation.png
  a11y/accessible-names-and-descs/index.md
  a11y/index.md
Labels: статья, a11y

#5253 Исправляет опечатки в статье "Что такое семантика?"
  html/semantics/index.md
Labels: html, статья

#5254 Обновляет дату
  tools/react-and-alternatives/index.md
Labels: веб-платформа, статья

#5250 Добавляет совет по установке bun на Windows
  recipes/expressive-react-rectangle/index.md
  recipes/expressive-react-rectangle/practice/vitya-ne.md
Labels: улучшение, статья, рецепт

#5261 Добавляет страницу со ссылками на письма
  pages/newsletters/index.md
Labels: кухня

#5243 Добавляет информацию про callbacks в статью про стрелочные функции
  js/arrow-function/index.md
  people/splincool/index.md
  people/splincool/photo.jpeg
Labels: улучшение, js, дока

#5262 Update index.md
  tools/web-security/index.md
Labels: веб-платформа, статья

#5257 A11y: Исправляет опечатки, грамматические и другие ошибки (часть 1)
  a11y/a11y-html/index.md
  a11y/a11y-tree/index.md
  a11y/abstract-roles/index.md
  a11y/accessible-forms/index.md
  a11y/accessible-names-and-descs/index.md
  a11y/aria-attrs/index.md
  a11y/aria-describedby/index.md
  a11y/aria-description/index.md
  a11y/aria-haspopup/index.md
  a11y/aria-hidden/index.md
  a11y/aria-intro/index.md
Labels: улучшение, статья, дока, a11y

#5259 A11y: Исправляет опечатки, грамматические и другие ошибки (часть 3)
  a11y/role-mark/index.md
  a11y/role-marquee/index.md
  a11y/role-menubar/index.md
  a11y/role-menuitem/index.md
  a11y/role-presentation-none/index.md
  a11y/role-tabpanel/index.md
  a11y/role-timer/index.md
Labels: улучшение, дока, a11y

#5266 Сделал перелинковку в тегах: `<dfn>`, `<div>`, `<fieldset>`, `<footer>` и атрибута `dir`.
  a11y/accessible-names-and-descs/index.md
  a11y/aria-roles/index.md
  a11y/screenreaders/index.md
  a11y/site-language/index.md
  css/cascade/index.md
  css/pseudoclasses/index.md
  html/bdi/index.md
  html/details/index.md
  html/global-attrs/index.md
  html/pre/index.md
  html/section/index.md
  html/semantics/index.md
  html/tables/index.md
  html/textarea/index.md
  html/time/index.md
  js/getelementsbyclassname/index.md
Labels: улучшение, кухня, css, html, js, статья, дока, a11y

#5263 Добавляет ответ на вопрос: 'Что такое функции высшего порядка ?'
  interviews/higher-order-functions/answers/vitya-ne/index.md
  interviews/higher-order-functions/index.md
Labels: js, собеседование

#5269 A11y: Удаляет лишние запятые (часть 4)
  a11y/aria-labelledby/index.md
  a11y/chto-takoe-a11y/index.md
  a11y/role-tab/index.md
  a11y/role-tooltip/index.md
  a11y/wcag/index.md
Labels: улучшение, статья, дока, a11y

#5274 Добавляет a11y и рецепты в скрипт обновления даты
  .github/scripts/update-dates.js
Labels: улучшение, кухня

#5275 Обновляет стайлгайд по оформлению списков
  docs/styleguide.md
Labels: улучшение, кухня, демо

#5271 JS: Исправляет опечатки, грамматические и другие ошибки (часть 3)
  js/array-to-spliced/index.md
  js/array-to-string/index.md
  js/array-tosorted/index.md
  js/array-unshift/index.md
  js/array-values/index.md
  js/array-with/index.md
  js/arrays/index.md
  js/arrays/practice/nlopin.md
  js/arrow-function/index.md
  js/async-await/index.md
  js/async-in-js/index.md
  js/async-in-js/practice/bespoyasov.md
  js/atomics/index.md
  js/bom/index.md
  js/bom/practice/bespoyasov.md
  js/boolean/index.md
  js/boolean/practice/bespoyasov.md
  js/clearinterval/index.md
  js/cleartimeout/index.md
  js/cleartimeout/practice/windrushfarer.md
  js/closures/index.md
  js/closures/practice/bespoyasov.md
  js/collection-weakmap/index.md
  js/confirm/index.md
  js/console-log/index.md
  js/console-log/practice/vitalybaev.md
  js/const/index.md
  js/const/practice/nlopin.md
  js/cookie/index.md
  js/cookie/practice/akellbl4.md
  js/cookie/practice/igorkamyshev.md
  js/css-style-declaration/index.md
Labels: улучшение, js, статья, дока, placeholder

#5270 JS: Исправляет опечатки, грамматические и другие ошибки (часть 2)
  js/alert/index.md
  js/array-at/index.md
  js/array-concat/index.md
  js/array-copy-within/index.md
  js/array-entries/index.md
  js/array-every/index.md
  js/array-fill/index.md
  js/array-filter/index.md
  js/array-find-last-index/index.md
  js/array-find-last/index.md
  js/array-find/index.md
  js/array-flat/index.md
  js/array-foreach/index.md
  js/array-from/index.md
  js/array-join/index.md
  js/array-keys/index.md
  js/array-length/index.md
  js/array-map/index.md
  js/array-reduce-right/index.md
  js/array-reduce/index.md
  js/array-reverse/index.md
  js/array-shift/index.md
  js/array-slice/index.md
  js/array-some/index.md
  js/array-splice/index.md
  js/array-to-locale-string/index.md
  js/array-to-reversed/index.md
  js/array-to-spliced/index.md
Labels: улучшение, js, дока, ошибка

#5267 HTML: Исправляет опечатки и ошибки
  html/a/index.md
  html/a/practice/vetero4eg.md
  html/abbr/index.md
  html/area/index.md
  html/blockquote/index.md
  html/datalist/index.md
  html/datalist/practice/blueingreen68.md
  html/defer-async/index.md
  html/del/index.md
  html/deprecated-tags/index.md
  html/dir/index.md
  html/footer/index.md
  html/header/index.md
  html/link/practice/doka-dog.md
  html/meta/index.md
  html/novalidate/index.md
  html/object/index.md
  html/ol/index.md
  html/readonly/index.md
  html/select/index.md
  html/semantics/index.md
  html/seo-for-beginners/index.md
  html/span/index.md
  html/span/practice/doka-dog.md
  html/svg-sprite/index.md
  html/svg/index.md
  html/tabindex/index.md
  html/template/index.md
  html/textarea/index.md
  html/time/index.md
  html/ul/index.md
  html/video/practice/solarrust.md
  html/wbr/index.md
Labels: улучшение, html, статья, дока, placeholder

#5277 Обновляет фичеринг
  settings/featured.md
Labels: кухня

#5281 Обновляет статистику в статье про ARIA
  a11y/aria-intro/index.md
Labels: улучшение, статья, a11y

#5276 CSS: Исправляет ошибки, уважает Ё (часть 2)
  css/flexbox-guide/practice/andzhr.md
  css/font-display/index.md
  css/font-face/practice/solarrust.md
  css/font-smooth/index.md
  css/font-stretch/index.md
  css/gap/index.md
  css/has/practice/pa7lux.md
  css/height/index.md
  css/image-rendering/index.md
  css/letter-spacing/practice/solarrust.md
  css/link/index.md
  css/margin/practice/furtivite.md
  css/marker/index.md
  css/min/index.md
  css/not/practice/solarrust.md
  css/outline-width/index.md
  css/padding/index.md
  css/padding/practice/furtivite.md
  css/position/index.md
  css/pseudoelements/index.md
  css/resize/index.md
  css/scrollbar-width/index.md
  css/target/index.md
  css/text-align/index.md
  css/text-shadow/index.md
  css/text-transform/index.md
  html/area/index.md
Labels: кухня, css, html, статья, дока, ошибка

#5201 Добавляет совет для заголовков и удаляет предыдущий
  html/br/index.md
  html/h1-h6/practice/doka-dog.md
  html/h1-h6/practice/kazakov-al.md
  people/kazakov-al/index.md
Labels: html, дока

#5280 JS: Обновляет индекс раздела
  js/index.md
Labels: кухня, js

#5244 Добавляет рецепт c прямоугольником, собачкой и лабиринтом
  recipes/expressive-react-maze/index.md
  recipes/expressive-react-rectangle/index.md
Labels: статья, рецепт

#5279 JS: Исправляет ошибки и форматирует (часть 4)
  js/date/index.md
  js/date/practice/kseniaSs.md
  js/deal-with-forms/index.md
  js/debounce/index.md
  js/debounce/practice/bespoyasov.md
  js/descriptors/index.md
  js/descriptors/practice/antongorelov.md
  js/dom/index.md
  js/dom/practice/nlopin.md
  js/element-addeventlistener/index.md
  js/element-addeventlistener/practice/akellbl4.md
  js/element-addeventlistener/practice/doka-dog.md
  js/element-classlist/index.md
  js/element-classlist/practice/windrushfarer.md
  js/element-click/demos/Lopinopulos-gJZxeK/index.html
  js/element-click/index.md
  js/element-click/practice/nlopin.md
  js/element-closest/index.md
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
  js/element-focus/index.md
  js/element-focus/practice/nlopin.md
  js/element/index.md
  js/element/practice/nlopin.md
Labels: улучшение, js, статья, дока

#5285 Чинит наименование папок
  js/array-push/index.md
  js/generators/index.md
  people/maksim631/index.md
  people/sergeykrasnolobov/index.md
Labels: кухня, js, дока

#5286 Добавляет ответ на вопрос 'Что такое прототип объекта?'
  interviews/prototype/answers/vitya-ne/index.md
  interviews/prototype/index.md
Labels: js, собеседование

#5288 Поправил демку в статье про `Set`.
  js/set/demos/set-array-difference/index.html
Labels: js, дока, ошибка, демо

#5284 Обновляет индексы разделов CSS и Рецепты
  css/index.md
  recipes/index.md
Labels: улучшение, css, рецепт

#5291 Уважает Ё, исправляет опечатки в статье 'Web Workers'
  js/web-workers/index.md
Labels: улучшение, js, статья, ошибка

#5290 Добавляет не закрытую скобку в разделе практики
  js/array-every/practice/windrushfarer.md
Labels: улучшение, js

#5287 JS: Исправляет ошибки и форматирует (часть 5)
  js/element-get-property-value/index.md
  js/element-getattribute/index.md
  js/element-hidden/index.md
  js/element-innerhtml/demos/index/index.html
  js/element-innerhtml/index.md
  js/element-innertext/index.md
  js/element-mouseout/index.md
  js/element-mouseover/index.md
  js/element-outerhtml/index.md
  js/element-positioning-js/demos/class/index.html
  js/element-positioning-js/demos/drag-n-drop-custom-props/index.html
  js/element-positioning-js/demos/drag-n-drop-transform/index.html
  js/element-positioning-js/demos/drag-n-drop/index.html
  js/element-positioning-js/demos/scroller/index.html
  js/element-positioning-js/index.md
  js/element-positioning-js/practice/bespoyasov.md
  js/element-remove-property/index.md
Labels: улучшение, js, статья, дока, placeholder

#5293 Исправляет ошибку в "Атрибут dir"
  html/dir/index.md
Labels: html, дока

#5292 Добавляет описание UX проблемы в статью 'Выразительный React'
  recipes/expressive-react-maze/index.md
Labels: улучшение, статья, рецепт

#5297 Обновил собственный профиль.
  people/punkmachine/index.md
  people/punkmachine/photo.jpg
Labels: улучшение

#5294 JS: Исправляет ошибки, форматирует (часть 6)
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
  js/element-scroll/index.md
  js/element-scroll/practice/nlopin.md
  js/element-scrollby/index.md
  js/element-scrollintoview/index.md
  js/element-scrollto/index.md
  js/element-set-property/demos/example/index.html
  js/element-set-property/index.md
  js/element-style/index.md
  js/element-style/practice/bespoyasov.md
  js/element-textcontent/demos/index/index.html
  js/element-textcontent/index.md
  js/element-touch/demos/Windrushfarer-KKgZGEq/index.html
  js/element-touch/demos/Windrushfarer-RwGjopb/index.html
  js/element-touch/index.md
  js/element-touch/practice/windrushfarer.md
  js/element-wheel/index.md
  js/errors/index.md
  js/event-beforeunload/index.md
  js/event-beforeunload/practice/kotosha-real.md
  js/event-change/demos/compare/index.html
  js/event-change/demos/index/index.html
  js/event-change/index.md
  js/event-dblclick/demos/dblclicking/index.html
  js/event-dblclick/index.md
  js/event-domcontentloaded/index.md
  js/event-input/index.md
  js/event-invalid/index.md
  js/event-load/index.md
  js/event/index.md
  js/event/practice/akellbl4.md
Labels: улучшение, js, дока, placeholder

#5299 Правит название совета @kazakov-al
  css/placeholder-shown/practice/kazakov-al.md
Labels: улучшение, кухня, css

#5296 JS: Исправляет ошибки и форматирует (часть 7)
  js/element-removeeventlistener/practice/windrushfarer.md
  js/event-prevent-default/demos/input-focus-delay/index.html
  js/event-prevent-default/index.md
  js/event-prevent-default/practice/g-milevski.md
  js/event-reset/index.md
  js/event-submit/index.md
  js/event-submit/practice/inventoris.md
  js/event-unload/index.md
  js/event-unload/practice/kotosha-real.md
  js/events/demos/bubbling-chain/index.html
  js/events/demos/bubbling/index.html
  js/events/demos/click/index.html
  js/events/demos/onclick/index.html
  js/events/demos/this/index.html
  js/events/index.md
  js/events/practice/nlopin.md
  js/expressions-vs-statements/index.md
  js/fetch/index.md
  js/fetch/practice/windrushfarer.md
  js/finalization-registry/index.md
  js/for-in/index.md
  js/for-of/index.md
  js/for/demos/vindi-r-ROReQM/index.html
  js/for/demos/vindi-r-WWxaPV/index.html
  js/for/demos/vindi-r-axZQLY/index.html
  js/for/demos/vindi-r-bJejME/index.html
  js/for/demos/vindi-r-gyMQYq/index.html
  js/for/index.md
  js/for/practice/doka-dog.md
  js/form-data/index.md
  js/form-data/practice/vitalybaev.md
  js/forms/index.md
  js/function-arguments-object/practice/app.md
  js/function-arguments-object/practice/nlopin.md
  js/function-as-datatype/index.md
  js/function-as-datatype/practice/nlopin.md
  js/function-context/index.md
  js/function-context/practice/bespoyasov.md
  js/function/practice/doka-dog.md
  js/function/practice/inventoris.md
  js/generators/index.md
Labels: улучшение, js, дока, placeholder

#5300 Обновляет демо в `touch`
  js/element-touch/demos/Windrushfarer-RwGjopb/index.html
  js/element-touch/demos/drawing/index.html
  js/element-touch/demos/touch-handling/index.html
  js/element-touch/index.md
  js/element-touch/practice/windrushfarer.md
Labels: улучшение, js, дока, демо

#5221 Добавляет статью про распознавание речи
  a11y/index.md
  a11y/speech-recognition/images/grid.png
  a11y/speech-recognition/images/speech-recognition.png
  a11y/speech-recognition/index.md
Labels: статья, a11y

#5205 Добавляет ответ на вопрос про отличия между `rest` и `spread`
  interviews/rest-spread/answers/danial-doskuzhinov/index.md
  interviews/rest-spread/index.md
  people/danial-doskuzhinov/index.md
Labels: js, собеседование

#5305 JS: Исправляет ошибки и форматирует (часть 8)
  js/geolocation-api/index.md
  js/geolocation-api/practice/inventoris.md
  js/getelementbyid/demos/Lopinopulos-XwKRaZ/index.html
  js/getelementbyid/index.md
  js/getelementbyid/practice/nlopin.md
  js/getelementsbyclassname/index.md
  js/getelementsbyclassname/practice/nlopin.md
  js/getelementsbytagname/demos/Lopinopulos-LoZaJp/index.html
  js/getelementsbytagname/demos/Lopinopulos-xNOBow/index.html
  js/getelementsbytagname/index.md
  js/getelementsbytagname/practice/nlopin.md
  js/group-by/index.md
  js/htmlcollection-and-nodelist/index.md
  js/htmlcollection-and-nodelist/practice/nlopin.md
  js/if-else/images/conditional.png
  js/if-else/index.md
  js/if-else/practice/nlopin.md
  js/if-else/practice/romanbarannickov.md
  js/if-else/practice/saharok.md
  js/includes/index.md
  js/includes/practice/nlopin.md
  js/index-of/index.md
  js/index-of/practice/nlopin.md
  js/infinite-scroll/index.md
  js/infinite-scroll/practice/bespoyasov.md
  js/intersection-observer/demos/index/index.html
  js/intersection-observer/index.md
  js/intl-datetimeformat/index.md
  js/iterator/index.md
Labels: улучшение, js, статья, дока

#5301 add: перелинковка под теги `<form>`, `<h1>`-`<h6>`, `<head>`, `<header>`, `<html>`
  a11y/accessible-forms/index.md
  css/class-selector/index.md
  css/custom-properties/index.md
  css/font-size/index.md
  css/important/index.md
  css/numeric-types/index.md
  css/pseudoclasses/index.md
  css/root/index.md
  html/button/index.md
  html/input/index.md
  html/style/index.md
  html/tables/index.md
  js/getelementsbyclassname/index.md
  js/getelementsbytagname/index.md
  recipes/center/index.md
Labels: улучшение, css, html, js, статья, дока, рецепт, a11y

#5317 Правит ссылку в статье js/FormData
  js/form-data/index.md
Labels: улучшение, кухня, js, дока, ошибка

#5312 Добавлена ссылка на статью про TDD
  tools/how-to-test-and-why/index.md
Labels: веб-платформа, статья

#5313 chore: правит опечатку
  js/template-strings/index.md
Labels: js, дока

#5319 Исправляет ссылку
  js/for-of/index.md
Labels: js, дока

#5318 Добавил пропущенное местоимение "нас"
  tools/algorithm-complexity/index.md
Labels: веб-платформа, статья

#5245 Добавляет апрель в ченджлог
  CHANGELOG.md
Labels: кухня
