Repository doka-guide/content, pull requests merged in 2024-02, with the labels that each got.

#5148 Обновляет доку про `<select>`
  html/select/index.md
Labels: улучшение, html, дока

#5123 Добавляет январь в ченджлог
  CHANGELOG.md
Labels: кухня

#5147 Обновляет доку про `<dialog>`
  html/dialog/demos/backdrop-close/index.html
  html/dialog/demos/basic/index.html
  html/dialog/demos/close-dialog-outside/index.html
  html/dialog/demos/close-variants/index.html
  html/dialog/demos/polyfilled/index.html
  html/dialog/demos/return-value/index.html
  html/dialog/demos/scroll-lock/index.html
  html/dialog/index.md
Labels: улучшение, html, дока

#5130 Упрощает диалог в new.sh
  new.sh
Labels: кухня

#5155 Исправляет ссылку в "Пишем первые тесты"
  tools/testing-with-jest/index.md
Labels: веб-платформа, статья, ошибка

#5154 Исправляет грамматическую ошибку в рецепте
  recipes/self-hosted-preview/index.md
Labels: статья, ошибка, рецепт

#5157 Исправляет ошибку на схеме
  tools/web-server/images/1.png
Labels: веб-платформа, статья, ошибка

#5071 docs: расширяет определение и назначение <header>
  html/header/demos/header/index.html
  html/header/index.md
  people/gvozdenkov/index.md
  people/gvozdenkov/photo.jpg
Labels: улучшение, кухня, html, дока

#5091 Исправляет стили для иконки facebook'а в демо
  html/svg-sprite/demos/sprite/index.html
Labels: улучшение, html, дока, демо

#5097 Обновляет демки в `column-count`
  css/column-count/demos/adaptive/index.html
  css/column-count/demos/multiple-values/index.html
  css/column-count/index.md
  people/starhamster/index.md
Labels: улучшение, css, дока, демо

#5060 Добавляет статью про clamp
  css/clamp/demos/dynamic-width/code.html
  css/clamp/demos/dynamic-width/index.html
  css/clamp/index.md
Labels: кухня, css, дока

#5102 Корректирует пример для svg-sprite
  html/svg-sprite/index.md
Labels: улучшение, html, статья

#5083 Корректирует описание механизма shallow-copy при работе Array.from()
  js/array-from/index.md
Labels: улучшение, js, дока

#5089 Добавляет доку для метода массива toReversed()
  js/array-to-reversed/index.md
Labels: js, дока

#5090 Добавляет вопрос и ответ "Реализуйте полифил для Promise.allsettled" в раздел "на собесе"
  interviews/polyfill-promise-allsettled/answers/alexafcode/readme.md
  interviews/polyfill-promise-allsettled/index.md
Labels: js, собеседование

#5098 Добавляет доку для метода массива toSpliced()
  js/array-to-spliced/index.md
Labels: js, дока

#5146 Дополняет доку `async/await` описением использования `await` в модулях
  js/async-await/index.md
Labels: улучшение, js, дока

#5161 Добавляет новые доки в индекс js
  js/index.md
Labels: кухня, js

#5101 Добавляет доку для метода массива splice()
  js/array-splice/index.md
Labels: js, дока

#5103 Добавляет доку для метода массива slice() 🎄
  js/array-slice/index.md
Labels: js, дока

#5139 Завершает доку `for...of`
  js/for-of/index.md
Labels: js, дока

#5125 Добавляет доку для метода массива pop()
  js/array-pop/index.md
Labels: js, дока

#5163 Чинит Link Checker
  interviews/polyfill-promise-allsettled/answers/alexafcode/index.md
  js/array-concat/index.md
  js/array-keys/index.md
  js/array-pop/index.md
  js/array-reduce-right/index.md
  js/array-shift/index.md
  js/array-slice/index.md
  js/array-tosorted/index.md
  js/array-unshift/index.md
  js/for-in/index.md
Labels: js, дока, ошибка

#5109 Дополняет доку font-style
  css/font-style/demos/font-style/index.html
  css/font-style/demos/italic-oblique/index.html
  css/font-style/index.md
Labels: улучшение, css, дока, демо

#5110 Обновляет демки в font-size
  css/font-size/demos/em-2/index.html
  css/font-size/demos/em/index.html
  css/font-size/demos/rem/index.html
  css/font-size/index.md
Labels: улучшение, css, дока, демо

#5111 Добавляет доку про роль `menu`
  a11y/role-menu/demos/app-menu/images/plus.svg
  a11y/role-menu/demos/app-menu/images/pr.svg
  a11y/role-menu/demos/app-menu/images/save.svg
  a11y/role-menu/demos/app-menu/index.html
  a11y/role-menu/images/true-menu.png
  a11y/role-menu/index.md
Labels: дока, a11y

#5112 Добавляет доку про `menuitem`
  a11y/role-menuitem/demos/app-menu/images/plus.svg
  a11y/role-menuitem/demos/app-menu/images/pr.svg
  a11y/role-menuitem/demos/app-menu/images/save.svg
  a11y/role-menuitem/demos/app-menu/index.html
  a11y/role-menuitem/images/true-menu-items.png
  a11y/role-menuitem/index.md
Labels: дока, a11y

#5126 HTML, CSS: Добавляет новые вопросы для собесов
  interviews/data-attributes/index.md
  interviews/pseudo-elements-classes/index.md
Labels: кухня, css, html, собеседование, демо

#5129 Обновляет доку `font-family`
  css/font-family/demos/index/index.html
  css/font-family/demos/inheritance/images/arrow-down.svg
  css/font-family/demos/inheritance/index.html
  css/font-family/demos/serif-sans-serif/index.html
  css/font-family/index.md
  css/font-family/practice/skorobaeus.md
  css/font-family/practice/solarrust.md
Labels: улучшение, css, дока, демо

#5116 Добавляет доку `aria-controls`
  a11y/aria-controls/demos/burger-menu/index.html
  a11y/aria-controls/index.md
Labels: дока, a11y

#5141 Доступность: Добавляет примеры и уточнения
  a11y/aria-details/index.md
  a11y/aria-errormessage/index.md
  a11y/aria-intro/index.md
  a11y/role-alertdialog/index.md
  a11y/role-dialog/index.md
Labels: улучшение, статья, дока, a11y

#5149 Добавляет доку про `forced-colors`
  a11y/forced-colors/demos/button-w-icon/index.html
  a11y/forced-colors/images/forced-colors.png
  a11y/forced-colors/index.md
Labels: дока, a11y

#5164 Добавляет новые доки в индекс js
  js/index.md
Labels: кухня, js

#5162 Добавляет доку `aria-level`
  a11y/aria-level/demos/custom-heading-with-10-lvl/index.html
  a11y/aria-level/demos/custom-heading-without-lvl/index.html
  a11y/aria-level/demos/custom-heading/index.html
  a11y/aria-level/demos/nested-headings/index.html
  a11y/aria-level/images/heading-with-10-level.png
  a11y/aria-level/images/heading-without-level.png
  a11y/aria-level/images/nvda-headings-list.png
  a11y/aria-level/index.md
Labels: дока, a11y

#5153 Актуализирует информацию про поддержку `counter-set` в Safari
  css/css-counters/index.md
Labels: улучшение, css, статья

#5173 Исправляет нерабочую ссылку в kseniaSs.md
  js/date/practice/kseniaSs.md
Labels: js, ошибка

#5172 Исправляет опечатку в названии метода `Number.isNaN()` в ответе на вопрос
  interviews/nan/answers/hellsquirrel/index.md
Labels: js, ошибка, собеседование

#5165 Исправляет new.sh
  new.sh
Labels: кухня, ошибка

#5179 Добавляет обложку в html/section
  html/section/images/covers/desktop.svg
  html/section/images/covers/mobile.svg
  html/section/index.md
Labels: улучшение, кухня, html, дока

#5178 Добавляет обложки в раздел CSS
  css/box-model/images/covers/desktop.svg
  css/box-model/images/covers/mobile.svg
  css/box-model/index.md
  css/box-sizing/images/covers/desktop.svg
  css/box-sizing/images/covers/mobile.svg
  css/box-sizing/index.md
  css/media/images/covers/desktop.svg
  css/media/images/covers/mobile.svg
  css/media/index.md
Labels: улучшение, кухня, css, статья, дока

#5176 Уточняет использование тега `<dialog>` в примерах кода по центрированию блока
  recipes/center/index.md
Labels: статья, рецепт

#5182 Уточняет заголовки в статье про сложность алгоритмов
  tools/algorithm-complexity/index.md
Labels: улучшение, веб-платформа, статья

#5181 Обновляет фичеринг статей на главной
  settings/featured.md
Labels: кухня

#5177 Исправляет пример Синглтона
  tools/design-patterns-creational/index.md
Labels: веб-платформа, статья
