Repository doka-guide/content, pull requests merged in 2024-08, with the labels that each got.

#5472 Исправляет демо в доке про селектор по классу
  css/class-selector/demos/several-classes/index.html
  css/class-selector/index.md
Labels: css, дока, ошибка, демо

#5470 Обновляет контент в Устаревших тегах
  html/deprecated-tags/demos/marquee-fallback/index.html
  html/deprecated-tags/demos/marquee/index.html
  html/deprecated-tags/demos/nobr/index.html
  html/deprecated-tags/images/covers/desktop.svg
  html/deprecated-tags/images/covers/mobile.svg
  html/deprecated-tags/index.md
Labels: улучшение, html, статья, демо

#5478 Чекает грамматику в "Как войти в Vim"
  tools/how-to-enter-to-vim/index.md
  tools/how-to-enter-to-vim/practice/anatoly-kor.md
Labels: улучшение, веб-платформа, статья

#5477 Исправляет закрытие по `Esc` в рецепте "Попап"
  recipes/popup/demos/popup-demo/index.html
  recipes/popup/index.md
Labels: улучшение, статья, рецепт

#5474 Исправляет опечатки в тексте.
  a11y/accessible-forms/index.md
Labels: улучшение, статья, a11y

#5469 Исправляет код из описания рецепта "Выпадающее меню"
  recipes/dropdown-menu/demos/menu/index.html
  recipes/dropdown-menu/index.md
Labels: улучшение, статья, ошибка, рецепт

#5483 Корректирует подсчёт символов в рецепте 'Счётчик символов в поле ввода'
  recipes/character-counter/demos/result/index.html
  recipes/character-counter/index.md
Labels: улучшение, статья, рецепт, демо

#5489 Исправляет ошибку в схеме в "window.location"
  js/window-location/images/properties.png
  js/window-location/images/schema.png
  js/window-location/index.md
Labels: улучшение, js, дока, демо

#5484 Исправляет ошибку в схеме в "Структуры данных в JavaScript"
  tools/structure-data-in-js/images/binary-search-tree.png
Labels: улучшение, веб-платформа, демо

#5464 Исправляет подзаголовок
  js/array-from/index.md
Labels: js, дока, ошибка

#5494 Исправляет список основных препроцессоров
  tools/preprocessors/index.md
Labels: веб-платформа, статья, демо

#5482 Добавление статьи о PWA
  people/fluorescenthallucinogen/index.md
  people/fluorescenthallucinogen/photo.png
  tools/index.md
  tools/pwa/images/chromium-promote-pwa-install-android.png
  tools/pwa/images/chromium-promote-pwa-install-chromiumos.png
  tools/pwa/images/pwa-install.png
  tools/pwa/images/pwa-logo.svg
  tools/pwa/index.md
  tools/web-app-types/index.md
Labels: веб-платформа, статья

#5450 Добавляет статью "Mobile-first vs Desktop-first"
  css/mobile-first-vs-desktop-first/demos/adaptive-navbar/index.html
  css/mobile-first-vs-desktop-first/index.md
  css/mobile-first-vs-desktop-first/practice/reznikovandrey.md
Labels: css, статья
