Repository doka-guide/content, pull requests merged in 2024-01, with the labels that each got.

#5094 Добавляет новые доки по JS в индекс
  js/index.md
Labels: кухня, js

#5018 Добавляет декабрь в ченджлог
  CHANGELOG.md
Labels: кухня

#5095 Редактирует описание участника в people
  people/skorobaeus/index.md
  people/skorobaeus/photo.png
Labels: кухня

#5099 Добавляет array.push() к списку методов массива в index
  js/index.md
Labels: кухня, js

#5108 Исправляет сведения о поддержке браузерами
  a11y/forced-colors/index.md
Labels: улучшение, дока, placeholder, a11y

#5114 Добавляет доку для метода массива unshift()
  js/array-unshift/index.md
Labels: js, дока

#5013 Добавляет доку для метода массива `with()`
  js/array-with/index.md
  people/vitya-ne/index.md
Labels: js, дока

#5049 Добавляет доку для метода массива entries()
  js/array-entries/index.md
Labels: кухня, js, дока

#5120 Добавляет новые доки в индекс js
  js/index.md
Labels: js

#5054 Добавляет доку для метода массива toString()
  js/array-to-string/index.md
Labels: кухня, js, дока

#5055 Добавляет доку для метода массива join()
  js/array-join/index.md
Labels: кухня, js, дока

#5061 Добавляет доку для метода массива keys()
  js/array-keys/index.md
Labels: кухня, js, дока

#5064 docs: исправляет определение null согласно спецификации EcmaScript
  interviews/null-undefined/answers/punkmachine/index.md
  js/null-primitive/index.md
  js/null-primitive/practice/nlopin.md
Labels: улучшение, кухня, js, дока

#5067 Добавляет доку для метода массива fill()
  js/array-fill/index.md
Labels: кухня, js, дока

#5117 Добавляет доку для метода массива reduceRight
  js/array-reduce-right/index.md
Labels: js, дока

#5118 Исправляет и дополняет доку для метода объекта toString()
  js/object-tostring/index.md
Labels: js, дока

#5133 Добавляет новые доки в индекс js
  js/index.md
Labels: кухня, js

#5075 Добавил ответ на вопрос о применении анонимных функций
  interviews/anonymous-func/answers/punkmachine/index.md
Labels: кухня, js, собеседование

#5081 Добавляет ответ на вопрос про использование стрелочных функций для методов в конструкторе
  interviews/arrow-func-constructor/answers/alexafcode/index.md
Labels: js, собеседование

#5127 Добавляет подсказки в доку для метода массива map()
  js/array-map/index.md
Labels: js, дока

#5136 Исправлена опечатка
  tools/coordinates/index.md
Labels: веб-платформа, дока

#5132 Добавляет доку для метода массива toLocaleString()
  js/array-to-locale-string/index.md
Labels: js, дока

#5100 Исправляет вывод консоли в результатах примера работы allSettled()
  js/promise-allsettled/index.md
Labels: js, дока, ошибка

#5078 Добавляет доку для метода массива findLastIndex() 🎄
  js/array-find-last-index/index.md
Labels: кухня, js, дока

#5124 JS: Добавляет новые вопросы для собесов
  interviews/arrow-functions/index.md
  interviews/bind/index.md
  interviews/classes/index.md
  interviews/ecma-script/index.md
  interviews/event-bubbling/index.md
  interviews/filter-collection/index.md
  interviews/higher-order-functions/index.md
  interviews/interpreted-language/index.md
  interviews/logical-and/index.md
  interviews/prevent-default-vs-stop-propagation/index.md
  interviews/prototype/index.md
  interviews/rest-spread/index.md
  interviews/scope/index.md
  interviews/typeof-operator/index.md
  interviews/unary-plus/index.md
Labels: кухня, js, собеседование, демо

#5079 Добавляет доку для метода массива findLast()
  js/array-find-last/index.md
Labels: js, дока

#5085 Добавляет доку для метода массива toSorted()
  js/array-tosorted/index.md
  people/alexafcode/readme.md
Labels: js, дока

#5128 Добавляет доку для метода массива concat()
  js/array-concat/index.md
Labels: js, дока

#5069 Добавляет доку для метода массива copyWithin()
  js/array-copy-within/index.md
Labels: кухня, js, дока

#5138 Добавляет новые доки в индекс js
  js/index.md
Labels: кухня, js

#5143 Корректирует имя метода toLocaleString() в заголовке доки
  js/array-to-locale-string/index.md
Labels: js, дока

#5144 Меняет шило на мыло
  people/igsekor/index.md
  people/igsekor/logo.svg
  people/igsekor/photo.jpg
Labels: кухня
