Repository doka-guide/content, pull requests merged in 2024-09, with the labels that each got.

#5497 Обновляет информацию о партнёре
  pages/about/index.md
Labels: кухня, демо

#5491 Обновляет список законов и стандартов в статье про доступность
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#5445 Добавляет доку про `text-wrap`
  css/text-wrap/demos/basic/index.html
  css/text-wrap/images/text-wrap.png
  css/text-wrap/index.md
Labels: css, дока

#5507 Исправляет опечатку в рецепте про Драг-н-дроп
  recipes/dragndrop-upload/demos/dragndrop-demo/index.html
  recipes/dragndrop-upload/index.md
Labels: улучшение, статья, рецепт

#5503 Исправляет опечатку в доке про `.preventDefault()`
  js/event-prevent-default/index.md
Labels: js, дока, ошибка

#5508 Update index.md
  js/array-splice/index.md
Labels: js, дока, ошибка

#5502 Исправляет опечатку в доке про `.copyWithin()`
  js/array-copy-within/index.md
Labels: js, дока, ошибка

#5504 Исправляет опечатку в статье о промисах.
  js/promise/index.md
Labels: js, статья, ошибка

#5501 Исправляет опечатку в доке про `.union()`
  js/set-union/index.md
Labels: js, дока, ошибка

#5476 Исправляет ошибку вывода при вызове генератора
  js/generators/index.md
Labels: js, дока, ошибка

#5481 Исправляет команду nvm для смены версии Node.js
  tools/nodejs/practice/igorkamyshev.md
Labels: веб-платформа, статья, ошибка

#5447 Добавляет материал про атрибут `alt`
  html/alt/index.md
  html/index.md
Labels: html, дока

#5510 Исправлена ошибка в слове
  recipes/multicolor-text/index.md
Labels: статья, ошибка, рецепт

#5512 Правит информацию про поддержку псевдоклассов
  css/pseudoclasses/index.md
Labels: css, дока

#5513 Исправляет опечатки
  js/array-unshift/index.md
Labels: js, дока, ошибка

#5511 Добавляет бейджики
  people/agarkov/index.md
  people/alexafcode/index.md
  people/anastasiayarosh/index.md
  people/andreidetenkov/index.md
  people/artur-demidov/index.md
  people/bellabzhu/index.md
  people/bespoyasov/index.md
  people/blueingreen68/index.md
  people/cergmin/index.md
  people/corocoto/index.md
  people/delioncourts/index.md
  people/denis-gh/index.md
  people/ezhkov/index.md
  people/filimonovalexey/index.md
  people/fpetrakov/index.md
  people/furtivite/index.md
  people/gingerraccoon/index.md
  people/heboq/index.md
  people/hellsquirrel/index.md
  people/igsekor/index.md
  people/inventoris/index.md
  people/kalpovskii/index.md
  people/katkopikat/index.md
  people/kejjero/index.md
  people/kxnkxv/index.md
  people/kyzinatra/index.md
  people/lenaryan/index.md
  people/lordoys/index.md
  people/mefody/index.md
  people/nlopin/index.md
  people/oskarstud/index.md
  people/pa7lux/index.md
  people/prorokky/index.md
  people/punkmachine/index.md
  people/ra1nbow1/index.md
  people/rakleed/index.md
  people/reaferon/index.md
  people/rrramble/index.md
  people/ruslauz/index.md
  people/s-dudko/index.md
  people/skirienko/index.md
  people/skorobaeus/index.md
  people/solarrust/index.md
  people/splincool/index.md
  people/starhamster/index.md
  people/tachisis/index.md
  people/tarahovmaksim/index.md
  people/tatianafokina/index.md
  people/vaiil/index.md
  people/vitalybaev/index.md
  people/vitya-ne/index.md
  people/webdb81/index.md
  people/windrushfarer/index.md
  people/xpleesid/index.md
  people/yurlovr/index.md
Labels: кухня

#5514 Исправляет опечатки
  js/arrow-function/index.md
Labels: улучшение, js, дока, ошибка

#5509 Добавляет совет в статью о dialog
  html/dialog/practice/thegruffaloop.md
  people/thegruffaloop/index.md
Labels: улучшение, html

#5518 Исправляет ошибку в имени функции
  js/micro-and-macro-tasks/index.md
Labels: улучшение, js, статья

#5438 Добавляет обзор рантайма Deno
  people/dreamshaded/index.md
  people/dreamshaded/photo.jpg
  tools/deno/index.11tydata.json
  tools/deno/index.md
Labels: веб-платформа, статья

#5463 Добавляет доку про метод `Set.isSupersetOf()`
  js/index.md
  js/set-is-subset-of/index.md
  js/set-is-superset-of/index.md
Labels: js, дока

#5521 Обновляет индекс раздела "Веб-платформа"
  tools/index.md
Labels: кухня, веб-платформа
