Repository doka-guide/content, pull requests merged in 2024-10, with the labels that each got.

#5522 Добавляет новую рассылку в архив
  pages/newsletters/index.md
Labels: кухня

#5492 Переосмысливает статью про семантику
  html/semantics/demos/bad-markup/index.html
  html/semantics/demos/good-markup/index.html
  html/semantics/images/article-semantic-markup.png
  html/semantics/images/modern-semantic-markup.png
  html/semantics/index.md
Labels: улучшение, html, статья, ошибка

#5499 Добавляет описание модульной области видимости
  js/closures/index.md
Labels: улучшение, js, статья

#5523 Дописывает доку про роль `paragraph`
  a11y/role-paragraph/images/role-paragraph.png
  a11y/role-paragraph/index.md
Labels: дока, a11y

#5534 Исправляет ошибку в статье про работу с формами
  js/deal-with-forms/index.md
Labels: js, статья, ошибка

#5515 JS: Исправляет ошибки и форматирование (часть 11)
  js/performance/index.md
  js/performance/practice/meded90.md
  js/performance/practice/mighty-peach.md
  js/promise-all/index.md
  js/promise-all/practice/yurlovr.md
  js/promise-allsettled/index.md
  js/promise-any/index.md
  js/promise/demos/Lopinopulos-QWNLMwR/index.html
  js/promise/index.md
  js/promise/practice/nlopin.md
Labels: улучшение, js, статья, дока, ошибка

#5533 Обновления для "Что такое технический долг"
  tools/technical-debt/images/functionality-against-time.png
  tools/technical-debt/images/tech-debt-quadrant.png
  tools/technical-debt/index.md
Labels: улучшение, веб-платформа, статья

#5519 JS: Исправляет ошибки и форматирование (часть 12)
  js/promise-catch/index.md
  js/promise-catch/practice/nlopin.md
  js/promise-finally/index.md
  js/promise-finally/practice/nlopin.md
  js/promise-race/index.md
  js/promise-then/index.md
  js/promise-then/practice/nlopin.md
  js/prompt/demos/vindi-r-OqZYEe/index.html
  js/prompt/demos/vindi-r-jJxjNM/index.html
  js/prompt/demos/vindi-r-xBjowJ/index.html
  js/prompt/index.md
  js/prompt/practice/doka-dog.md
  js/query-selector-all/demos/Lopinopulos-wbqdPe/index.html
  js/query-selector-all/index.md
  js/query-selector-all/practice/nlopin.md
  js/query-selector/demos/Lopinopulos-oReWwv/index.html
  js/query-selector/index.md
  js/queuemicrotask/demos/not-obvious/index.html
  js/queuemicrotask/demos/obvious/index.html
  js/queuemicrotask/index.md
  js/queuemicrotask/practice/corocoto.md
Labels: улучшение, js, дока

#5526 Добавляет доку про `BigInt`
  js/bigint/index.md
Labels: js, дока

#5517 Дополняет доку про `change`
  js/event-change/index.md
Labels: js, дока

#5528 Добавляет доку про `prefers-contrast`
  a11y/prefers-contrast/demos/dialog-window/index.html
  a11y/prefers-contrast/images/prefers-contrast.png
  a11y/prefers-contrast/index.md
  a11y/prefers-reduced-motion/index.md
Labels: дока, a11y

#5524 Добавляет доку про `perspective-origin`
  css/perspective-origin/demos/perspective-origin/index.html
  css/perspective-origin/index.md
Labels: css, дока

#5525 Добавляет доку про `backface-visibility`
  css/backface-visibility/demos/index.html
  css/backface-visibility/index.md
Labels: css, дока

#5538 Исправления для `<optgroup>`
  html/optgroup/demos/styles/index.html
  html/optgroup/practice/granondo.md
Labels: улучшение, html, демо

#5540 Правит орфографию в статье "Подключение стилей"
  css/adding-styles/index.md
Labels: css, статья

#5539 Удаляет атрибут manifest из <html>
  html/html/index.md
Labels: html, дока
