Repository doka-guide/content, pull requests merged in 2024-11, with the labels that each got.

#5542 Добавляет рассылку за октябрь
  pages/newsletters/index.md
Labels: кухня

#5541 Добавлены допустимые теги внутри <head>
  html/head/index.md
Labels: html, дока

#5549 Исправляет опечатку в статье (shrikned -> shrinked)
  css/flex-grow-shrink/index.md
Labels: css, статья

#5449 Добавляет свойство `rotate` и демки
  css/rotate/demos/animation/index.html
  css/rotate/demos/basic/index.html
  css/rotate/index.md
Labels: css, дока

#5506 Добавляет доку с описанием деструктуризации
  js/destructuring-assignment/index.md
  js/index.md
Labels: js, статья, дока

#5545 Добавляет нюанс булевого преобразования
  js/boolean/index.md
Labels: улучшение, js, дока

#5530 Исправляет про event loop в JS
  js/queuemicrotask/index.md
Labels: улучшение, js, дока

#5471 Добавляет ответ на вопрос о разнице между `git rebase` и `git merge`
  interviews/git-rebase-merge/answers/otkazano/index.md
  interviews/git-rebase-merge/index.md
  people/otkazano/index.md
Labels: рецепт, собеседование

#5555 CSS: обновляет индекс раздела
  css/index.md
Labels: улучшение, css

#5561 Исправляет неточность в «Глобальных атрибутах»
  html/global-attrs/index.md
Labels: html, дока, ошибка

#5552 Добавляет доку про тег `<menu>`
  html/menu/index.md
Labels: html, дока
