Repository doka-guide/content, pull requests merged in 2024-03, with the labels that each got.

#5183 Добавляет февраль в ченджлог
  CHANGELOG.md
Labels: кухня

#5184 Добавляет новый вопрос для собеседования
  interviews/adaptive-responsible/index.md
Labels: css, собеседование

#5159 Добавляет доку про `@layer`
  css/index.md
  css/layer/demos/anonymous-layers-1/index.html
  css/layer/demos/anonymous-layers-2/index.html
  css/layer/demos/button-states/index.html
  css/layer/demos/layer-vs-important/index.html
  css/layer/demos/layer-vs-leared-rules/index.html
  css/layer/demos/layer-vs-unleared-rules/index.html
  css/layer/demos/list-of-child-layers/index.html
  css/layer/demos/list-of-layers/index.html
  css/layer/images/layers.png
  css/layer/index.md
Labels: css, дока

#5131 Рецепт "Мгновенная валидация форм"
  recipes/validation/demos/final-form/index.html
  recipes/validation/index.md
Labels: статья, рецепт

#5194 Добавляет рецепт 'Мгновенная валидация форм' в индекс раздела 'Интерфейс'
  recipes/index.md
Labels: улучшение, кухня, рецепт

#5134 Добавляет ответ на Вопрос для собеседования: Значение какого типа возвращает оператор typeof и почему?
  interviews/typeof-operator/answers/alexafcode/index.md
Labels: собеседование

#4963 Добавляет доку "Структура данных в JS"
  tools/index.md
  tools/structure-data-in-js/images/array.png
  tools/structure-data-in-js/images/binary-search-tree.png
  tools/structure-data-in-js/images/graph.png
  tools/structure-data-in-js/images/linked-list.png
  tools/structure-data-in-js/images/queue.png
  tools/structure-data-in-js/images/stack.png
  tools/structure-data-in-js/images/trees.png
  tools/structure-data-in-js/images/types-of-graphs.png
  tools/structure-data-in-js/index.md
Labels: веб-платформа, статья

#5187 Дополняет статью «Что такое семантика»
  html/semantics/index.md
Labels: улучшение, html, статья

#5188 Исправляет демки и тексты в доках `tablist`, `tab`, `tabpanel`
  a11y/role-tab/demos/tabs/index.html
  a11y/role-tab/images/tabs.png
  a11y/role-tab/index.md
  a11y/role-tablist/demos/tablist/index.html
  a11y/role-tablist/images/tabs.png
  a11y/role-tablist/index.md
  a11y/role-tabpanel/demos/tabpanels/index.html
  a11y/role-tabpanel/images/tabs.png
  a11y/role-tabpanel/index.md
Labels: дока, ошибка, a11y

#5189 Добавляет примеры описаний и названий в `dialog`, `alertdialog`
  a11y/role-alertdialog/index.md
  a11y/role-dialog/index.md
Labels: улучшение, дока, a11y

#5191 Добавляет полезных ссылок в статью про скринридеры
  a11y/screenreaders/index.md
Labels: улучшение, статья, a11y

#5192 Добавляет новые ссылки в статью про WCAG
  a11y/wcag/index.md
Labels: улучшение, статья, a11y

#5193 Дополняет статью «Влияние CSS на доступность»
  a11y/css-impact-on-a11y/demos/text-overflow/index.html
  a11y/css-impact-on-a11y/images/text-overflow.png
  a11y/css-impact-on-a11y/index.md
Labels: улучшение, статья, a11y, демо

#5198 Поправил опечатку
  a11y/aria-intro/index.md
Labels: статья, a11y

#5197 Исправляет опечатку
  html/header/index.md
Labels: html, дока

#5202 Update index.md
  js/array-slice/index.md
Labels: js, дока

#5204 Исправляет опечатку
  html/dl-dd-dt/index.md
Labels: html, дока

#5200 aria-haspopup: опечатка в слове tooltip
  a11y/aria-haspopup/index.md
Labels: дока, a11y

#5115 SVG: Добавляет плейсхолдеры `<polyline>`, `<ellipse>`
  svg/ellipse/index.md
  svg/polyline/index.md
Labels: дока, placeholder, svg

#5113 SVG: Добавляет плейсхолдеры `<line>`, `<circle>`, `<rect>`, `<polygon>`
  svg/circle/index.md
  svg/index.md
  svg/line/index.md
  svg/polygon/index.md
  svg/rect/index.md
Labels: дока, placeholder, svg

#5206 Ошибка в слове
  recipes/lazy-load-with-preview/index.md
Labels: статья, ошибка, рецепт

#5208 add: внутренняя ссылка в статье про `:link`
  css/link/index.md
  css/pseudoclasses/index.md
Labels: улучшение, css, дока

#5196 Дорабатывает код рецепта «Ленивая загрузка картинок»
  recipes/lazy-load-with-preview/index.md
Labels: статья, рецепт

#5215 Прошёлся по статьям и добавил перелинковку с тегом `<a>`
  a11y/accessible-forms/index.md
  html/img/index.md
  html/noindex/index.md
  recipes/dropdown-menu/index.md
Labels: html, статья, дока, рецепт, a11y

#5214 Добавил обложки в статьи. Обложки пожаты, к ним добавлено описание. Название статей соответствуют коммитам.
  html/header/images/covers/desktop.svg
  html/header/images/covers/mobile.svg
  html/header/index.md
  html/html/images/covers/desktop.svg
  html/html/images/covers/mobile.svg
  html/html/index.md
Labels: улучшение, кухня, html, дока

#5203 Изменяет тег вложенного списка
  html/ol/index.md
Labels: html, дока

#5210 Дополняет доку про роль `switch`
  a11y/role-switch/index.md
Labels: улучшение, дока, a11y

#5171 Завершает доку `Array.of()`
  js/array-of/index.md
Labels: js, дока

#5219 Уточнение по поводу выпадения margin-ов
  html/flow/index.md
Labels: улучшение, html, статья

#5218 Добавил перелинковку для атрибутов autocomplete, accept и тега `<address>` и тег `<body>`
  a11y/accessible-forms/index.md
  html/header/index.md
  html/span/index.md
  js/getelementsbyclassname/index.md
  js/getelementsbytagname/index.md
  recipes/center/index.md
  recipes/progress/index.md
Labels: улучшение, html, js, статья, дока, рецепт, a11y

#5217 Исправляет опечатку и добавляет отсутствующее слово
  css/after/index.md
Labels: css, дока, ошибка

#5212 Добавляет советы в рубрику «На практике» для `::before`, `::after` и `content`
  css/after/practice/tatianafokina.md
  css/before/practice/tatianafokina.md
  css/content/practice/tatianafokina.md
Labels: улучшение, css

#5225 Заливает картинки в tools/cli и js/querySelector
  js/query-selector/images/covers/desktop.svg
  js/query-selector/images/covers/mobile.svg
  js/query-selector/index.md
  tools/cli/images/covers/desktop.svg
  tools/cli/images/covers/mobile.svg
  tools/cli/index.md
Labels: улучшение, кухня, js, веб-платформа, статья, дока

#5224 Исправляет порядок применения функций filter, map в примере
  js/deal-with-forms/index.md
Labels: js, статья

#5223 Исправляет название свойства в document forms
  js/forms/index.md
Labels: js, дока

#5226 Актуализация краткого содержания
  js/shallow-or-deep-clone/index.md
Labels: улучшение, js, статья

#5166 Исправляет название функции и результаты вывода в консоли
  js/array-splice/index.md
Labels: js, дока, ошибка

#5119 Добавляет доку «Стрелочные функции»
  js/arrow-function/index.md
  js/index.md
Labels: js, дока

#5190 Добавляет статью про Web Workers
  js/web-workers/index.md
  people/marsel/index.md
  people/marsel/photo.jpg
Labels: js, статья, дока

#5231 Добавляет ссылки на другие разделы из статьи про span
  html/span/index.md
Labels: улучшение, html, дока

#5233 Исправляет опечатку
  html/svg-sprite/index.md
Labels: html, статья

#5211 Актуализирует статистику в статье про доступность
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#5232 Исправляет форматирование в «Стрелочные функции»
  js/arrow-function/index.md
Labels: улучшение, js, дока

#5160 Заканчивает доку для метода `Element.closest()`
  js/element-closest/index.md
Labels: js, дока

#5240 Добавляет доку .closest() в индекс js
  js/index.md
Labels: кухня, js

#5168 Выразительный React - Прямоугольник и собачка
  recipes/expressive-react-rectangle/index.md
Labels: статья, рецепт

#5239 Исправляет ссылку nullish coalescing
  js/if-else/practice/saharok.md
Labels: js, ошибка
