Repository doka-guide/content, pull requests merged in 2024-07, with the labels that each got.

#5362 Добавляет июнь в ченджлог
  CHANGELOG.md
Labels: кухня

#5410 Correct some text
  js/use-strict/index.md
Labels: js, дока

#5405 Добавляет доку для метода `Set.symmetricDifference()`
  js/set-symmetric-difference/images/set-symmetric-difference.png
  js/set-symmetric-difference/index.md
Labels: js, дока

#5361 Добавляет ответ на вопрос для собеседования: Как отфильтровать не уникальные элементы в коллекции
  interviews/filter-collection/answers/vitya-ne/index.md
Labels: js, собеседование

#5388 Добавляет ответ на вопрос: Является ли JavaScript интерпретируемым языком?
  interviews/interpreted-language/answers/vitya-ne/index.md
Labels: js, собеседование

#5411 add: перелинковка на html раздел
  a11y/accessible-names-and-descs/index.md
  a11y/aria-intro/index.md
  a11y/how-to-describe-pictures/index.md
  a11y/role-superscript/index.md
  css/font-size/index.md
  css/pseudoclasses/index.md
  css/root/index.md
  html/a/index.md
  html/button/index.md
  html/comments/index.md
  html/global-attrs/index.md
  html/semantics/index.md
  js/event-change/index.md
  js/infinite-scroll/index.md
  recipes/validation/index.md
Labels: улучшение, css, html, js, статья, дока, placeholder, рецепт, a11y

#5422 Убирает лишний бэктик
  recipes/container/index.md
Labels: улучшение, статья, рецепт

#5420 Правка ссылок в собранном сайте
  interviews/interpreted-language/answers/vitya-ne/index.md
Labels: улучшение, кухня, js, ошибка

#5425 Заменяет минусы и короткие тире на длинные тире
  tools/react-and-alternatives/index.md
Labels: улучшение, веб-платформа, статья

#5377 JS: Исправляет ошибки и форматирует (часть 10)
  js/null-primitive/index.md
  js/null-primitive/practice/nlopin.md
  js/number-is-nan/demos/index/index.html
  js/number-is-nan/index.md
  js/number-is-nan/practice/nlopin.md
  js/number-isfinite/index.md
  js/number-isfinite/practice/windrushfarer.md
  js/number-wrapper/demos/number-format/index.html
  js/number-wrapper/index.md
  js/number-wrapper/practice/nlopin.md
  js/number/index.md
  js/object-tostring/index.md
  js/object-tostring/practice/nlopin.md
  js/object/demos/vindi-r-JVrwGg/index.html
  js/object/demos/vindi-r-KYXxRr/index.html
  js/object/demos/vindi-r-KYXxYE/index.html
  js/object/demos/vindi-r-MREPZj/index.html
  js/object/demos/vindi-r-PgJvBV/index.html
  js/object/demos/vindi-r-jRGJja/index.html
  js/object/demos/vindi-r-yrzGqw/index.html
  js/object/index.md
  js/object/practice/doka-dog.md
  js/objects-objects-everywhere/index.md
  js/objects-objects-everywhere/practice/windrushfarer.md
  js/parsefloat/index.md
  js/parseint/index.md
Labels: улучшение, js, статья, дока, ошибка, placeholder

#5359 Добавляет информацию про Atomics
  js/atomics/index.md
  people/vsezol/index.md
  people/vsezol/photo.jpg
Labels: js, дока

#5429 Исправляет опечатку в доке про `<ul>`
  html/ul/practice/ezhkov.md
Labels: улучшение, html

#5393 Добавляет ответ на вопрос: Что такое область видимости ?
  interviews/scope/vitya-ne/index.md
Labels: js, собеседование

#5428 Добавляет доку для метода `Set.union()`
  js/set-union/images/set-union.png
  js/set-union/index.md
Labels: js, дока

#5439 Чинит демку
  css/transform/demos/playground/index.html
Labels: css

#5421 Исправление ошибки в HTML-коде в статье "Debounce на примере формы поиска"
  js/debounce/demos/debounced-search/index.html
  js/debounce/index.md
Labels: js, статья, ошибка

#5440 Заменяет короткие тире на длинные
  js/cleartimeout/index.md
  js/element-dataset/index.md
  js/element-getattribute/index.md
  js/element-innerhtml/index.md
  js/element-innertext/index.md
  js/element-outerhtml/index.md
  js/settimeout/index.md
  js/window-history/index.md
  tools/reactivity/index.md
  tools/web-app-types/index.md
Labels: улучшение, js, веб-платформа, статья, дока

#5442 Чинит Link Checker
  js/atomics/index.md
Labels: js, дока, ошибка

#5443 Исправляет опечатку в описании статьи о <body>
  html/body/index.md
Labels: html, дока

#5427 Обновлена информация о свойстве `align-content`
  css/align-content/demos/all/index.html
  css/align-content/index.md
  people/cheremis88/index.md
  people/cheremis88/photo.jpg
Labels: улучшение, css, дока

#5437 Добавляет раздел "На практике", исправляет демку и формулировку в доке про `perspective`
  css/perspective/demos/dynamic-practice/index.html
  css/perspective/demos/dynamic/index.html
  css/perspective/index.md
  css/perspective/practice/denis-gh.md
  people/denis-gh/index.md
Labels: css, дока

#5400 Добавляет доку для метода `Set.difference()`
  js/set-difference/images/set-difference.png
  js/set-difference/index.md
Labels: js, дока

#5401 Добавляет доку для метода `Set.intersection()`
  js/set-intersection/images/set-intersection.png
  js/set-intersection/index.md
Labels: js, дока

#5412 Советует не использовать `switch`
  js/switch/practice/baileys-li.md
  js/ternary-operator/practice/gingerraccoon.md
Labels: улучшение, js

#5431 Убран явный content-type при отправке формы
  js/deal-with-forms/index.md
Labels: улучшение, js, статья

#5433 Исправляет Войти->Выйти из vim
  tools/how-to-enter-to-vim/index.md
Labels: улучшение, веб-платформа, статья, ошибка

#5452 Исправляет определение устойчивой сортировки
  js/array-sort/index.md
Labels: js, дока

#5444 Добавляет доку для метода `Set.isSubsetOf()`
  js/set-is-subset-of/index.md
Labels: js, дока

#5436 Исправляет форматирование в статье про CORS
  tools/cors/index.md
Labels: улучшение, веб-платформа, статья

#5413 Добавляет статью про стилизацию чекбокса
  people/lonlylokly/index.md
  people/lonlylokly/photo.png
  recipes/checkbox-radio-style/demos/checkbox-radio-accent-color/index.html
  recipes/checkbox-radio-style/demos/checkbox-radio-pseudo-elements-div/index.html
  recipes/checkbox-radio-style/demos/checkbox-radio-pseudo-elements/index.html
  recipes/checkbox-radio-style/index.md
  recipes/index.md
Labels: статья, рецепт

#5453 Добавляет новые методы Set в индекc JS
  CHANGELOG.md
  js/index.md
Labels: улучшение, js

#5454 Исправляет структуру в папке вопроса про scope
  interviews/scope/answers/vitya-ne/index.md
Labels: кухня, js, ошибка, собеседование

#5364 Добавляет рецепт слайдера
  recipes/index.md
  recipes/slider/demos/slider-demo/images/arrow.svg
  recipes/slider/demos/slider-demo/images/flowers.jpg
  recipes/slider/demos/slider-demo/images/lilac.jpg
  recipes/slider/demos/slider-demo/images/scarlet.jpg
  recipes/slider/demos/slider-demo/images/summer.jpg
  recipes/slider/demos/slider-demo/index.html
  recipes/slider/index.md
Labels: статья, рецепт

#5459 Update a11y-html index.md
  a11y/a11y-html/index.md
Labels: статья, ошибка, a11y

#5457 Исправляет ссылки на WeakSet
  js/set-is-subset-of/index.md
  js/set-union/index.md
Labels: улучшение, js, дока

#5461 Решает проблемы #5456
  .github/scripts/update-changelog.js
  .github/scripts/update-changelog.sh
  CHANGELOG.md
Labels: кухня

#5468 Добавляет автогенерацию релиза
  .github/scripts/update-release.sh
  .github/workflows/update-release.yml
Labels: кухня

#5446 Исправляет ошибки в терминологии и определении алгоритмической сложности
  tools/algorithm-complexity/index.md
Labels: веб-платформа, статья, ошибка

#5466 Опечатка в примере кода
  js/array-keys/index.md
Labels: js, дока

#5448 Добавляет ответ на вопрос: Для чего используется метод `Function.prototype.bind()`
  interviews/bind/answers/vitya-ne/index.md
Labels: js, собеседование

#5455 Добавляет информацию о `navigator.clipboard`
  js/window-navigator/index.md
Labels: улучшение, js, дока, placeholder

#5473 Удаляет лишний бэктик в тексте
  js/array-find-last-index/index.md
Labels: улучшение, js, дока
