Repository doka-guide/content, pull requests merged in 2024-06, with the labels that each got.

#5360 Исправляет опечатку в vertical-align
  css/vertical-align/index.md
Labels: css, дока

#5348 Добавляет демо `accept` и дополняет статью
  html/accept/demos/files/index.html
  html/accept/demos/images/index.html
  html/accept/index.md
  html/accept/practice/teplostanski.md
Labels: html, дока

#5357 Добавляет доку про роль `banner`
  a11y/role-banner/demos/header-with-banner-role/index.html
  a11y/role-banner/index.md
  a11y/role-banner/practice/tatianafokina.md
Labels: дока, a11y

#5355 JS: Исправляет ошибки и форматирует (часть 9)
  js/language-versions/index.md
  js/last-index-of/index.md
  js/local-storage/index.md
  js/local-storage/practice/akellbl4.md
  js/local-storage/practice/corocoto.md
  js/logic-operators/demos/Lopinopulos-VJjboW/index.html
  js/logic-operators/demos/Lopinopulos-wLGJgz/index.html
  js/logic-operators/index.md
  js/logic-operators/practice/cergmin.md
  js/loop/demos/Lopinopulos-xxOQLvO/index.html
  js/loop/index.md
  js/loop/practice/nlopin.md
  js/map/index.md
  js/match-media/index.md
  js/math-floor/demos/Lopinopulos-RzNGZQ/index.html
  js/math-floor/index.md
  js/math-random/index.md
  js/math-random/practice/nlopin.md
  js/math/demos/vindi-r-OGQNgz/index.html
  js/math/demos/vindi-r-YMewgy/index.html
  js/math/practice/doka-dog.md
  js/modules/index.md
  js/modules/practice/bespoyasov.md
Labels: улучшение, js, статья, дока, ошибка

#5375 Исправляет опечатку в статье про box-shadow
  css/box-shadow/index.md
Labels: css, дока

#5374 Использование миксинов для @media
  css/media/practice/sergeyzubov.md
Labels: улучшение, css

#5378 Исправляет опечатку в рецепте про выпадающее меню
  recipes/dropdown-menu/index.md
Labels: статья, рецепт

#5309 Обновляет ответ на вопрос "Реализуйте полифил для Promise.all"
  interviews/polyfill-promise-all/answers/walborn/index.md
Labels: улучшение, js, собеседование

#5356 Добавляет пример в статью undefined
  js/undefined/index.md
Labels: улучшение, js, дока

#5358 Исправляет опечатки в статье 'Структуры данных в JavaScript'
  tools/structure-data-in-js/index.md
Labels: улучшение, веб-платформа, статья

#5368 Обновляет статью про `@media`
  css/media/index.md
Labels: улучшение, css, дока

#5366 Добавляет статью про функцию `color()`
  css/color-function/demos/absolute/index.html
  css/color-function/demos/custom-props/index.html
  css/color-function/demos/display-p3/index.html
  css/color-function/demos/relative/index.html
  css/color-function/index.md
  css/index.md
Labels: css, статья

#5379 Добавляет профиль для sergeyzubov
  people/sergeyzubov/index.md
  people/sergeyzubov/photo.png
Labels: улучшение, кухня, ошибка

#5380 Добавляет небольшое уточнение
  css/adding-styles/index.md
Labels: улучшение, css, статья

#5390 Добавил перелинковку для `<img>`, `inert`, `<input>`.
  a11y/a11y-html/index.md
  a11y/accessible-names-and-descs/index.md
  css/pseudoclasses/index.md
  html/button/index.md
  html/svg/index.md
  html/tabindex/index.md
  js/debounce/index.md
  js/event-change/index.md
  js/event-input/index.md
  js/event-submit/index.md
  recipes/validation/index.md
Labels: css, html, js, статья, дока, placeholder, рецепт, a11y

#5392 Добавил перелинковку на `size`, `<select>`, `<s>`, `required`, `readonly`, `<option>`, `placeholder`, `<nav>`, `<object>`
  a11y/accessible-forms/index.md
  a11y/accessible-names-and-descs/index.md
  a11y/aria-roles/index.md
  a11y/role-combobox/index.md
  a11y/role-listbox/index.md
  css/indeterminate/index.md
  css/placeholder-shown/index.md
  css/placeholder/index.md
  css/pseudoclasses/index.md
  css/pseudoelements/index.md
  css/read-only/index.md
  css/required/index.md
  html/deprecated-tags/index.md
  html/input/index.md
  html/novalidate/index.md
  html/required/index.md
  js/event-change/index.md
  tools/site-readers/index.md
Labels: css, html, js, веб-платформа, статья, дока, placeholder, a11y

#5397 Исправляет ошибку в тексте
  js/array-some/index.md
Labels: улучшение, js, дока

#5373 color-scheme: Первый драфт
  css/color-scheme/demos/basic/index.html
  css/color-scheme/index.md
  people/anastasiayarosh/index.md
Labels: css, дока

#5396 Исправляет показ раздела "на собеседовании" в статьях 'Promise', 'Promise.all', 'Promise.allSettled'
  interviews/polyfill-promise-all/answers/walborn/index.md
  interviews/polyfill-promise-all/index.md
  interviews/polyfill-promise-allsettled/answers/alexafcode/index.md
  interviews/polyfill-promise-allsettled/index.md
Labels: улучшение, js, собеседование

#5395 Добавляет доку про `prefers-color-scheme`
  css/prefers-color-scheme/demos/basic/index.html
  css/prefers-color-scheme/index.md
Labels: css, дока

#5406 Исправляет мелкие ошибки в тексте
  tools/trivial-memory-model/index.md
Labels: веб-платформа, статья

#5381 Добавляет доку про CSS-функцию `light-dark()`
  css/light-dark/demos/light-dark/index.html
  css/light-dark/index.md
Labels: css, дока

#5370 Добавляет ответ на вопрос: Для чего используется оператор "&&"?
  interviews/logical-and/answers/vitya-ne/index.md
Labels: js, собеседование

#5376 Корректирует описание CommonJS в статье 'Модули, import/export'
  js/modules/index.md
Labels: улучшение, js, статья

#5384 unary-plus: ответ на вопрос
  interviews/unary-plus/answers/anastasiayarosh/index.md
Labels: js, собеседование

#5383 Добавляет ответ на вопрос об использовании унарного плюса для преобразования строки в число
  interviews/unary-plus/answers/vitya-ne/index.md
Labels: js, собеседование

#5403 Исправляет формулировку указания P3-цветов
  css/color-function/index.md
Labels: улучшение, css, статья

#5385 Добавляет статью про CSS-препроцессоры
  tools/preprocessors/index.md
Labels: веб-платформа, статья

#5408 Актуализирует поддержку Safari в статье про `outline`
  css/outline/index.md
Labels: css, дока
