Repository doka-guide/content, pull requests merged in 2024-12, with the labels that each got.

#5553 Упоминание всех трёх методов промиса в коротком описании
  js/promise/index.md
Labels: улучшение, js, статья

#5557 Исправляет и дополняет доку `Promise.any()`
  js/promise-any/index.md
Labels: улучшение, js, дока, ошибка

#5565 Корректирует определение `Функция высшего порядка`
  js/function-as-datatype/index.md
Labels: улучшение, js, дока

#5564 Исправляет описание работы с worker
  js/web-workers/index.md
Labels: js, статья, ошибка

#5563 Приводит пример `Map.groupBy` и даёт практические советы
  js/group-by/index.md
  js/group-by/practice/baileys-li.md
Labels: js, дока

#5560 Дополняет и уточняет доку `Promise.race()`
  js/promise-race/index.md
Labels: js, дока

#5567 Исправляет опечатку
  tools/web-server/practice/igsekor.md
Labels: веб-платформа, ошибка

#5574 Восстанавливает пример использования `;` в статье 'Выражения и инструкции'
  js/expressions-vs-statements/index.md
Labels: улучшение, js, дока

#5576 Исправляет текст
  recipes/github-pages-static-site/index.md
Labels: статья, рецепт

#5566 Добавляет совет к статье про Git CLI
  docs/people.md
  people/e-kucheriavyi/index.md
  people/e-kucheriavyi/photo.webp
  tools/git-cli/index.md
  tools/git-cli/practice/e-kucheriavyi.md
Labels: улучшение, веб-платформа, статья

#5548 Добавляет доку про `@starting-style`
  css/index.md
  css/starting-style/demos/dialog-animation/index.html
  css/starting-style/demos/popover-animation/index.html
  css/starting-style/index.md
  people/akhmadullin/index.md
  people/akhmadullin/photo.jpg
Labels: css, дока

#5568 Правит булевую опечатку и унифицирует написание Lodash
  interviews/filter-collection/answers/vitya-ne/index.md
  js/group-by/practice/baileys-li.md
  js/shallow-or-deep-clone/index.md
  js/spread/index.md
Labels: улучшение, js, статья, дока

#5458 Доработка главного ридми. 2 итерация
  README.md
Labels: улучшение, кухня

#5593 Обновляет демо и изображения в `Promise`
  js/promise/demos/promise-catch/index.html
  js/promise/demos/promise-states/index.html
  js/promise/images/2.png
  js/promise/images/3.png
  js/promise/images/4.png
  js/promise/images/few-catches.png
  js/promise/images/function-callbacks.png
  js/promise/images/last-catch.png
  js/promise/images/no-last-catch.png
  js/promise/images/promise-states.png
  js/promise/index.md
Labels: js, статья, демо

#5594 Устанавливает `aria-hidden="true"` для снежинок
  recipes/snow/demos/result-no-toggler/index.html
  recipes/snow/demos/result/index.html
  recipes/snow/index.md
Labels: улучшение, статья, рецепт

#5572 Микро правки оформления в статье про Deno
  tools/deno/index.md
Labels: улучшение, веб-платформа, статья

#5462 Дописывает свойство `widows`
  css/widows/images/widows.png
  css/widows/index.md
Labels: улучшение, css, дока

#5460 Создаёт статью про свойство `orphans`
  css/index.md
  css/orphans/images/orphans.png
  css/orphans/index.md
Labels: css, дока

#5591 Обновляет «Калькулятор скидки» — `Number.isNaN()`
  js/number-is-nan/demos/index/index.html
  js/number-is-nan/index.md
Labels: js, дока

#5547 Добавляет уточнение насчёт мат операций и NaN
  js/number/index.md
Labels: улучшение, js, дока

#5609 Убирает некоторые ссылки на MDN.
  css/text-align/index.md
  js/async-in-js/practice/bespoyasov.md
  js/element-style/index.md
  js/element-style/practice/bespoyasov.md
  js/promise/practice/nlopin.md
  js/typecasting/index.md
  js/var-let/index.md
  tools/network/index.md
Labels: css, js, веб-платформа, статья, дока

#5618 Исправляет опечатки в ответе на вопрос про использование стрелочных функций для методов в конструкторе
  interviews/arrow-func-constructor/answers/alexafcode/index.md
Labels: улучшение, js, ошибка, собеседование

#5617 Исправляет опечатку в статье про стрелочные функции
  js/arrow-function/index.md
  people/harutoyume/index.md
  people/harutoyume/photo.jpg
Labels: улучшение, js, дока, ошибка

#5598 Добавить про спецификаторы форматирования в `console.log`
  js/console-log/index.md
  people/egorlem/index.md
Labels: улучшение, js, дока

#5619 Корректирует «Хранение данных в браузере»
  tools/browsers-storages/index.md
Labels: улучшение, веб-платформа, статья
