Repository doka-guide/content, pull requests merged in 2025-03, with the labels that each got.

#5642 Уточняет доку про способы объявления переменных в JS
  js/var-let/index.md
Labels: улучшение, js, статья

#5672 Добавляет доку про метод множеств `isDisjointFrom()`
  js/set-is-disjoint-from/images/set-disjoint-from.png
  js/set-is-disjoint-from/index.md
Labels: js, дока

#5671 Корректирует описание создания переменных в статье 'Переменные const, let и var'
  js/var-let/index.md
Labels: js, статья, ошибка

#5701 Добавляет дайджест за февраль в архив
  pages/newsletters/index.md
Labels: кухня

#5699 Добавляет конфигурацию baseline для css и html фич ('широко поддерживаемые' за 2023-2024)
  css/appearance/index.md
  css/aspect-ratio/index.md
  css/backdrop/index.md
  css/background-attachment/index.md
  css/clip-path/index.md
  css/color-scheme/index.md
  css/column-span/index.md
  css/conic-gradient/index.md
  css/layer/index.md
  css/repeating-conic-gradient/index.md
  html/dialog/index.md
Labels: кухня, css, html, дока

#5577 Добавляет статью про Псевдоприватные кастомные свойства
  css/pseudo-private-custom-property/demos/classes/index.html
  css/pseudo-private-custom-property/demos/pseudo-privates/index.html
  css/pseudo-private-custom-property/index.md
  people/alex-andr-19/index.md
Labels: css, статья

#5704 Исправляет опечатку
  html/svg/index.md
Labels: html, дока

#5702 Корректирует описание поддержки в доке `text-wrap`
  css/text-wrap/index.md
Labels: css, дока

#5691 Добавляет статью про AbortController
  js/abort-controller/index.md
  js/abort-controller/practice/teplostanski.md
  js/index.md
Labels: js, дока

#5705 Корректирует профиль автора aleks-andr-19
  people/alex-andr-19/index.md
  people/alex-andr-19/photo.webp
Labels: кухня

#5698 Дополняет доку про свойство `user-select`
  css/user-select/demos/user-select/images/arrow-down.svg
  css/user-select/demos/user-select/index.html
  css/user-select/index.md
Labels: css, дока

#5441 Создаём нормальный range
  recipes/index.md
  recipes/input-range-style/demos/input-range-1/index.html
  recipes/input-range-style/demos/input-range-2/index.html
  recipes/input-range-style/demos/input-range-3/index.html
  recipes/input-range-style/demos/input-range-4/index.html
  recipes/input-range-style/demos/input-range-5/index.html
  recipes/input-range-style/demos/input-range-6/index.html
  recipes/input-range-style/demos/input-range-7/index.html
  recipes/input-range-style/demos/input-range-8/index.html
  recipes/input-range-style/demos/input-range-four-thumbs/index.html
  recipes/input-range-style/index.md
Labels: статья, рецепт

#5703 Дополняет статью throttle
  js/throttle/index.md
Labels: js, статья

#5677 Добавляет Доку на метод `trim()` у строки
  js/index.md
  js/string-trim/index.md
  js/string-trim/practice/punkmachine.md
Labels: js, дока

#5721 Чинит ссылку в статье JS trim()
  js/string-trim/practice/punkmachine.md
Labels: js

#5724 Добавляет уточнение про дефолтное значение свойства `text-wrap`
  css/text-wrap/index.md
Labels: css, дока

#5715 Исправляет пример в доке `caret-color`
  css/caret-color/index.md
Labels: css, дока, ошибка

#5726 Добавляет про обновление форка
  docs/contributing.md
Labels: кухня

#5725 Уточнение про миксины в препроцессорах
  tools/preprocessors/index.md
Labels: веб-платформа, статья

#5707 Добавляет `isDisjointFrom()` в индекс JS
  js/index.md
Labels: кухня, js
