Repository doka-guide/content, pull requests merged in 2025-05, with the labels that each got.

#5756 Исправляет ошибку в доке min()
  css/min/index.md
Labels: css, дока

#5536 Добавляет доку про атрибут `rel`
  html/rel/index.md
  people/maffin1799/index.md
  people/maffin1799/photo.jpg
Labels: html, дока

#5720 Добавляет статью 'Логические свойства CSS'
  css/logical-properties/demos/basic/index.html
  css/logical-properties/demos/languages/index.html
  css/logical-properties/images/japan-style.png
  css/logical-properties/images/uae-main-arab-images.png
  css/logical-properties/images/uae-main-eng-images.png
  css/logical-properties/index.md
  people/dachusta/index.md
Labels: css, статья

#5718 Дополняет доку про JSON
  tools/json/index.md
Labels: веб-платформа, дока
