Repository doka-guide/content, pull requests merged in 2025-01, with the labels that each got.

#5490 Добавляет ответ на вопрос: 'В чем разница между методами event.preventDefault() и event.stopPropagation()'
  interviews/prevent-default-vs-stop-propagation/answers/vitya-ne/index.md
Labels: js, собеседование

#5516 Добавляет доку про `WeakSet`
  js/weak-set/index.md
Labels: js, дока

#5613 Добавляет ответ на вопрос про разрежённый массив
  interviews/arrays/answers/ziogrape/index.md
  people/ziogrape/index.md
Labels: js, собеседование

#5614 Добавляет ответ про подсчёт пустых слотов в массиве
  interviews/arrays/answers/baileys-li/images/empty.png
  interviews/arrays/answers/baileys-li/index.md
Labels: js, собеседование

#5621 Добавляет статью про методы объекта console
  js/console/images/console.groupCollapsed.png
  js/console/images/console.objectSubstitution.png
  js/console/index.md
  js/index.md
Labels: js, дока

#5629 Убирает этап генерации карточек для социальных сетей
  .github/workflows/product-deploy.yml
Labels: улучшение, кухня

#5632 Исправляет отображение таблицы в совете из доки про `console.log()`
  js/console-log/practice/vitalybaev.md
Labels: улучшение, js

#5635 Удаляет ненужный экшен
  .github/workflows/social-cards.yml
Labels: улучшение, кухня

#5634 Исправляет пример в совете статьи 'sessionStorage'
  js/session-storage/practice/akellbl4.md
Labels: улучшение, js, ошибка

#5638 Добавляет пропущенную точку в доке про `button`
  a11y/role-button/index.md
Labels: улучшение, дока, a11y

#5628 Добавляет адаптив к демкам (#5583)
  html/flow/demos/absolute/index.html
  html/flow/demos/float/index.html
  html/flow/demos/inline/index.html
  html/flow/demos/margin-collapse-empty/index.html
  html/flow/demos/margin-collapse-siblings/index.html
  html/flow/demos/normal-animated/index.html
  html/flow/demos/normal-width/index.html
  html/flow/demos/normal/index.html
Labels: улучшение, html

#5644 Добавляет декабрьский дайджест в архив
  pages/newsletters/index.md
Labels: кухня

#5569 Добавляет статью про оверлеи и отдельные версии сайтов
  a11y/index.md
  a11y/overlays/images/ai-function.png
  a11y/overlays/images/dark-contrast-function.png
  a11y/overlays/images/ordinary-page-for-weak-vision.png
  a11y/overlays/images/ordinary-page.png
  a11y/overlays/images/overlays.png
  a11y/overlays/images/reading-overlay.png
  a11y/overlays/images/turned-on-overlay.png
  a11y/overlays/index.md
Labels: статья, a11y

#5616 Обновляет доку про `zoom`
  css/zoom/index.md
Labels: улучшение, css, дока

#5645 Исправляет путь к фото
  a11y/overlays/index.md
Labels: статья, a11y

#5653 Исправляет опечатку в доке про `<wbr>`
  html/wbr/index.md
Labels: html, дока

#5626 Исправляет статью про CORS
  tools/cors/index.md
Labels: улучшение, веб-платформа, статья, ошибка

#5636 Исправляет пример в статье 'Promise'
  js/promise/index.md
Labels: улучшение, js, статья

#5667 Чинит линк-чекер
  js/weak-set/index.md
Labels: js, статья, дока, ошибка, a11y

#5631 Дописывает доку про роль `strong`
  a11y/role-strong/demos/text-with-bold-style/index.html
  a11y/role-strong/demos/text-with-strong-role/index.html
  a11y/role-strong/images/emphasis-nvda-settings.png
  a11y/role-strong/images/strong-element.png
  a11y/role-strong/index.md
Labels: дока, a11y

#5639 Дописывает доку про роль `emphasis`
  a11y/role-emphasis/demos/text-with-em-element/index.html
  a11y/role-emphasis/demos/text-with-italic-style/index.html
  a11y/role-emphasis/images/em-element.png
  a11y/role-emphasis/images/emphasis-nvda-settings.png
  a11y/role-emphasis/index.md
Labels: дока, a11y

#5627 Дописывает доку про роль `region`
  a11y/role-region/demos/named-section/index.html
  a11y/role-region/demos/unnamed-section/index.html
  a11y/role-region/index.md
Labels: дока, a11y

#5625 Дописывает плейсхолдер про `listitem`
  a11y/role-listitem/demos/styled-listitems/index.html
  a11y/role-listitem/index.md
Labels: дока, a11y

#5674 Добавляет статью про атрибут `readonly`
  html/readonly/demos/index.html
  html/readonly/index.md
  html/readonly/practice/teplostanski.md
Labels: html, дока

#5562 Дополняет и уточняет доку `aria-required`
  a11y/aria-required/demos/custom-required-field/index.html
  a11y/aria-required/index.md
  people/juliememe/index.md
Labels: дока, a11y, демо

#5637 Добавляет рецепт про тултип
  recipes/index.md
  recipes/tooltip/demos/adaptive-js/index.html
  recipes/tooltip/demos/adaptive-popover-and-css-anchor-positioning/index.html
  recipes/tooltip/demos/static-four-sides/index.html
  recipes/tooltip/demos/static-top/index.html
  recipes/tooltip/index.md
Labels: статья, рецепт

#5650 Добавляет статью про aria-роль generic
  a11y/role-generic/demos/index.html
  a11y/role-generic/index.md
  people/teplostanski/avatar.png
  people/teplostanski/index.md
Labels: дока, a11y
