Repository doka-guide/content, pull requests merged in 2025-04, with the labels that each got.

#5732 Добавляет рассылку за март в архив
  pages/newsletters/index.md
Labels: кухня

#5730 Обновляет CHANGELOG.md руками
  CHANGELOG.md
Labels: кухня

#5686 Добавляет доку про метод `Promise.try()`
  js/index.md
  js/promise-try/index.md
Labels: js, дока

#5740 Исправила опечатку в слове
  html/style/index.md
Labels: html, дока

#5738 Исправляет пример в доке 'Деструктуризация'
  js/destructuring-assignment/index.md
Labels: js, статья, ошибка

#5620 Создаёт статью про директиву @page
  css/index.md
  css/page/demos/at-rules/index.html
  css/page/demos/page-example/index.html
  css/page/index.11tydata.json
  css/page/index.md
Labels: css, дока

#5736 Добавляет информацию baseline для фич с неполной поддержкой
  a11y/prefers-contrast/index.md
  css/accent-color/index.md
  css/light-dark/index.md
  css/marker/index.md
  css/scrollbar-color/index.md
  css/starting-style/index.md
  html/inert/index.md
  js/element-touch/index.md
Labels: кухня, css, html, js, дока, a11y

#5748 Корректирует пример в доке `:disabled, :enabled `
  css/disabled-enabled/index.md
Labels: css, дока

#5749 Исправляет пример в доке `:in-range, :out-of-range`
  css/in-range-out-of-range/index.md
  css/in-range-out-of-range/practice/ezhkov.md
Labels: css, дока
