Repository doka-guide/content, pull requests merged in 2025-06, with the labels that each got.

#5768 Исправляет текст примера в доке `text-shadow`
  css/text-shadow/index.md
Labels: css, дока

#5760 Исправляет вычисление полученной части в примере использования fetch
  js/fetch/practice/windrushfarer.md
Labels: js, ошибка

#5737 Добавляет доку про атрибут `enterkeyhint`
  html/enterkeyhint/demos/basic/index.html
  html/enterkeyhint/images/enterkeyhint-done.png
  html/enterkeyhint/images/enterkeyhint-enter.png
  html/enterkeyhint/images/enterkeyhint-go.png
  html/enterkeyhint/images/enterkeyhint-next.png
  html/enterkeyhint/images/enterkeyhint-previous.png
  html/enterkeyhint/images/enterkeyhint-search.png
  html/enterkeyhint/images/enterkeyhint-send.png
  html/enterkeyhint/index.md
  html/global-attrs/index.md
  html/index.md
  people/dimentoree/index.md
Labels: html, дока

#5750 Добавляет доку про функцию env() в css
  css/env/index.md
Labels: css, дока

#5778 Исправляет текст в доке `margin`
  css/margin/index.md
Labels: css, дока

#5762 Добавляет рецепт про создание скелетона на CSS
  recipes/index.md
  recipes/skeleton/demos/card-and-skeleton/index.html
  recipes/skeleton/demos/card-skeleton/index.html
  recipes/skeleton/demos/card/index.html
  recipes/skeleton/demos/images/skeleton-x1.jpg
  recipes/skeleton/demos/images/skeleton-x2.jpg
  recipes/skeleton/index.md
Labels: статья, рецепт

#5775 Добавляет доку про `@view-transition`
  css/view-transition/demos/mpa-with-granular-animations/articles/view-transition-plus-css-animations.html
  css/view-transition/demos/mpa-with-granular-animations/articles/view-transition.html
  css/view-transition/demos/mpa-with-granular-animations/index.html
  css/view-transition/demos/mpa/articles/view-transition-plus-css-animations.html
  css/view-transition/demos/mpa/articles/view-transition.html
  css/view-transition/demos/mpa/index.html
  css/view-transition/index.md
  css/view-transition/practice/kotosha-real.md
Labels: css, дока
