Repository doka-guide/content, pull requests merged in 2025-08, with the labels that each got.

#5846 Добавляет доку про атрибут `crossorigin`
  html/crossorigin/index.md
  html/index.md
Labels: html, дока

#5847 Добавляет доку про свойство `print-color-adjust`
  css/print-color-adjust/demos/basic/index.html
  css/print-color-adjust/index.md
Labels: css, дока

#5851 Добавляет доку про `<track>`
  html/track/index.md
Labels: html, дока

#5813 Добавляет описание тега `param` в статью 'Устаревшие теги'
  html/deprecated-tags/index.md
Labels: улучшение, html, статья

#5856 Исправляет описание метода `URLSearchParams: forEach()`
  js/urlsearchparams/index.md
Labels: js, дока, ошибка

#5860 Добавляет новые доки в индексы разделов
  css/index.md
  html/index.md
Labels: кухня, css, html

#5845 Удаляет лишнюю информацию из доки про border-radius
  css/border-radius/index.md
Labels: css, дока, ошибка

#5861 Исправляет опечатки в статьях «Доступные формы» и «Управление процессами»
  a11y/accessible-forms/index.md
  tools/process-management/index.md
Labels: веб-платформа, статья, ошибка, a11y

#5844 Добавляет информацию об атрибуте `closedby` в доку `<dialog>`
  html/dialog/index.md
Labels: улучшение, html, дока

#5788 Добавляет доки про `CustomEvent` и `dispatchEvent`
  js/custom-event/demos/event-vs-custom-event/index.html
  js/custom-event/demos/user-login/index.html
  js/custom-event/demos/user-login/js/auth.js
  js/custom-event/demos/user-login/js/greeting.js
  js/custom-event/index.md
  js/dispatch-event/index.md
  js/event/index.md
  js/index.md
Labels: js, дока

#5882 Исправляет опечатку в статье про Оверлеи
  a11y/overlays/index.md
Labels: статья, ошибка, a11y
