Repository doka-guide/content, pull requests merged in 2025-02, with the labels that each got.

#5643 Добавляет ответ на вопрос Опишите методы, с помощью которых можно скрыть контент
  interviews/how-to-hide-content/answers/elenadogman/index.md
  people/elenadogman/index.md
  people/elenadogman/photo.jpg
Labels: a11y, собеседование

#5683 Корректирует примеры в доке 'Promise'
  js/promise/index.md
Labels: js, статья, ошибка

#5688 Убирает предупреждение о неработающем scrollbar-gutter в Safari
  css/scrollbar-gutter/index.md
Labels: css, дока

#5646 Добавляет пример полифила для `Promise.any()`
  interviews/polyfill-promise-any/answers/kirpinev/index.md
  interviews/polyfill-promise-any/index.md
  people/kirpinev/index.md
  people/kirpinev/photo.jpg
Labels: js, собеседование

#5647 Дополняет описание options в доке `.addEventListener()`
  js/element-addeventlistener/index.md
  js/element-addeventlistener/practice/vladislav149.md
  people/vladislav149/index.md
  people/vladislav149/photo.jpg
Labels: улучшение, js, дока

#5648 Корректирует описание `stopPropagation()` в доке `.addEventListener()`
  js/element-addeventlistener/index.md
  js/event/index.md
Labels: улучшение, js, дока

#5694 Добавляет значки за первый контрибьюшен
  people/akhmadullin/index.md
  people/dimameh/index.md
  people/egorlem/index.md
  people/harutoyume/index.md
  people/kirpinev/index.md
  people/vladislav149/index.md
Labels: кухня

#5697 Исправляет ссылку на документ 'Демки'
  docs/interviews.md
  docs/practice.md
Labels: кухня

#5689 Добавляет в документацию инструкцию о подключении Baseline
  docs/README.md
  docs/baseline.md
  docs/examples/doka.md
  docs/images/baseline.png
Labels: улучшение, кухня

#5696 Добавляет совет как скруглить края outline
  css/outline/demos/rounded/index.html
  css/outline/practice/vitya-ne.md
Labels: css

#5692 Исправляет ошибку в статье 'Поведенческие паттерны проектирования'
  tools/design-patterns-behaviorial/index.md
Labels: веб-платформа, статья, ошибка

#5673 Убирает пустые строки в списках из CHANGELOG.md
  .github/scripts/update-changelog.js
Labels: улучшение, кухня
