Repository doka-guide/content, pull requests merged in 2025-07, with the labels that each got.

#5769 Добавляет информацию про `text-decoration-thickness` в доку `text-decoration`
  css/text-decoration/index.md
  css/text-decoration/practice/g455-js.md
  css/text-decoration/practice/solarrust.md
  people/g455-js/index.md
  people/g455-js/photo.jpeg
Labels: css, дока

#5782 Исправляет 2 опечатки
  tools/algorithm-complexity/index.md
Labels: веб-платформа, статья

#5810 Cтановлюсь контрибьютером доки :^
  people/drakesbot12/index.md
  people/drakesbot12/photo.webp
Labels: кухня

#5820 Исправляет опечатку в доке 'preventDefault()'
  js/event-prevent-default/practice/g-milevski.md
Labels: js, ошибка

#5815 Добавляет ссылки и обновляет стату во введении в WAI-ARIA
  a11y/aria-intro/index.md
Labels: улучшение, статья, a11y

#5814 Добавляет ссылки в статью про a11y
  a11y/chto-takoe-a11y/index.md
Labels: улучшение, статья, a11y

#5792 Добавляет статью про атрибут `d`
  html/d/demos/arc-large-arc-flag-0-sweep-flag-0/index.html
  html/d/demos/arc-large-arc-flag-0-sweep-flag-1/index.html
  html/d/demos/arc-large-arc-flag-1-sweep-flag-0/index.html
  html/d/demos/arc-large-arc-flag-1-sweep-flag-1/index.html
  html/d/demos/cubic-bezier-curve/index.html
  html/d/demos/example/index.html
  html/d/demos/full-circle/index.html
  html/d/demos/lhv/index.html
  html/d/demos/m/index.html
  html/d/demos/quadratic-bezier-curve/index.html
  html/d/demos/z/index.html
  html/d/index.md
  people/asmalcev/index.md
  people/asmalcev/photo.jpg
Labels: html, дока

#5786 Добавляет доку про атрибут `autofocus`
  html/autofocus/demos/index.html
  html/autofocus/index.md
Labels: html, дока

#5794 Добавляет доку `writing-mode`
  css/writing-mode/demos/basic/index.html
  css/writing-mode/demos/practis/index.html
  css/writing-mode/index.md
Labels: css, дока

#5796 Добавляет доку для html-тэга `ruby`
  html/index.md
  html/ruby/demos/basic/index.html
  html/ruby/index.md
Labels: html, дока

#5797 Дополняет доку про атрибут `step`
  html/step/demos/basic/index.html
  html/step/index.md
Labels: html, дока

#5803 Дополняет доку про шорткат `font`
  css/font/demos/basic/index.html
  css/font/index.md
Labels: css, дока, placeholder

#5802 Добавляет доку про свойство `background-origin`
  css/background-origin/demos/basic/index.html
  css/background-origin/demos/practis/index.html
  css/background-origin/images/gradient.avif
  css/background-origin/images/person.avif
  css/background-origin/index.md
Labels: css, дока

#5808 Добaвляет доку про `text-box-trim`
  css/text-box-trim/demos/basic/index.html
  css/text-box-trim/index.md
Labels: css, дока

#5826 Добавляет новые доки в разделы СSS и HTML
  css/index.md
  html/index.md
Labels: кухня, css, html

#5816 Актуализирует статью про CSS и a11y
  a11y/css-impact-on-a11y/demos/display-contents/index.html
  a11y/css-impact-on-a11y/index.md
Labels: улучшение, статья, a11y

#5755 Добавляет доку про `aria-pressed` и демку
  a11y/aria-pressed/demos/index.html
  a11y/aria-pressed/index.md
  a11y/aria-pressed/practice/teplostanski.md
  people/teplostanski/avatar.png
  people/teplostanski/index.md
Labels: дока, a11y

#5774 Добавляет статью про IPv6 для веб разработчиков
  tools/index.md
  tools/ipv6-for-webdevs/index.11tydata.json
  tools/ipv6-for-webdevs/index.md
Labels: веб-платформа, статья

#5834 Добавляет нового контрибьютера
  people/disi/index.md
Labels: кухня

#5811 Корректирует статью 'Области видимости'
  js/closures/index.md
Labels: улучшение, js, статья

#5832 Убирает значение по умолчанию для `aria-atomic`
  a11y/aria-atomic/index.md
Labels: дока, ошибка, a11y

#5833 Добавляет ченджлог за июль 2025
  CHANGELOG.md
Labels: кухня

#5831 Добавляет ссылки в статью про доступность и HTML
  a11y/a11y-html/index.md
Labels: улучшение, статья, a11y
