Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о debounce (#3340)
  js/debounce/index.md
  js/debounce/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/debounce/index.11tydata.json
Owners: @nlopin, @bespoyasov

Apply suggestions from code review
  js/deal-with-forms/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о работе с формами (#3339)
  js/deal-with-forms/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/deal-with-forms/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `confirm` (#3326)
  js/confirm/index.md
  js/confirm/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/confirm/index.11tydata.json
Owners: @nlopin, @bespoyasov

Редизайнит демо (#3314)
  css/child/demos/child/index.html
  css/child/images/marker.png
  css/child/index.md
  css/nth-of-type/demos/every/index.html
  css/nth-of-type/demos/only/index.html
  css/nth-of-type/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/child/index.11tydata.json
  css/nth-of-type/index.11tydata.json
Owners: @solarrust, @pepelsbey

Добавляет правки в доку #2312
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
Owners: @solarrust, @pepelsbey

Улучшает примеры в статье про `Контекст наложения` (#3266)
  css/stacking-context/demos/default/index.html
  css/stacking-context/demos/parent/index.html
  css/stacking-context/demos/under-bkg/index.html
  css/stacking-context/demos/z-index/index.html
  css/stacking-context/index.md
  people/nsbarsukov/index.md
  people/nsbarsukov/photo.jpg
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/stacking-context/index.11tydata.json
Owners: @solarrust, @pepelsbey

Переводит меня в бывшие
  pages/about/index.md
Owners: none

Переводит меня в бывшие (#3347)
  pages/about/index.md
Owners: none

Исправляет ссылки на странице «О проекте»
  pages/about/index.md
Owners: none

Apply suggestions from code review
  a11y/chto-takoe-a11y/index.md
Owners: none

Вносит ещё пару правок
  a11y/chto-takoe-a11y/index.md
Owners: none

Добавляет Патлуха в раздел люди
  people/pa7lux/index.md
  people/pa7lux/photo.png
Owners: none

добавляет связанные статьи в доку о Element
  js/element/index.md
  js/element/practice/nlopin.md
Owners: @nlopin, @bespoyasov

оборачивает тег в фигурные скобки
  js/dom/index.md
Owners: @nlopin, @bespoyasov

Вносит правки
  a11y/chto-takoe-a11y/index.md
Owners: none

добавляет связанные статьи в доку о addEventListener
  js/element-addeventlistener/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о blur
  js/element-blur/index.md
  js/element-blur/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Добавляет ссылку
  a11y/chto-takoe-a11y/index.md
Owners: none

добавляет связанные статьи в доку о classlist
  js/element-classlist/index.md
  js/element-classlist/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии click
  js/element-click/index.md
  js/element-click/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Добавляет совет про использование :has()
  css/has/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о DOM (#3346)
  js/dom/index.md
  js/dom/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/dom/index.11tydata.json
Owners: @nlopin, @bespoyasov

опечатка
  css/has/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

formatting for linters
  people/pa7lux/index.md
Owners: none

Добавляет дескрипшен и связанные статьи для доки про `:disabled`, `:enabled`
  css/disabled-enabled/index.md
Owners: @solarrust, @pepelsbey

Добавляет связанные статьи для `display`
  css/display/index.md
Owners: @solarrust, @pepelsbey

Добавляет дескрипшен и связанные статьи для `:empty`
  css/empty/index.md
Owners: @solarrust, @pepelsbey

Удаляет ключевые слова
  css/disabled-enabled/index.md
Owners: @solarrust, @pepelsbey

Правит опечатки
  css/display/index.md
Owners: @solarrust, @pepelsbey

Apply suggestions from code review
  css/has/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

исправления по ревью
  css/has/practice/pa7lux.md
  people/pa7lux/index.md
Owners: @solarrust, @pepelsbey

linter
  people/pa7lux/index.md
Owners: none

Удаляет лишние строки
  css/has/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
