Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

Фиксит ссылку на связанную статью
  js/element-textcontent/index.md
Owners: @nlopin, @bespoyasov

Добавляет доку про `repeating-linear-gradient()` (#3378)
  css/linear-gradient/index.md
  css/repeating-linear-gradient/demos/basic/index.html
  css/repeating-linear-gradient/demos/blurred_gradient/index.html
  css/repeating-linear-gradient/demos/zebra_linear-gradient/index.html
  css/repeating-linear-gradient/demos/zebra_repeating-linear-gradient/index.html
  css/repeating-linear-gradient/index.md
Owners: @solarrust, @pepelsbey

Добавляет альтернативное объяснение в доку про `line-height` (#3376)
  css/line-height/images/line_height_demo.png
  css/line-height/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/line-height/index.11tydata.json
Owners: @solarrust, @pepelsbey

Добавляет статьи за июль 2022 в ченджлог (#3375)
  CHANGELOG.md
Owners: none

Вносит правки в доку
  html/size/demos/basic_input/index.html
  html/size/demos/basic_select/index.html
  html/size/demos/input_size_without_monospace/index.html
  html/size/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о querySelectorAll (#3453)
  js/query-selector-all/index.md
  js/query-selector-all/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о querySelector (#3452)
  js/query-selector/index.md
  js/query-selector/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о prompt (#3451)
  js/prompt/index.md
Owners: @nlopin, @bespoyasov

Принимает правку @bespoyasov
  js/promise-then/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.race (#3449)
  js/promise-race/index.md
Owners: @nlopin, @bespoyasov

правит орфографию
  js/promise-finally/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.catch (#3447)
  js/promise-catch/index.md
  js/promise-catch/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.any (#3446)
  js/promise-any/index.md
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/promise-allsettled/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.all (#3444)
  js/promise-all/index.md
  js/promise-all/practice/yurlovr.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о performance (#3441)
  js/performance/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о парадигмах программирования (#3442)
  js/programming-paradigms/index.md
  js/programming-paradigms/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Принимает правку @bespoyasov
  js/promise/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.then (#3450)
  js/promise-then/index.md
  js/promise-then/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.allSettled (#3445)
  js/promise-allsettled/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о промисах (#3443)
  js/promise/index.md
  js/promise/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/promise/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о Реакте и альтренативах
  js/react-and-alternatives/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о реактивности
  js/reactivity/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о рекурсии
  js/recursion/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о ссылочных типах
  js/ref-type-vs-value-type/index.md
  js/ref-type-vs-value-type/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о return
  js/return/index.md
  js/return/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о session storage
  js/session-storage/index.md
  js/session-storage/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

е → ё
  js/return/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Set
  js/set/index.md
  js/set/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе add для set
  js/set-add/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе clear для set
  js/set-clear/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о конструкторе для set
  js/set-constructor/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе delete для set
  js/set-delete/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе entries для set
  js/set-entries/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе foreach для set
  js/set-foreach/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе has для set
  js/set-has/index.md
  js/set-has/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе keys для set
  js/set-keys/index.md
  js/set-keys/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве size для set
  js/set-size/index.md
Owners: @nlopin, @bespoyasov
