Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @igsekor, @TatianaFokina

Правит краткое описание псевдоэлемента `::marker`
  css/marker/index.md
Owners: @solarrust

Правит небольшую ошибку в тексте
  css/marker/index.md
Owners: @solarrust

Редачит текст
  css/marker/index.md
Owners: @solarrust

Правит текст
  css/marker/index.md
Owners: @solarrust

Немного правит md-файл в папке `practice`
  css/marker/practice/blueingreen68.md
Owners: @solarrust

Дополняет и правит доку
  html/area/demos/basic/index.html
  html/area/demos/catalog/index.html
  html/area/images/doka-nav.png
  html/area/images/doka_demo_basic.png
  html/area/images/doka_demo_catalog.png
  html/area/index.md
Owners: @solarrust

Правит
  html/area/index.md
Owners: @solarrust

Первая правка
  a11y/aria-attrs/index.md
Owners: @TatianaFokina

Добавляет больше связанных статей
  a11y/aria-attrs/index.md
Owners: @TatianaFokina

Добавляет недостающий пробел в код примера (#3600)
  js/events/index.md
Owners: @nlopin

Правит поля updatedAt и createdAt
  js/events/index.11tydata.json
Owners: @nlopin

Предлагает исправление в доку про yaml (#3601)
  tools/yaml/index.md
Owners: @nlopin, @igsekor

Правит и дополняет текст, добавляет демку
  .yaspeller.json
  css/marker/demos/marker-before-example/index.html
  css/marker/index.md
  css/marker/practice/blueingreen68.md
Owners: @solarrust

Возвращает «ленивый» список
  css/marker/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  tools/yaml/index.11tydata.json
Owners: @nlopin, @igsekor

Исправляет небольшую ошибку
  css/marker/index.md
Owners: @solarrust

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin
tools @nlopin @igsekor
recipes @nlopin @solarrust
a11y @TatianaFokina
.github @igsekor
