Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @igsekor

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin
tools @nlopin @igsekor
recipes @nlopin @solarrust
.github @igsekor

Меняет лейбелер на аутентичный
  .github/labeler.json
  .github/labeler.yml
  .github/workflows/pr-labels.yml
Owners: @igsekor

добавляет доку в оглавление
  js/index.md
Owners: @nlopin

редактирует
  js/event-prevent-default/index.md
Owners: @nlopin

добавляет нового автора в папку people
  people/G-Milevski/index.md
Owners: none

приносит в демо стили из гайда
  js/event-prevent-default/demos/input-focus-delay/index.html
  js/event-prevent-default/index.md
Owners: @nlopin

фиксит race-condition
  js/event-prevent-default/demos/input-focus-delay/index.html
Owners: @nlopin

добавил имя и ссылку на сайт
  people/G-Milevski/index.md
Owners: none

удалил мой прошлый контрибьюшен, чтобы создать новый pr
  css/transform-function/.DS_Store
  css/transform-function/practice/pa7lux.md
Owners: @solarrust

Добавляет совет про получение данных о CSS-трансформации из JS
  css/transform-function/practice/pa7lux.md
Owners: @solarrust

добавил практику к доке о preventDefault
  js/event-prevent-default/practice/g-milevski.md
Owners: @nlopin

removed DS_Store
  css/transform-function/.DS_Store
Owners: @solarrust

полирует совет
  js/event-prevent-default/practice/g-milevski.md
Owners: @nlopin

меняет имя файла, чтобы всё работало
  js/event-prevent-default/practice/G-Milevski.md
Owners: @nlopin

добавляет точку
  js/event-prevent-default/practice/G-Milevski.md
Owners: @nlopin

перефразирует комментарий в коде
  js/event-prevent-default/practice/G-Milevski.md
Owners: @nlopin

небольшой тюнинг
  tools/json/demos/step-by-step/index.html
Owners: @nlopin, @igsekor

добавляет доку в оглавление
  js/index.md
Owners: @nlopin

добавляет связанную статью и чуть редачит
  js/event-submit/index.md
Owners: @nlopin

добавляет стили демке
  js/event-submit/demos/button-outside-form/index.html
  js/event-submit/demos/submitting-form/index.html
Owners: @nlopin

добавляет ссылку на addEventListener
  js/event-submit/index.md
Owners: @nlopin

Дока о preventDefault методе (#3555)
  js/event-prevent-default/demos/input-focus-delay/index.html
  js/event-prevent-default/index.md
  js/event-prevent-default/practice/G-Milevski.md
  js/index.md
  people/G-Milevski/index.md
Owners: @nlopin

правит битую ссылку в статье BOM
  js/bom/index.md
Owners: @nlopin

Правит поля updatedAt и createdAt
  js/bom/index.11tydata.json
Owners: @nlopin

добавляет доку preventDefault
  CHANGELOG.md
Owners: none

добавляет связанные статьи в queueMicrotask
  js/queuemicrotask/index.md
Owners: @nlopin

Правит поля updatedAt и createdAt
  js/queuemicrotask/index.11tydata.json
Owners: @nlopin

Добавляет и правит определения, комментарий
  a11y/aria-intro/index.md
Owners: none

Принимает правку
  a11y/aria-intro/index.md
Owners: none

Удаляет лишний пробел
  a11y/aria-intro/index.md
Owners: none

"Изменяет демки и исправляет ошибки в тексте"
  css/css-counters/demos/css-counters-counter-example/index.html
  css/css-counters/demos/css-counters-display-content-example/index.html
  css/css-counters/demos/css-counters-example/index.html
  css/css-counters/demos/css-counters-implicit-counter-counters-example/index.html
  css/css-counters/demos/css-counters-implicit-counter-example/index.html
  css/css-counters/demos/css-counters-increment-example/index.html
  css/css-counters/demos/css-counters-inheritance-example/index.html
  css/css-counters/demos/css-counters-lower-roman-example/index.html
  css/css-counters/demos/css-counters-nested-counters-example/index.html
  css/css-counters/demos/css-counters-reset-example/index.html
  css/css-counters/demos/css-counters-set-example/index.html
  css/css-counters/demos/css-counters-value-start-reversed-example/index.html
  css/css-counters/images/1.png
  css/css-counters/images/10.png
  css/css-counters/images/11.png
  css/css-counters/images/2.png
  css/css-counters/images/3.png
  css/css-counters/images/4.png
  css/css-counters/images/5.png
  css/css-counters/images/6.png
  css/css-counters/images/7.png
  css/css-counters/images/9.png
  css/css-counters/index.md
  css/css-counters/practice/blueingreen68.md
Owners: @solarrust

Изменяет демки
  css/counter-counters/demos/counter-func-example/index.html
  css/counter-counters/demos/counter-func-upper-roman-example/index.html
  css/counter-counters/demos/counters-func-example/index.html
  css/counter-counters/demos/counters-func-upper-roman-example/index.html
  css/counter-counters/index.md
Owners: @solarrust

"Изменяет демку, исправляет ошибки в тексте"
  css/counter-set/demos/counter-set-example/index.html
  css/counter-set/index.md
Owners: @solarrust

"Исправляет ошибки"
  css/counter-reset/index.md
Owners: @solarrust

"Исправляет ошибки в тексте"
  css/counter-increment/index.md
Owners: @solarrust

"Исправляет демку"
  css/counter-set/demos/counter-set-example/index.html
Owners: @solarrust

"Исправляет небольшую ошибку"
  css/counter-increment/index.md
Owners: @solarrust

Исправляет небольшую ошибку
  css/counter-set/index.md
Owners: @solarrust

Исправляет небольшую ошибку
  css/counter-reset/index.md
Owners: @solarrust

Рефакторит доку про `counter-increment` (#3572)
  css/counter-increment/index.md
Owners: @solarrust

Добавляет концевую строку
  css/counter-set/demos/counter-set-example/index.html
Owners: @solarrust
