Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @igsekor

Fix name of the function
  js/array-reduce/practice/windrushfarer.md
Owners: @nlopin

Добавляет новые стать и в индексы разделов (#3573)
  css/index.md
  html/index.md
Owners: @solarrust

Исправляет опечатку в array.reduce (#3575)
  js/array-reduce/practice/windrushfarer.md
Owners: @nlopin

Правит поля updatedAt и createdAt
  js/array-reduce/index.11tydata.json
Owners: @nlopin

Добавляет статью «Введение в ARIA» (#3477)
  .yaspeller.json
  a11y/aria-intro/demos/alert-message/index.html
  a11y/aria-intro/demos/fake-button/index.html
  a11y/aria-intro/images/0.png
  a11y/aria-intro/index.md
Owners: none

Добавляет текст статьи
  a11y/aria-roles/index.md
Owners: none

Добавляет концевую строку
  css/css-counters/demos/value-start-reversed-example/index.html
Owners: @solarrust

Добавляет статью про CSS-счётчики (#3440)
  .yaspeller.json
  css/css-counters/demos/base-example/index.html
  css/css-counters/demos/counter-example/index.html
  css/css-counters/demos/display-content-example/index.html
  css/css-counters/demos/implicit-counter-counters-example/index.html
  css/css-counters/demos/implicit-counter-example/index.html
  css/css-counters/demos/increment-example/index.html
  css/css-counters/demos/inheritance-example/index.html
  css/css-counters/demos/lower-roman-example/index.html
  css/css-counters/demos/nested-counters-example/index.html
  css/css-counters/demos/reset-example/index.html
  css/css-counters/demos/set-example/index.html
  css/css-counters/demos/value-start-reversed-example/index.html
  css/css-counters/images/1.png
  css/css-counters/images/10.png
  css/css-counters/images/11.png
  css/css-counters/images/12.png
  css/css-counters/images/2.png
  css/css-counters/images/3.png
  css/css-counters/images/4.png
  css/css-counters/images/5.png
  css/css-counters/images/6.png
  css/css-counters/images/7.png
  css/css-counters/images/9.png
  css/css-counters/index.md
  css/css-counters/practice/blueingreen68.md
Owners: @solarrust

Добавляет доку про функции `counter()` и `counters()` (#3439)
  css/counter-counters/demos/counter-func-example/index.html
  css/counter-counters/demos/counter-func-upper-roman-example/index.html
  css/counter-counters/demos/counters-func-example/index.html
  css/counter-counters/demos/counters-func-upper-roman-example/index.html
  css/counter-counters/index.md
Owners: @solarrust

Сортирует словарь исключений
  .yaspeller.json
Owners: none

Добавляет текст статьи
  a11y/aria-roles/index.md
Owners: none

Редактирует блок history в статье js/bom
  js/bom/index.md
Owners: @nlopin

Добавляет связанную статью
  a11y/aria-roles/index.md
Owners: none

Исправляет описания пары ролей
  a11y/aria-roles/index.md
Owners: none

Исправляет опечатку в коде примера
  js/element/practice/nlopin.md
Owners: @nlopin

Подправляет разметку формы вопросов
  pages/letuchka/index.md
Owners: none

Исправляет ошибку
  a11y/aria-roles/index.md
Owners: none

Дополняет доку практикой
  js/event-submit/demos/event-click/index.html
  js/event-submit/practice/inventoris.md
Owners: @nlopin

Объединяет две роли для простоты
  a11y/aria-roles/index.md
Owners: none

Добавляет лендинг для Летучек (#3557)
  .yaspeller.json
  pages/letuchka/index.md
Owners: none

Корректирует про вертикальное письмо
  html/flow/index.md
Owners: @solarrust

Добавляет потерявшиеся роли :,(
  a11y/aria-roles/index.md
Owners: none

Исправляет опечатку в коде примера (#3581)
  js/element/practice/nlopin.md
Owners: @nlopin

Добавила основную информацию по Date
  js/date/index.md
Owners: @nlopin

Добавляет инструкцию для неработающей Доки
  README.md
  docs/README.md
  docs/load-fix.md
Owners: none

Исправляет опечатки в Летучке
  pages/letuchka/index.md
Owners: none

Корректирует текст про вертикальное письмо
  html/flow/index.md
Owners: @solarrust

Исправляет опечатки в Летучке (#3584)
  pages/letuchka/index.md
Owners: none

Обновляет featured-статьи
  settings/featured.md
Owners: none

добавляем пример с отрицательными значениями
  js/date/index.md
Owners: @nlopin

Добавляет инструкцию для неработающей Доки (#3583)
  README.md
  docs/README.md
  docs/load-fix.md
Owners: none

правит текст и ссылку до демо
  js/event-submit/practice/inventoris.md
Owners: @nlopin

добавляет доку о submit в ченджлог
  CHANGELOG.md
Owners: none

правит опечатку в инструкции по доступности сайта
  docs/load-fix.md
Owners: none

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin
tools @nlopin @igsekor
recipes @nlopin @solarrust
.github @igsekor
