Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @TatianaFokina, @hellsquirrel, @igsekor

Меняет порядок разделов
  html/noindex/index.md
Owners: @solarrust, @TatianaFokina

Уточняет описание `feed`
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Исправляет ошибку в статье Дескрипторы (#4212)
  js/descriptors/practice/antongorelov.md
Owners: @hellsquirrel

Update index.md
  js/var-let/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/descriptors/index.11tydata.json
Owners: @hellsquirrel

Исправляет ответ на вопрос
  interviews/typecasting-task/answers/fpetrakov/index.md
Owners: none

Дружит с линтером
  interviews/typecasting-task/answers/fpetrakov/index.md
Owners: none

Добавляет ответ на вопрос к собеседованию (#4238)
  interviews/typecasting-task/answers/fpetrakov/index.md
Owners: none

Добавляет роль, меняет описание
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Добавляет fpetrakov в people
  people/fpetrakov/index.md
Owners: none

Добавляет fpetrakov в people (#4393)
  people/fpetrakov/index.md
Owners: none

Заменяет имя переменной на правильное в контексте примера
  js/var-let/index.md
Owners: @hellsquirrel

Update index.md
  tools/web-app-types/index.md
Owners: @igsekor, @hellsquirrel

Ещё больше уточняет
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Удаляет ключевые слова
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Обвновляет словарь исключений
  .yaspeller.json
Owners: none

Обновляет featured-статьи
  settings/featured.md
Owners: none

Уточняет про `grid` и `gridcell`
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Уточняет про `cell`, удаляет лишнюю ссылку
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Удаляет повторы
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Дописать про justify-content в Гайд по гридам
  css/grid-guide/images/28.png
  css/grid-guide/images/29.png
  css/grid-guide/images/30.png
  css/grid-guide/images/31.png
  css/grid-guide/images/32.png
  css/grid-guide/images/33.png
  css/grid-guide/images/34.png
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

fix: скорректирован размер примера со знач. start
  css/grid-guide/images/28.png
Owners: @solarrust, @TatianaFokina

Update index.md (#4395)
  tools/web-app-types/index.md
Owners: @igsekor, @hellsquirrel

Заменяет имя переменной на правильное в контексте примера (#4394)
  js/var-let/index.md
Owners: @hellsquirrel

Update index.md (#4392)
  js/var-let/index.md
Owners: @hellsquirrel

Обновляет доку про `input` (#4315)
  js/event-input/demos/index.html
  js/event-input/demos/input-change-difference/index.html
  js/event-input/demos/input-in-form/index.html
  js/event-input/index.11tydata.json
  js/event-input/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/event-input/index.11tydata.json
Owners: @hellsquirrel

Дополняет статью новыми подробностями
  tools/static-types/index.md
Owners: @igsekor, @hellsquirrel

Правит орфографию
  tools/static-types/index.md
Owners: @igsekor, @hellsquirrel

Уточняет текст и примеры кода (#4336)
  tools/static-types/index.md
Owners: @igsekor, @hellsquirrel

Правит поля updatedAt и createdAt
  tools/static-types/index.11tydata.json
Owners: @igsekor, @hellsquirrel

add: Популярные CMS
  tools/cms/index.md
Owners: @igsekor, @hellsquirrel

Уточняет статью про промисы
  js/promise/index.11tydata.json
  js/promise/index.md
Owners: @hellsquirrel

Исправляет офрографию
  js/promise/index.md
Owners: @hellsquirrel

Исправляет орфографию еще раз
  js/promise/index.md
Owners: @hellsquirrel

Исправлена опечатка в статье "Promise" (#4312)
  js/promise/index.11tydata.json
  js/promise/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/promise/index.11tydata.json
Owners: @hellsquirrel

upd: допилил текст с помощью главреда.
  tools/cms/index.md
Owners: @igsekor, @hellsquirrel

add: чек-лист перед мр.
  tools/cms/index.md
Owners: @igsekor, @hellsquirrel

fix: пофиксил кавычки и часть текста.
  tools/cms/index.md
Owners: @igsekor, @hellsquirrel

CODEOWNERS:

css @solarrust @TatianaFokina
html @solarrust @TatianaFokina
js @hellsquirrel
tools @igsekor @hellsquirrel
recipes @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
.github @igsekor
