Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

linters
  css/transform-function/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

опечатка
  css/transform-function/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

Обновляет featured-статьи
  settings/featured.md
Owners: none

Исправляет мелкие недочеты в статье css/overflow (#3343)
  css/overflow/demos/ellipsis/index.html
  css/overflow/index.md
  css/overflow/practice/realetive.md
Owners: @solarrust, @pepelsbey

Исправляет путь на сервере
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Добавляет статью про доступность (#3337)
  .yaspeller.json
  a11y/chto-takoe-a11y/images/0.png
  a11y/chto-takoe-a11y/images/1.png
  a11y/chto-takoe-a11y/images/2.png
  a11y/chto-takoe-a11y/images/3.png
  a11y/chto-takoe-a11y/index.md
Owners: none

Чуть редачит
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
Owners: @solarrust, @pepelsbey

Добавляет красотищи в дэмках
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
Owners: @solarrust, @pepelsbey

Ублажает линтер
  people/inventoris/index.md
Owners: none

Добавляет доку про `repeating-radial-gradient` (#3318)
  css/radial-gradient/index.md
  css/repeating-conic-gradient/index.md
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
  people/inventoris/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/radial-gradient/index.11tydata.json
  css/repeating-radial-gradient/index.11tydata.json
Owners: @solarrust, @pepelsbey

queueMicrotask → queuemicrotask, добавляет забытые статьи в индексы
  css/index.md
  html/index.md
  js/clearinterval/index.md
  js/cleartimeout/index.md
  js/queuemicrotask/demos/queueMicrotask-vs-setTimeout/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/not-obvious/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/obvious/index.html
  js/queuemicrotask/images/event-loop-schema.png
  js/queuemicrotask/index.11tydata.json
  js/queuemicrotask/index.md
  js/queuemicrotask/practice/corocoto.md
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Добавляет совет про получение значений функций трансформации из JS
  css/transform-function/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/transform-function/index.11tydata.json
Owners: @solarrust, @pepelsbey

Добавляет статьи за июль 2022 в ченджлог
  CHANGELOG.md
Owners: none

Удаляет лишнюю строку
  CHANGELOG.md
Owners: none

queueMicrotask → queuemicrotask, добавляет забытые статьи в индексы (#3374)
  css/index.md
  html/index.md
  js/clearinterval/index.md
  js/cleartimeout/index.md
  js/queuemicrotask/demos/queueMicrotask-vs-setTimeout/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/not-obvious/index.html
  js/queuemicrotask/demos/when-to-use/ordering-with-conditional-operator/obvious/index.html
  js/queuemicrotask/images/event-loop-schema.png
  js/queuemicrotask/index.11tydata.json
  js/queuemicrotask/index.md
  js/queuemicrotask/practice/corocoto.md
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/clearinterval/index.11tydata.json
  js/cleartimeout/index.11tydata.json
  js/queuemicrotask/index.11tydata.json
Owners: @nlopin, @bespoyasov

Добавляет альтернативное объяснение line-height
  css/line-height/images/line_height_demo.png
  css/line-height/index.md
Owners: @solarrust, @pepelsbey

Исправил опечатку
  js/errors/index.md
Owners: @nlopin, @bespoyasov

Добавляет доку
  css/linear-gradient/index.md
  css/repeating-linear-gradient/demos/basic/index.html
  css/repeating-linear-gradient/demos/blurred_gradient/index.html
  css/repeating-linear-gradient/demos/zebra_linear-gradient/index.html
  css/repeating-linear-gradient/demos/zebra_repeating-linear-gradient/index.html
  css/repeating-linear-gradient/index.md
Owners: @solarrust, @pepelsbey

Убирает непонятные пробелы
  css/repeating-linear-gradient/index.md
Owners: @solarrust, @pepelsbey

Восстанавливает блок "Как это понять", попытка 1
  css/justify-content/index.md
Owners: @solarrust, @pepelsbey

Добавляет доку
  html/size/demos/basic_input/index.html
  html/size/demos/basic_select/index.html
  html/size/demos/input_size_without_monospace/index.html
  html/size/index.md
Owners: @solarrust, @pepelsbey

Находит потерянный пробел
  html/size/index.md
Owners: @solarrust, @pepelsbey

исправляет описание на нейтральное
  js/element-addeventlistener/index.md
Owners: @nlopin, @bespoyasov

Исправил опечатку (#3377)
  js/errors/index.md
Owners: @nlopin, @bespoyasov

добавляет описание
  js/element-innertext/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о addEventListener (#3349)
  js/element-addeventlistener/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве innertext (#3366)
  js/element-innertext/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-innertext/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о removeEventListener
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scrollIntoView
  js/element-scroll-scrollintoview/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scrollBy
  js/element-scroll-scrollto/index.md
  js/element-scroll-scrollto/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scroll и wheel
  js/element-scroll-wheel/index.md
  js/element-scroll-wheel/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве style
  js/element-style/index.md
  js/element-style/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

е → ё
  js/element-scroll-wheel/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве textcontent
  js/element-textcontent/index.md
Owners: @nlopin, @bespoyasov

е → ё
  js/element-style/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии touch
  js/element-touch/index.md
  js/element-touch/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
