Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

И тут тоже...
  css/text-decoration-line/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в статью о веб-серверах (#3541)
  tools/web-server/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о Webpack (#3542)
  tools/webpack/index.md
  tools/webpack/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью об YAML (#3544)
  tools/yaml/index.md
  tools/yaml/practice/kognitivnayabuena.md
Owners: @nlopin, @bespoyasov, @igsekor

Правит поля updatedAt и createdAt
  tools/yaml/index.11tydata.json
Owners: @nlopin, @bespoyasov, @igsekor

удаляет служебный файл
  result.json
Owners: none

добавляет связанные статьи в статью об XML (#3543)
  .yaspeller.json
  result.json
  tools/xml/index.md
Owners: @nlopin, @bespoyasov, @igsekor

Правит поля updatedAt и createdAt
  tools/xml/index.11tydata.json
Owners: @nlopin, @bespoyasov, @igsekor

Дополняет доку
  css/text-decoration-style/demos/basic/index.html
  css/text-decoration-style/demos/dotted-link/index.html
  css/text-decoration-style/demos/incorrect-word/index.html
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Добавляет пустые строки в конце
  css/text-decoration-style/demos/basic/index.html
  css/text-decoration-style/demos/dotted-link/index.html
  css/text-decoration-style/demos/incorrect-word/index.html
Owners: @solarrust, @pepelsbey

Дополняет доку
  css/text-decoration-color/demos/basic/index.html
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Немножко правит
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Вносит небольшие изменения по стилю и орфографии
  css/text-decoration-line/demos/basic/index.html
  css/text-decoration-line/demos/link-without-underline/index.html
  css/text-decoration-line/index.md
Owners: @solarrust, @pepelsbey

Вносит правки в поисках стилистического дзена
  css/text-decoration-style/demos/basic/index.html
  css/text-decoration-style/demos/dotted-link/index.html
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Меняет стиль демки
  css/text-decoration-color/demos/basic/index.html
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Добавляет доку
  html/multiple/demos/basic/index.html
  html/multiple/demos/multiple-input-email/index.html
  html/multiple/demos/multiple-input-files/index.html
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

Правит
  html/multiple/demos/multiple-input-email/index.html
  html/multiple/demos/multiple-input-files/index.html
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

Добавляет фото ra1nbow1
  people/ra1nbow1/index.md
  people/ra1nbow1/photo.png
Owners: none

review/string length (#3479)
  js/string-length/index.md
  js/string-length/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о спред-синтаксисе (#3478)
  js/string/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о gulp (#3520)
  tools/gulp/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о JSON (#3523)
  tools/json/index.md
  tools/json/practice/stegur.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о markdown (#3524)
  tools/markdown/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о node.js (#3530)
  tools/nodejs/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о Typescript (#3538)
  tools/static-types/index.md
  tools/static-types/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о статических анализаторах (#3537)
  tools/static-analysis/index.md
  tools/static-analysis/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о менеджерах пакетов (#3532)
  tools/package-managers/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о тулинге на node.js (#3531)
  tools/nodejs-tooling/index.md
  tools/nodejs-tooling/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov, @igsekor

Правит поля updatedAt и createdAt
  tools/nodejs-tooling/index.11tydata.json
Owners: @nlopin, @bespoyasov, @igsekor

Поджимает картинку
  people/ra1nbow1/photo.png
Owners: none

Немного редачит
  html/multiple/demos/multiple-input-email/index.html
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в статью о throttle (#3488)
  js/throttle/index.md
  js/throttle/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Ублажает спеллер
  .yaspeller.json
Owners: none

Добавляет фото ra1nbow1 (#3549)
  people/ra1nbow1/index.md
  people/ra1nbow1/photo.png
Owners: none

Немного редачит
  css/text-decoration-color/demos/basic/index.html
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Немного редачит
  css/text-decoration-style/demos/dotted-link/index.html
  css/text-decoration-style/demos/incorrect-word/index.html
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Немного редачит
  css/text-decoration-line/index.md
Owners: @solarrust, @pepelsbey

Дополняет доку про `text-decoration-line` (#3545)
  css/text-decoration-line/demos/basic/index.html
  css/text-decoration-line/demos/link-without-underline/index.html
  css/text-decoration-line/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/text-decoration-line/index.11tydata.json
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в статью о гите (#3540)
  tools/version-control/index.md
Owners: @nlopin, @bespoyasov, @igsekor
