Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

Редактирует статью про attr() (#1217)
  css/attr/index.md
  css/attr/practice/ezhkov.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  css/attr/index.11tydata.json
Owners: @solarrust

Правит отступы
  css/vendor-prefixes/index.md
Owners: @solarrust

Правит опечатку
  css/vendor-prefixes/index.md
Owners: @solarrust

Добавляет первые наработки для статьи про специфичность
  css/specificity/index.md
Owners: @solarrust

Удаляет лишние ссылки
  css/specificity/index.md
Owners: @solarrust

Первая попытка кратко описать CSS
  css/index.md
Owners: @solarrust

Первая попытка кратко описать HTML
  html/index.md
Owners: @solarrust

Исправляет работу экшена и дополняет триггер
  .github/workflows/link-all.yml
Owners: none

Редизайн демо в статье h1-h6
  html/h1-h6/demos/cakes.html
  html/h1-h6/demos/headers.html
  html/h1-h6/index.md
Owners: @solarrust

Добавляет сборку индекса (#1192)
  .github/scripts/search-index.js
  .github/workflows/update-date.yml
  .github/workflows/update-index.yml
Owners: none

Исправляет линк-чекер (#1206)
  .github/workflows/frontmatter.yml
  .github/workflows/link-pr.yml
Owners: none

Исправляет поля
  css/pseudoclasses/index.md
  css/tag-selector/index.md
  html/picture/index.md
Owners: @solarrust

Исправляет внутренние ссылки
  js/architecture-mvc/index.md
  tools/network-models/practice/igsekor.md
  tools/network/index.md
  tools/network/practice/igsekor.md
  tools/process-management/index.md
Owners: @nlopin, @bespoyasov

Исправляет положение поля
  css/selector-list/index.md
Owners: @solarrust

Исправляет положение поля
  html/img/index.md
  html/link/index.md
Owners: @solarrust

Исправляет положение полей
  js/alert/index.md
Owners: @nlopin, @bespoyasov

Исправляет проверку ссылок
  .github/workflows/link-all.yml
  .github/workflows/link-pr.yml
Owners: none

Удаляет лишний триггер
  .github/workflows/link-all.yml
Owners: none

Добавляет обработку результата запроса
  new.sh
Owners: none

Исправляет скрипт
  new.sh
Owners: none

Удаляет вопрос про создание ветки
  new.sh
Owners: none

Внес правки по тексту
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Добавил чуть больше описания про дата-атрибуты
  js/element-dataset/index.md
Owners: @nlopin, @bespoyasov

Расширил окончание для слова `виджет`
  .yaspeller.json
Owners: @tachisis

Добавил введение к коду
  js/element-dataset/index.md
Owners: @nlopin, @bespoyasov

Уточняет формулировку
  html/dl-dd-dt/index.md
Owners: @solarrust

Вносит правки по итогам ревью
  css/vendor-prefixes/index.md
Owners: @solarrust

Добавляет правку
  css/vendor-prefixes/index.md
Owners: @solarrust

Меняет перевод терминов
  html/dl-dd-dt/index.md
Owners: @solarrust

редизайн демо в статьях header и nav
  html/header/demos/header.html
  html/header/index.md
  html/nav/demos/breadcrumbs.html
  html/nav/index.md
Owners: @solarrust

Расширяет возможности скрипта
  .github/scripts/frontmatter.js
Owners: none

Разделяет проверку и правку меты
  .github/workflows/frontmatter-lint.yml
  .github/workflows/frontmatter.yml
Owners: none

Добавляет ошибку соответствия разрешённому списку
  .github/scripts/frontmatter.js
Owners: none

Добавляет коммит от имени робота
  .github/workflows/frontmatter-lint.yml
Owners: none

Добавилена статья removeEventListener
  js/element-removeeventlistener/.DS_Store
  js/element-removeeventlistener/demos/keyboard-events.html
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Исправляет работу экшена по проверке ссылок и дополняет триггер (#1221)
  .github/workflows/link-all.yml
Owners: none

Добавляет описание раздела «Инструменты»
  tools/index.md
Owners: @nlopin, @bespoyasov

Принимает правки @furtivite
  tools/web-server/index.md
Owners: @nlopin, @bespoyasov

Update tools/index.md
  tools/index.md
Owners: @nlopin, @bespoyasov

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis
