Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

Немного редачит
  css/has/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

Поджимает картинку
  people/pa7lux/photo.png
Owners: none

добавляет связанные статьи в доку о blur (#3350)
  js/element-blur/index.md
  js/element-blur/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-blur/index.11tydata.json
Owners: @nlopin, @bespoyasov

Update js/element/index.md
  js/element/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Element (#3348)
  js/element/index.md
  js/element/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии click (#3352)
  js/element-click/index.md
  js/element-click/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-click/index.11tydata.json
Owners: @nlopin, @bespoyasov

`:focus`, создаёт и подключает видео для Safari
  css/focus/index.md
  css/focus/video/mouse-focus_safari.mp4
  css/focus/video/tab-focus_safari.mp4
Owners: @solarrust, @pepelsbey

`keydown`/`keyup`, создаёт и подключает видео для Safari
  js/element-keydown-keyup/index.md
  js/element-keydown-keyup/video/1_safari.mp4
Owners: @nlopin, @bespoyasov

`keydown`/`keyup`: удаляет лишние символы
  js/element-keydown-keyup/index.md
Owners: @nlopin, @bespoyasov

`hover`: добавляет и подключает видео для сафари
  css/hover/index.md
  css/hover/video/mouse-hover_safari.mp4
Owners: @solarrust, @pepelsbey

скринридеры: добавляет и подключает видео для сафари
  html/screenreaders/index.md
  html/screenreaders/video/list-and-screenreaders_safari.mp4
Owners: @solarrust, @pepelsbey

`<video>`: добавляет и подключает видео для сафари
  html/video/demos/formats/index.html
Owners: @solarrust, @pepelsbey

Добавляет правки в статью "Объект события "Event"
  js/event/index.md
Owners: @nlopin, @bespoyasov

`<video>`: добавляет и подключает видео для сафари в демки
  html/video/demos/background/index.html
  html/video/demos/formats/index.html
  html/video/demos/poster/index.html
Owners: @solarrust, @pepelsbey

`debounce`: добавляет и подключает видео для сафари
  js/debounce/index.md
  js/debounce/videos/debounce_safari.mp4
Owners: @nlopin, @bespoyasov

`throttle`: добавляет и подключает видео для сафари
  js/throttle/index.md
  js/throttle/video/1_safari.mp4
Owners: @nlopin, @bespoyasov

`drag-n-drop`: добавляет и подключает видео для сафари
  recipes/dragndrop-upload/index.md
  recipes/dragndrop-upload/video/dragndrop-upload.mp4
  recipes/dragndrop-upload/video/dragndrop-upload_safari.mp4
Owners: @nlopin, @solarrust

`vim`: добавляет и подключает видео для сафари
  tools/how-to-enter-to-vim/index.md
  tools/how-to-enter-to-vim/video/diw-di_safari.mp4
  tools/how-to-enter-to-vim/video/example.mp4
  tools/how-to-enter-to-vim/video/rewrite_safari.mp4
Owners: @nlopin, @bespoyasov, @igsekor

`progress`: добавляет и подключает видео для сафари
  recipes/progress/index.md
  recipes/progress/video/progress.mp4
  recipes/progress/video/progress_safari.mp4
Owners: @nlopin, @solarrust

Принимает изменения @solarrust
  js/element-classlist/index.md
Owners: @nlopin, @bespoyasov

Добавляет правки в статью "Объект события "Event" (#3357)
  js/event/index.md
Owners: @nlopin, @bespoyasov

обрабатывает комментарии
  js/element-classlist/index.md
Owners: @nlopin, @bespoyasov

Добавляет связанные статьи для `display` (#3355)
  css/display/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/display/index.11tydata.json
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о classlist (#3351)
  js/element-classlist/index.md
  js/element-classlist/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-classlist/index.11tydata.json
Owners: @nlopin, @bespoyasov

Добавляет дескрипшен и связанные статьи для `:empty` (#3356)
  css/empty/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/empty/index.11tydata.json
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о событии dataset
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе focus
  js/element-focus/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе getAttribute
  js/element-getattribute/index.md
Owners: @nlopin, @bespoyasov

удалить точку с запятой
  js/element-dataset/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве hidden
  js/element-hidden/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве innerHtml
  js/element-innerhtml/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве innertext
  js/element-innertext/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событиях keydown и keyup
  js/element-keydown-keyup/index.md
  js/element-keydown-keyup/practice/stegur.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии mouseout
  js/element-mouseout/index.md
  js/element-mouseout/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Update nlopin.md
  js/element-mouseout/practice/nlopin.md
Owners: @nlopin, @bespoyasov
