Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis

Формирует список и форматирует вывод
  .github/workflows/surge-preview.yml
Owners: none

Возвращает экшен в общий флоу
  .github/workflows/surge-preview.yml
Owners: none

Изменяет порядок блоков
  html/index.md
Owners: @solarrust

Немного меняет порядок статей
  css/index.md
Owners: @solarrust

Update tools/code-review/practice/igorkamyshev.md
  tools/code-review/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov

Update js/architecture-mvc/index.md
  js/architecture-mvc/index.md
Owners: @nlopin, @bespoyasov

Обновляет картинки в статье про `<article>`
  html/article/images/cover.png
  html/article/images/covers/desktop.png
  html/article/images/covers/mobile.png
  html/article/index.md
Owners: @solarrust

Редактирует статью про button
  html/button/index.md
  html/button/practice/solarrust.md
Owners: @solarrust

Удаляет br, чинит ссылку
  html/button/index.md
Owners: @solarrust

Добавляет высоту в демку word
  css/after/index.md
Owners: @solarrust

Правит высоты в демках
  css/after/index.md
  css/after/practice/ezhkov.md
Owners: @solarrust

Добавляет линтер для меты (#1172)
  .frontmatter.json
  .github/scripts/frontmatter.js
  .github/workflows/frontmatter.yml
Owners: none

Добавляет HTML-индекс (#1115)
  html/index.md
Owners: @solarrust

Выносит свойства в блок про выравнивание
  css/index.md
Owners: @solarrust

Добавляет черновик CSS-индекса (#1116)
  css/index.md
Owners: @solarrust

Хотфикс индекса CSS
  css/index.md
Owners: @solarrust

Добавляет экшен для проверки ссылок (#1131)
  .github/workflows/link-all.yml
  .github/workflows/link-pr.yml
Owners: none

Добавляет статью про блочную модель
  .yaspeller.json
  css/box-model/images/box-model-chrome.png
  css/box-model/images/box-model.png
  css/box-model/index.md
Owners: @tachisis, @solarrust

Правит мету
  css/box-model/index.md
Owners: @solarrust

Обновляет картинки в статье про `<article>` (#1201)
  html/article/images/cover.png
  html/article/images/covers/desktop.png
  html/article/images/covers/mobile.png
  html/article/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/article/index.11tydata.json
Owners: @solarrust

Редактирует все статьи про animation
  css/animation-delay/index.md
  css/animation-direction/index.md
  css/animation-duration/index.md
  css/animation-fill-mode/index.md
  css/animation-iteration-count/index.md
  css/animation-name/index.md
  css/animation-play-state/index.md
  css/animation-timing-function/index.md
  css/animation/index.md
Owners: @solarrust

Редактирует статью про array.every
  js/array-every/index.md
  js/array-every/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Решает проблему с относительными путями
  .github/workflows/link-pr.yml
Owners: none

Пробует-тестирует
  .github/index.md
Owners: none

Меняет относительный путь
  .github/workflows/link-pr.yml
Owners: none

Пробует другой путь
  .github/workflows/link-pr.yml
Owners: none

Удаляет путь
  .github/workflows/link-pr.yml
Owners: none

Запускает режим отладки
  .github/workflows/link-pr.yml
Owners: none

Пробует другую ссылку
  .github/index.md
Owners: none

Добавлена статья Element.dataset
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Меняет порядок меты
  css/box-model/index.md
Owners: @solarrust

Вносит правки после ревью
  html/details/index.md
Owners: @solarrust

Правит мету
  css/animation-delay/index.md
  css/animation-direction/index.md
  css/animation-duration/index.md
  css/animation-fill-mode/index.md
  css/animation-iteration-count/index.md
  css/animation-name/index.md
  css/animation-play-state/index.md
  css/animation-timing-function/index.md
  css/animation/index.md
Owners: @solarrust

Правит мету
  html/button/index.md
Owners: @solarrust

Вносит уточнения
  html/button/index.md
Owners: @solarrust

Вносит правки по итогам ревью
  html/button/index.md
Owners: @solarrust

Вносит правки по итогам ревью
  css/box-model/index.md
Owners: @solarrust

Применяет фиксы из ревью
  html/details/index.md
  html/details/practice/lenaryan.md
Owners: @solarrust

Микроправочки
  html/details/demos/details-open.html
  html/details/demos/details-summary.html
  html/details/index.md
Owners: @solarrust
