Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в доку о событии mouseover
  js/element-mouseover/index.md
  js/element-mouseover/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-mouseover/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии outerhtml
  js/element-outerhtml/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о позиционировании из JS
  js/element-positioning-js/index.md
  js/element-positioning-js/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Добавляет ссылку на личную страницу в «О проекте»
  pages/about/index.md
Owners: none

Добавил Сашу Патлуха в раздел Люди и написал совет про `:has()` (#3353)
  css/has/practice/pa7lux.md
  pages/about/index.md
  people/pa7lux/index.md
  people/pa7lux/photo.png
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/has/index.11tydata.json
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о событии outerhtml (#3369)
  js/element-outerhtml/index.md
Owners: @nlopin, @bespoyasov

удаляет точку
  js/element-positioning-js/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-outerhtml/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о позиционировании из JS (#3370)
  js/element-positioning-js/index.md
  js/element-positioning-js/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/element-mouseout/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событиях keydown и keyup (#3367)
  js/element-keydown-keyup/index.md
  js/element-keydown-keyup/practice/stegur.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве innerHtml (#3365)
  js/element-innerhtml/index.md
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/element-dataset/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии mouseout (#3368)
  js/element-mouseout/index.md
  js/element-mouseout/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе focus (#3361)
  js/element-focus/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии dataset (#3362)
  js/element-dataset/index.md
  js/element-dataset/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

исправляет ссылку на материал
  js/element-getattribute/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-dataset/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе getAttribute (#3363)
  js/element-getattribute/index.md
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/element-hidden/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-getattribute/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве hidden (#3364)
  js/element-hidden/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-hidden/index.11tydata.json
Owners: @nlopin, @bespoyasov

Меняет способ деплоя при превью
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Добавляет файл с переменными окружения
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Обновляет версию экшена для кэширования
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Обновляет другие экшены
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Убирает скобки
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Меняет имя стадии
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Пробует комментарий
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Временно убирает кэш
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Возвращает кэширование
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Устанавливает корректные имена
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Меняет Surge на собственное решение (#3372)
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Пушит правильную папку
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Меняет хост для обновления поискового индекса
  .github/workflows/update-index.yml
Owners: @igsekor, @pepelsbey

Устанавливает правильное имя домена для ключа
  .github/workflows/update-index.yml
Owners: @igsekor, @pepelsbey

Добавляет совет про получение значений функций трансформации из JS
  css/transform-function/practice/pa7lux.md
Owners: @solarrust, @pepelsbey

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
