Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

убирает неточный абзац
  js/async-await/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет описание, связанные статьи в статью про async/await (#3295)
  js/async-await/index.md
  js/async-await/practice/nlopin.md
  js/async-await/practice/vaiil.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/async-await/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `confirm`
  js/confirm/index.md
  js/confirm/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `console.log`
  js/console-log/index.md
  js/console-log/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `const`
  js/const/index.md
  js/const/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Исправляет ссылки на caniuse rgb с alpha параметром
  css/color/index.md
  css/web-colors/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку про `cookie`
  js/cookie/index.md
  js/cookie/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про координаты
  js/coordinates/index.md
  js/coordinates/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про координаты (#3332)
  js/coordinates/index.md
  js/coordinates/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `cookie` (#3331)
  js/cookie/index.md
  js/cookie/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

Исправляет ссылки на caniuse rgb с alpha параметром (#3330)
  css/color/index.md
  css/web-colors/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку про `const` (#3328)
  js/const/index.md
  js/const/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/const/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку про `console.log` (#3327)
  js/console-log/index.md
  js/console-log/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

Обновляет featured-статьи
  settings/featured.md
Owners: none

Добавляет бэктики в дескрипшены
  css/pointer-events/index.md
  js/element-hidden/index.md
  js/event/index.md
  js/for-in/index.md
  js/promise-all/index.md
  js/promise-allsettled/index.md
  js/set-add/index.md
  js/set-clear/index.md
  js/set-constructor/index.md
  js/set-delete/index.md
  js/set-entries/index.md
  js/set-foreach/index.md
  js/set-has/index.md
  js/set-keys/index.md
  js/set-size/index.md
  js/set-values/index.md
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Изменяет обложку в статье про замыкания
  js/closures/images/covers/desktop.svg
  js/closures/images/covers/mobile.svg
Owners: @nlopin, @bespoyasov

Добавляет себя в контрибьюторы статьи
  css/stacking-context/index.md
  people/nsbarsukov/index.md
  people/nsbarsukov/photo.jpg
Owners: @solarrust, @pepelsbey

Удаляет блок который не относится к статье
  css/justify-content/index.md
Owners: @solarrust, @pepelsbey

Добавляет статью про доступность
  .yaspeller.json
  a11y/chto-takoe-a11y/images/0.png
  a11y/chto-takoe-a11y/images/1.png
  a11y/chto-takoe-a11y/images/2.png
  a11y/chto-takoe-a11y/images/3.png
  a11y/chto-takoe-a11y/index.md
Owners: none

Edits to the doka about #2312
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
Owners: @solarrust, @pepelsbey

Изменяет обложку в статье про замыкания (#3334)
  js/closures/images/covers/desktop.svg
  js/closures/images/covers/mobile.svg
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/closures/index.11tydata.json
Owners: @nlopin, @bespoyasov

Добавляет бэктики в дескрипшены (#3333)
  css/pointer-events/index.md
  js/element-hidden/index.md
  js/event/index.md
  js/for-in/index.md
  js/promise-all/index.md
  js/promise-allsettled/index.md
  js/set-add/index.md
  js/set-clear/index.md
  js/set-constructor/index.md
  js/set-delete/index.md
  js/set-entries/index.md
  js/set-foreach/index.md
  js/set-has/index.md
  js/set-keys/index.md
  js/set-size/index.md
  js/set-values/index.md
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  css/pointer-events/index.11tydata.json
  js/element-hidden/index.11tydata.json
  js/event/index.11tydata.json
  js/for-in/index.11tydata.json
  js/promise-all/index.11tydata.json
  js/promise-allsettled/index.11tydata.json
  js/set-add/index.11tydata.json
  js/set-clear/index.11tydata.json
  js/set-constructor/index.11tydata.json
  js/set-delete/index.11tydata.json
  js/set-entries/index.11tydata.json
  js/set-foreach/index.11tydata.json
  js/set-has/index.11tydata.json
  js/set-keys/index.11tydata.json
  js/set-size/index.11tydata.json
  js/set-values/index.11tydata.json
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

добавляет связанные статьи в статью о работе с формами
  js/deal-with-forms/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о debounce
  js/debounce/index.md
  js/debounce/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о поведенческих паттернах проектирования
  js/design-patterns-behaviorial/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о порождающих паттернах проектирования
  js/design-patterns-creational/index.md
Owners: @nlopin, @bespoyasov

Исправляет мелкие недочеты в статье css/overflow
  css/overflow/demos/ellipsis/index.html
  css/overflow/index.md
  css/overflow/practice/realetive.md
Owners: @solarrust, @pepelsbey

Добавляет альтернативное объяснение в #2282
  css/line-height/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в статью о структурных паттернах проектирования
  js/design-patterns-structural/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о DOM
  js/dom/index.md
  js/dom/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о структурных паттернах проектирования (#3344)
  js/design-patterns-structural/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о порождающих паттернах проектирования (#3342)
  js/design-patterns-creational/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/design-patterns-creational/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о поведенческих паттернах проектирования (#3341)
  js/design-patterns-behaviorial/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/design-patterns-behaviorial/index.11tydata.json
Owners: @nlopin, @bespoyasov

Update js/dom/index.md
  js/dom/index.md
Owners: @nlopin, @bespoyasov
