Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @hellsquirrel, @igsekor, @TatianaFokina

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @hellsquirrel
tools @nlopin @igsekor @hellsquirrel
recipes @nlopin @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
.github @igsekor

Исправляет исключения
  .yaspeller.json
Owners: none

Исправляет ещё одно исключение
  .yaspeller.json
Owners: none

Исправляет ошибки в демке skip link
  a11y/skip-link/demos/basic/index.html
Owners: @TatianaFokina

Исправляет ошибки в демке skip link
  a11y/skip-link/demos/with-skip-link/index.html
Owners: @TatianaFokina

Исправляет ошибку в skip link
  a11y/skip-link/index.md
Owners: @TatianaFokina

Исправляет ошибку в практике skip link
  a11y/skip-link/practice/tatianafokina.md
Owners: @TatianaFokina

Исправляет ошибку в `aria-readonly`
  a11y/aria-readonly/index.md
Owners: @TatianaFokina

Исправляет ошибки в `aria-pressed`
  a11y/aria-pressed/index.md
Owners: @TatianaFokina

Исправляет ошибку в `aria-checked`
  a11y/aria-checked/index.md
Owners: @TatianaFokina

Исправляет ошибки в `aria-current`
  a11y/aria-current/index.md
Owners: @TatianaFokina

Добавляет исключения
  .yaspeller.json
Owners: none

Исправляет ошибки в ARIA-ролях
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Исправляет ошибки в `aria-haspopup`
  a11y/aria-haspopup/index.md
Owners: @TatianaFokina

Исправляет ошибку в `prefers-contrast`
  a11y/prefers-contrast/index.md
Owners: @TatianaFokina

Исправляет ошибки в ARIA-атрибутах
  a11y/aria-attrs/index.md
Owners: @TatianaFokina

Заменяет слово в `forced-colors`
  a11y/forced-colors/index.md
Owners: @TatianaFokina

Исправляет ошибку в демке с `<hr>`
  a11y/role-presentation-none/demos/decorative-hr/index.html
Owners: @TatianaFokina

Добавляет географические исключения
  .yaspeller.json
Owners: none

Исправляет ссылки по просьбе партнеров
  pages/about/index.md
Owners: none

Добавляет utm-метку на ссылку практикума в /about (#3934)
  pages/about/index.md
Owners: none

Исправляет исключения
  .yaspeller.json
Owners: none

Исправляет ещё ARIA-атрибуты
  a11y/aria-attrs/index.md
Owners: @TatianaFokina

Исправляет слово в `aria-owns`
  a11y/aria-owns/index.md
Owners: @TatianaFokina

Обновляет по рекомендациям @igsekor
  docs/people.md
Owners: none

Обновляет по рекомендациям @igsekor
  docs/demos/index.md
Owners: none

Добавляет отступы и чинит список
  docs/people.md
Owners: none

Правит демок => профиля
  docs/people.md
Owners: none

Изменяет словосочетание в ARIA-ролях
  a11y/aria-roles/index.md
Owners: @TatianaFokina

Исправляет индекс раздела
  a11y/index.md
Owners: @TatianaFokina

Добавляет предложение @StarHamster
  docs/demos/index.md
Owners: none

Меняет мнемонику на эмодзи
  docs/people.md
Owners: none

Ублажает спеллер
  js/const/index.md
Owners: @nlopin, @hellsquirrel

Удаляет лишние значки
  people/solarrust/index.md
Owners: none
