Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

Исправляет ошибки в списках связанных статей
  css/combined-selectors/index.md
  js/bom/index.md
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  css/combined-selectors/index.11tydata.json
  js/bom/index.11tydata.json
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov

Update index.md
  js/event/index.md
Owners: @nlopin, @bespoyasov

Редизайнит демо
  css/child/demos/child/index.html
  css/child/images/marker.png
  css/child/index.md
  css/nth-of-type/demos/every/index.html
  css/nth-of-type/demos/only/index.html
  css/nth-of-type/index.md
Owners: @solarrust, @pepelsbey

Добавляет описание и связанные статьи для `column-rule-width` (#3289)
  css/column-rule-width/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/column-rule-width/index.11tydata.json
Owners: @solarrust, @pepelsbey

Исправление опечатки раздел JS (#3313)
  js/event/index.md
Owners: @nlopin, @bespoyasov

Обновляет битую ссылку на faker.js(#3312)
  js/testing-and-fake-objects/index.md
Owners: @nlopin, @bespoyasov

добавляет статью в рекомендацию
  js/async-await/index.md
Owners: @nlopin, @bespoyasov

Принимает правку @bespoyasov
  js/async-in-js/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью про асинхронность (#3301)
  js/async-in-js/index.md
  js/async-in-js/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/testing-and-fake-objects/index.11tydata.json
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/bigint/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку про большое целое (#3308)
  js/bigint/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/bigint/index.11tydata.json
Owners: @nlopin, @bespoyasov

Поясняет преобразования
  js/boolean/index.md
Owners: @nlopin, @bespoyasov

полирует абзац
  js/boolean/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в статью про трёхслойную архитектуру
  js/clean-architecture/index.md
Owners: @nlopin, @bespoyasov

правки меты
  js/clean-architecture/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку clearInterval
  js/clearinterval/index.md
Owners: @nlopin, @bespoyasov

добавляет пропущенные скобки
  js/clearinterval/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку clearTimeout
  js/cleartimeout/index.md
Owners: @nlopin, @bespoyasov

убирает лишние ссылки
  js/clearinterval/index.md
Owners: @nlopin, @bespoyasov

Добавляет статью про repeating-radial-gradient
  css/radial-gradient/index.md
  css/repeating-conic-gradient/index.md
  css/repeating-radial-gradient/demos/basic/index.html
  css/repeating-radial-gradient/demos/example-of-arguments/index.html
  css/repeating-radial-gradient/demos/without-sizes/index.html
  css/repeating-radial-gradient/index.md
  people/inventoris/index.md
Owners: @solarrust, @pepelsbey

Исправлена опечатка
  js/ref-type-vs-value-type/index.md
Owners: @nlopin, @bespoyasov

Исправлена опечатка (#3319)
  js/ref-type-vs-value-type/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку clearInterval (#3316)
  js/clearinterval/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку clearTimeout (#3317)
  js/cleartimeout/index.md
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в статью про трёхслойную архитектуру (#3315)
  js/clean-architecture/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/clean-architecture/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью про области видимости
  js/closures/index.md
Owners: @nlopin, @bespoyasov

правит стиль кода
  js/closures/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью про стиль написания кода
  js/code-style/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью про стиль написания кода (#3321)
  js/code-style/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью про области видимости (#3320)
  js/closures/index.md
  js/closures/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/closures/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет описание и связанные статьи в доку про boolean (#3310)
  js/boolean/index.md
  js/boolean/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/boolean/index.11tydata.json
Owners: @nlopin, @bespoyasov

Улучшает примеры в статье про `Контекст наложения`
  css/stacking-context/demos/default/index.html
  css/stacking-context/demos/parent/index.html
  css/stacking-context/demos/under-bkg/index.html
  css/stacking-context/demos/z-index/index.html
  css/stacking-context/index.md
Owners: @solarrust, @pepelsbey

Исправляет неверные названия цветов
  css/stacking-context/index.md
Owners: @solarrust, @pepelsbey

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
