Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

добавляет связанные статьи в доку о window.location (#3500)
  js/window-location/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о тех.долге (#3484)
  js/technical-debt/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о History API (#3499)
  js/window-history/index.md
  js/window-history/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о while (#3498)
  js/while/index.md
  js/while/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о тернарном операторе (#3486)
  js/ternary-operator/index.md
  js/ternary-operator/practice/gingerraccoon.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о шаблонных строках (#3485)
  js/template-strings/index.md
  js/template-strings/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о TDD (#3483)
  js/tdd/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о symbol (#3482)
  js/symbol/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о switch (#3481)
  js/switch/index.md
  js/switch/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о String wrapper (#3480)
  js/string-wrapper/index.md
  js/string-wrapper/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

правит ссылки в related
  js/web-security/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/technical-debt/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о HTTP (#3522)
  tools/http-protocol/index.md
Owners: @nlopin, @bespoyasov, @igsekor

Правит поля updatedAt и createdAt
  js/string-wrapper/index.11tydata.json
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  tools/http-protocol/index.11tydata.json
Owners: @nlopin, @bespoyasov, @igsekor

Переписывает блок «как понять» в доке про `justify-content` (#3336)
  css/justify-content/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в статью о устройстве приложения (#3497)
  js/web-security/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/web-security/index.11tydata.json
Owners: @nlopin, @bespoyasov

Добавляет первую порцию правок
  a11y/vvedenie-v-aria/index.md
Owners: none

Переимeновывает папку
  a11y/aria-intro/demos/alert-message/index.html
  a11y/aria-intro/demos/fake-button/index.html
  a11y/aria-intro/images/0.png
  a11y/aria-intro/index.md
Owners: none

Изменяет заголовки правил
  a11y/aria-intro/index.md
Owners: none

Добавляет врезку
  js/logic-operators/index.md
Owners: @nlopin, @bespoyasov

редактирует
  js/logic-operators/index.md
Owners: @nlopin, @bespoyasov

удаляет пробелы
  js/logic-operators/index.md
Owners: @nlopin, @bespoyasov

Добавляет врезку (#3550)
  js/logic-operators/index.md
Owners: @nlopin, @bespoyasov

запускает превью только после пройденных проверок
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Правит поля updatedAt и createdAt
  js/logic-operators/index.11tydata.json
Owners: @nlopin, @bespoyasov

Дополняет доку теорией и примерами
  css/text-decoration-style/demos/html-line/index.html
  css/text-decoration-style/demos/pseudo-element-line/index.html
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Правит опечатку в статье о переменных
  js/var-let/index.md
Owners: @nlopin, @bespoyasov

Правит опечатку в статье о переменных (#3552)
  js/var-let/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/var-let/index.11tydata.json
Owners: @nlopin, @bespoyasov

Чутка дополняет доку
  css/text-decoration-color/demos/html-line-color/index.html
  css/text-decoration-color/demos/text-decoration-color-default/index.html
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Дополняет доку, чтобы было понятнее
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

Правит
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Убирает лишние знаки
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

Успокаивает спеллер
  .yaspeller.json
Owners: none

Показывает спеллеру серобуромалиновый
  .yaspeller.json
Owners: none

Убеждает спеллер, что "имейл" всё же существуют
  .yaspeller.json
Owners: none

Добавляет букву
  .yaspeller.json
Owners: none

Добавляет доку про <abbr>
  html/abbr/demos/un/index.html
  html/abbr/demos/with-dfn/index.html
  html/abbr/index.md
Owners: @solarrust, @pepelsbey
