Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

Меняет порядок полей в мете
  js/array-every/index.md
Owners: @nlopin, @bespoyasov

Меняет порядок полей
  css/appearance/index.md
Owners: @solarrust

Меняет порядок полей в мете
  html/div/index.md
Owners: @solarrust

Исправляет ошибку с полем в мете
  css/color/index.md
Owners: @solarrust

Исправляет ссылки
  js/yaml/index.md
  tools/apache-web-server/index.md
Owners: @nlopin, @bespoyasov

Меняет правило для исключения
  .github/workflows/link-all.yml
  .github/workflows/link-pr.yml
Owners: none

Правит мету
  css/numeric-types/index.md
Owners: @solarrust

Создаёт скрипт для формирования шаблона статьи
  new.sh
Owners: none

Радует линтер
  new.sh
Owners: none

Первый коммит для статьи
  tools/site-readers/index.md
Owners: @nlopin, @bespoyasov

Меняет структуру индексных файлов для удобной работы
  css/index.md
  html/index.md
  tools/index.md
Owners: @solarrust, @nlopin, @bespoyasov

Добавляет название раздела
  js/index.md
Owners: @nlopin, @bespoyasov

Apply suggestions from code review
  js/array-filter/index.md
Owners: @nlopin, @bespoyasov

Пробует путь
  .github/workflows/link-pr.yml
Owners: none

Удаляет проверочный файл
  .github/index.md
Owners: none

Правит сценарий
  .github/workflows/frontmatter.yml
Owners: none

Правит вывод
  .github/workflows/frontmatter.yml
Owners: none

Редактирует статью про array.filter (#1212)
  js/array-filter/index.md
  js/array-filter/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/array-filter/index.11tydata.json
Owners: @nlopin, @bespoyasov

Редактирует статью про div (#1210)
  html/div/index.md
  html/div/practice/solarrust.md
  html/div/practice/vladimir.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/div/index.11tydata.json
Owners: @solarrust

Добавляет описание для раздела HTML
  html/index.md
Owners: @solarrust

Добавляет пояснение
  new.sh
Owners: none

Редактирует статью про appearance (#1211)
  css/appearance/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  css/appearance/index.11tydata.json
Owners: @solarrust

Вносит редакторские правки
  css/vendor-prefixes/index.md
Owners: @solarrust

Добавляет ник по умолчанию
  new.sh
Owners: none

Редактирует пояснения для пользователя
  new.sh
Owners: none

Изменяет сообщение
  new.sh
Owners: none

Редактирует статью про dl-dt-dd
  html/dl-dd-dt/index.md
Owners: @solarrust

Редактирует статью про attr()
  css/attr/index.md
  css/attr/practice/ezhkov.md
Owners: @solarrust

Редактирует статью про array.find
  js/array-find/index.md
Owners: @nlopin, @bespoyasov

Переставляет поля в мете
  js/array-find/index.md
Owners: @nlopin, @bespoyasov

Переставляет поля в мете
  css/attr/index.md
Owners: @solarrust

Переставляет поля в мете
  html/dl-dd-dt/index.md
Owners: @solarrust

Исправляет линк-чеккер
  .github/workflows/link-pr.yml
Owners: none

Исправляет линк-чеккер
  .github/workflows/link-pr.yml
Owners: none

Дописывает статью
  css/vendor-prefixes/index.md
Owners: @solarrust

Редактирует статью про array.find (#1218)
  .github/workflows/link-pr.yml
  js/array-find/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/array-find/index.11tydata.json
Owners: @nlopin, @bespoyasov

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis
