Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

Добавляет ссылку на <abbr> в статью про устаревшие теги
  html/deprecated-tags/index.md
Owners: @solarrust, @pepelsbey

Фиксит пробелы в конце строки
  html/abbr/index.md
Owners: @solarrust, @pepelsbey

Обновляет доку про <em>
  html/em/demos/basic/index.html
  html/em/demos/nested/index.html
  html/em/index.md
Owners: @solarrust, @pepelsbey

Меняет дату ЯЛФ
  specials/ylf/index.md
Owners: none

Меняет дату ЯЛФ (#3556)
  specials/ylf/index.md
Owners: none

Хотфикс зачёркивания
  specials/ylf/index.md
Owners: none

Добавляет лендинг для Летучек
  pages/letuchka/index.md
Owners: none

Правит зачёркивание
  pages/letuchka/index.md
Owners: none

Правит опечатку
  pages/letuchka/index.md
Owners: none

Обновляет демки в JSON
  tools/json/demos/Stegur-XWddLpK/index.html
  tools/json/demos/step-by-step/images/question.png
  tools/json/demos/step-by-step/index.html
  tools/json/demos/transform-json/index.html
  tools/json/index.md
Owners: @nlopin, @bespoyasov, @igsekor

Добавляет дескрипшен и связанные статьи
  html/em/index.md
Owners: @solarrust, @pepelsbey

Обновляет доку про `<em>` (#3554)
  html/em/demos/basic/index.html
  html/em/demos/nested/index.html
  html/em/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  html/em/index.11tydata.json
Owners: @solarrust, @pepelsbey

Правки по цветам в демке
  a11y/aria-intro/demos/alert-message/index.html
  a11y/aria-intro/demos/fake-button/index.html
Owners: none

Ещё правка по цветам
  a11y/aria-intro/demos/alert-message/index.html
Owners: none

Добавляет связанные статьи, html → HTML
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Удаляет лишний пробел 🫣
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Дополняет доку про `text-decoration-style` (#3546)
  css/text-decoration-style/demos/basic/index.html
  css/text-decoration-style/demos/dotted-link/index.html
  css/text-decoration-style/demos/html-line/index.html
  css/text-decoration-style/demos/incorrect-word/index.html
  css/text-decoration-style/demos/pseudo-element-line/index.html
  css/text-decoration-style/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/text-decoration-style/index.11tydata.json
Owners: @solarrust, @pepelsbey

Обновляет index.md
  html/abbr/index.md
Owners: @solarrust, @pepelsbey

Вносит правочки
  pages/letuchka/index.md
Owners: none

Добавляет доку
  .yaspeller.json
  js/event-submit/demos/button-outside-form/index.html
  js/event-submit/demos/submitting-form/index.html
  js/event-submit/index.md
Owners: @nlopin, @bespoyasov

Немного правит
  js/event-submit/demos/button-outside-form/index.html
Owners: @nlopin, @bespoyasov

Вносит правки
  css/text-decoration-color/index.md
Owners: @solarrust, @pepelsbey

Вносит небольшие правки
  html/multiple/demos/multiple-input-email/index.html
  html/multiple/index.md
Owners: @solarrust, @pepelsbey

Обновляет формулировки
  html/abbr/index.md
Owners: @solarrust, @pepelsbey

Добавляет пользователя для доступа
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Дополнил теорией, сменил стили, почистил код
  html/size/demos/basic-input/index.html
  html/size/demos/basic-select/index.html
  html/size/demos/input-size-without-monospace/index.html
  html/size/index.md
Owners: @solarrust, @pepelsbey

Помогает спеллеру
  .yaspeller.json
Owners: none

Убирает заголовок, ублажает спеллер
  pages/letuchka/index.md
Owners: none

Добавляет установку ключа
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Переставляет получение ключа выше
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Меняет способ формирования списка файлов
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey

Обновляет featured-статьи
  settings/featured.md
Owners: none

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
