Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

Исправляет опечатку
  a11y/vvedenie-v-aria/index.md
Owners: none

Добавляет ссылку на доку про <main>
  a11y/vvedenie-v-aria/index.md
Owners: none

Исправляет ошибку
  a11y/vvedenie-v-aria/index.md
Owners: none

Исправляет ссылки на демки
  a11y/vvedenie-v-aria/index.md
Owners: none

добавляет связанные статьи в доку о спред-синтаксисе
  js/string/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве length у строки
  js/string-length/index.md
Owners: @nlopin, @bespoyasov

добавляет ссылку на статью о спреде
  js/string-length/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о String wrapper
  js/string-wrapper/index.md
  js/string-wrapper/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о switch
  js/switch/index.md
  js/switch/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о symbol
  js/symbol/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о TDD
  js/tdd/index.md
Owners: @nlopin, @bespoyasov

Обновляет секцию. Попытка 2
  css/justify-content/index.md
Owners: @solarrust, @pepelsbey

Добавляет специальную проверку полей и проверку для related
  .github/frontmatter.json
  .github/scripts/frontmatter.js
  .github/scripts/related.mjs
  result.json
Owners: @igsekor, @pepelsbey

Исправляет поля related (05.08.22)
  js/element-touch/index.md
  js/form-data/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о тех.долге
  js/technical-debt/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-touch/index.11tydata.json
  js/form-data/index.11tydata.json
Owners: @nlopin, @bespoyasov

Исправляет кириллический символ на латинский
  css/caret-color/index.md
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку о шаблонных строках
  js/template-strings/index.md
  js/template-strings/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о тернарном операторе
  js/ternary-operator/index.md
  js/ternary-operator/practice/gingerraccoon.md
Owners: @nlopin, @bespoyasov

исправляет код примера
  js/ternary-operator/practice/gingerraccoon.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о моках и стабах
  js/testing-and-fake-objects/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о throttle
  js/throttle/index.md
  js/throttle/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о try-catch
  js/try-catch/index.md
  js/try-catch/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о приведении типов
  js/typecasting/index.md
  js/typecasting/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о undefined
  js/undefined/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о URLSearchParams
  js/urlsearchparams/index.md
  js/urlsearchparams/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

Исправляет ссылку в демке
  js/includes/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о use strict
  js/use-strict/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о var и let
  js/var-let/index.md
  js/var-let/practice/ruslauz.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о типах приложений
  js/web-app-types/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о устройстве приложения
  js/web-app-works/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о устройстве приложения
  js/web-security/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о while
  js/while/index.md
  js/while/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о History API
  js/window-history/index.md
  js/window-history/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

обновляет связанные статьи
  js/technical-debt/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о window.location
  js/window-location/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о window.navigator
  js/window-navigator/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о window.print
  js/window-print/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о agile
  tools/agile/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью о Apache Server
  tools/apache-web-server/index.md
Owners: @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
