Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @TatianaFokina, @hellsquirrel, @igsekor

CODEOWNERS:

css @solarrust @TatianaFokina
html @solarrust @TatianaFokina
js @hellsquirrel
tools @igsekor @hellsquirrel
recipes @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
.github @igsekor

Добавляет ответ на вопрос к собеседованию
  interviews/ternary/answers/maridoroshuk/index.md
Owners: none

Испраляет опечатку
  interviews/ternary/answers/maridoroshuk/index.md
Owners: none

fix: форматирование текста, css свойства
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

fix: форматирование текста
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

fix: форматирование текста
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

justify-content перед justify-items
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

Исправляет текст по комментариям
  js/shallow-or-deep-clone/index.md
Owners: @hellsquirrel

Меняет дефис на длинное тире
  js/shallow-or-deep-clone/index.md
Owners: @hellsquirrel

Обновляет featured-статьи
  settings/featured.md
Owners: none

Правит ссылку в статье про событие input
  js/event-input/index.md
Owners: @hellsquirrel

Правит мелочи
  html/noindex/index.md
Owners: @solarrust, @TatianaFokina

Добавляет доку про `<noindex>` (#4330)
  html/noindex/index.md
Owners: @solarrust, @TatianaFokina

Добавляет статью «Уровни доступности» (#4344)
  .yaspeller.json
  a11y/index.md
  a11y/wcag-conformance-levels/images/0.png
  a11y/wcag-conformance-levels/index.md
  a11y/wcag/index.md
Owners: @TatianaFokina

Добавляет доку про `tab` (#4327)
  a11y/role-tab/demos/tabs/index.html
  a11y/role-tab/index.md
Owners: @TatianaFokina

Добавляет доку про `tabpanel` (#4328)
  a11y/role-tabpanel/demos/tabpanels/index.html
  a11y/role-tabpanel/index.md
Owners: @TatianaFokina

Apply suggestions from code review
  css/not/index.md
Owners: @solarrust, @TatianaFokina

Исправляет неточности и перелинковывает "ARIA-роли" (#4396)
  .yaspeller.json
  a11y/aria-roles/index.md
Owners: @TatianaFokina

CSS: описания и связанные статьи (L, M, N) (#4391)
  css/lang/index.md
  css/letter-spacing/index.md
  css/line-height/index.md
  css/linear-gradient/index.md
  css/link/index.md
  css/list-style-image/index.md
  css/list-style-position/index.md
  css/list-style-type/index.md
  css/margin/index.md
  css/nesting-selector/index.md
  css/not/index.md
  css/numeric-types/index.md
Owners: @solarrust, @TatianaFokina

Добавляет новые доки и статью
  CHANGELOG.md
Owners: none

Добавляет плейсхолдер для `generic` (#4387)
  a11y/index.md
  a11y/role-generic/index.md
Owners: @TatianaFokina

Добавляет `tab` и `tablist`
  a11y/index.md
Owners: @TatianaFokina

Перелинковывает материалы
  a11y/a11y-html/index.md
  a11y/aria-checked/index.md
  a11y/aria-disabled/index.md
  a11y/aria-errormessage/index.md
  a11y/aria-expanded/index.md
  a11y/aria-haspopup/index.md
  a11y/aria-intro/index.md
  a11y/aria-invalid/index.md
  a11y/aria-label/index.md
  a11y/aria-labelledby/index.md
  a11y/aria-level/index.md
  a11y/aria-multiselectable/index.md
  a11y/aria-readonly/index.md
  a11y/aria-required/index.md
  a11y/aria-roledescription/index.md
  a11y/aria-selected/index.md
  a11y/role-presentation-none/index.md
  a11y/role-tab/index.md
  a11y/role-tablist/index.md
  a11y/role-tabpanel/index.md
  a11y/screenreaders/index.md
Owners: @TatianaFokina

Чуть правит форматирование
  css/grid-guide/index.md
Owners: @solarrust, @TatianaFokina

Поджимает картинки
  css/grid-guide/images/1.png
  css/grid-guide/images/10.png
  css/grid-guide/images/11.png
  css/grid-guide/images/12.png
  css/grid-guide/images/13.png
  css/grid-guide/images/14.png
  css/grid-guide/images/15.png
  css/grid-guide/images/16.png
  css/grid-guide/images/17.png
  css/grid-guide/images/18.png
  css/grid-guide/images/19.png
  css/grid-guide/images/2.png
  css/grid-guide/images/20.png
  css/grid-guide/images/21.png
  css/grid-guide/images/22.png
  css/grid-guide/images/23.png
  css/grid-guide/images/24.png
  css/grid-guide/images/25.png
  css/grid-guide/images/26.png
  css/grid-guide/images/27.png
  css/grid-guide/images/28.png
  css/grid-guide/images/29.png
  css/grid-guide/images/3.png
  css/grid-guide/images/30.png
  css/grid-guide/images/31.png
  css/grid-guide/images/32.png
  css/grid-guide/images/33.png
  css/grid-guide/images/34.png
  css/grid-guide/images/4.png
  css/grid-guide/images/5.png
  css/grid-guide/images/6.png
  css/grid-guide/images/7.png
  css/grid-guide/images/8.png
  css/grid-guide/images/9.png
Owners: @solarrust, @TatianaFokina

Ублажает спеллер
  .yaspeller.json
Owners: none

Добавил информацию о себе в контрибьюторы и папку
  css/grid-guide/index.md
  people/FilimonovAlexey/index.md
  people/FilimonovAlexey/photo.jpg
Owners: @solarrust, @TatianaFokina

feat: add aria-role button article
  a11y/role-button/demos/button-toggle.html
  a11y/role-button/demos/button-with-interaction.html
  a11y/role-button/images/computed-name.png
  a11y/role-button/index.md
Owners: @TatianaFokina

fix demos folder
  a11y/role-button/demos/button-toggle/index.html
  a11y/role-button/demos/button-with-interaction/index.html
Owners: @TatianaFokina

fix дшlist and unnecessary line breaks
  a11y/role-button/index.md
Owners: @TatianaFokina

fix: remove line spacing in short summary
  a11y/role-button/index.md
Owners: @TatianaFokina

Правит ссылку в статье про событие input (#4410)
  js/event-input/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/event-input/index.11tydata.json
Owners: @hellsquirrel

Добавляет первый драфт
  tools/index.md
  tools/trivial-memory-model/images/memory.png
  tools/trivial-memory-model/images/stack-heap.png
  tools/trivial-memory-model/index.11tydata.json
  tools/trivial-memory-model/index.md
Owners: @igsekor, @hellsquirrel

add: перелинковка.
  tools/cms/index.md
Owners: @igsekor, @hellsquirrel
