Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

Добавляет условие запуска
  .github/workflows/editorconfig-all.yml
  .github/workflows/editorconfig.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Пробует массив снова
  .github/workflows/yaspeller-pr.yml
Owners: none

Меняет условие
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Исправляет ошибку в Руководстве по оформлению (#1193)
  docs/typography.md
Owners: @tachisis

Откатывает правки
  .github/workflows/surge-preview.yml
Owners: none

Редактирует статью про button (#1187)
  html/button/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/button/index.11tydata.json
Owners: @solarrust

Редактирует статьи про font-face и data flow (#1174)
  css/font-face/index.md
  css/font-face/practice/solarrust.md
  js/architecture-data-flow/index.md
Owners: @solarrust, @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  css/font-face/index.11tydata.json
  js/architecture-data-flow/index.11tydata.json
Owners: @solarrust, @nlopin, @bespoyasov

Меняет способ настройки версии Node.js
  .github/workflows/sort-dictionary.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Добавляет настройку версии Node.js
  .github/workflows/netlify-deploy.yml
  .github/workflows/surge-preview.yml
Owners: none

Добавляет проверку ветки
  .github/workflows/netlify-deploy.yml
  .github/workflows/updated-at-field.yml
Owners: none

Оптимизирует линтер
  .github/workflows/editorconfig.yml
Owners: none

Редактирует статью про mvc
  js/architecture-mvc/index.md
Owners: @nlopin, @bespoyasov

Редактирует статью про code review
  tools/code-review/index.md
  tools/code-review/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov

Добавляет возможность запуска вручную
  .github/workflows/yaspeller-main.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Добавляет условие
  .github/workflows/editorconfig.yml
Owners: none

Меняет наименование событий
  .github/workflows/editorconfig.yml
Owners: none

Тестирует воркфлоу
  .github/workflows/editorconfig.yml
Owners: none

Меняет ключ в объекте
  .github/workflows/editorconfig.yml
Owners: none

Разбирается с экшеном спеллера
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-main.yml
  .github/workflows/yaspeller.yml
Owners: none

Оптимизирует работу спеллера
  .github/workflows/yaspeller.yml
Owners: none

Проверяет экшен
  .github/workflows/yaspeller.yml
Owners: none

Рефакторит экшен
  .github/workflows/editorconfig.yml
Owners: none

Удаление ненужной оптимизации
  .github/workflows/editorconfig.yml
Owners: none

Пробует добавить сообщение в пиар
  .github/workflows/editorconfig.yml
Owners: none

Удаляет сообщения
  .github/workflows/editorconfig.yml
Owners: none

Переименовывает файл
  .github/workflows/yaspeller.yml
Owners: none

Проверяет права
  .github/workflows/editorconfig.yml
Owners: none

Проверяет права иначе
  .github/workflows/editorconfig.yml
Owners: none

Изменяет триггер
  .github/workflows/editorconfig.yml
Owners: none

Добавляет условия для триггера
  .github/workflows/editorconfig.yml
Owners: none

Удаляет попытки размещения сообщений
  .github/workflows/editorconfig.yml
Owners: none

Пробует сообщения из другого экшена
  .github/workflows/editorconfig.yml
Owners: none

Меняет триггер
  .github/workflows/editorconfig.yml
Owners: none

Добавляет условия
  .github/workflows/editorconfig.yml
Owners: none

Делает всё правильно
  .github/workflows/editorconfig.yml
Owners: none

Добавляет возможность ручного запуска
  .github/workflows/editorconfig.yml
Owners: none

Добавляет триггер для спеллера
  .github/workflows/yaspeller.yml
Owners: none

Меняет триггер и условия для запуска
  .github/workflows/sort-dictionary.yml
Owners: none

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis
