Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

добавляет связанные статьи в доку о методе values для set
  js/set-values/index.md
  js/set-values/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о setInterval
  js/setinterval/index.md
  js/setinterval/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о setTimeout
  js/settimeout/index.md
  js/settimeout/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет знаки препинания
  js/setinterval/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о поверхностном копировании
  js/shallow-or-deep-clone/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о спред-синтаксисе
  js/spread/index.md
Owners: @nlopin, @bespoyasov

Обновляет featured-статьи
  settings/featured.md
Owners: none

Добавляет статью про введение в ARIA
  .yaspeller.json
  a11y/osnovy-aria/demos/alert-message/index.html
  a11y/osnovy-aria/demos/fake-button/index.html
  a11y/osnovy-aria/images/0.png
  a11y/osnovy-aria/index.md
  package-lock.json
Owners: none

добавляет связанные статьи в доку о спред-синтаксисе (#3475)
  js/spread/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о поверхностном копировании (#3474)
  js/shallow-or-deep-clone/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о setTimeout (#3473)
  js/settimeout/index.md
  js/settimeout/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о setInterval (#3472)
  js/setinterval/index.md
  js/setinterval/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе values для set (#3471)
  js/set-values/index.md
  js/set-values/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве size для set (#3470)
  js/set-size/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе keys для set (#3469)
  js/set-keys/index.md
  js/set-keys/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе has для set (#3468)
  js/set-has/index.md
  js/set-has/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе foreach для set (#3467)
  js/set-foreach/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе entries для set (#3466)
  js/set-entries/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе delete для set (#3465)
  js/set-delete/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о конструкторе для set (#3464)
  js/set-constructor/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе clear для set (#3463)
  js/set-clear/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о методе add для set (#3462)
  js/set-add/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Set (#3461)
  js/set/index.md
  js/set/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о session storage (#3460)
  js/session-storage/index.md
  js/session-storage/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о return (#3459)
  js/return/index.md
  js/return/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о ссылочных типах (#3458)
  js/ref-type-vs-value-type/index.md
  js/ref-type-vs-value-type/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/return/index.11tydata.json
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/ref-type-vs-value-type/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о рекурсии (#3457)
  js/recursion/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/recursion/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о реактивности (#3456)
  js/reactivity/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о Реакте и альтренативах (#3455)
  js/react-and-alternatives/index.md
Owners: @nlopin, @bespoyasov

Фиксит ссылку на связанную статью (#3454)
  js/element-textcontent/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о Promise.finally (#3448)
  js/promise-finally/index.md
  js/promise-finally/practice/nlopin.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-textcontent/index.11tydata.json
Owners: @nlopin, @bespoyasov

Изменяет название папки и статьи
  a11y/vvedenie-v-aria/demos/alert-message/index.html
  a11y/vvedenie-v-aria/demos/fake-button/index.html
  a11y/vvedenie-v-aria/images/0.png
  a11y/vvedenie-v-aria/index.md
Owners: none

Удаляет лишний файл
  package-lock.json
Owners: none

Изменяет название статьи
  a11y/vvedenie-v-aria/index.md
Owners: none

Исправляет ссылки, удаляет лишний пробел
  a11y/vvedenie-v-aria/index.md
Owners: none

Добавляет этап создания папки
  .github/workflows/pr-preview.yml
Owners: @igsekor, @pepelsbey
