Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @hellsquirrel, @igsekor, @TatianaFokina, @skorobaeus

CODEOWNERS:

css @solarrust
html @solarrust
js @hellsquirrel
tools @igsekor @hellsquirrel
recipes @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
**/demos @skorobaeus
.github @igsekor

Update js/array-with/index.md
  js/array-with/index.md
Owners: @hellsquirrel

Добавляет доки
  CHANGELOG.md
Owners: none

Корректирует после ревью Полины
  js/array-with/index.md
Owners: @hellsquirrel

Дополняет примером вызова без аргументов
  js/array-with/index.md
Owners: @hellsquirrel

Дополняет пояснение проблем использования грязной функции
  js/array-with/index.md
Owners: @hellsquirrel

Исправляет ошибки
  js/array-with/index.md
Owners: @hellsquirrel

Добавляет новые доки в индекс js
  js/index.md
Owners: @hellsquirrel

Исправляет ссылки
  css/background-image/index.md
  js/group-by/index.md
Owners: @solarrust, @hellsquirrel

Правит поля updatedAt и createdAt
  css/background-image/index.11tydata.json
  js/group-by/index.11tydata.json
Owners: @solarrust, @hellsquirrel

Поправляет метод консоли для ошибки
  js/array-with/index.md
Owners: @hellsquirrel

Редактирует skorobaeus в people
  people/skorobaeus/index.md
  people/skorobaeus/photo.png
Owners: none

Добавляет значок
  people/skorobaeus/index.md
Owners: none

Добавляет новые доки в индекс js (#5094)
  js/index.md
Owners: @hellsquirrel

Добавляет декабрь в ченджлог (#5018)
  CHANGELOG.md
Owners: none

Редактирует описание участника в people (#5095)
  people/skorobaeus/index.md
  people/skorobaeus/photo.png
Owners: none

Добавляет ачивку
  people/tatianafokina/index.md
Owners: none

Исправляет мелочи
  a11y/role-menubar/index.md
Owners: @TatianaFokina

Закрывает тег НОРМАЛЬНО
  a11y/role-menubar/index.md
Owners: @TatianaFokina

Продолжает дописывать черновик
  a11y/role-menuitem/index.md
Owners: @TatianaFokina

Добавляет демки в `column-count`
  css/column-count/demos/adaptive/index.html
  css/column-count/demos/multiple-values/index.html
  css/column-count/index.md
Owners: @skorobaeus, @solarrust

Добавляет доку
  js/array-to-spliced/index.md
Owners: @hellsquirrel

Упрощает селекторы для демо
  html/svg-sprite/demos/sprite/index.html
Owners: @skorobaeus

Добавляет ачивку
  people/vitya-ne/index.md
Owners: none

Добавляет array.push() к списку методов массива
  js/index.md
Owners: @hellsquirrel

Добавляет описание поведения при отсутствии поддержки
  js/array-to-spliced/index.md
Owners: @hellsquirrel

Исправляет вывод консоли в результатах примера
  js/promise-allsettled/index.md
Owners: @hellsquirrel

Добавляет array.push() к списку методов массива (#5099)
  js/index.md
Owners: @hellsquirrel

Продолжает дополнять черновик
  a11y/role-menuitem/index.md
Owners: @TatianaFokina

Исправляет опечатку
  js/array-to-spliced/index.md
Owners: @hellsquirrel

Добавляет доку
  js/array-splice/index.md
Owners: @hellsquirrel

Корректирует пример для svg-sprite
  html/svg-sprite/index.md
Owners: @solarrust

Обновляет featured-статьи
  settings/featured.md
Owners: none

upd: описание header и footer
  html/semantics/index.md
Owners: @solarrust
