Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis

Вносит небольшие правки в текст
  css/position/index.md
Owners: @solarrust

Редактирует статью про aside (#1164)
  html/aside/index.md
  html/aside/practice/realetive.md
Owners: @solarrust

Редактирует статью про position (#1160)
  css/position/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  css/position/index.11tydata.json
Owners: @solarrust

Заменяет слэши на запятые
  css/z-index/index.md
Owners: @solarrust

Добавляет ссылки, удаляет совет
  html/audio/index.md
  html/audio/practice/vladimir.md
Owners: @solarrust

Вносит декоративные правки
  css/font-face/index.md
  css/font-face/practice/solarrust.md
Owners: @solarrust

Убирает примечание про кавычки
  css/font-face/index.md
Owners: @solarrust

Редактирует статью про z-index (#1165)
  css/z-index/index.md
  css/z-index/practice/solarrust.md
Owners: @solarrust

Редактирует статью про audio (#1173)
  html/audio/index.md
  html/audio/practice/vladimir.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/audio/index.11tydata.json
Owners: @solarrust

Добавляет ссылки
  html/body/index.md
  html/body/practice/solarrust.md
  html/body/practice/vladimir.md
Owners: @solarrust

Редактирует доку про body (#1191)
  html/body/index.md
  html/body/practice/pepelsbey.md
  html/body/practice/solarrust.md
  html/body/practice/vladimir.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/body/index.11tydata.json
Owners: @solarrust

Исправляет ошибку в Руководстве по оформлению
  docs/typography.md
Owners: @tachisis

Редактирует статью про important
  css/important/index.md
Owners: @solarrust

Добавляет высоту в iframe
  css/after/index.md
Owners: @solarrust

Пробует решение с доступом
  .github/workflows/surge-preview.yml
Owners: none

Возвращает токен
  .github/workflows/surge-preview.yml
Owners: none

Пробует токен из другого места
  .github/workflows/surge-preview.yml
Owners: none

Добавляет создание токена
  .github/workflows/surge-preview.yml
Owners: none

Удаляет лишние скобки
  .github/workflows/surge-preview.yml
Owners: none

Перемещает шаг создания токена вверх
  .github/workflows/surge-preview.yml
Owners: none

Улучшает читаемость
  .github/workflows/surge-preview.yml
Owners: none

Добавляет ссылки на смежные статьи
  tools/web-server/index.md
Owners: @nlopin, @bespoyasov

Меняет шаги в экшена
  .github/workflows/surge-preview.yml
Owners: none

Радует спеллер
  tools/web-server/index.md
Owners: @nlopin, @bespoyasov

Редактирует статью про important (#1194)
  css/important/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  css/important/index.11tydata.json
Owners: @solarrust

Добавляет статью про details и summary
  html/details/demos/details-open.html
  html/details/demos/details-summary.html
  html/details/index.md
  html/details/practice/lenaryan.md
Owners: @solarrust

Правит ошибки спеллера
  .yaspeller.json
  html/details/demos/details-open.html
  html/details/demos/details-summary.html
Owners: @tachisis, @solarrust

Исправляет опечатку
  html/details/demos/details-open.html
Owners: @solarrust

Правит скрипт для обновления полей для последовательного выполнения
  .github/scripts/update-dates.js
  .github/workflows/update-dates.yml
  .github/workflows/updated-at-field.yml
Owners: none

Меняет токен
  .github/workflows/surge-preview.yml
Owners: none

Задёт последовательность исполнения экшенов
  .github/workflows/netlify-deploy.yml
  .github/workflows/sort-dictionary.yml
  .github/workflows/surge-preview.yml
  .github/workflows/updated-at-field.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Добавляет альтернативный воркфлоу
  .github/workflows/editorconfig-all.yml
  .github/workflows/editorconfig-pr.yml
  .github/workflows/netlify-deploy.yml
  .github/workflows/sort-dictionary.yml
  .github/workflows/surge-preview.yml
  .github/workflows/updated-at-field.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Оптимизирует работу линтера
  .github/workflows/editorconfig-all.yml
Owners: none

Убирает лишний шаг
  .github/workflows/editorconfig-all.yml
Owners: none

Берёт все названия в кавычки
  .github/workflows/netlify-deploy.yml
  .github/workflows/sort-dictionary.yml
  .github/workflows/surge-preview.yml
  .github/workflows/updated-at-field.yml
  .github/workflows/yaspeller-all.yml
  .github/workflows/yaspeller-pr.yml
Owners: none

Пробует массивы
  .github/workflows/yaspeller-pr.yml
Owners: none
