Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @hellsquirrel, @igsekor, @TatianaFokina, @skorobaeus

CODEOWNERS:

css @solarrust
html @solarrust
js @hellsquirrel
tools @igsekor @hellsquirrel
recipes @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
**/demos @skorobaeus
.github @igsekor

Согласовывает слово в совете про <dialog> (#5088)
  html/dialog/practice/baileys-li.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/dialog/index.11tydata.json
Owners: @solarrust

Дополняет примеры
  js/array-to-reversed/index.md
Owners: @hellsquirrel

Добавляет рецепт плавного раскрытия выпадающего меню (#4998)
  recipes/dropdown-animation/demos/final-no-tab/index.html
  recipes/dropdown-animation/demos/final/index.html
  recipes/dropdown-animation/demos/no-color-transition/index.html
  recipes/dropdown-animation/index.md
Owners: @skorobaeus, @solarrust, @hellsquirrel, @TatianaFokina

Добавляет рецепт
  CHANGELOG.md
Owners: none

Исправляет стили для иконки facebook'а в демо
  html/svg-sprite/demos/sprite/index.html
Owners: @skorobaeus

Обновляет featured-статьи
  settings/featured.md
Owners: none

Добавляет вопрос и ответ "Реализуйте полифил для Promise.allSettled" в раздел "на собесе"
  interviews/polyfill-promise-allsettled/answers/alexafcode/readme.md
  interviews/polyfill-promise-allsettled/index.md
Owners: none

Добавляет пустую строку в конце файла для линтера
  people/gvozdenkov/index.md
Owners: none

Редачит вопрос
  interviews/polyfill-promise-allsettled/index.md
Owners: none

Редачит ответ
  interviews/polyfill-promise-allsettled/answers/alexafcode/readme.md
Owners: none

Редачит ответ
  interviews/arrow-func-constructor/answers/alexafcode/index.md
Owners: none

Добавляет ачивку
  people/gvozdenkov/index.md
Owners: none

Добавляет автора, обновляет индекс
  svg/index.md
  svg/svg-common-attrs/index.md
Owners: none

Добавляет alexafcode в people
  people/alexafcode/index.md
Owners: none

Добавляет ачивку
  people/alexafcode/index.md
Owners: none

Добавляет alexafcode в people (#5092)
  people/alexafcode/index.md
Owners: none

Правит орфографию - раз
  js/data-view/index.md
Owners: @hellsquirrel

Правит орфографию два
  js/array-buffer/index.md
Owners: @hellsquirrel

Дополняет «На практике» в статье `performance` (#4770)
  js/performance/demos/functions-measure-devtools/index.html
  js/performance/images/perfomance-panel.png
  js/performance/images/perfomance-timings-r17.png
  js/performance/practice/meded90.md
Owners: @skorobaeus, @hellsquirrel

Правит поля updatedAt и createdAt
  js/performance/index.11tydata.json
Owners: @hellsquirrel

JS: Добавляет плейсхолдеры для недостающих коллекций (#4839)
  js/array-buffer/index.md
  js/data-view/index.md
  js/index.md
  js/shared-array-buffer/index.md
  js/typed-array/index.md
  js/weak-set/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/array-buffer/index.11tydata.json
  js/data-view/index.11tydata.json
  js/shared-array-buffer/index.11tydata.json
  js/typed-array/index.11tydata.json
  js/weak-set/index.11tydata.json
Owners: @hellsquirrel

Уточняет формулировку про then() и catch() (#4980)
  js/promise/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/promise/index.11tydata.json
Owners: @hellsquirrel

Добавляет доку про метод `push` (#4982)
  js/array-push/index.md
  people/Maksim631/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/array-push/index.11tydata.json
Owners: @hellsquirrel

Микро редакторские правки
  js/group-by/index.md
Owners: @hellsquirrel

Добавляет доку Object.groupBy (#5016)
  js/group-by/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/group-by/index.11tydata.json
Owners: @hellsquirrel

Добавляет доку для метода массива at() (#5022)
  js/array-at/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/array-at/index.11tydata.json
Owners: @hellsquirrel

Update js/array-with/index.md
  js/array-with/index.md
Owners: @hellsquirrel

Update js/array-with/index.md
  js/array-with/index.md
Owners: @hellsquirrel

Убирает устаревшее предупреждение в `.scrollIntoView()` (#5076)
  js/element-scrollintoview/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/element-scrollintoview/index.11tydata.json
Owners: @hellsquirrel

docs: исправляет определение undefined согласно EcmaScript (#5070)
  js/undefined/index.md
  js/undefined/practice/nlopin.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/undefined/index.11tydata.json
Owners: @hellsquirrel

Добавляет доку для метода массива values() (#5023)
  js/array-values/index.md
Owners: @hellsquirrel

Правит поля updatedAt и createdAt
  js/array-values/index.11tydata.json
Owners: @hellsquirrel
