Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @nlopin, @bespoyasov, @tachisis

Редактирует статью про code review (#1200)
  tools/code-review/index.md
  tools/code-review/practice/igorkamyshev.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  tools/code-review/index.11tydata.json
Owners: @nlopin, @bespoyasov

Редактирует статью про button (#1202)
  html/button/index.md
  html/button/practice/solarrust.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  html/button/index.11tydata.json
Owners: @solarrust

Добавляет статью про details и summary (#1197)
  .yaspeller.json
  html/details/demos/details-open.html
  html/details/demos/details-summary.html
  html/details/index.md
  html/details/practice/lenaryan.md
Owners: @tachisis, @solarrust

Правит поля updatedAt и createdAt
  html/details/index.11tydata.json
Owners: @solarrust

Меняет фильтр
  .github/workflows/link-pr.yml
Owners: none

Редактирует все статьи про animation (#1204)
  .github/workflows/link-pr.yml
  css/animation-delay/index.md
  css/animation-direction/index.md
  css/animation-duration/index.md
  css/animation-fill-mode/index.md
  css/animation-iteration-count/index.md
  css/animation-name/index.md
  css/animation-play-state/index.md
  css/animation-timing-function/index.md
  css/animation/index.md
Owners: @solarrust

Правит поля updatedAt и createdAt
  css/animation-delay/index.11tydata.json
  css/animation-direction/index.11tydata.json
  css/animation-duration/index.11tydata.json
  css/animation-fill-mode/index.11tydata.json
  css/animation-iteration-count/index.11tydata.json
  css/animation-name/index.11tydata.json
  css/animation-play-state/index.11tydata.json
  css/animation-timing-function/index.11tydata.json
  css/animation/index.11tydata.json
Owners: @solarrust

редизайн демок в статье a
  html/a/demos/basic.html
  html/a/demos/image.html
  html/a/demos/mail.html
  html/a/index.md
Owners: @solarrust

смена цвета
  html/a/demos/basic.html
  html/a/demos/image.html
  html/a/demos/mail.html
Owners: @solarrust

Редизайн демок в статьях blockquote и div
  html/blockquote/demos/blockquote.html
  html/blockquote/practice/solarrust.md
  html/div/demos/div.html
  html/div/index.md
Owners: @solarrust

Добавляет статью про вендорные префиксы
  css/vendor-prefixes/images/vendor-prefixe-example.png
  css/vendor-prefixes/index.md
Owners: @solarrust

Правит спеллер
  .yaspeller.json
Owners: @tachisis

Убирает «в работе» у ссылок на статью про префиксы
  css/font-smooth/index.md
Owners: @solarrust

Правит мету
  css/font-smooth/index.md
Owners: @solarrust

Добавляет ссылку на статью
  css/appearance/index.md
Owners: @solarrust

Редактирует статью про Docker
  tools/docker/index.md
  tools/docker/practice/igsekor.md
Owners: @nlopin, @bespoyasov

Редактирует статью про div
  html/div/index.md
  html/div/practice/solarrust.md
  html/div/practice/vladimir.md
Owners: @solarrust

Редактирует статью про appearance
  css/appearance/index.md
Owners: @solarrust

Редактирует статью про array.filter
  js/array-filter/index.md
  js/array-filter/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Вносит правки по итогам ревью
  .yaspeller.json
  css/vendor-prefixes/index.md
Owners: @tachisis, @solarrust

Вносит изменение в линк-чеккер
  .github/workflows/link-pr.yml
Owners: none

Правит формат списка исключений
  .github/workflows/link-pr.yml
Owners: none

Меняет формат регулярки
  .github/workflows/link-pr.yml
Owners: none

Правит регулярку
  .github/workflows/link-pr.yml
Owners: none

Исправляет ссылки
  tools/docker/index.md
Owners: @nlopin, @bespoyasov

Исправляет ссылку в практике
  tools/docker/practice/igsekor.md
Owners: @nlopin, @bespoyasov

Меняет регулярку снова
  .github/workflows/link-pr.yml
Owners: none

Пробует другую регулярку
  .github/workflows/link-pr.yml
Owners: none

Меняет поля местами
  tools/docker/index.md
Owners: @nlopin, @bespoyasov

Редизайн демо в статье dl-dd-dt
  html/dl-dd-dt/demos/dl-dd-dt.html
  html/dl-dd-dt/index.md
Owners: @solarrust

Редизайн демо в статье fieldset
  html/fieldset/demos/border-styling.html
  html/fieldset/demos/disabling.html
  html/fieldset/images/border.png
Owners: @solarrust

Меняет регулярку
  .github/workflows/link-pr.yml
Owners: none

Дополняет проверку меты кейсом
  .github/scripts/frontmatter.js
Owners: none

Меняет место для проверки поля
  .github/scripts/frontmatter.js
Owners: none

Меняет поле в мете
  tools/docker/index.md
Owners: @nlopin, @bespoyasov

Меняет порядок полей в мете
  js/array-filter/index.md
Owners: @nlopin, @bespoyasov

Редизайн демо в статье footer
  html/footer/demos/footer.html
  html/footer/index.md
Owners: @solarrust

Меняет порядок полей в мете
  js/element-dataset/index.md
Owners: @nlopin, @bespoyasov

CODEOWNERS:

css @solarrust
html @solarrust
js @nlopin @bespoyasov
tools @nlopin @bespoyasov
docs @tachisis
README.md @tachisis
.yaspeller.json @tachisis
