Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в доку об ошибках
  js/errors/index.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/errors/index.11tydata.json
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событиях
  js/event/index.md
  js/event/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о beforeunload
  js/event-beforeunload/index.md
  js/event-beforeunload/practice/kotosha-real.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о load
  js/event-load-and-domcontentloaded/index.md
  js/event-load-and-domcontentloaded/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о unload
  js/event-unload/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о событийной модели
  js/events/index.md
  js/events/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о порядке выполнения
  js/execution-order/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о выражениях и инструкциях
  js/expressions-vs-statements/index.md
Owners: @nlopin, @bespoyasov

Update index.md
  js/events/index.md
Owners: @nlopin, @bespoyasov

Принимает правку @bespoyasov
  js/element-textcontent/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о выражениях и инструкциях (#3393)
  js/expressions-vs-statements/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о порядке выполнения (#3392)
  js/execution-order/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в статью о событийной модели (#3391)
  js/events/index.md
  js/events/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о unload (#3390)
  js/event-unload/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о load (#3389)
  js/event-load-and-domcontentloaded/index.md
  js/event-load-and-domcontentloaded/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о beforeunload (#3388)
  js/event-beforeunload/index.md
  js/event-beforeunload/practice/kotosha-real.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событиях (#3387)
  js/event/index.md
  js/event/practice/akellbl4.md
Owners: @nlopin, @bespoyasov

Принимает изменения @solarrust
  js/element-touch/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве style (#3384)
  js/element-style/index.md
  js/element-style/practice/bespoyasov.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scroll и wheel (#3383)
  js/element-scroll-wheel/index.md
  js/element-scroll-wheel/practice/nlopin.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scrollBy (#3382)
  js/element-scroll-scrollto/index.md
  js/element-scroll-scrollto/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о scrollIntoView (#3381)
  js/element-scroll-scrollintoview/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о removeEventListener (#3380)
  js/element-removeeventlistener/index.md
  js/element-removeeventlistener/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о свойстве textcontent (#3385)
  js/element-textcontent/index.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку о событии touch (#3386)
  js/element-touch/index.md
  js/element-touch/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

Правит поля updatedAt и createdAt
  js/element-touch/index.11tydata.json
Owners: @nlopin, @bespoyasov

Добавляет бэктики
  css/line-height/index.md
Owners: @solarrust, @pepelsbey

Добавляет правко
  css/disabled-enabled/index.md
Owners: @solarrust, @pepelsbey

Добавляет дескрипшен и связанные статьи для `:disabled`, `:enabled` (#3354)
  css/disabled-enabled/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/disabled-enabled/index.11tydata.json
Owners: @solarrust, @pepelsbey

Добавляет видео с кодеками HEVC для Safari (#3358)
  css/focus/index.md
  css/focus/video/mouse-focus_safari.mp4
  css/focus/video/tab-focus_safari.mp4
  css/hover/index.md
  css/hover/video/mouse-hover_safari.mp4
  html/screenreaders/index.md
  html/screenreaders/video/list-and-screenreaders_safari.mp4
  html/video/demos/background/index.html
  html/video/demos/formats/index.html
  html/video/demos/poster/index.html
  js/debounce/index.md
  js/debounce/videos/debounce_safari.mp4
  js/element-keydown-keyup/index.md
  js/element-keydown-keyup/video/1_safari.mp4
  js/throttle/index.md
  js/throttle/video/1_safari.mp4
  recipes/dragndrop-upload/index.md
  recipes/dragndrop-upload/video/dragndrop-upload.mp4
  recipes/dragndrop-upload/video/dragndrop-upload_safari.mp4
  recipes/dragndrop-upload/video/dragndrop_upload_example.mp4
  recipes/progress/index.md
  recipes/progress/video/progress.mp4
  recipes/progress/video/progress_example.mp4
  recipes/progress/video/progress_safari.mp4
  tools/how-to-enter-to-vim/index.md
  tools/how-to-enter-to-vim/video/diw-di_safari.mp4
  tools/how-to-enter-to-vim/video/example.mp4
  tools/how-to-enter-to-vim/video/rewrite_safari.mp4
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

Добавляет статью про тег canvas (#558)
  html/canvas/demos/canvas/index.html
  html/canvas/demos/webgl/index.html
  html/canvas/index.md
  people/epodivilov/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  css/focus/index.11tydata.json
  css/hover/index.11tydata.json
  html/screenreaders/index.11tydata.json
  html/video/index.11tydata.json
  js/debounce/index.11tydata.json
  js/element-keydown-keyup/index.11tydata.json
  js/throttle/index.11tydata.json
  tools/how-to-enter-to-vim/index.11tydata.json
Owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

Немного редачит
  html/canvas/index.md
Owners: @solarrust, @pepelsbey

Ублажает линтер
  html/canvas/index.md
Owners: @solarrust, @pepelsbey

Добавляет доку про `<canvas>` (#558) (#3335)
  html/canvas/demos/canvas/index.html
  html/canvas/demos/webgl/index.html
  html/canvas/index.md
  people/epodivilov/index.md
Owners: @solarrust, @pepelsbey

Правит поля updatedAt и createdAt
  html/canvas/index.11tydata.json
Owners: @solarrust, @pepelsbey

добавляет связанные статьи в доку `fetch`
  js/fetch/index.md
  js/fetch/practice/windrushfarer.md
Owners: @nlopin, @bespoyasov

добавляет связанные статьи в доку `for`
  js/for/index.md
  js/for/practice/doka-dog.md
Owners: @nlopin, @bespoyasov

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey
