Repository doka-guide/content, changes with the owners that CODEOWNERS names for each.
All owners: @solarrust, @pepelsbey, @nlopin, @bespoyasov, @igsekor

CODEOWNERS:

css @solarrust @pepelsbey
html @solarrust @pepelsbey
js @nlopin @bespoyasov
tools @nlopin @bespoyasov @igsekor
recipes @nlopin @solarrust
.github @igsekor @pepelsbey

добавляет связанные статьи в статью об XML
  tools/xml/index.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет связанные статьи в статью об YAML
  tools/yaml/index.md
  tools/yaml/practice/kognitivnayabuena.md
Owners: @nlopin, @bespoyasov, @igsekor

добавляет исключение в словарь
  .yaspeller.json
Owners: none

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/counter-counters/index.md
  css/counter-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-counter-example/index.html
  css/css-counters/demos/css-counters-counter-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-display-content-example/index.html
  css/css-counters/demos/css-counters-display-content-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-example/index.html
  css/css-counters/demos/css-counters-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-implicit-counter-counters-example/index.html
  css/css-counters/demos/css-counters-implicit-counter-counters-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-implicit-counter-example/index.html
  css/css-counters/demos/css-counters-implicit-counter-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-increment-example/index.html
  css/css-counters/demos/css-counters-increment-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-inheritance-example/index.html
  css/css-counters/demos/css-counters-inheritance-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-lower-roman-example/index.html
  css/css-counters/demos/css-counters-lower-roman-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-nested-counters-example/index.html
  css/css-counters/demos/css-counters-nested-counters-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-reset-example/index.html
  css/css-counters/demos/css-counters-reset-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-set-example/index.html
  css/css-counters/demos/css-counters-set-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/demos/css-counters-value-start-reversed-example/index.html
  css/css-counters/demos/css-counters-value-start-reversed-example/index.html
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Update css/css-counters/index.md
  css/css-counters/index.md
Owners: @solarrust, @pepelsbey

Добавляет доку
  css/text-decoration-line/demos/basic/index.html
  css/text-decoration-line/demos/link-without-underline/index.html
  css/text-decoration-line/index.md
Owners: @solarrust, @pepelsbey

Немного правит
  css/text-decoration-line/demos/basic/index.html
Owners: @solarrust, @pepelsbey

И снова правит...
  css/text-decoration-line/demos/link-without-underline/index.html
Owners: @solarrust, @pepelsbey
